<!-- Delete Topic modal -->

<div id="view-delete-topic" ng-controller="test" ng-model="test">
	<div class="module full">

		<div class="modal-interior clearfix">
			<div class="modal-interior-title">
				<button class="x-modal" ng-click="$parent.deleteTopicModalToggle()">&times;</button>
				<h2>Delete {{topic.name}}?</h2>
				<p>You must have a Title for your topic, removing it will remove the Topic and Question.</p>
			</div>
			
			<div class="cta float-right">
				<button class="button med secondary" ng-click="$parent.deleteTopicModalToggle()" tabindex="1">Cancel</button>
				<button class="button med destructive" ng-click="removeTask(task)" tabindex="0">Delete Topic</button>
			</div>

		</div>

	</div>

	<div class="clear"></div>
</div>