<div ng-controller="login">

	<div id="nav-logo">
		<a href="/overview"></a>
	</div>
	
<!-- 	<div id="nav-acct-status">
		<span>14 days</span> left in your trial
	</div> -->
	
	<div id="nav-mgmt" ng-mouseover="accountSettings=true">
		<div id="nav-account">
			<div class="account-settings" ng-show="accountSettings" ng-mouseleave="accountSettings=false">
				<ul>
					<li>
						<span class="icon-avatar" ng-click="accountRedirect()">&nbsp; Account</span>
					</li>

					<li id="logout" ng-click="logout()">
						<span class="icon-logout-1">&nbsp; Log Out</span>
					</li>
				</ul>
			</div>
		</div>
		
	</div>

</div>



