<div id="help-bubble" ng-init="help = false">
	<a class="help-bubble-open" ng-click="help = true">?</a>
</div>	
<div id="help-bubble-content" ng-show="help === true">
	<h3 class="float-left h3-light">Still need help?</h3>
	<h3 class="float-right pointer" ng-click="help = false">&times;</h3><div class="clear"></div>
	<a class="button slack" href="https://fieldguide.typeform.com/to/qrRHYS" target="_">Talk to us on Slack</a>
	<a class="button" href="#">Read our Beginners' Guide to User Research</a>
	<a class="button" href="mailto:help@fieldguideapp.com">E-mail us</a>
</div>