<!-- Create New Project modal -->

<div id="view-new-project" ng-controller="newTest" ng-model="test">
	<div class="module full">

		<div class="modal-interior clearfix">
			<div class="modal-interior-title">
				<button class="x-modal" ng-click="$parent.deleteTopicModalToggle()">&times;</button>
				<h2>Delete {{topic.name}}?</h2>
				<p>You must have a Title for your topic, removing it will remove the Topic and Question.</p>
			</div>
			
			<div class="cta">
				<a href="#" class="secondary button-cancel" ng-click="$parent.deleteTopicModalToggle()" tabindex="1">Cancel</a>
				<button class="button med float-right" ng-click="removeTask(task)" tabindex="0">Delete Topic</button>
			</div>

		</div>

	</div>

	<div class="clear"></div>
</div>
	

<script>
	$('#bulletform').on('keypress',function(e){
		var t = $(this);
			console.log(e.which);
		if(e.shiftKey){
			console.log('shifted')
			if(e.which === 13){
				t.val(t.val()+'\n');
				return false;
			}
		}

		if(!e.shiftKey){
			if(e.which === 13){
				t.val(t.val()+'\n• ');
				return false;
			}
		}
	});

	$('#bulletform').on('focus',function(e){
		var t = $(this);
		var l = t.val().length;

		if (l !== 0){
			return false; 
		} else {
			t.val(t.val()+'• ');
			return false;
		}
	});
</script>