<!-- Onboarding Step 1 -->
<div class="module one-third">&nbsp;</div>

<div id="view-onboarding" ng-controller="onboarding" ng-model="onboarding">
	<div class="ranger"></div>
	<h2>Welcome to Field Guide</h2>
	<button>Get started</button>
</div>

<div class="clear"></div>

<!-- Onboarding Step 2 -->
<div class="module one-third">&nbsp;</div>

<div id="view-onboarding" ng-controller="onboarding" ng-model="test">
	<div class="main">
		<img src="report.jpg" alt="">
	</div>
	<footer>
		<img src="ranger.svg" alt="">
		<h2>Take a look at the report that you will eventually send to your team</h2>
		<button>Next</button>
	</footer>
</div>

<div class="clear"></div>

<!-- Onboarding Step 3 -->
<div class="module one-third">&nbsp;</div>

<div id="view-onboarding" ng-controller="onboarding" ng-model="test">
	<div class="main">
		<img src="report.jpg" alt="">
	</div>
	<footer>
		<img src="ranger.svg" alt="">
		<h2>It’s a really simple way to get your high level findings out easily</h2>
		<button>Next</button>
	</footer>
</div>

<div class="clear"></div>

<!-- Onboarding Step 4 -->
<div class="module one-third">&nbsp;</div>

<div id="view-onboarding" ng-controller="onboarding" ng-model="test">
	<div class="ranger"></div>
	<h2>How did we get to that fancy report?<br>
	Well, let’s take a look at the note taking interface.</h2>
	<button>Next</button>
</div>

<div class="clear"></div>

<!-- Onboarding Step 5 -->
<div class="module one-third">&nbsp;</div>

<div id="view-onboarding" ng-controller="onboarding" ng-model="test">
	<div class="main">
		<video src="video.mp4"></video>
	</div>
	<footer>
		<img src="ranger.svg" alt="">
		<h2>We’ll sort your notes for you with topics and #tags</h2>
		<button>Next</button>
	</footer>
</div>

<!-- Onboarding Step 6 -->
<div class="module one-third">&nbsp;</div>

<div id="view-onboarding" ng-controller="onboarding" ng-model="test">
	<div class="main">
		<video src="video.mp4"></video>
	</div>
	<footer>
		<img src="ranger.svg" alt="">
		<h2>Then at the end of your test we’ll give you an opportunity to summarize 
your test which will make it easier to create your findings</h2>
		<button>Next</button>
	</footer>
</div>

<!-- Onboarding Step 7 -->
<div class="module one-third">&nbsp;</div>

<div id="view-onboarding" ng-controller="onboarding" ng-model="test">
	<div class="ranger"></div>
	<h2>That should cover the basics, now go forth and make your product even better!</h2>
	<button>Done</button>

	<div class="help">
		<p>Still need help? <img src="slack.svg" alt="">Talk to us on Slack</p> 
	</div>
</div>

<div class="clear"></div>