<div class="sheet-holder">
	<div class="sheet">
	
	<!-- note input and display -->
	<div id="testing-input" class="interview">

		<div id="cta" class="interview">
			<div class="cta">
				<button class="button outline" ng-click="summarizeModalToggle()" tabindex="-1">
				<div class="checkmark"></div>
				<span>End test</span>
				</button>
			</div>
		</div>
		
		<!-- input notes -->
		<div id="session-input">
			<textarea class="typeahead-box" type="textarea" ng-model="typeinput" typeahead="tag.name for tag in tags | filter:$viewValue | limitTo:8" class="input form-control" name="field-input" placeholder="Remember to give your notes #themes"></textarea>
			<div id="hash-tag-pool">
				<small ng-repeat="tag in tags" class="hashtag">#{{tag.name}}</small>
			</div>
		</div>
		
		<!-- timeline -->
		<div id="timeline" class="interview" scroll-glue="glued">
			<ul>
				<!-- empty state -->
				<li class="message-no-highlite" id="firstrun">
					<div class="message-body">
						<strong>Your test is running!</strong> Remember, it&rsquo;s all about capturing notes &mdash;
						you&rsquo;ll have an opportunity to <strong>edit and sort</strong> when creating your Report.
						Use <span class="tag">#hashtags</span> to capture themes in your notes.
					</div>
					<div class="clear"></div>
				</li>
				<!-- /empty state -->
				
				<!-- non-editable guideline messages -->
				<li class="message-no-highlite">
					<div class="message-body" ng-click="editMessage(message)">
						<small>Starting Test</small>
						<p>{{test.name}}</p>
					</div>
					<div class="clear"></div>
				</li>
				<li class="message" ng-repeat="message in timeline track by $index" ng-class="{'message-no-highlite' : message.title === 'Starting task', 'message-highlite' : message.title !== 'Starting task'}">
					<div class="message-body" ng-click="editMessage(message)">
						<pre class="messages" ng-if="message.title === 'Starting task'">
							<h3>{{message.body}}</h3>
						</pre>
						<!-- Editable messages - if a message is not a guideline -->
						<pre class="messages" ng-if="message.title !== 'Starting task'" ng-bind-html="message.body | hashtag" ng-show="messageEditToggle != message._id"></pre>
						<textarea msd-elastic class="input" ng-if="message.title !== 'Starting task'" ng-model="message.body" ng-show="messageEditToggle ==  message._id" ng-enter="saveEdit(message)" ></textarea>
						<small ng-repeat="tag in message._tags" class="hashtag">{{tag.name}}</small>
					</div>
				
					<div class="clear"></div>
				</li>
			</ul>
		</div>
	</div>
	<!-- / note input and display -->

	<div class="clear"></div>
	
	</div>
</div>