<!-- share report modal -->
<div id="findings-share-report">
	
	<div class="module full">

		<div class="modal-interior clearfix">
		
			<div class="modal-interior-title">
				<button class="x-modal" ng-click="shareReportModalToggle()">&times;</button>
				<h2>Summarize your session</h2>
			</div>
			
			<ul class="nobullets" ng-model="subject">
				<li>
					<input class="input" type="text" name="participantname" ng-model="reportLink"/>
					</input><span><a href="{{reportLink}}" target="_blank"><span class="external-link"></span></a></span>
				</li>
			</ul>

		</div>
		
	</div>
	
	<div class="clear"></div>
</div>
<!-- /share report modal -->