<!-- Summary modal -->
<div class="module one-third">&nbsp;</div>
			
<div id="view-summary-modal" ng-controller="newTest" ng-model="test">
	<div class="module two-fifths modal-interior">
		

		<div class="modal-interior-title">
			<a href="#" class="x" ng-click="$parent.newTestModalToggle()">&times;</a>
			<h2>Summary</h2>
			<p>It's time to summarize what you learned from this test</p>
		</div>
		
		<ul class="nobullets">
			<form name="summaryForm" class="summary-form">
				<li>
					<label for="field-prototypeurl">Test objectives</label>
					<textarea msd-elastic class="input" id="field-objective" type="text" value="" ng-model="test.desc" placeholder="What were some important findings or insights you gained from this test?" />
					</textarea>
				</li>
			</form>
			<div class="cta">
				<a href="#" class="secondary button-cancel" ng-click="$parent.summaryModalToggle()" tabindex="1">Cancel</a>
				<button class="button med float-right" ng-click="addSummary(summary)" tabindex="0">Done summarizing</button>
			</div>
		</ul>
	</div>
	</div><!--  / view-editing -->
	
	<div class="clear"></div>