<div id="view-account">


	
	<!-- New account member modal -->
	<div class="modal" style="display: none;">
	    <div class="module third">&nbsp;</div>
	    
	    <div class="module third modal-interior">
	        
	        <div class="modal-interior-title">
	        	<h3 class="float-left">Invite a new team member</h3>
	        	<h3 class="float-right" ng-click="adding_task = false"><strong>&times;</strong></h3>
	        	<div class="clear"></div>
	        </div>
	        
	        
	        <form model="team_mail" name="email_input">
	        	<ul class="nobullets lined">
					<li class="plan-picker">
						<h3 class="float-left">+ Researcher</h3>
						<button class="float-right button blue">+ $16/month</button>
						<div class="clear"></div><br>
						
						<p>Inviting a new team member at your current plan level will cost an additional <strong>$16 per month</strong>. This cost
						will be pro-rated based on your billing date.</p>
					</li>
					<li>
						<div class="messaging messaging-neutral" ng-model="message" ng-show="message" ng-bind-html="message"></div>
		
						<input class="input" id="newteammember" name="newteammember" placeholder="Your team member&rsquo;s e-mail address" ng-model="team_mail.address"/>
					</li>
					<li>				
						<button class="button" ng-click="inviteTeamMember(team_mail)">Invite</button>
					</li>
				</ul>
			</form>
	        
	
	    </div>
	    
	    <div class="clear"></div>
	</div>
	<!-- / New account member modal -->
	



	
	<ng-include src="'partials/app/_header-full.html'"></ng-include>
	
	
	
	
	<ng-include src="'partials/app/_help-bubble.html'"></ng-include>
	
	


<!-- CONNECTED APPS -->
	
	<div class="container">
		
		<div id="header-min">
			<ul class="tabbed-nav" ng-init="tab = 1">
				<!--<li><a href="#">Account Information</a></li>-->
				<li ng-class="{active:tab===1}"><a href ng-click="tab = 1">Team</a></li>
				<li ng-class="{active:tab===2}"><a href ng-click="tab = 2">Plans &amp; Billing</a></li>
				<!--<li><a href="#">Billing</a></li>
				<li><a href="#">Notifications</a></li>
				<li><a href="/account">Connected Apps</a></li>-->
				<li ng-class="{active:tab===3}"><a href ng-click="tab = 3">Settings</a></li>
				
			</ul>
		</div>
	
		
		<div class="module quarter">&nbsp;</div>
		
		
		
		<!-- team view -->
		<div class="module half" ng-show="tab === 1">
			<h2>Team</h2>
			<p>Invite your team to collaborate on projects and reports.</p>
			
			<!-- list of team members -->
			<ul class="team-members">
			
			
				<li model="live_user">
					<div class="team-member-avatar"><img src="/layout/assets/avatar-binocs.jpg" /></div>
					<div class="team-member-info">
						<p ng-show="live_user.name">{{live_user.name}}<br /></p>
						<small>That's you!</small>
						<small>{{live_user.local.email}}</small>
					</div>
					<!-- <div class="team-member-remove"  ng-click="removeTeamMember(member)" ><a href="#">&times;</a></div>--> <!-- don't allow me to remove myself -->
					<div class="clear"></div>
				</li>

				<!-- individual member - confirmed -->
				<li ng-repeat="member in live_user.team" ng-hide="member.local.email == live_user.email">
					<div class="team-member-avatar"><img src="/layout/assets/avatar-binocs.jpg" /></div>
					<div class="team-member-info">
						<p ng-show="member.name">{{member.name}}<br /></p>
						<small ng-show="member.local.email == live_user.email">That's you!</small>
						<small>{{member.local.email}}</small>
					</div>
					<div class="team-member-remove"  ng-click="removeTeamMember(member)" ng-show=""><a href="#">&times;</a></div> <!-- don't allow me to remove myself -->
					<div class="clear"></div>
				</li>
				<!-- / individual member -->
				
				
				<!-- individual member - invited -->
				<li ng-repeat="invite in live_user.invites">
					<div class="team-member-avatar"><img src="/layout/assets/avatar-binocs.jpg" /></div>
					<div class="team-member-info">
						<label ng-model="user_message" ng-show="user_message" ng-bind-html="user_message"></label>
						<small>{{invite.user_email}}  
							<span class="tag">Pending 
								&mdash;  <a href="#" ng-click="resendInvite(invite)">Resend invite?</a>
							</span>
						</small>
					</div>
					<div class="team-member-remove" ng-click="deleteInvite(invite)"><a href="#">&times;</a></div> <!-- don't allow me to remove myself -->
					<div class="clear"></div>
				</li>
				<!-- / individual member -->
				
				
				<!-- add a new member (via modal) -->
				<li>
					<button class="button">Invite a new team member</button>
				</li>
				<!-- / add a new member (via modal) -->
				
				
				<!-- add a new member -->
				<!--<li>
					<form model="team_mail" name="email_input">
						<label for="newteammember">Invite a new team member</label>
						<div class="messaging messaging-neutral" ng-model="message" ng-show="message" ng-bind-html="message"></div>

						<input class="input" id="newteammember" name="newteammember" placeholder="Your team member&rsquo;s e-mail address" ng-model="team_mail.address"/>

						<!-- <button class="button disabled" ng-show="!email_input.$valid">Invite</button>
						<button class="button"
								ng-show='email_input.$valid'
								ng-click="inviteTeamMember(team_mail)">
								Invite
						</button> -->
						<!--
						<button class="button" ng-click="inviteTeamMember(team_mail)">Invite</button>
					</form>
				</li>-->
				<!-- / add a new member -->
				
			</ul>
		</div>
		
	
	<!-- / team view -->
	
	
	
	
	
	<!-- plans view -->
		<div class="module half" ng-show="tab === 2">
		
			<div class="upgrade-notice text-center">
				<h3 class="caution">You're currently on day 14 of your 30 day trial.</h3>
				<small><strong>You can upgrade at any time.</strong></small>
			</div>
			
			<!-- actually list the plans -->
			<!-- plan one -->
			<div class="module half plan-type">
				
				
				<div class="plan-name text-center">
					Basic
				</div>
				
				<div class="plan-price-point text-center">
					<sup>$</sup><big>15</big>/mo<span>/user</span>
					
					<small>Everything you need
					for a small research team</small>
				</div>
				
				<ul>
					<li>Unlimited projects</li>
					<li><strong>Basic</strong> team collaboration</li>
					<li>Ethnographic and Prototype tests</li>
					<li>Mobile and tablet screencasting</li>
					<li>Share reports with anyone</li>		
				</ul>
				
				<button class="button">Upgrade Now</button>
				
			</div>
			<!-- / plan one -->
			
			<!-- plan two -->
			<div class="module half plan-type disabled">
				
				
				<div class="plan-name text-center">
					Pro
				</div>
				
				<div class="plan-price-point text-center">
					<sup>$</sup><big>45</big>/mo<span>/user</span>
					
					<small>For the growing design 
					and research team</small>
				</div>
				
				<ul>
					<li>Unlimited projects</li>
					<li><strong>Pro</strong> team collaboration</li>
					<li>Ethnographic and Prototype tests</li>
					<li>Mobile and tablet screencasting</li>
					<li>Share reports with anyone</li>
					<li>Export to JIRA, Github,	and Asana</li>		
				</ul>
				
				<button class="button hollow">Coming Soon</button>
				
			</div>
			<!-- / plan two -->
			
			<div class="clear"></div>
			<!-- / plans -->
			
	
			
			
		</div>
	<!-- / plans view -->
	
	
	
	
	
	
	<!-- export view -->
	
		<div class="module half" ng-show="tab === 3">
			<h2>Onboarding</h2>
			<p>Need a refresher in how Field Guide helps you get better interview results?</p>
			<p><button ng-click="changeOnboard(1)" class="button">Step Through A Sample</button></p>
			
			<br>
			<hr/>

			<h2>Export your information</h2>
			<p>If you ever need to get your data out of Field Guide, it&rsquo;s easy. Just click below to receive your
			tests and results in a structured JSON format.</p>
			<p><button ng-click="accountExport()" class="button">Export Your Account Information</button></p>
			
			<br>
			<hr/>
			<br>
			
			<h2>Delete your account</h2>
			<p>If you'd like to stop using Field Guide, you can fully remove your account from our system. This will <strong>stop all scheduled
			payments</strong> and will <strong>remove your tests and reports</strong>. We strongly suggest you use the Export button above to save a backup of your
			information before deleting your account. <span class="caution">Deletion cannot be undone, it is permanent.</span>
			<p><button class="button destructive">Delete Account</button></p>
			
		</div>
		
			
	<!-- / export view -->
		<div class="clear"></div>
	</div>
	

	
	<!-- CONNECTED APPS -->
	<!-- 
	<div class="container account-container" ng-model='live_user'>
			<div class="module quarter">&nbsp;</div>
			
			<div class="module half">
			
				<h2>Connected Apps</h2>
				<p>Connecting apps to your Field Guide account will allow you to export your test results into your project
				management workflow.</p>
				
				<!-- connect with apps -->
				
				<!-- unconnected --><!-- 
				<div class="pm-app trello">
					{{connector.message}}
					<a href="#" class="caution" ng-click="disconnectTrello()" ng-show="connector.toggle === 1" >Disconnect?</a>
					<button class="button small" ng-click="connectTrello()" ng-show="connector.toggle === 2" >Connect Trello</button>
					<div class="clear"></div>
					
				</div> -->
				
				<!-- <div class="pm-app trello" ng-show="!live_user.trello && connector" id="trello">
					Connecting your Trello account...
					<div class="clear"></div>
				</div>

				<!-- connected -->
				<!-- <div class="pm-app connected trello" ng-show="live_user.trello">
					Your Trello account is connected. 
				</div> -->
				
<!-- 

				<div class="pm-app github">
					Connect your Github account
				</div>
				
				<div class="pm-app jira">
					Connect your Jira account
				</div>
				
			</div>
			
			<div class="clear"></div>
	</div> -->
	
	<!-- / CONNECTED APPS -->
		
	
</div>