<div id="view-account">
	
	<ng-include src="'partials/app/header.html'"></ng-include>
	
	
	<!-- sub bar -->
	<div id="sub-bar" class="tabbed">
		<div class="container">
		
			<ul class="tabbed-nav">
				<!--<li><a href="#">Account Information</a></li>-->
				<li class="active"><a href="#">Team</a></li>
				<!--<li><a href="#">Billing</a></li>
				<li><a href="#">Notifications</a></li>
				<li><a href="/account">Connected Apps</a></li>-->
				
			</ul>
			
			<div class="clear"></div>
		</div>
	</div>
	
	
	
	<!-- CONNECTED APPS -->
		
		<div class="container account-container">
			<div class="module quarter">&nbsp;</div>
			
			<div class="module half">
				<h2>Team</h2>
				<p>Invite your team to collaborate on tests and reports.</p>
				
				<!-- list of team members -->
				<ul class="team-members">
				
				
					<li model="live_user">
						<div class="team-member-avatar"><img src="/layout/assets/avatar-binocs.jpg" /></div>
						<div class="team-member-info">
							<p ng-show="live_user.name">{{live_user.name}}<br /></p>
							<small>That's you!</small>
							<small>{{live_user.local.email}}</small>
						</div>
						<!-- <div class="team-member-remove"  ng-click="removeTeamMember(member)" ><a href="#">&times;</a></div>--> <!-- don't allow me to remove myself -->
						<div class="clear"></div>
					</li>

					<!-- individual member - confirmed -->
					<li ng-repeat="member in live_user.team" ng-hide="member.local.email == live_user.email">
						<div class="team-member-avatar"><img src="/layout/assets/avatar-binocs.jpg" /></div>
						<div class="team-member-info">
							<p ng-show="member.name">{{member.name}}<br /></p>
							<small ng-show="member.local.email == live_user.email">That's you!</small>
							<small>{{member.local.email}}</small>
						</div>
						<div class="team-member-remove"  ng-click="removeTeamMember(member)" ng-show=""><a href="#">&times;</a></div> <!-- don't allow me to remove myself -->
						<div class="clear"></div>
					</li>
					<!-- / individual member -->
					
					
					<!-- individual member - invited -->
					<li ng-repeat="invite in live_user.invites">
						<div class="team-member-avatar"><img src="/layout/assets/avatar-binocs.jpg" /></div>
						<div class="team-member-info">
							<label ng-model="user_message" ng-show="user_message" ng-bind-html="user_message"></label>
							<small>{{invite.user_email}}  <span class="tag">Pending &mdash; <a href="#" ng-click="resendInvite(invite)">Resend invite?</a></span></small>
						</div>
						<div class="team-member-remove" ng-click="deleteInvite(invite)"><a href="#">&times;</a></div> <!-- don't allow me to remove myself -->
						<div class="clear"></div>
					</li>
					<!-- / individual member -->
					
					
					
					<!-- add a new member -->
					<li>
						<form model="team_mail">
							<label for="newteammember">Invite a new team member</label>
							<div class="messaging messaging-neutral" ng-model="message" ng-show="message" ng-bind-html="message"></div>
							<input class="input" id="newteammember" name="newteammember" placeholder="Your team member&rsquo;s e-mail address" ng-model="team_mail.address" />
							<button class="button" ng-click="inviteTeamMember(team_mail)">Invite</button>
						</form>
					</li>
					
				</ul>
				
				
			</div>
			
			<div class="clear"></div>
		</div>
		
		<!-- / CONNECTED APPS -->
	
	
	
	
	<!-- CONNECTED APPS -->
	<!-- 
	<div class="container account-container" ng-model='live_user'>
			<div class="module quarter">&nbsp;</div>
			
			<div class="module half">
			
				<h2>Connected Apps</h2>
				<p>Connecting apps to your Field Guide account will allow you to export your test results into your project
				management workflow.</p>
				
				<!-- connect with apps -->
				
				<!-- unconnected --><!-- 
				<div class="pm-app trello">
					{{connector.message}}
					<a href="#" class="caution" ng-click="disconnectTrello()" ng-show="connector.toggle === 1" >Disconnect?</a>
					<button class="button small" ng-click="connectTrello()" ng-show="connector.toggle === 2" >Connect Trello</button>
					<div class="clear"></div>
					
				</div> -->
				
				<!-- <div class="pm-app trello" ng-show="!live_user.trello && connector" id="trello">
					Connecting your Trello account...
					<div class="clear"></div>
				</div>

				<!-- connected -->
				<!-- <div class="pm-app connected trello" ng-show="live_user.trello">
					Your Trello account is connected. 
				</div> -->
				
<!-- 

				<div class="pm-app github">
					Connect your Github account
				</div>
				
				<div class="pm-app jira">
					Connect your Jira account
				</div>
				
			</div>
			
			<div class="clear"></div>
	</div> -->
	
	<!-- / CONNECTED APPS -->
		
	
</div>