<ng-include src="'partials/app/_header-small.html'"></ng-include>
<ng-include src="'partials/app/_help-bubble.html'"></ng-include>

<!-- Add test -->
<div id="view-editing" ng-model="test">
	
	<div class="container" >
		
		<div class="module full">
			
			<div class="sheet-holder">
				
				<div class="sheet clearfix">

					<div class="container-row clearfix" ng-click="select(test)">
						<div class="container-left">&nbsp;</div>
						<div class="container-right">
							<textarea msd-elastic class="input-no-border project-name" ng-trim="false" ng-model="test.name" ng-focus="editTitle(test)" ng-blur="blurTitle(test)"></textarea>
							
							<div class="test-info" ng-if="test.kind === 'interview'" ng-model="report">
								<img src="layout/assets/interview-dark.svg" alt="Interview icon"> Interview
							</div>
							<div class="test-info" ng-if="test.kind === 'prototype'">
								<img src="layout/assets/prototype-dark.svg" alt="Interview icon"> Prototype

								<input class="input-no-border prototype-link" ng-model="test.link" ng-blur="updateTest()">

								<a href="{{test.link}}" target="_blank" class="icon-share prototype-url"></a>
								
							</div>
						</div>
						<div class="clear"></div>
						<div class="container-left">
						<h3>Objectives</h3>
						</div>
						<div class="container-right">
							<textarea msd-elastic class="objectives input-no-border" id="field-textarea"  ng-model="test.desc" ng-blur="updateTask(test)"></textarea>
						</div>
					</div>

					<div class="container-row  tags clearfix">
						<div class="container-left">
							<h3>Tags
							<span class="tooltip-icon" data-tooltip-large="Best for conversational or observational research like Ethnography or Customer Validation."><span>?</span></span>
							</h3>
						</div>
						
						<div class="container-right padding">
							<div class="tags">
								<div class="tag-pool">
									<ul>
										<li ng-repeat="tag in tags">
											#{{tag.name}} <span ng-if="test._subjects.length === 0" ng-click="removeTag(tag)">&times;</span>
										</li>
									</ul>
								</div>
								<input name="custom-tags" class="custom-tags" placeholder="Type your own tags to use during your sessions" ng-model="newtag" ng-enter="saveTag(newtag)"></input>
							</div>
						</div>
					</div>
					
					<div class="container-row topics clearfix">
						<div class="container-left">
							<h3 class="topics">Topics
							<span class="tooltip-icon" data-tooltip-large="Best for conversational or observational research like Ethnography or Customer Validation."><span>?</span></span>
							</h3>
						</div>

						<div class="container-right">
							<div ng-repeat="task in tasks" ng-class="{selected: isActive(task)}" ng-click="select(task)" ng-blur="" id="{{$index}}">

								<!-- Delete Topic modal -->
								<div class="modal" ng-if="deleteTopic === task">
									<div id="view-delete-topic">
										<div class="module full">

											<div class="modal-interior clearfix">
												<div class="modal-interior-title">
													<button class="x-modal" ng-click="deleteTopicModalToggle(task)">&times;</button>
													<h2>Delete {{task.name}}?</h2>
													<p>You must have a Title for your topic, removing it will remove the Topic and Question.</p>
												</div>
												
												<div class="cta float-right">
													<button class="button med secondary" ng-click="deleteTopicModalToggle(task)" tabindex="1">Cancel</button>
													<button class="button med destructive" ng-click="removeTask(task)" tabindex="0">Delete Topic</button>
												</div>

											</div>

										</div>
									</div>
								</div>
								<!-- /Delete Topic modal -->

								<div ng-click="select(task)">
									<form class="task-info">
										<input class="input-no-border task-title" ng-trim="false" ng-model="task.name" ng-focus="editTitle(task)" ng-blur="blurTitle(task)">
										<div class="task-delete" data-tooltip="Delete Topic" ng-if="test._subjects.length === 0"><span class="icon-delete" ng-click="deleteTopicModalToggle(task)"></span></div>
										<textarea msd-elastic class="task-descriptions input-no-border" id="field-textarea"  ng-model="task.desc" ng-blur="updateTask(task)"></textarea>
									</form>
								</div>
								
								<div class="clear"></div>
							</div>
						</div>
					</div>
					
					<div class="container-row clearfix">
						<div class="container-left">&nbsp;</div>
						<div class="container-right padding">
							<!-- add a new task -->
							<div class="add-task">
								<form ng-model='newtask' ng-submit="newTask(newtask)">
									<input class="topic-name" ng-trim="false" ng-model="newtask.name" placeholder="Write a topic title.." required>
									
									<textarea msd-elastic class="topic-questions" ng-model="newtask.desc" id="bulletform" placeholder="Write a few questions.." required>
									</textarea>
									
									<button type="submit" class="button full med" tabindex="0">Add topic</a></button>
								</form>
								


							</div>
							<!-- / add a new task -->
						</div>
						<div class="clear"></div>
					</div>

				</div> <!-- /sheet -->

			</div> <!-- /sheet holder -->
		</div> <!-- /module -->
		
		<div class="module done-button">
			<button class="button" ng-click="saveAndMove(5)" tabindex="1">Done</button>
		</div>
	</div> <!-- /container -->

</div>

<script>
	$('#bulletform').on('keypress',function(e){
		var t = $(this);
			console.log(e.which);
		if(e.shiftKey){
			console.log('shifted')
			if(e.which === 13){
				t.val(t.val()+'\n');
				return false;
			}
		}
		if(!e.shiftKey){
			if(e.which === 13){
				t.val(t.val()+'\n• ');
				return false;
			}
		}
	});
	$('#bulletform').on('focus',function(e){
		var t = $(this);
		var l = t.val().length;
		if (l !== 0){
			return false;
		} else {
			t.val(t.val()+'• ');
			return false;
		}
	});
</script>