<!-- header -->

<div id="header" ng-controller="login" ng-show="user">
	
	<div id="header-logo" ng-model="user">
		<a href="/overview"><img src="../layout/assets/fg-binocs-header.png" /></a> Hi, {{user.name}}
	</div>
	
	
 	<div id="header-account" ng-model="collapsed" ng-click="collapsed=!collapsed">
		<div id="header-account-avatar">
			<img src="/layout/assets/avatar-header.png">
		</div>
		<div id="header-account-dropdown">&#9662;</div>
	</div>			
	
	<div id="header-account-drawer" ng-show="collapsed">
		<ul>
			<li><a href="/account">My Account</a></li>
			<li><a ng-click="logout()">Log Out</a></li>
		</ul>
	</div>
	

	<div class="clear"></div>

</div>

<!-- /header -->



<!-- non-auth header -->

<div id="header" class="header-nonauth" ng-show="!user">
	
	<div id="header-logo">
		<a href="/"><img src="../layout/assets/fg-binocs-full.png" /></a>
	</div>
	
	<div class="clear"></div>

</div>

<!-- /header -->
