<!-- header -->

<div id="header" ng-controller="login">
	
	<div id="header-logo" ng-model="user">
		<a href="/overview"><img src="../layout/assets/fg-binocs-header.png" /></a> Hi, {{user}}
	</div>
	
	<!--
	<div id="header-nav">
		<ul>
			<li><a href="/">Nav</a></li>
			<li><a href="/">Other Nav</a></li>
		</ul>
	</div>
	-->
	
	
	
 	<div id="header-account" ng-model="collapsed" ng-click="collapsed=!collapsed">
		<div id="header-account-avatar">
			<img src="/layout/assets/avatar-header.png">
		</div>
		<div id="header-account-dropdown">&#9662;</div>
	</div>			
	
	<div id="header-account-drawer" ng-show="collapsed">
		<button class="button small header" ng-click="logout()">Log Out</button>
	</div>
	

	<div class="clear"></div>

</div>

<!-- /header -->