<!-- header -->

<div id="header-run" ng-controller="login">
	
	<div class="left-pane">
		<div id="header-logo">
			<a href="/overview"><img src="/layout/assets/fg-binocs-header.png" /></a> 
		</div>
	</div>
	
	
	<div class="large-pane">
	
	 	<div id="header-account" ng-model="collapsed" ng-click="collapsed=!collapsed">
			<div id="header-account-avatar">
				<img src="/layout/assets/avatar-large.png">
			</div>
			<div id="header-account-dropdown">&#9662;</div>
		</div>			
		
		<div id="header-account-drawer" ng-show="collapsed">
			<button class="button small dark" ng-click="logout()">Log Out</button>
		</div>
		
	
		<div id="header-buttons">
	
			<!-- running a test -->
			<button class="button small dark button-testing" ng-click="postTest()">End Test</button>
			
			<!-- summarizing -->
			<button class="button small header button-summarizing" ng-click="summary_tags(flow)">Add summaries for tags &raquo;</button>
			<button class="button small header button-summarizing" ng-click="completeSummary(flow)">&check; Done Summarizing</button>
			
		</div>
	
	</div>

	<div class="clear"></div>

</div>

<!-- /header -->