<div id="view-overview-neu" ng-controller="overview">
	
	<ng-include src="'partials/app/header.html'"></ng-include>
	
	<div id="large-pane">
	
	<!-- show tests in db -->
		<div >
			<h3><span>{{user.name}}</span></h3>
			
			<div class="session-test" ng-repeat="test in tests | orderBy:'created'">
				<div class="test-hamburger">
					&equiv;
				</div>
			
				<div class="session-test-controls">
					<button class="button small" ng-click="summarizeTest(test._id)" ng-show="!test.summary" >Summarize</button>

					<button class="button small" ng-click="summarizeTest(test._id)" ng-show="test.summary" >Summary</button>
					
					<!-- TODO: we want to view a report just for this test -->
					<button class="button small" ng-click="loadReport(test._id)" ng-show="test.summary" >View Report</button> 
					

					<button class="button small secondary" ng-click="editTest(test)" ng-hide="test.count > 0" >Edit</button>
					&nbsp;&nbsp;
					
					<button class="button small secondary" ng-click="runTest(test)">Run Test</button>
					<button class="button small destructive" ng-click="removeTest(test)">&times;</button>
				</div>	

					
				
				<small>test 
					<ng-pluralize count="test.count"
                		when="{'0': 'never run.',
                       'one': 'run once.',
                       '2': 'run twice.',
                       'other': 'run {} times.'}">
					</ng-pluralize>
  				</small>
				<h3>{{test.name}}</h3>
				<p>{{test.summary}}</p>
				<div class="clear"></div>
				
			</div>	
				
				
			<div class="session-test empty">
				<button class="button" ng-click="newTest()">+ Add a new test</button>		
			</div>	</div>
			
	</div>
</div>