<div id="view-overview">

	<ng-include src="'partials/app/_header-full.html'"></ng-include>
	<ng-include src="'partials/app/_help-bubble.html'"></ng-include>
	
	
	<div class="modal animated slideInUp" id="modal" ng-if="onboardSteps" ng-controller="onboard">
		<button class="x-onboard" ng-click="$parent.onboardToggle()">&times;</button>
		<ng-include src="'partials/app/_onboard.html'"></ng-include>
	</div>
	<!-- show tests in db -->
	<div class="container">
		
		<div id="header-min">
			<div class="overview-controls">
				<div class="expand-button">
					<div class="expand-button-body" ng-click="newTestModalToggle()">+</div>
					<div class="expand-button-helper">Add new project</div>
				</div>
			</div>
		</div>

		<!-- create new project modal -->
		<div class="modal-scroll" ng-model="newProject" ng-if="newProject">
			<ng-include src="'partials/app/_new-project.html'"></ng-include>
		</div>
		<!-- / create new project modal -->

			<!-- test -->
			<div class="overview-test module quarter" ng-repeat="test in tests | orderBy:'created'">
				<div class="overview-test-container" ng-click="editTest(test)" ng-mouseleave="editTestTooltips=false">
					
					<div class="test-info">
					<small class="test-kind" ng-if="test.kind === 'interview'">
						<img src="layout/assets/interview-dark.svg" alt="Interview icon">
						{{test.kind}}
					</small>

					<small class="test-kind" ng-if="test.kind === 'prototype'">
						<img src="layout/assets/prototype-dark.svg" alt="Prototype icon">
						{{test.kind}}
					</small>

						<h3>{{test.name}}</h3>

						<span ng-show="test._subjects.length > 0">Run {{test._subjects.length}} times</span>
						<span ng-show="test._subjects.length === 0">Never run</span>
						</small>
						
						<div class="editTest">
							<a ng-mouseover="editTestTooltips=true" class="ellipsis">&#8942;</a>
						</div>

						<div class="editTest-tooltips" ng-show="editTestTooltips" ng-mouseleave="editTestTooltips=false">
							<ul>

								<li ng-click="dupeTest(test)">
								<span class="icon-duplicate">&nbsp; Duplicate</span>
								</li>

								<li class="dangerous"
									ng-confirm-click="Are you sure you want to delete this project? Your notes and summaries for this project will be permanently removed."
									confirmed-click-action="removeTest(test)">

									<span class="icon-delete">&nbsp; Delete</span>
								</li>
							</ul>
						</div>

					</div>
					
					
					<div class="test-controls-empty" ng-show="test._tasks.length === 0">
						<small><a ng-click="editTest(test)">You need to add some tasks.</a></small>
					</div>
					
					
					<div class="test-controls">
						
						<a class="left" ng-click="runTest(test)" ng-show="test._tasks.length > 0">Run session</a>

						<a class="right" ng-click="summarizeTest(test._id)" ng-show="test._subjects.length > 0">Create report</a>
						
						<div class="clear"></div>
					</div>
					
				</div>
			</div>
			<!-- / test -->
			
			<div class="clear"></div>
			
		</div>
	</div>