<!-- report_steps -->

	
	<h2>{{selected.name}}
		<div class="task-score green" ng-show="selected.pass_fail == true">Passed</div>
		<div class="task-score red" ng-show="selected.pass_fail == false">Needs work</div>
	</h2>

	
	<!--<p>{{selected.desc}}</p>-->
	
	<p>{{selected.summary}}</p>
	
	
	
	
			
	<h4><span>Selected Quotes</span></h4>
	
			
	<div class="theme-messages">
	
		<div class="message" ng-repeat="message in selected._messages">
			<div class="message-details">
				<div class="message-details-avatar">
					<img src="http://rdjpg.com/30/30" />
				</div>
			</div>
			<div class="message-body">
				<p ng-bind-html="message.body | hashtag"></p>
				<small>Testing with {{message._subject.name}}</small>
			</div>
			<div class="clear"></div>
		</div>
	
	</div>

