<div id="view-findings" 
	ng-class="{ 'show-comments' : showCommentToggle == true }" 
	ng-model="report"
	ng-keyup="doKeyUp($event)"
>
	
	<div id="nav-logo">
		<a href="/overview"><img src="../layout/assets/fg-binocs-header.gif" /></a>
	</div>
	
	
	<!-- findings nav -->
	<div id="findings-nav">
		
		<div id="sidebar">
			<ul>
				<li 
				ng-repeat="object in leftNavList" 
				ng-click="activate(object, $index)" 
				ng-class="{ 'active': object._id == selected._id }"
				ng-show="object.visible" >
					<span ng-show="object.doctype === 'tag'">#</span>{{object.name}}
					<div class="task-boop green" ng-show="object.pass_fail == true" ></div>
					<div class="task-boop red" ng-show="object.pass_fail == false"></div>
				</li>
		
			</ul>
		</div>
		
		<!-- findings controls -->
		
		<div id="findings-viewmode-controls">	
			<a class="button small" ng-click='summarize()'>Edit</a>
			<a class="button small disabled">Preview</a>
			<button class="button small secondary">Share</button> <!--<input class="input small" ng-model="reportLink"/>-->
		</div> 		
		
	</div>
	
				
	<!-- main content -->
	<div class="sheet-holder">						
		<div class="sheet" ng-model="selected">
			
			<div class="findings-header">
	
				<!--<div class="task-score green" ng-show="selected.pass_fail == true">Passed</div>
				<div class="task-score red" ng-show="selected.pass_fail == false">Needs work</div>-->
		
				<h3 class="dark"><span ng-show="selected.doctype === 'tag'">#</span>{{selected.name}}</h3>
			</div>
			
			<div class="findings-description">	
				<p ng-bind-html="selected.desc | linebreaker"></p>
				<p ng-bind-html='selected.summary'></p>
			</div>
		
			<hr />
			
			
			<!-- messages -->					
			<div class="message-group">
				
				<!-- message -->
				<div ng-repeat="message in messages" class="message" ng-show="showTask(message, selected)" 
				ng-class="{selected: commentMessage._id === message._id}"
				ng-click="showComments(message)"
				>
					
					<div class="message-body">
						<p ng-bind-html="message.body | hashtag"></p>
						<small>Testing with {{message._subject.name}}</small>
					</div>
			
					<div class="clear"></div>
					
					<!-- if comments, display count -->
					<div class="message-comment-count">12</div>
					
					<div class="message-comments" ng-show="commentMessage._id === message._id">
						<!-- if comments, display coments -->
						<div class="message-comment" >
							<small><strong>David Stubbs</strong> Jan 24 2015</small>
							<p>This is a great point, we should definitely do this</p>
						</div>

						<!-- if no comments -->
						<!--<div class="message-comment-count empty">+</div>-->
						
						<!-- message-comment new -->
						<div class="message-comment-submit">
								<form>
									<small>Add a comment:</small>
									<textarea class="input small"></textarea>
								</form>
						</div>
					</div>
					<!-- / display comments -->
					
					
				</div>
				<!-- / message -->
		
			</div>
			<!-- /messages -->
			
			
		</div>
	</div>
	<!-- / main content -->


</div>





