<div id="view-report">
<div ng-model="report">

	<ng-include src="'partials/app/header.html'"></ng-include>	

	
	<!-- sub bar -->
	<div id="sub-bar">
		<div class="container">
			<h1>{{test.name}} <span>Report</span></h1>
			
			<!--<div class="sub-bar-controls">
				<button class="button small dark button-summarizing" ng-click="completeSummary(flow)">&check; Done Summarizing</button>
			</div>-->
			
			<div class="clear"></div>
		</div>
	</div>
	
	
	<div class="container" id="report-container">
		
		<div class="module third">
			
			<div id="sidebar">
				<ul>
					<li ng-model="test" ui-sref=".test" ng-click="select(test)" ng-class="{ 'active': task._id == selected._id}">
						<small>test</small> 
						<h3>{{test.name}}</h3>
					</li>
					
					<li class="empty"><small>Tasks</small></li>

					<!-- TODO: orderby task.index -->
					<li ui-sref=".task" ng-click="select(task)" class="question" ng-class="{ 'active': task._id == selected._id}" ng-repeat="task in tasks  | orderBy : 'index'" >
						<h3>{{task.name}} {{task.index}}</h3>
						<div class="task-score green" ng-show="task.pass_fail == true" >&nbsp;</div>
						<div class="task-score red" ng-show="task.pass_fail == false">&nbsp;</div>
					</li>
				</ul>
			</div>
			
		</div>	
					
		<div class="module two-thirds">
		<div ui-view >
			<!-- looking for your views? they're in partials>> report_test report_step -->
		</div>
		</div>
		
		<div class="clear"></div>
	
		
	</div>
		
</div>