<!-- report_steps -->

	
	<h2>{{selected.name}} {{user}}
		<button class="task-score green" ng-show="">Send to Trello?</button>
		<div class="task-score green" ng-show="selected.pass_fail == true">Passed</div>
		<div class="task-score red" ng-show="selected.pass_fail == false">Needs work</div>

	</h2>

	
	<!--<p>{{selected.desc}}</p>-->
	
	<p>{{selected.summary}}</p>
			
	<div class="message-group report-messages">
	
		<h4><span>Selected Quotes</span></h4>
	
		<div ng-repeat="message in messages" class="message" ng-show="showTask(message, selected)">
			
			<div class="message-body">
				<p ng-bind-html="message.body | hashtag"></p>
				<small>Testing with {{message._subject.name}}</small>
			</div>
	
			<div class="clear"></div>
		</div>
	
	</div>

