
<div id="report-summary" 
    ng-class="{ 'show-comments' : showCommentToggle !== 'hide', 'is-onboard' : user.onboard != 0 }" 
    ng-model="report"
    ng-keyup="doKeyUp($event)">
    
    <!-- main content -->
    <div class="sheet-holder-report">
        <div class="sheet-report" ng-model="selected">

            <div class="findings-content">

                <div class="findings-header">
                        <h1 class="dark float-left"><span ng-show="selected.doctype === 'tag'">#</span>{{selected.name}} Report</h1>
                        <div class="clear"></div>
                        <div class="findings-description" ng-show="selected.doctype === 'test'">
                            <span>{{selected._subjects.length}} participants</span>
                            <span ng-show="selected.kind === 'prototype'"><span>Prototype test</span><a href="{{selected.link}}" target="_">{{selected.link}}</a></span>
                        </div>
                        
                        <div id="generated-with-fg" class="clearfix">
                            <a href="http://www.fieldguideapp.com"><img src="/layout/assets/generated-with-fg.svg" /></a>
                        </div>
                </div>
            
                <div class="findings-information">
                    <h2 ng-if="selected.desc" ng-show="selected.doctype === 'test'">Objectives</h2>
                    <pre ng-if="selected.desc" ng-bind-html="selected.desc | linebreaker"></pre>

                    <h2>Learnings</h2>
                    <pre ng-if="selected.summary" ng-bind-html='selected.summary'></pre>
                </div>

            
            <!-- messages -->                   
            <div class="message-group" ng-repeat="user in messages">
                <!-- message -->
                <div ng-repeat="message in user" class="message" 
                    ng-if="showObjectMessages(message, selected)"
                    ng-class="{selected: commentMessage._id === message._id}" >
                
                 <!-- <div ng-repeat="message in user" class="message" > -->
                    <div class="message-body">
                        <pre class="messages" ng-bind-html="message.body | hashtag"></pre>
                        <small>Testing with {{message._subject.name}}</small>
                    </div>
            
                    <div class="clear"></div>

                </div>
                <!-- / message -->
            </div>

            </div>
            <!-- /messages -->

            </div>
        </div>
    </div>
    <!-- / main content -->
</div>