<div id="view-findings" 
	ng-class="{ 'show-comments' : showCommentToggle !== 'hide' }" 
	ng-model="report"
	ng-keyup="doKeyUp($event)"
>
	
	<div id="nav-logo">
		<a href="/overview"><img src="/layout/assets/fg-binocs-header.png" /></a>
	</div>
	
	
	<!-- findings nav -->
	<div id="findings-nav">
		
		<div id="sidebar">

			<div class="test-id">
				<h3>{{testname}}</h3>
				<small>Report</small>
			</div>

			<ul>
				<li 
				ng-repeat="object in leftNavList" 
				ng-click="activate(object, $index)" 
				ng-class="{ 'active': object._id == selected._id }"
				ng-if="object.visible" >
					<span ng-show="object.doctype === 'tag'">#</span>
					<span ng-show="object.doctype === 'test'"><strong>Overview</strong></span>
					<span ng-hide="object.doctype === 'test'">{{object.name}}</span>	
					
					<div class="task-boop green" ng-show="object.pass_fail == true" ></div>
					<div class="task-boop red" ng-show="object.pass_fail == false"></div>
				</li>
		
			</ul>
		</div>
		
		<!-- findings controls -->
		
		<div id="findings-viewmode-controls">
			<div id="findings-share-link" ng-if="showReportLink">
				<small>Use this link to share this report:</small>
				<input class="input small tight" ng-model="reportLink"/>
			</div>	
			
			<a class="button small" ng-click='summarize()'>Edit</a>
			<a class="button small disabled">Preview</a>
			<button class="button small secondary" ng-click="toggleReportLink()">Share</button> 
		</div> 		
		
	
		
	</div>
	
				
	<!-- main content -->
	<div class="sheet-holder">						
		<div class="sheet" ng-model="selected">
			
			<div class="findings-header">		
				<h1 ng-show="selected.doctype === 'test'">Overview</h1>
				<h3 ng-hide="selected.doctype === 'test'" class="dark"><span ng-show="selected.doctype === 'tag'">#</span>{{selected.name}}</h3>
			</div>
			
			<div class="findings-information" ng-show="selected.doctype === 'test'">
				<div class="float-left">
					{{selected._subjects.length}} participants &nbsp; <span ng-show="selected.kind === 'prototype'">Prototype: <a href="{{selected.link}}" target="_">{{selected.link}}</a></span>
				</div>
				<div class="float-right">
					Last run: 10 days ago
				</div>
				<div class="clear"></div>
			</div>
			
			<div class="findings-description">	
				<p ng-if="selected.summary" ng-bind-html='selected.summary'></p>
			
				<small ng-if="selected.desc" ng-show="selected.doctype === 'test'" class="all-caps">Test objectives</small>
				<small ng-if="selected.desc" ng-hide="selected.doctype === 'test'" class="all-caps">Talking points</small>
				<p ng-if="selected.desc" ng-bind-html="selected.desc | linebreaker"></p>
			</div>
		
		
		
			<div id="video-containers">
				<youtube-video video-url="selected.embed" player-width="'100%'" player-height="'350px'"></youtube-video>
				
									
				<div ng-if="selected.userTesting" ng-bind-html="selected.userTesting"> </div>
				<!-- <div ng-if="selected.HTMLdemo" ng-bind-html="selected.HTMLdemo"> </div> -->
			</div>
			
						
			
			<!-- messages -->					
			<div class="message-group">
			
				
				
				<!-- message -->
				<div ng-repeat="message in messages" class="message" 
					ng-if="showObjectMessages(message, selected)"
					ng-class="{selected: commentMessage._id === message._id}"
				>
					
					<div class="message-body">
						<p ng-bind-html="message.body | hashtag"></p>
						<small>Testing with {{message._subject.name}}</small>
					</div>
			
					<div class="clear"></div>
					
					<!-- if comments, display count -->
					<div class="message-comment-count" 
						ng-click="showComments(message)"
						ng-show="message._comments.length > 0">
						{{ message._comments.length}}
					</div>

					<!-- if no comments -->
					<div class="message-comment-count empty"
						ng-click="showComments(message)"
						ng-show="message._comments.length === 0 || !message._comments" >
						+
					</div>
					
					<div class="message-comments" ng-show="commentMessage._id === message._id">
						<!-- if comments, display coments -->
						<div class="message-comment" ng-repeat="comment in message._comments">
							<small><strong>{{comment.name}}</strong> {{comment.created | date:'MMM d yyyy'}}</small>
							<p>{{comment.body}}</p>
						</div>

						<!-- message-comment new -->
						<div class="message-comment-submit">
							<form ng-model="comment">
								<textarea class="input small" ng-model="comment.body"> </textarea>
								<small><a ng-click="addComment(comment)">Add comment</a></small>
							</form>
						</div>
					</div>
					<!-- / display comments -->
					
					
				</div>
				<!-- / message -->
		
			</div>
			<!-- /messages -->
			
			
		</div>
	</div>
	<!-- / main content -->


</div>





