<div id="view-testing">

	<!-- participant definition modal -->
	<div class="modal" ng-model="live" ng-hide="live" >
		
		<div class="module full">

			<div class="modal-interior clearfix">
			
				<div class="modal-interior-title">
					<h2>Run your session</h2>
				</div>
				
				<ul class="nobullets" ng-model="subject">
					<li ng-class='{"half": kind === "prototype", "full" : kind !== "prototype"}'>
						<label>Participant's name</label>
						<input class="input" type="text" name="participantname" value="" placeholder="Name of the person you’re testing with" ng-model="subject.name" focus-me="{{!live}}"/>
						</input>
					</li>

					<li class="half" ng-show="kind === 'prototype'">
						<label>Room ID</label><span class="info large-tooltip" data-tooltip-large="ID code appears in the iOS app"><span>?</span></span>
						<input class="input" type="text" name="testroom" value="" placeholder="Field Guide app Room ID" ng-model="subject.testroom">
						</input>
					</li>
						<div class="clear"></div>

						<div class="cta-margin float-right">
							<a href="#" class="secondary button-cancel" ng-click="changeOnboard(100)" tabindex="1">Cancel</a>

							<!-- <a class="button dry-run med" type="submit" ng-click="addSubject(subject); changeOnboard(2)">Dry Run</a> -->
					
						<button class="button med float-right" type="submit" ng-enter="addSubject(subject)" ng-click="addSubject(subject)" tabindex="0">Start session</button>
					</div>
				</ul>
			
			</div>

		</div>
		
		<div class="clear"></div>
	</div>
	<!-- / participant definition modal -->
	
	<!-- discussion guide -->
	<div id="testing-guide" ng-model="tests">
		
		<div id="tasklist">
						
			<ul>
				<li class="title"><div class="participant-avatar"><span ng-model="initials">{{subject.initials}}</span></div>
					<h3 class="participant-name">{{subject.name}}</h3>
				</li>
				
				<li class="no-highlite">
					<h5>Objectives</h5>
					<pre class="objectives">{{test.desc}}</pre>
				</li>

				<li class="no-highlite">
					<h5>Topics</h5>
				</li>
				
				<li ng-repeat="obj in navlist" ng-class="{ 'active': obj._id === selected._id }" ng-click="select($index)">
					<h3 class="tag-name">{{obj.name}}</h3>

					<p ng-bind-html="obj.desc | linebreaker" ng-if="obj._id === selected._id"></p>
				</li>
			</ul>
			
		</div>
			
	</div>
	<!-- / discussion guide -->

	<div class="sheet-holder" ng-controller="socketFunctions" ng-show="test.kind === 'prototype'">
		<div class="sheet">
			
			<!-- note input and display -->
			<div id="testing-input">
				
				<!-- input notes -->
				<div id="session-input" class="prototype">
					<textarea class="typeahead-box" type="textarea" ng-model="typeinput" typeahead="tag.name for tag in tags | filter:$viewValue | limitTo:8" class="input form-control" name="field-input" placeholder="Remember to give your notes #themes"></textarea>
					<div id="hash-tag-pool">
						<small ng-repeat="tag in tags" class="hashtag">#{{tag.name}}</small>
					</div>
				</div>
				
				<!-- timeline -->
				<div id="timeline" class="prototype" scroll-glue="glued">
					<ul>
						
						<!-- empty state -->
						<li class="message-no-highlite" id="firstrun">
							<div class="message-body">
								<p>Your session is running!</p>
								<p>Take notes about what your participant says, the actions they take and the reactions they make. All of this information is valuable. <a href="https://medium.com/@FieldGuideApp/how-you-can-take-better-notes-during-research-24c67c6de025" target="_blank">Learn more</a></p>
								<p>Don't worry, you can always edit a note just by clicking on it.</p>
								<p>Remember to use the #tags below to flag important feedback your get from your participant!</p>
							</div>
							<div class="clear"></div>
						</li>
						<!-- /empty state -->
						
						<!-- non-editable guideline messages -->
						<li class="message-no-highlite">
							<div class="message-body" ng-click="editMessage(message)">
								<small>Starting session</small>
								<p>{{test.name}}</p>
							</div>
							<div class="clear"></div>
						</li>
						<li class="message" ng-repeat="message in timeline track by $index" ng-class="{'message-no-highlite' : message.title === 'Starting task', 'message-highlite' : message.title !== 'Starting task'}">
							<div class="message-body" ng-click="editMessage(message)">
								<pre class="messages" ng-if="message.title === 'Starting task'">
									<h3>{{message.body}}</h3>
								</pre>
								<!-- Editable messages - if a message is not a guideline -->
								<pre class="messages" ng-if="message.title !== 'Starting task'" ng-bind-html="message.body | hashtag" ng-show="messageEditToggle != message._id"></pre>
								<textarea msd-elastic class="input" id="messageInput" ng-if="message.title !== 'Starting task'" ng-model="message.body" ng-show="messageEditToggle ==  message._id" ng-enter="saveEdit(message)" id="editMessage"></textarea>
							</div>
						
							<div class="clear"></div>
						</li>
					</ul>
				</div>
			</div>
		<!-- / note input and display -->
		
		<!-- username or device -->
		<div id="testing-client" ng-model="subject">
			
			<div id="timeline-user-input"> </div>
			
			<div id="timeline-user">

				<div id="cta">
					<div class="cta">
						<button class="button outline" ng-click="summarizeModalToggle()" tabindex="-1">
						<div class="checkmark"></div>
						<span>End session</span>
						</button>
					</div>
				</div>

				<div id="timeline-user-only-screen" ng-show="subject.testroom">
					<p>Your participant's screen</p>
					<canvas id="feed"></canvas>
					<img id='ia' style='display:none;'/>
					<div style='clear'></div>
					<div class="participant-info">
						<small>Testing with</small>
						<h2>{{subject.name}}</h2>
					</div>
				</div>
			</div>
			
			
		</div>
		<!-- /username or device -->

		
		<div class="clear"></div>
		
		</div>
	</div>

	<!-- toggle on interview or prototype view -->
	<div ng-show="test.kind === 'interview'">
		<ng-include src="'partials/app/_run-interview.html'"></ng-include>
	</div>
	<!-- /toggle on interview or prototype view -->

	<!-- summarize at end of test modal -->
	<div class="modal" ng-model="summarizeTest" ng-if="summarizeTest">
		<ng-include src="'partials/app/_summarize-modal.html'"></ng-include>
	</div>
	
</div>

<script>
	$('#bulletform').on('keypress',function(e){
		var t = $(this);
			console.log(e.which);
		if(e.shiftKey){
			console.log('shifted')
			if(e.which === 13){
				t.val(t.val()+'\n');
				return false;
			}
		}

		if(!e.shiftKey){
			if(e.which === 13){
				t.val(t.val()+'\n• ');
				return false;
			}
		}
	});

	$('#bulletform').on('focus',function(e){
		var t = $(this);
		var l = t.val().length;

		if (l !== 0){
			return false; 
		} else {
			t.val(t.val()+'• ');
			return false;
		}
	});
</script>



