<div id="view-testing">	
	
	
	<ng-include src="'partials/app/header-run.html'"></ng-include>
	
	

	<!-- participant definition overlay -->
	<div id="view-testing-userentry" ng-model="user" ng-hide="user.toggle">
	    
	    <div class="module third">&nbsp;</div>
	        
	    <div class="module third">
	    
	        <img src="/layout/assets/avatar-rev.svg" />
	        
	        <p>Who are you testing with?</p>
	        
	        <ul class="nobullets">
	            <li>
	            	<input class="input" type="text" name="participantname" value="" 
	            		placeholder="Participant&rsquo;s name" ng-model="user.name"
	            		ui-keypress="{13:'addUser(user.name)'}" />
					</input>
	                
	            </li>
	            <li><button class="button" type="submit" ng-click="addUser(user.name)">Start testing!</button></li>   
	        </ul>
	        
	    </div>
	    
	    <div class="clear"></div>
	</div>
	
	
	
	
	<!-- create a test -->
	
	<div id="left-pane" ng-model="tests">
		
		<div id="questions">
	
			<div class="questions-group" ng-repeat="test in tests  | orderBy:['created']" ng-class="{ 'active': $index == parentIndex }">
				<ul>
					<li class="title"><small>test</small><h3>{{test.name}}</h3></li>
				
					<li ng-repeat="task in test._tasks" 
						ng-class="{ 'active': $index == selectedIndex && $parent.$index == parentIndex }"
             			ng-click="activate($parent.$index, $index)">

						<h3>{{task.name}}</h3>
						<p ng-bind-html="task.desc | linebreaker"></p>
					</li>
				</ul>
			</div>
			
		</div>
			
	</div>
	
	
	
	<div id="middle-pane" >
		
		<!-- input notes -->
		<div id="session-input">
			<textarea class="input" ng-model='message' name="field-input" placeholder="Your notes" ui-keypress="{13:'postMessage(message)'}" />
			</textarea>
		</div>
		
		<!-- timeline -->
		<div id="timeline" >
			<ul ng-model='timeline'>
				
				<!-- empty state -->
				<li class="message">
					<div class="message-details">
						<div class="message-details-avatar">&nbsp;</div>
					</div>
					<div class="message-body">
						Hey now this is my first-run message
						You can use <span class="tag">#hashtags</span> or whatever!
					</div>
					<div class="clear"></div>
				</li>				
				<!-- /empty state -->
						
				<li class="message" ng-repeat="message in timeline track by $index">
					
					<div class="message-details"><!-- show the user's avatar -->
						<div class="message-details-avatar" ng-if="message.title">&bull;</div>
						<div class="message-details-avatar" ng-if="!message.title">TC <!-- tester/observer initials --></div>
					</div>

					<div class="message-body">
						<small ng-if="message.title">{{message.title}}</small>
						<p ng-bind-html="message.body | hashtag"></p>
						<small>{{message.created | date : 'hh:mm'}}</small>
					</div>
					
					<!--
					<div class="message-details">
						<small>{{message.user}} &mdash; {{message.created | date : HH:mm}}</small>
					</div>
					-->

					<div class="clear"></div>
				</li>
				
			
			</ul>
		</div>
		
	</div>
	
	
	
	<div id="right-pane" ng-model='user'>
		
		<div id="timeline-user-input"> </div>
		
		<div id="timeline-user">
			<div id="timeline-user-only">
			
				<div class="timeline-user-avatar">
					<img src="/layout/assets/avatar.svg">
				</div>
				
				<small>Testing with</small>
				<h2>{{user.name}}</h2>
				
				<!--<button class="button">New participant</button>-->
				
			</div>	
		</div>
		
			
	</div>
	
	
	
	
	
	
</div>





