<div id="view-testing">	
	
	
	<ng-include src="'partials/app/header_run.html'"></ng-include>
	

	
	
	<!-- participant definition modal -->

	
	<div class="modal" ng-model="live" ng-hide="live">
	
			<div class="module third">&nbsp;</div>
			
			<div class="module third modal-interior">
				
				<div class="modal-interior-title">
					<img src="/layout/assets/avatar-large.png">
					<h3>Who are you testing with?</h3>
				</div>
				
				<ul class="nobullets lined" ng-model="subject" >
					<li>
						<label>Participant's name</label>
						
						<input class="input" type="text" name="participantname" value="" placeholder="&lsquo;Jane&rsquo; or &lsquo;Tester 2&rsquo;, for example" ng-model="subject.name" ui-keypress="{13:'addSubject(subject)'}" />
						</input>
					</li>
					
					<li ng-show="kind === 'prototype'">
						<label>Room ID from the Field Guide App &nbsp;&nbsp;&nbsp;&nbsp;<a href="https://docs.google.com/forms/d/1MsYcOPq5X1foSuaHfuuhzOmkhijaNFBjB7XJMs3PSA0/viewform" target="_fdbk">Get the iOS Beta App</a></label>
						
						<input class="input" type="text" name="testroom" value="" placeholder="The code on your device, e.g. 71ff3a84" ng-model="subject.testroom" ui-keypress="{13:'addSubject(subject)'}" >
						</input>
					</li>
					
					
					<li class="text-center">
						<button class="button" type="submit" ng-click="addSubject(subject)">Start testing!</button>
					</li>
				
				</ul>
				
			</div>
			
			<div class="clear"></div>
	</div>
	
	
	<!-- / participant definition modal -->
	
	<!-- Add a task -->
	<div class="modal" ng-model="new_task" ng-show="adding_task == true">
	    <div class="module third">&nbsp;</div>
	    
	    <div class="module third modal-interior">
	        
	        <div class="step-contents">
	            <form>
	                <input class="input tight" ng-trim="false" ng-model="new_task.name" ng-focus="editTitle(new_task)" ng-blur="blurTitle(new_task)"><br/>
	                <textarea ng-model="new_task.desc" class="input small tight" id="field-textarea" ng-blur="updateTask(new_task)" placeholder="Put talking points or task-specific questions here.">
	                </textarea>
	            </form>
	        </div>

	    </div>
	    <div class="clear"></div>
	</div>
	<!-- / Add a task -->

	<!-- create a test -->
	<div class="left-pane" ng-model="tests">
		<div id="tasklist">
			<div class='clear'></div>
			<button ng-click="adding_task = true">Add Task</button>
			<ul ng-repeat="test in tests" ng-class="{ 'active': test._id === selected._test }">
				<li class="title"><small>test</small><h3>{{test.name}}</h3></li>
			
				<li ng-repeat="task in test._tasks" 
					ng-class="{ 'active': task._id === selected._id }"
         			ng-click="select($parent.$index, $index)">

					<h3>{{task.name}}<br /></h3>

					<p ng-bind-html="task.desc | linebreaker"></p>
				</li>
			</ul>
		
		</div>
			
	</div>
	
	
	
	<div class="middle-pane" >
		
		<!-- input notes -->
		<div id="session-input">
			<textarea class="input" ng-model='message' name="field-input" placeholder="Your notes" ui-keypress="{13:'postMessage(message)'}" />
			</textarea>
		</div>
		
		<!-- timeline -->
		<div id="timeline" scroll-glue="glued">
			<ul>
				
				<!-- empty state -->
				<li class="message" id="firstrun">
					<div class="message-details">
						<div class="message-details-avatar">&bull;</div>
					</div>
					<div class="message-body">
						<strong>Your test is running!</strong> Remember, it&rsquo;s all about capturing notes &mdash;
						you&rsquo;ll have an opportunity to <strong>edit and sort</strong> when creating your Report. 
						Use <span class="tag">#hashtags</span> to capture themes in your notes.
					</div>
					<div class="clear"></div>
				</li>				
				<!-- /empty state -->
						
				<li class="message" ng-repeat="message in timeline track by $index">
					
					<div class="message-details"><!-- show the user's avatar -->
						<div class="message-details-avatar" ng-if="message.title">&bull;</div>
						<div class="message-details-avatar" ng-if="!message.title">&bull; <!-- tester/observer initials --></div>
					</div>

					<div class="message-body">
						<small ng-if="message.title">{{message.title}}</small>
						<p ng-bind-html="message.body | hashtag"></p>
						<small>{{message.created | date : 'hh:mm a'}}{{task._id}}</small>
					</div>

					<div class="clear"></div>
				</li>
				
			
			</ul>
		</div>
		
	</div>
	
	
	
	<div class="right-pane" ng-model='subject'>
		
		<div id="timeline-user-input"> </div>
		
		<div id="timeline-user">
			<div id="timeline-user-only" ng-hide="live">
				<div class="clear"></div>
				<div class="timeline-user-avatar" ng-hide="subject.testroom && live">
					<img src="/layout/assets/avatar-large.png">
				</div>
				
				<small>Testing with</small>
				<h2 ng-show="live">{{subject.name}}</h2>
				
				<!--<button class="button">New participant</button>-->
				
			</div>
			<div id="timeline-user-only" style="top:10%;" ng-show="live">
				<canvas id="feed"></canvas>
				<img id='ia' style='display:none;'/>
				<div style='clear'></div>
				<small>Testing with</small>
				<h2>{{subject.name}}</h2>
			</div>
		</div>
		
			
	</div>
	
	
	
	
	
	
</div>





