<!-- summary.html -->

<div id="view-summarizing" ng-model='test'>
	
	<ng-include src="'partials/app/header.html'"></ng-include>

	<div class="edit-controls">	
		<a class="enabled left">Edit</a>
		<a class="disabled" ng-click="reportPreview()">Preview</a>
	</div>
	
	<!-- sub bar -->
	<div id="sub-bar">
		<div class="summarizing-sub-bar">
			<h1><span>Edit</span> {{test.name}}</h1>
			
			<div class="clear"></div>
		</div>
	</div>
	
	
	
	<div id="summarizing-container">
	
		<div class="module third">
	
			<div id="sidebar">	
			
				<ul>
					<!-- OVERVIEW -->

					<li 
					ng-repeat="object in leftNavList" 
					ng-class="{ 'active': $index == selectedIndex }" 
					ng-click="activate(object, $index)">
						
						<!-- <div class="step-ordering"> -->
						<div>
	                        <button ng-click="moveTask($index, -1)" >&#9650;</button>
	                        <button ng-click="moveTask($index, 1)" >&#9660;</button>
                        </div>
                        
						<span ng-show="object.doctype === 'tag'">#</span>{{object.name}}
						
						<div class="sidebar-visibility">
							<a ng-click="toggleVis(object)" ng-show="object.visible">
								<img src="/layout/assets/show.svg" />
							</a>
							<a ng-click="toggleVis(object)" ng-show="!object.visible">
								<img src="/layout/assets/hidden.svg" />
							</a>
						</div>
						
						<div class="clear"></div>

					</li>
					
				</ul>
			
			</div>
		</div>		
		
		<!-- the summarizing area -->
		<div class="module two-thirds">
			<!-- summary_step -->

		<div id="summary-task">

	
		<div ng-model='selected' ng-show="selected.name">
				<h4>Summarize &ldquo;{{selected.name}}&rdquo; </h4>
				
				<textarea class="input" id="field-textarea" placeholder="Your summary"  ng-model="selected.summary" ng-blur="saveObject(selected)"></textarea>				
				
			
				<div class="task-rating" ng-show="selected.pass_fail == false">
					<div class="float-left">Was this completed successfully?</div>
					<div class="float-right">
						<button class="button small hollow" ng-click="passFail(selected)">Passed</button>
						<button class="button small destructive" ng-click="passFail(selected)">Needs work</button>
					</div>
					<div class="clear"></div>
				</div>
				
				<div class="task-rating" ng-show="selected.pass_fail == true">
					<div class="float-left">Was this completed successfully?</div>
					<div class="float-right">
						<button class="button small">Passed</button>
						<button class="button small destructive hollow" ng-click="passFail(selected)">Needs work</button>
					</div>
					<div class="clear"></div>
				</div>
			
				
		</div>

</div>


<div ng-model="selected" class="summary-task-notes">

	<!--<h4>Notes for &ldquo;{{selected.name}}&rdquo;</h4>-->

	<!-- input notes -->
		<div id="session-input">
			<textarea class="input" ng-model='message' name="field-input" placeholder="Your notes" ui-keypress="{13:'postMessage(message)'}" />
			</textarea>
		</div>
		
	<div ng-repeat="user in messages" class="message-group" ng-show="selected._messages">
		
		<!-- participant name -->
		<div class="message message-user">
			<div class="message-details"><div class="message-details-avatar"><img src="/layout/assets/avatar.svg"></div></div>
			<div class="message-body">{{user[0]._subject.name}}</div>
			<div class="message-fave">Include in report?</div>
			<div class="clear"></div>
		</div>
		
		<!-- participant messages -->
		<div ng-repeat="message in user" class="message" ng-show="show(message._id)">
			<div class="message-details"><div class="message-edit"><img src="/layout/assets/pencil.svg"/></div></div>

			<div class="message-body" ng-click="editMessage(message, $index)">
				<p ng-bind-html="message.body | hashtag" ng-hide="messageEditToggle == message._id"></p>
				<textarea class="input" ng-model="message.body" ng-show="messageEditToggle ==  message._id" ng-blur="saveEdit(message)" ui-keypress="{13:'saveEdit(message)'}"></textarea>
				<!--<small>{{message.created | date : 'HH:mm' }}</small>-->
			</div>

			<div class="message-fave" ng-show="selected.doctype === 'task'">
				<a ng-click="saveFav(message)" ng-if="message.fav_task">
					<img src="/layout/assets/show.svg" />
				</a>
				<a ng-click="saveFav(message)" ng-if="!message.fav_task" >
					<img src="/layout/assets/hidden.svg" />
				</a>
			</div>
			
			<div class="message-fave" ng-show="selected.doctype === 'tag'">
				<a ng-click="saveFav(message)" ng-if="message.fav_tag">
					<img src="/layout/assets/show.svg" />
				</a>
				<a ng-click="saveFav(message)" ng-if="!message.fav_tag" >
					<img src="/layout/assets/hidden.svg" />
				</a>
			</div>

			<div class="clear"></div>
		</div>


	</div>
	
</div>
		</div>
		
		<div class="clear"></div>
	
	
	</div>

</div>

