<!-- summary.html -->

<div id="view-summarizing" ng-model='test'>

	
	<ng-include src="'partials/app/header.html'"></ng-include>
	
	
	<!-- sub bar -->
	<div id="sub-bar">
		<div class="container">
			<h1><span>Summarizing</span> {{test.name}}</h1>
			
			<div class="sub-bar-controls">
				<button class="button small dark button-summarizing" ng-click="completeSummary(flow)">&check; Done Summarizing</button>
			</div>
			
			<div class="clear"></div>
		</div>
	</div>
	
	
	
	<div class="container" id="summarizing-container">
	
	
		<div class="module third">
	
			<div id="sidebar">	
			
				<ul>
					<li ng-model='test' ui-sref=".test" ng-class="{ 'active': $index == selectedIndex }" ng-click="activate(test, $index)">
						<small>test</small>
						<h3>{{test.name}}</h3>
					</li>
					
					<!-- put in a placeholder title to delineate tasks -->
					<li class="empty"><small>Tasks</small></li>
						
					<li class="question" ng-repeat="task in tasks | orderBy : 'index'" ng-class="{ 'active': $index == selectedIndex }" ng-click="activate(task, $index)">
						
						<h3>{{task.name}}</h3>
						<p>{{task.desc}}</p>
						
					</li>
				</ul>
			
			</div>
			
			
		</div>
		
		
		<!-- the summarizing area -->
		<div class="module two-thirds">
		<div ui-view >
			<!-- this pane is set in summary_test and summary_task -->
		</div>
		</div>
		
		<div class="clear"></div>
	
	</div>

</div>







