<!-- summary_step -->

<div id="summary-task">

	<div ui-view >
		<div ng-model='task' ng-show="task.name">
				<h4>&ldquo;{{task.name}}&rdquo; summary</h4>
				<p>Add a summary for this task to capture any notable outcomes, directions, or action items.</p>
				
				<textarea class="input" id="field-textarea" placeholder="Your summary"  ng-model="task.summary"></textarea>
				
		</div>
	</div>
</div>

<div ng-model="task">
	<div id="timeline" >
		<strong>All users for &ldquo;{{task.name}}&rdquo;</strong>
				
				<ul>
					<li ng-repeat="user in task.messages" class="message">
						{{user[0].subject.name}}
						<ul>	
							<li ng-repeat="message in user">
								<div class="message-body">
									<p ng-bind-html="message.body | hashtag"></p>
									<small>Message.createdBy &mdash; {{message.created | date : 'HH:mm' }}</small>
								</div>
		
								<div class="message-fave">
									<a ng-click="saveFav(message)" ng-if="message.fav">
										&#9733;
									</a>
									<a ng-click="saveFav(message)" ng-if="!message.fav">
										&#9734;
									</a>
								</div>
								<div class="clear"></div>
							</li>
						</ul>
					</li>
				</ul>
	</div>
</div>