<!-- summary_step -->
<div ui-view >
	<div ng-model='task' ng-show="task.name">
			<h3>&ldquo;{{task.name}}&rdquo; summary</h3>
			<p>Add a summary for this task to capture any notable outcomes, directions, or action items.</p>
			
			<ul class="lined">
				
				<li>
					<textarea class="input" id="field-textarea" placeholder="Your summary"  ng-model="task.summary"></textarea>
				</li>
				
			</ul>
	</div>
</div>

<div ng-model="task">
	<div id="timeline" >
		<strong>All users for &ldquo;{{task.name}}&rdquo;</strong>
				
				<ul>
					<li ng-repeat="user in task.messages" class="message">
						{{user[0].subject.name}}
						<ul>	
							<li ng-repeat="message in user">
								<div class="message-body">
									<p ng-bind-html="message.body | hashtag"></p>
									<small>Message.createdBy &mdash; {{message.created | date : 'HH:mm' }}</small>
								</div>
		
								<div class="message-fave">
									<a ng-click="saveFav(message)" ng-if="message.fav">
										&#9733;
									</a>
									<a ng-click="saveFav(message)" ng-if="!message.fav">
										&#9734;
									</a>
								</div>
								<div class="clear"></div>
							</li>
						</ul>
					</li>
				</ul>
					
				</div>
				<div class="message-fave">
					<a href="#">&#9734;</a>
				</div>
				<div class="clear"></div>
			</li>
			
		
		</ul>
	</div>
	
		
</div>