<ng-include src="'partials/app/_header-small.html'"></ng-include>
<ng-include src="'partials/app/_help-bubble.html'"></ng-include>

<div id="view-findings" ng-model='test'	ng-class="{ 'show-comments' : showCommentToggle !== 'hide', 'is-onboard': user.onboard != 100 }">


	<!-- share report link modal -->
	<div class="modal" ng-if="shareReport">
		<ng-include src="'partials/app/_share-report.html'"></ng-include>
	</div>

	<!-- findings nav -->
	<div id="findings-nav">
		
		<div id="sidebar" class="sidebar">
			
			<!-- <h4 class="group-cat hollow"></h4> -->
			<div>
				<ul>
					<li ng-model="navlist.test[0]" ng-class="{ 'active': navlist.test[0]._id === selected._id }" ng-click="activate(navlist.test[0])">
						<span class="report">Summary<span class="info" data-tooltip-report="Your participant summaries and shareable report"><span>?</span></span>
					</li>
				</ul>
				<ul ng-if="navlist.tag">
					<h4 class="group-cat">Tags<span class="info" data-tooltip-report="All of the notes you have #tagged as important can be found here."><span>?</span></span></h4>
					<li ng-repeat="object in  navlist.tag | orderBy:'name'" ng-class="{ 'active': object._id === selected._id }"  ng-click="activate(object)">
						<span class="objects tag-hash">{{object.name}}</span>
					</li>
				</ul>
				<ul ng-if="navlist.task">
					<h4 class="group-cat">Topics<span class="info" data-tooltip-report="All of your notes organized to their specific Topic."><span>?</span></span></h4>
					<li ng-repeat="object in navlist.task | orderBy:'index'" ng-class="{ 'active': object._id === selected._id }"  ng-click="activate(object)">
						<span class="objects">{{object.name}} {{created}}</span>
					</li>
				</ul>
				<div class="clear"></div>
				</div> <!-- /group in navlist -->
			</div>

	</div>

	<!-- summaries -->
	
	<div class="summaries-holder">
		<div class="summaries-content" ng-model="selected">
			<h2>Summaries</h2>
			<p>Use these to help create your final Findings.</p>
			
			<!-- messages -->
			<div ng-if="selected.doctype !== 'test' " ng-show="messageFilter(selected, user)" class="summary-group" ng-repeat="user in messages" >
				<!-- participant name -->
				<div class="summary-user">
					<!-- <img src="/layout/assets/avatar.svg" /> --> {{user[0]._subject.name}}
					<div class="clear"></div>
				</div>
				<div ng-repeat="message in user" class="summary"
					ng-show="selected._messages.indexOf(message._id) !== -1"
					ng-class="{selected: commentMessage._id === message._id}">
					
					<div class="summary-body" ng-click="editMessage(message, $index)">
						<pre class="summaries" ng-bind-html="message.body | hashtag" ng-show="messageEditToggle != message._id"></pre>
						<textarea msd-elastic class="input" ng-model="message.body" ng-show="messageEditToggle ==  message._id" ng-enter="saveEdit(message, user)"></textarea>
					</div>
				
				<div class="clear"></div>
			</div>
			</div>
			<!-- /messages -->

			<!-- Summary Messages on Report -->

			<div ng-if="selected.doctype === 'test'" class="summary-group" ng-repeat="user in messages">
				<!-- participant name -->
				<div class="summary-user">
					<!-- <img src="/layout/assets/avatar.svg" />  -->{{user[0]._subject.name}}
					<div class="clear"></div>
				</div>
				<div ng-repeat="message in user" class="summary"
					ng-show="summaryItem._messages.indexOf(message._id) !== -1"
					ng-class="{selected: commentMessage._id === message._id}">
					<div class="summary-body" ng-click="editMessage(message, $index)">
						<pre class="summaries" ng-bind-html="message.body | hashtag" ng-show="messageEditToggle != message._id"></pre>
						<textarea msd-elastic class="input" ng-model="message.body" ng-show="messageEditToggle ==  message._id" ng-enter="saveEdit(message, user)"></textarea>
					</div>
				
					<div class="clear"></div>
				</div>
			</div>
			<!-- /Summary Messages on Report -->

		</div>
	</div>

		
	<!-- main content -->
	<div class="sheet-holder">

		<div class="sheet">

			<div class="findings-content">
				<div class="findings-header">
					<h1 class="float-left" ng-show="displayReport.doctype === 'test'">{{displayReport.name}}</h1>
					
					<div class="clear"></div>

					<div class="findings-description" ng-show="displayReport.doctype === 'test'">

						<span ng-show="displayReport.kind === 'interview'">
							<img src="layout/assets/interview-dark.svg" alt="Interview icon">&nbsp;&nbsp;Interview
						</span>

						<span ng-show="displayReport.kind === 'prototype'">
							<img src="layout/assets/prototype-dark.svg" alt="Prototype icon">&nbsp;&nbsp;Prototype
							&nbsp;&nbsp;<a href="{{displayReport.link}}" target="_">{{displayReport.link}}</a>
						</span>
						

						<span>{{displayReport._subjects.length}} participants</span>

						<div class="findings-share-link ">
							<button class="button extra-small right-radius" ng-click="shareReportModalToggle()">Share</button><a href="{{reportLink}}" class="button tiny-square left-radius" ng-model="reportLink" target="_blank"><span class="icon-share"></span></a>
						</div>

					</div>

					<div class="clear"></div>
					
				</div>
				
				<div class="findings" ng-show="displayReport.doctype === 'test'">
					<div class="findings-information">
						<h3 ng-if="displayReport.desc">Objectives</h3>
						<p class="no-cursor" ng-if="displayReport.desc" ng-bind-html="displayReport.desc | linebreaker"></p>
						
						<h3>Findings</h3>
						<textarea msd-elastic class="input" id="field-textarea" placeholder="Summarize your high level learning here. This is the page you will be sharing with your organization."  ng-model="displayReport.summary" ng-blur="saveObject(displayReport)"></textarea>

						<h3>Next Steps</h3>
						<textarea msd-elastic class="input" id="field-textarea" placeholder="Summarize your high level learning here. This is the page you will be sharing with your organization."  ng-model="displayReport.next_steps" ng-blur="saveObject(displayReport)"></textarea>
					</div>
				
				</div>
			</div>
		</div>
	</div>
<!-- / main content -->


</div>