<!-- Add test -->
<div id="view-editing" ng-model="test">
	<ng-include src="'partials/app/_header-small.html'"></ng-include>
	
	<ng-include src="'partials/app/_help-bubble.html'"></ng-include>
	
	<div class="container" >
		<div class="full test-setup">
			
			<div class="module quarter">&nbsp;</div>
			
			<div class="module three-fifths">
				
				<div class="sheet-holder">
					
					<div class="sheet">
						<div class="clear"></div>
						<ul class="nobullets">


							<!-- make below editable -->

							<div class="project-details" ng-click="select(test)">
								<h2>{{test.name}}</h2>
								<h3>Objectives</h3>
									<pre class="test-descriptions">{{test.desc}}</pre>
							</div>

							<!-- tags section goes here -->
							<!-- user enters tag, tag gets store in tag pool-->

							<div class="tags">
								<h3>Tags</h3>
								<p>Because you're running a {{test.type}} test, we've created a couple of tags for you to use during your tests.</p>
		
								<div class="tag-pool">
									<ul>
										<li>usability</li>
										<li>quote</li>
										<li>insight</li>
										<li>comprehension</li>
										<li>copy</li>
									</ul>
								</div>
								<textarea name="custom-tags" class="custom-tags" placeholder="Type your own tags here. ex. #passed, #failed"></textarea>
							</div>
						
							<h3>Topics</h3>
							<li ng-repeat="task in tasks" ng-class="{selected: isActive(task)}" ng-click="select(task)" ng-blur="" id="{{$index}}" >
							
								<!-- Re-ordering tasks -->
								<!-- <div class="step-ordering">
									<div ng-click="moveTask($index, -1)" class="elevator elevator-up">&#9650;</div>
									<div ng-click="moveTask($index, 1)" class="elevator elevator-down">&#9660;</div>
								</div>
								
								<div class="step-controls">
									<div class="step-delete pointer big" ng-click="removeTask(task)">×</div>
								</div> -->
<!-- ng-if="isActive(task)" -->
								<div ng-click="select(task)">
									<div class="task-title" ng-trim="false" ng-model="task.name" ng-focus="editTitle(task)" ng-blur="blurTitle(task)">
										#{{task.name}}
									</div>

									<div class="task-descriptions" msd-elastic ng-model="task.desc" class="input small tight" id="field-textarea" ng-blur="updateTask(task)">
										<pre class="task-descriptions">{{task.desc}}</pre>
									</div>
								</div>
								<!-- 	<form>
										<input class="input tight" ng-trim="false" ng-model="task.name" ng-focus="editTitle(task)" ng-blur="blurTitle(task)"><br/>
										<textarea msd-elastic ng-model="task.desc" class="input small tight" id="field-textarea" ng-blur="updateTask(task)" placeholder="Put talking points or task-specific questions here.">
										</textarea>
									</form> -->
							
								<div class="clear"></div>

							</li>
						
							<li>
								<!-- add a new task -->
								<div class="add-task">
									<form ng-model='newtask'>
										<h4>Topic</h4>
										<input ng-trim="false" ng-model="newtask.name"placeholder="What do you want to discuss with your participant?"><br/>
										
										<h4>Questions</h4>
										<textarea ng-model="newtask.desc" id="field-textarea" placeholder="List the questions you want answered.">
										</textarea>
									</form>
								
									<div class="box clearfix">
										<button class="button full small" ng-click="newTask(newtask)" tabindex="0">Add topic</a></button>
									</div>

									<div class="clear"></div>
								</div>
							<!-- / add a new task -->
							</li>
						</ul>
					</div> <!-- /sheet -->
				</div> <!-- /sheet holder -->
				
			</div> <!-- /module fifths -->
				
			<div class="module done-button">
				<button class="button outline" ng-click="saveAndMove(5)" tabindex="1">Done</button>
			</div>

			<div class="clear"></div>
		</div>
	</div>
</div>