<!-- Add test -->
<div id="view-editing" ng-model="test">
	<ng-include src="'partials/app/_header-small.html'"></ng-include>
	
	<ng-include src="'partials/app/_help-bubble.html'"></ng-include>
	
	<div class="container" >
		<div class="full test-setup">
			
			<div class="module fifth">&nbsp;</div>
			
			<div class="module two-thirds">
				
				<div class="sheet-holder">
					
					<div class="sheet">
						<div class="clear"></div>
						<ul class="nobullets">

							<div class="project-details" ng-click="select(test)">
								<input class="input-no-border project-name" ng-trim="false" ng-model="test.name" ng-focus="editTitle(test)" ng-blur="blurTitle(test)">

								<h3>My project objectives</h3>
									<textarea msd-elastic class="test-descriptions input-no-border" id="field-textarea"  ng-model="test.desc" ng-blur="updateTask(test)"></textarea>
							</div>

							<!-- tags section goes here -->
							<!-- user enters tag, tag gets store in tag pool-->

							<div class="tags">
								<h3>Tags for notes</h3>
								<p>Use #Tags to flag important information in the notes you take during a session. Tagging notes makes it easier to find the most valuable and actionable feedback from your participants. We've got a couple suggestions to get you started. <a href="https://medium.com/@FieldGuideApp/5-things-to-look-for-during-interviews-and-prototype-research-39819d2d9f98" target="_blank">Learn more</a> </p>
								<p>You cannot currently edit tags you have created, so please double check your spelling.</p>
		
								<div class="tag-pool">
									<ul>
										<li ng-repeat="tag in tags">{{tag.name}}</li>
									</ul>
								</div>
								<input name="custom-tags" class="custom-tags" placeholder="Type your own tags to use during your sessions" ng-model="newtag" ng-enter="saveTag(newtag)"></input>
							</div>
						
							<h3>Research topics</h3>
							<p>Outline the topics or tasks and questions you want to discuss with your participants for this project. These will be visible for you while you run a session with a participant. <a href="https://medium.com/@FieldGuideApp/what-makes-a-good-task-b807bb12f21b" target="_blank">Learn more</a> </p>
							<li ng-repeat="task in tasks" ng-class="{selected: isActive(task)}" ng-click="select(task)" ng-blur="" id="{{$index}}" >
							<span ng-click="deleteObject(task)">&times;</span>
								<div ng-click="select(task)">
									<form>
										<input class="input-no-border task-title" ng-trim="false" ng-model="task.name" ng-focus="editTitle(task)" ng-blur="blurTitle(task)">
										<textarea msd-elastic class="task-descriptions input-no-border" id="field-textarea"  ng-model="task.desc" ng-blur="updateTask(task)"></textarea>
									</form>
								</div>
							
								<div class="clear"></div>

							</li>
						
							<li>
								<!-- add a new task -->
								<div class="add-task">
									<form ng-model='newtask'>
										<h4>Topic</h4>
										<input ng-trim="false" ng-model="newtask.name" placeholder="Provide a simple description for the subject of this group of questions." required><br/>
										
										<h4>Questions</h4>
										<textarea ng-model="newtask.desc" id="bulletform" placeholder="List the questions you want participants to answer related to this topic.">
										</textarea>
									
									<br />
									<br />
									<hr />
									<div class="clearfix">
										<button ng-if="!newtask.name" class="button full med dark" tabindex="0">Add topic</a></button>
										<button ng-if="newtask.name" type="submit" class="button full med" ng-click="newTask(newtask)" tabindex="0">Add topic</a></button>
									</div>
									</form>
									<div class="clear"></div>
								</div>
							<!-- / add a new task -->
							</li>
						</ul>
					</div> <!-- /sheet -->
				</div> <!-- /sheet holder -->
				
			</div> <!-- /module fifths -->
				
			<div class="module done-button">
				<button class="button outline" ng-click="saveAndMove(5)" tabindex="1">Done</button>
			</div>

			<div class="clear"></div>
		</div>
	</div>
</div>

<script>
	$('#bulletform').on('keypress',function(e){
		var t = $(this);
			console.log(e.which);
		if(e.shiftKey){
			console.log('shifted')
			if(e.which === 13){
				t.val(t.val()+'\n');
				return false;
			}
		}

		if(!e.shiftKey){
			if(e.which === 13){
				t.val(t.val()+'\n• ');
				return false;
			}
		}
	});

	$('#bulletform').on('focus',function(e){
		var t = $(this);
		var l = t.val().length;

		if (l !== 0){
			return false; 
		} else {
			t.val(t.val()+'• ');
			return false;
		}
	});
</script>