<!-- Add test -->
<div id="view-editing">

	<ng-include src="'partials/app/header.html'"></ng-include>
	
	
	<!-- sub bar -->
	<div id="sub-bar">
		<div class="container">
			<h1><span>Editing</span> {{test.name}}</h1>
			
			<div class="sub-bar-controls">
				<button class="button small dark" ng-click="goHome()">Save &amp; Return To Overview</button>
			</div>
			
			<div class="clear"></div>
		</div>
	</div>
	
	
	<!-- task creation/editing -->
	<div ng-model="test" class="container" id="editing-container">
		
		<div class="module third">
			<h3>Your Test</h3>
	
			<ul class="nobullets" >
				<li>
					<label for="field-testname">test name</label>
					<input class="input hollow" type="text" ng-model="test.name" id="field-testname" placeholder="What are you testing?" />
				</li>
				
				
				<!-- hide prototype stuff for now 
				
				<label for="field-prototype">Prototype link</label><br>
				<input class="input" type="text" id="field-prototype" placeholder="What&lsquo;s the URL for your prototype?" ng-model="test.link" />
	
				
				<li>
					<div class="device-selector">
						<label for="field-device-mobile"><img src="/layout/assets/platform-icons/mobile.svg"><br>Mobile</label><br>
						<input type="radio" class="replace-control" name="field-device" id="field-device-mobile" ng-model="test.platform" value="mobile" />
					</div>
					<div class="device-selector">
						<label for="field-device-tablet"><img src="/layout/assets/platform-icons/tablet.svg"><br>Tablet</label><br>
						<input type="radio" class="replace-control" name="field-device" id="field-device-tablet" ng-model="test.platform" value="tablet" />
					</div>
					<div class="device-selector">
						<label for="field-device-desktop"><img src="/layout/assets/platform-icons/desktop.svg"><br>Desktop</label><br>
						<input type="radio" class="replace-control" name="field-device" id="field-device-desktop" ng-model="test.platform" value="desktop" />
					</div>
					<div class="clear"></div>
				</li>
				-->
		
				<li>
					<label for="field-description">test description</label>
					<textarea class="input small hollow" id="field-textarea" placeholder="What are the overall goals or outcomes you&lsquo;d like to achieve with this test?" ng-model="test.desc"></textarea>
				</li>
			
			</ul>
		
		</div>
	
		<div class="module two-thirds">
	
			<h3>Tasks in this Test</h3>
			<p>Tasks allow you to sort your notes &amp; feedback into groups.</p>
		
			<ul id="steps" ui-sortable="sortableOptions" ng-model='tasks'>
		
				<li ng-repeat="task in tasks" ng-class="{selected: isActive(task)}" ng-click="select(task)" ng-blur="">
				
					<div class="step-hamburger">≡</div>
		
					<div class="step-contents">
						<form>
			
							<input class="input tight" ng-trim="false" ng-model="task.name" ng-focus="editTitle(task)" ng-blur="blurTitle(task)"><br/>
							<textarea ng-model="task.desc" class="input small tight" id="field-textarea" ng-blur="updateTask(task)" placeholder="Put talking points or task-specific questions here.">
							</textarea>
			
						</form>
						
					</div>
					
					<div class="step-controls">
						<div class="step-delete pointer big" ng-click="removeTask(task)">×</div>
					</div>
							
					<div class="clear"></div>		
				</li>
				
				
				<!-- add a task -->
				<li>
					<div class="step-hamburger">&nbsp;</div>
					<div class="step-content"><button class="button" ng-click="newTask()">+ Add a task</a></button></div>
				</li>
				
				
			</ul>
		
			
		
	
	
	</div>
		
		<div class="clear"></div>
		
	</div>	
		

</div>