/*
stuff what ain't typography or pages
========================
*/ 

/* boxes */

.box {
	padding: $pad;
	margin: 0 0 $pad 0;
	
	p:last-child, h1:last-child, h2:last-child, h3:last-child {
		margin-bottom: 0;
	}
	
	&.rounded {
		@include radius;
	}
	
	&.outlined {
		border: 1px solid $line;
	}
	
	&.shadowed {
		@include dropshadow(0px 3px 10px, rgba(0,0,0,0.15));
	}
	
	&.success {
		@include type-bold;
		padding: $pad/2 $pad/1.5;
		color: $success;
		border: 1px solid $success;
		@include radius;
	}
	
	&.failure {
		@include type-bold;
		padding: $pad/2 $pad/1.5;
		color: $failure;
		border: 1px solid $failure;
		@include radius;
	}
	
}
