/*
custom fonts
========================
*/


@mixin type-light {
	@include adelle-light;
}

@mixin type-regular {
	@include adelle-regular;
}

@mixin type-bold {
	@include adelle-bold;
}

@mixin type-extrabold {
	@include adelle-extrabold;
}



/* adelle sans */

@mixin adelle-light {
	font-family: "adelle-sans", sans-serif;
	font-style: normal;
	font-weight: 100;
}

@mixin adelle-regular {
	font-family: "adelle-sans", sans-serif;
	font-style: normal;
	font-weight: 400;
}

@mixin adelle-bold {
	font-family: "adelle-sans", sans-serif;
	font-style: normal;
	font-weight: 700;
}

@mixin adelle-extrabold {
	font-family: "adelle-sans", sans-serif;
	font-style: normal;
	font-weight: 800;
}





