/*
custom fonts
========================
*/

@mixin type-extralight {
	@include pna-extralight;
}

@mixin type-light {
	@include pna-light;
}

@mixin type-regular {
	@include pna-regular;
}

@mixin type-bold {
	@include pna-bold;
}

@mixin type-extrabold {
	@include pna-extrabold;
}



/* p n a */

@mixin pna-extralight {
	font-family: "proxima-nova",sans-serif;
	font-style: normal;
	font-weight: 100;
	
}


@mixin pna-light {
	font-family: "proxima-nova",sans-serif;
	font-style: normal;
	font-weight: 300;
	
}

@mixin pna-regular {
	font-family: "proxima-nova",sans-serif;
	font-style: normal;
	font-weight: 400;
	
}

@mixin pna-bold {
	font-family: "proxima-nova",sans-serif;
	font-style: normal;
	font-weight: 600;
	
}

@mixin pna-extrabold {
	font-family: "proxima-nova",sans-serif;
	font-style: normal;
	font-weight: 700;
	
}

