
/* rebuild of overview screen */


#view-overview {
	margin: 0;
	padding: 0;
	width: 100%;
	
	.titleband {
		margin-top: $pad*1.5;
	
		h1 {
			margin-bottom: $pad*1.5;
		}
	}
	
	#view-overview-body {		
		
		.third {
						
			#questions {
				.test-newtest {
					cursor: default;
					
					&:hover {
						box-shadow: none;
					}
				
					.test-newtest-create {
						text-align: center;
						background: none;
						padding: $pad;
						border: 1px dashed $line;
						@include radius(10px);
					}
				}
			
				.question {
					padding: $pad;
				
					.session-name {
						img {
							width: 14px;
							height: auto;
							opacity: 0.4;
							display: none;
						}
					}
					
					&.active {
						.session-name img {
							display: inline-block;
							cursor: pointer;
						}
					}
				
					
					.input {
						font-size: $type-size-base*1.1;
						line-height: $type-line-base*0.9;
						margin-bottom: 0;
						padding: 0;
						color: $white;
						background: none;
						outline: none;
						border: none;
					}
					
				
					.test-controls {
						float: right;
						padding: 0;
						margin-left: $pad;
						margin-top: -3px;
						display: none;
					}
					
					&.active {
						.test-controls {
							display: block;
						}
	
					}
					
				}
			}
		}

	
	}
	
	
}

