@import url("../assets/flat/flat.css");
/*
Scout
Master Sass
========================
*/
/* components */
/*
variables
put all your core measurements, values etc. in here
========================
*/
/* sizing vars */
/* type vars */
/* padding/margins vars */
/*
media queries
========================
*/
/*
query mixins
*/
/*
use this if you ONLY want something to happen on retina screens
you can nest these inside other media queries
*/
/*
palette
*/
/*
specific colours
*/
/* generic */
/* new */
/*
interpreted colours
*/
/*
custom fonts
========================
*/
/* adelle sans */
/*
mixins
========================
*/
/*
helpers
========================
*/
.clear { padding: 0; margin: 0; height: 0; weight: 0; float: none; clear: both; }

.set-block { display: block; }

.pad-all { padding: 20px; }

.pad-top { padding-top: 20px; }

.pad-bottom { padding-bottom: 20px; }

.pad-none { padding: 0; }

.margin-none { margin: 0; }

/* text helpers */
.text-center { text-align: center; }

.text-left { text-align: left; }

.text-right { text-align: right; }

.pointer { cursor: pointer; }

/* floating helpers */
.float-left { float: left; }

.float-right { float: right; }

/*
FORMS!
*/
form { padding: 0; margin: 0; }

/* we're classing these out rather than using the tags directly so they can be applied to more things more uniformly */
.input, .button { display: inline-block; margin: 0 1px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; font-family: "adelle-sans", sans-serif; font-style: normal; font-weight: 400; font-size: 16px; line-height: 16px; outline: none; }

.input { background: white; border: 2px solid white; -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1); -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1); box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1); padding: 10px; }
.input:focus { border: 2px solid #00b1b7; }

textarea.input { line-height: 24px; }

.placeholder { color: rgba(65, 69, 74, 0.6); }

/* button colour mixin */
.button { background: none; color: #00b1b7; border: 2px solid #00b1b7; -webkit-transition-duration: 0.2s; -webkit-transition-timing: ease-out; -o-transition-duration: 0.2s; -o-transition-timing: ease-out; -moz-transition-duration: 0.2s; -moz-transition-timing: ease-out; -ms-transition-duration: 0.2s; -ms-transition-timing: ease-out; transition-duration: 0.2s; transition-timing: ease-out; text-decoration: none; cursor: pointer; padding: 10px 16px; }
.button:hover { background: #00b1b7; color: white; -webkit-transition-duration: 0.2s; -webkit-transition-timing: ease-out; -o-transition-duration: 0.2s; -o-transition-timing: ease-out; -moz-transition-duration: 0.2s; -moz-transition-timing: ease-out; -ms-transition-duration: 0.2s; -ms-transition-timing: ease-out; transition-duration: 0.2s; transition-timing: ease-out; text-decoration: none; }
.button.small { font-size: 12.8px; padding: 2.85714px 6.66667px; }
.button.disabled { cursor: not-allowed; opacity: 0.4; }
.button.destructive { background: none; color: #ee4300; border: 2px solid #ee4300; -webkit-transition-duration: 0.2s; -webkit-transition-timing: ease-out; -o-transition-duration: 0.2s; -o-transition-timing: ease-out; -moz-transition-duration: 0.2s; -moz-transition-timing: ease-out; -ms-transition-duration: 0.2s; -ms-transition-timing: ease-out; transition-duration: 0.2s; transition-timing: ease-out; text-decoration: none; }
.button.destructive:hover { background: #ee4300; color: white; -webkit-transition-duration: 0.2s; -webkit-transition-timing: ease-out; -o-transition-duration: 0.2s; -o-transition-timing: ease-out; -moz-transition-duration: 0.2s; -moz-transition-timing: ease-out; -ms-transition-duration: 0.2s; -ms-transition-timing: ease-out; transition-duration: 0.2s; transition-timing: ease-out; text-decoration: none; }
.button.secondary { background: none; color: #00b1b7; border: 2px solid #00b1b7; -webkit-transition-duration: 0.2s; -webkit-transition-timing: ease-out; -o-transition-duration: 0.2s; -o-transition-timing: ease-out; -moz-transition-duration: 0.2s; -moz-transition-timing: ease-out; -ms-transition-duration: 0.2s; -ms-transition-timing: ease-out; transition-duration: 0.2s; transition-timing: ease-out; text-decoration: none; }
.button.secondary:hover { background: #00b1b7; color: white; -webkit-transition-duration: 0.2s; -webkit-transition-timing: ease-out; -o-transition-duration: 0.2s; -o-transition-timing: ease-out; -moz-transition-duration: 0.2s; -moz-transition-timing: ease-out; -ms-transition-duration: 0.2s; -ms-transition-timing: ease-out; transition-duration: 0.2s; transition-timing: ease-out; text-decoration: none; }

label { padding: 0; margin: 0; font-size: 12.8px; opacity: 0.4; }

/* built-in form formatting */
ul.withlabels li:after { content: ""; display: table; clear: both; }
ul.withlabels .label { width: 35%; float: left; }
ul.withlabels .controls { width: 65%; float: left; }
ul.withlabels .controls .input { width: 100%; }

/* replace radio butts and checkboxes */
.icheckbox_flat, .iradio_flat { margin: 5px 5px 0 0; vertical-align: text-bottom; }

/* fixes for stupid Firefox */
button::-moz-focus-inner, input[type="reset"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, input[type="file"] > input[type="button"]::-moz-focus-inner { border: 0; padding: 0; margin: 0; }

.container { width: 100%; padding: 0; margin: 0; }

.grid { max-width: 980px; min-width: 280px; margin: 0 auto; }
.grid:after { content: ""; display: table; clear: both; }

.module { display: inline-block; float: left; padding-left: 10px; padding-right: 10px; }

.full { width: 100%; }

.half { width: 50%; }

.third { width: 33.3333%; }

.two-thirds { width: 66.6666%; }

.quarter { width: 25%; }

.three-quarters { width: 75%; }

.fifth { width: 20%; }

.two-fifths { width: 40%; }

.three-fifths { width: 60%; }

.four-fifths { width: 80%; }

.sixth { width: 16.6667%; }

.five-sixths { width: 83.3335%; }

.eighth { width: 12.5%; }

.tenth { width: 10%; }

.twelfth { width: 8.3333%; }

.five-twelfths { width: 41.6665%; }

/* flexible columns for three-column pages */
#left-pane, #middle-pane, #right-pane, #large-pane { float: left; height: 100% !important; padding: 70px 30px 20px 30px; overflow-x: hidden; overflow-y: auto; }

#left-pane, #right-pane { width: 33%; }

#middle-pane { width: 34%; }

#large-pane { width: 67%; }

/* fix up Angular containers so everything sits correctly */
.ng-valid, .ng-invalid, .ng-dirty, .ng-pristine, .ng-touched, .ng-untouched { height: 100%; }

/* errythang for the timeline/chat */
#timeline { overflow: auto; padding: 50px 0 170px 0; height: 100%; margin: 0; background: url("../assets/timeline-line.gif") repeat-y 24px top; }
#timeline ul { list-style: none; padding: 0; margin: 0; }
#timeline ul li { padding: 0; margin: 0; }
#timeline ul .message { padding: 8px 0 0 16px; font-size: 14.4px; line-height: 19.2px; margin: 0 0 10px 0; }
#timeline ul .message .message-details { float: left; }
#timeline ul .message .message-details .message-details-avatar { width: 20px; text-align: center; overflow: hidden; margin: 0 10px 0 0; padding: 0; background: white; font-size: 9.6px; font-family: "adelle-sans", sans-serif; font-style: normal; font-weight: 700; }
#timeline ul .message .message-body { float: left; width: 80%; }
#timeline ul .message .message-body p { margin-bottom: 0; }
#timeline ul .message .message-body p .tag { padding: 0 3.33333px; }
#timeline ul .message .message-body small { font-size: 9.6px; line-height: 14.4px; opacity: 0.5; padding: 0; margin: 0; text-transform: uppercase; letter-spacing: 1px; }

/* timeline user and device treatment // i.e., who are we testing with, and on what device? only relevant when doing testing on device */
#timeline-user #timeline-user-only { position: absolute; top: 30%; left: 0; width: 100%; text-align: center; padding: 15px 0; font-family: "adelle-sans", sans-serif; font-style: normal; font-weight: 100; }
#timeline-user #timeline-user-only .timeline-user-avatar { display: block; padding: 0; margin: 0 auto 20px auto; width: 150px; height: 150px; -moz-border-radius: 100px; -webkit-border-radius: 100px; border-radius: 100px; background: white; }
#timeline-user #timeline-user-only .timeline-user-avatar img { width: 90%; height: auto; opacity: 0.4; }
#timeline-user #timeline-user-only small { font-family: "adelle-sans", sans-serif; font-style: normal; font-weight: 400; }
#timeline-user .timeline-user-avatar { display: inline-block; vertical-align: middle; overflow: hidden; }

#timeline-device { padding: 10px; width: 100%; height: auto; border: 2px solid #e9e9de; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; margin: 40% auto 0 auto; }
#timeline-device img { width: 100%; height: auto; border: 2px solid #e9e9de; }

/* questions/list of things style */
#questions { height: 100%; padding-top: 50px; background: #41454a; color: white; }
#questions .questions-group { padding: 0; margin: 0; -moz-border-radius: 8px; -webkit-border-radius: 8px; border-radius: 8px; opacity: 0.4; }
#questions .questions-group.active { opacity: 1.0; }
#questions .questions-group small { margin: 0; padding: 0; opacity: 0.5; }
#questions .questions-group h3 { margin: 0; padding: 0; }
#questions .questions-group ul { padding: 0; margin: 0; list-style: none; }
#questions .questions-group ul li { padding: 13.33333px 20px; margin: 0; font-size: 14.4px; line-height: 19.2px; }
#questions .questions-group ul li:hover { box-shadow: inset 0px 0px 0px 3px #00b1b7; cursor: pointer; }
#questions .questions-group ul li p { display: none; }
#questions .questions-group ul li h3 { display: none; }
#questions .questions-group ul li span { display: block; font-weight: bold; }
#questions .questions-group ul li .step-rating { float: right; display: none; padding: 0; margin: 0; }
#questions .questions-group ul li .step-rating img { width: auto; height: 20px; padding: 0; margin: 0 6.66667px; cursor: pointer; }
#questions .questions-group ul li.title:hover { cursor: auto; box-shadow: none; }
#questions .questions-group ul li.title h3 { display: block; }
#questions .questions-group ul li.active { background: #595e65; position: relative; }
#questions .questions-group ul li.active:hover { cursor: auto; box-shadow: none; }
#questions .questions-group ul li.active h3 { margin: 0; display: block; }
#questions .questions-group ul li.active p { margin: 10px 0 0 0; padding: 0; display: block; }
#questions .questions-group ul li.active span { display: none; }
#questions .questions-group ul li.active .step-rating { display: block; }

/* styles for question-rating boops */
.question-rating { display: block; -moz-border-radius: 20px; -webkit-border-radius: 20px; border-radius: 20px; -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); }
.question-rating.green { background: #6cb100; }
.question-rating.yellow { background: #ffde00; }
.question-rating.red { background: #ed4e00; }

#questions .question-rating { width: 16px; height: 16px; padding: 0; margin: 2px 0 0 0; float: right; }

#large-pane .question-rating { width: 20px; height: 20px; padding: 0; margin: 0; display: inline-block; }

/*
typography
========================
*/
html, body { width: 100%; height: 100%; }

body { font-size: 16px; line-height: 24px; font-family: "adelle-sans", sans-serif; font-style: normal; font-weight: 400; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

/* headers */
h1, h2, h3, h4, h5, h6 { line-height: 1; padding: 0; }
h1.underline, h2.underline, h3.underline, h4.underline, h5.underline, h6.underline { margin: 0 0 20px 0; }
h1.underline span, h2.underline span, h3.underline span, h4.underline span, h5.underline span, h6.underline span { border-bottom: 3px solid #efefe7; }

h1 { font-size: 52px; font-family: "adelle-sans", sans-serif; font-style: normal; font-weight: 100; letter-spacing: -1px; margin: 0 0 20px 0; }

h2 { font-size: 36px; font-family: "adelle-sans", sans-serif; font-style: normal; font-weight: 100; letter-spacing: -1px; margin: 0 0 20px 0; }

h3 { font-size: 20px; font-family: "adelle-sans", sans-serif; font-style: normal; font-weight: 800; margin: 0 0 10px 0; }

h4 { font-size: 20px; font-family: "adelle-sans", sans-serif; font-style: normal; font-weight: 100; margin: 0 0 10px 0; }

/* copy */
p { padding: 0; margin: 0 0 20px 0; }

strong { font-family: "adelle-sans", sans-serif; font-style: normal; font-weight: 700; }

a { color: #00b1b7; font-family: "adelle-sans", sans-serif; font-style: normal; font-weight: 700; text-decoration: none; }
a:hover { text-decoration: underline; color: #008e93; }

.big, big { font-size: 20px; line-height: inherit; }

p.big { line-height: 30px; }

.small, small { font-size: 12.8px; line-height: inherit; }

p.small { line-height: 19.2px; }

/* fun styling */
.numberball { display: inline-block; min-width: 30px; padding: 5px; margin-top: -5px; margin-right: 5px; text-align: center; vertical-align: middle; background: #41454a; color: #f3f3ed; -moz-border-radius: 40px; -webkit-border-radius: 40px; border-radius: 40px; }

/* lists */
ul { padding: 0 0 0 20px; margin: 0 0 20px 0; }
ul li { padding: 3.33333px 0; }
ul.nobullets { list-style: none; padding: 0; }
ul.lined { border-top: 1px solid #efefe7; list-style: none; padding: 0; }
ul.lined li { padding: 5px; border-bottom: 1px solid #efefe7; }
ul.tags { padding: 0; list-style: none; }
ul.tags li { float: left; margin: 0 10px 6.66667px 0; }
ul.tags li span { display: inline-block; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; background: rgba(208, 208, 205, 0.9); padding: 6.66667px 10px; border: 2px solid rgba(208, 208, 205, 0.9); }
ul.tags li a { display: inline-block; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; background: #def0f1; border: 2px solid #def0f1; padding: 6.66667px 10px; }
ul.tags li a:hover { color: #008e93; }

/* nested ULs */
ul.lined ul.tags li { margin: 0; border: none; }

/* if we want to use tags inline */
.tag { display: inline-block; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; background: rgba(208, 208, 205, 0.9); padding: 6.66667px 10px; }

/*
stuff what ain't typography or pages
========================
*/
/* code that is NOT specific to a component or module */
*, *:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

html { margin: 0; padding: 0; }

body { background: #f3f3ed; color: #41454a; margin: 0; padding: 0; }

/* specific modules */
/* header-specific styles */
#header { position: fixed; top: 0; left: 0; background: rgba(65, 69, 74, 0.9); color: white; -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); width: 100%; height: 50px; overflow: hidden; z-index: 999999; padding: 0 20px; }
#header #header-nav { float: right; }
#header #header-nav ul { padding: 0; margin: 0; list-style: none; }
#header #header-nav ul li { float: left; padding: 13.33333px 20px 13.33333px 0; }
#header #header-title { font-family: "adelle-sans", sans-serif; font-style: normal; font-weight: 400; font-size: 16px; float: left; padding: 13.33333px 0 0 0; }
#header #header-logo { float: left; margin: 10px 20px 13.33333px 0; width: 30px; height: 30px; background: url("/assets/scout-rev.svg") no-repeat left top; background-size: contain; }
#header #header-account { float: right; cursor: pointer; }
#header #header-account #header-account-avatar { height: 28px; width: 28px; margin: 10px 0 0 10px; -moz-border-radius: 20px; -webkit-border-radius: 20px; border-radius: 20px; overflow: hidden; float: left; }
#header #header-account #header-account-avatar img { width: 28px; height: auto; }
#header #header-account #header-account-dropdown { float: left; padding: 10px 0 0 6.66667px; }
#header #header-nav { padding: 9.52381px 10px 0 0; }
#header .button.inverted { border-color: #f3f3ed; color: #f3f3ed; }

/* styles for specific pages */
/* LOGIN */
#view-login { background: #41454a; color: white; }
#view-login input, #view-login button { width: 100%; }
#view-login #logo img { width: auto; height: 40px; }

#view-observer-login { background: #41454a; background-size: cover; color: white; }
#view-observer-login input, #view-observer-login button { width: 100%; }
#view-observer-login #logo { margin: 0 0 20px 0; }
#view-observer-login #logo img { width: auto; height: 30px; }
#view-observer-login form { padding-top: 20px; }
#view-observer-login #form-observer-login { margin: 40px 0 0 0; padding: 20px 20px 0 20px; background: rgba(65, 69, 74, 0.7); -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }
#view-observer-login p { font-size: 12.8px; margin: 0; padding: 0; }
#view-observer-login h2 { padding: 0; margin: 0; }

/* SESSION OVERVIEW */
#view-overview { padding-top: 80px; }
#view-overview .session .session-meta { border-bottom: 2px solid #efefe7; margin: 20px 0; /* when editing title */ }
#view-overview .session .session-meta .session-name { float: left; font-size: 12.8px; font-weight: bold; color: rgba(65, 69, 74, 0.3); width: 80%; }
#view-overview .session .session-meta .session-name h4 { margin: 0; padding: 0; line-height: 33.6px; display: inline-block; color: #41454a; }
#view-overview .session .session-meta .session-name h4 img { height: 14px; width: auto; opacity: 0.3; }
#view-overview .session .session-meta form { padding: 0; margin: 0; width: 80%; float: left; }
#view-overview .session .session-meta form input { margin: 0; padding: 0; border: none; font-size: 20px; font-family: "adelle-sans", sans-serif; font-style: normal; font-weight: 100; line-height: 33.6px; display: inline-block; color: #41454a; width: 80%; background: none; outline: none; }
#view-overview .session .session-meta .session-controls { float: right; margin: 0 0 10px 0; }
#view-overview .session .session-meta .session-controls .button { line-height: 19.2px; }
#view-overview .session .session-meta .session-controls .button.destructive { margin-left: 10px; }

/* CREATE SESSION */
#view-createsession { margin: 0; padding: 0; height: 100%; width: 100%; }
#view-createsession #middle-pane { border-right: 2px solid #efefe7; border-left: 2px solid #efefe7; }
#view-createsession #middle-pane input[type=text] { width: 100%; }
#view-createsession #middle-pane textarea { width: 100%; height: 120px; }
#view-createsession #middle-pane ul p { margin: 20px 0 10px 0; font-size: 14.4px; }

/* CREATE FLOW */
#view-createflow { margin: 0; padding: 0; height: 100%; width: 100%; background: white; }
#view-createflow #left-pane { background: #f3f3ed; border-right: 2px solid #efefe7; }
#view-createflow #left-pane input[type=text] { width: 100%; }
#view-createflow #left-pane textarea { width: 100%; height: 120px; }
#view-createflow #left-pane .device-selector { width: 33.3%; float: left; text-align: center; padding: 20px 0 10px 0; }
#view-createflow #left-pane .device-selector label { cursor: pointer; }
#view-createflow #left-pane .device-selector img { width: 50px; height: 50px; }
#view-createflow #steps li { padding: 10px 10px; }
#view-createflow #steps li.selected { background: #41454a; color: white; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; position: relative; }
#view-createflow #steps li.selected .selected-arrow { color: #41454a; position: absolute; top: 11px; right: -12px; }
#view-createflow #steps .step-name, #view-createflow #steps .step-hamburger { float: left; }
#view-createflow #steps .step-hamburger { margin-right: 20px; font-size: 28px; cursor: move; line-height: 18.04511px; }
#view-createflow #steps .step-name { font-family: "adelle-sans", sans-serif; font-style: normal; font-weight: 700; }
#view-createflow #steps .step-name img { height: 12px; width: auto; opacity: 0.6; }
#view-createflow #steps .step-delete { float: right; opacity: 0.3; }
#view-createflow #steps input { font-family: "adelle-sans", sans-serif; font-style: normal; font-weight: 700; border: none; outline: none; background: none; font-size: inherit; color: white; width: 65%; border-bottom: 2px solid rgba(255, 255, 255, 0.4); }
#view-createflow .empty { -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; padding: 10px 20px; text-align: center; background: none; border: 2px dashed #efefe7; cursor: pointer; }
#view-createflow #right-pane { border-left: 2px solid #efefe7; }
#view-createflow #right-pane textarea { width: 100%; height: 240px; }

/* SESSION IN PROGRESS */
#view-testing { margin: 0; padding: 0; height: 100%; width: 100%; /* the device */ /* the chat */ }
#view-testing #left-pane { padding: 0; }
#view-testing #left-pane .questions-group { border-top: 2px solid rgba(243, 243, 237, 0.2); }
#view-testing #left-pane .questions-group:nth-child(1) { border-top: none; }
#view-testing #right-pane { float: right; position: relative; }
#view-testing #right-pane #timeline-timer { position: absolute; left: 0; bottom: 0; width: 100%; text-align: center; padding: 0 0 20px 0; }
#view-testing #right-pane #timeline-timer h3 { margin: 0; }
#view-testing #middle-pane { padding: 0; margin: 0; position: relative; overflow: hidden; background: white; border-left: 2px solid #efefe7; border-right: 2px solid #efefe7; }
#view-testing #middle-pane #session-input { position: absolute; bottom: 0; left: 0; width: 100%; padding: 10px; height: 150px; overflow: hidden; background: #e9e9de; border-top: 2px solid #efefe7; z-index: 9999; }
#view-testing #middle-pane #session-input textarea { width: 100%; height: 100%; margin: 0; }

/* WHO ARE WE TESTING */
#view-testing-userentry { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba(65, 69, 74, 0.94); z-index: 99999; color: white; margin: 0; padding: 18% 0 0 0; text-align: center; }
#view-testing-userentry .input, #view-testing-userentry .button { width: 100%; }
#view-testing-userentry img { height: 50px; width: auto; }

/* THE SUMMARY */
#view-summarizing { margin: 0; padding: 0; height: 100%; width: 100%; }
#view-summarizing #left-pane { border-right: 2px solid #efefe7; padding: 0; }
#view-summarizing #middle-pane { border-right: 2px solid #efefe7; }
#view-summarizing #middle-pane textarea { width: 100%; height: 240px; }
#view-summarizing #middle-pane #field-addtags { width: 100%; }
#view-summarizing #middle-pane #tags-showhide label { display: block; margin: 5px 0 10px 0; line-height: 19.2px; }
#view-summarizing #middle-pane #tags-showhide .deactivated { opacity: 0.4; }
#view-summarizing #right-pane { padding: 0; margin: 0; background: white; overflow: hidden; }
#view-summarizing #timeline { margin-top: 50px; overflow: auto; }
#view-summarizing #timeline .message .message-body { width: 75%; }
#view-summarizing #timeline .message .message-fave { float: left; margin: 0 0 0 10px; font-size: 24px; }

/* let's summarize TAGS */
#view-summarizingtags { margin: 0; padding: 0; height: 100%; width: 100%; background: white; }
#view-summarizingtags #left-pane { background: #f3f3ed; }
#view-summarizingtags #left-pane .active span { background: #00b1b7; color: white; border: 2px solid #00b1b7; }
#view-summarizingtags #middle-pane { border-left: 2px solid #efefe7; border-right: 2px solid #efefe7; }
#view-summarizingtags #middle-pane textarea { width: 100%; height: 240px; }
#view-summarizingtags #middle-pane .destructive { float: right; }

/* The report */
#view-report { margin: 0; padding: 0; height: 100%; width: 100%; /* content display area */ }
#view-report #left-pane { padding: 0; }
#view-report #large-pane { padding: 100px 60px 60px 60px; background: white; border-left: 2px solid #efefe7; }
#view-report h1 span, #view-report h2 span, #view-report h3 span { color: rgba(65, 69, 74, 0.3); }
#view-report .report-title { padding: 0; margin: 0 0 30px 0; border-bottom: 2px solid #efefe7; }
#view-report .report-detail { font-weight: bold; color: rgba(65, 69, 74, 0.3); margin-top: -20px; }
#view-report p.report-participants { color: rgba(65, 69, 74, 0.3); font-size: 12.8px; font-weight: bold; padding: 0; margin: 0 0 10px 0; }
#view-report ul.report-participants { padding: 0; width: 100%; }
#view-report ul.report-participants li { text-align: center; list-style: none; padding: 0 10px 0 0; margin: 0; display: inline-block; font-size: 11.2px; font-weight: bold; text-transform: uppercase; }
#view-report ul.report-participants li .report-part-img { width: 40px; height: 40px; -moz-border-radius: 40px; -webkit-border-radius: 40px; border-radius: 40px; overflow: hidden; }
#view-report ul.report-participants li .report-part-img img { width: 40px; height: auto; }
#view-report .report-block { margin-top: 40px; padding-top: 40px; border-top: 2px solid #efefe7; }

/* rebuild of overview screen */
#view-overview-neu { margin: 0; padding: 0; height: 100%; width: 100%; }
#view-overview-neu #left-pane { padding: 0; }
#view-overview-neu #left-pane #questions .test-newtest { cursor: default; }
#view-overview-neu #left-pane #questions .test-newtest:hover { box-shadow: none; }
#view-overview-neu #left-pane #questions .test-newtest .test-newtest-create { text-align: center; background: none; padding: 20px; border: 2px dashed rgba(243, 243, 237, 0.2); -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; }
#view-overview-neu #left-pane #questions .question h4 { font-size: 17.6px; line-height: 21.6px; margin-bottom: 0; }
#view-overview-neu #left-pane #questions .question small { font-size: 11.2px; font-weight: bold; text-transform: uppercase; }
#view-overview-neu #left-pane #questions .question .test-controls { float: right; margin-left: 20px; display: none; }
#view-overview-neu #left-pane #questions .question.active .test-controls { display: block; }
#view-overview-neu #left-pane #questions .question.active h4 { font-weight: normal; }
#view-overview-neu #large-pane { padding: 100px 60px 60px 60px; background: white; border-left: 2px solid #efefe7; }
#view-overview-neu #large-pane h3 { margin-bottom: 20px; }
#view-overview-neu #large-pane .session-flow { border-top: 2px solid #efefe7; background: white; padding: 10px 0 20px 0; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; }
#view-overview-neu #large-pane .session-flow h3 { border: none; padding: 0; margin: -6px 0 0 0; }
#view-overview-neu #large-pane .session-flow .session-flow-controls { padding-top: 10px; float: right; opacity: 0.2; }
#view-overview-neu #large-pane .session-flow .flow-hamburger { font-size: 32px; float: left; margin: 0 10px 0 0; padding: 13.33333px 0 0 0; cursor: move; }
#view-overview-neu #large-pane .session-flow.empty { margin-top: 10px; padding: 10px; border: 2px dashed #efefe7; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; }
#view-overview-neu #large-pane .session-flow:hover .session-flow-controls { opacity: 1.0; }
#view-overview-neu h1 span, #view-overview-neu h2 span, #view-overview-neu h3 span { color: rgba(65, 69, 74, 0.3); }

/* pulled out flow view boxes so we can use those everywhere */
.session-flow { background: #e9e9de; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; padding: 10px 20px 0 20px; }
.session-flow.empty { text-align: center; background: none; padding: 20px; border: 2px dashed #efefe7; }
.session-flow h3 { margin-bottom: 20px; font-size: 24px; }
.session-flow small { color: rgba(65, 69, 74, 0.3); }
.session-flow .session-flow-controls { padding: 0; line-height: 19.2px; }
.session-flow .session-flow-controls ul { border-top: 2px solid #efefe7; padding: 10px 0 20px 0; }
.session-flow .session-flow-controls ul li { padding: 4px 0; }

/* how we style notes within reports */
.theme-messages .message { padding: 10px 0; font-size: 14.4px; line-height: 19.2px; border-top: 1px solid rgba(239, 239, 231, 0.6); }
.theme-messages .message.title, .theme-messages .message.status { padding: 10px 0 0 16px; }
.theme-messages .message.title .message-details .message-details-avatar, .theme-messages .message.status .message-details .message-details-avatar { border: none; }
.theme-messages .message.title small, .theme-messages .message.status small { opacity: 0.5; }
.theme-messages .message .message-details { float: left; }
.theme-messages .message .message-details .message-details-avatar { width: 30px; height: 30px; -moz-border-radius: 30px; -webkit-border-radius: 30px; border-radius: 30px; overflow: hidden; margin: 0 10px 0 0; border: 3px solid #f3f3ed; }
.theme-messages .message .message-details .message-details-avatar img { width: 25px; height: auto; }
.theme-messages .message .message-body { float: left; width: 90%; }
.theme-messages .message .message-body p { margin-bottom: 0; }
.theme-messages .message .message-body p .tag { padding: 0 3.33333px; }
.theme-messages .message .message-body small { font-size: 9.6px; line-height: 14.4px; opacity: 0.5; padding: 0; margin: 0; text-transform: uppercase; letter-spacing: 1px; }

/* form styling */
