@import url("../assets/flat/flat.css");
/*
Field Guide
Master Sass
========================
*/
/* components */
/*
variables
put all your core measurements, values etc. in here
========================
*/
/* sizing vars */
/* type vars */
/* padding/margins vars */
/*
palette
*/
/*
specific colours
*/
/* generic */
/* FG colours */
/*
interpreted colours
*/
/*
custom fonts
========================
*/
/* p n a */
/*
mixins
========================
*/
/*
helpers
========================
*/
.clear { padding: 0; margin: 0; height: 0; weight: 0; float: none; clear: both; }

.set-block { display: block; }

.pad-all { padding: 20px; }

.pad-top { padding-top: 20px; }

.pad-bottom { padding-bottom: 20px; }

.pad-none { padding: 0; }

.margin-none { margin: 0; }

/* text helpers */
.text-center { text-align: center; }

.text-left { text-align: left; }

.text-right { text-align: right; }

.pointer { cursor: pointer; }

/* floating helpers */
.float-left { float: left; }

.float-right { float: right; }

/*
typography
========================
*/
html, body { width: 100%; height: 100%; }

body { font-size: 16px; line-height: 24px; font-family: "proxima-nova",sans-serif; font-style: normal; font-weight: 400; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; text-rendering: optimizeLegibility; font-feature-settings: "kern"; -webkit-font-feature-settings: "kern"; -moz-font-feature-settings: "kern"; -moz-font-feature-settings: "kern=1"; }

/* headers */
h1, h2, h3, h4, h5, h6 { line-height: 1; padding: 0; }
h1.underline, h2.underline, h3.underline, h4.underline, h5.underline, h6.underline { margin: 0 0 20px 0; }
h1.underline span, h2.underline span, h3.underline span, h4.underline span, h5.underline span, h6.underline span { border-bottom: 3px solid #e7e7da; }

h1 { font-size: 32px; font-family: "proxima-nova",sans-serif; font-style: normal; font-weight: 300; letter-spacing: -1px; margin: 0 0 20px 0; }

h2 { font-size: 32px; font-family: "proxima-nova",sans-serif; font-style: normal; font-weight: 300; letter-spacing: -1px; margin: 0 0 20px 0; }

h3 { font-size: 20px; font-family: "proxima-nova",sans-serif; font-style: normal; font-weight: 700; margin: 0 0 10px 0; }

h4 { font-size: 16px; font-family: "proxima-nova",sans-serif; font-style: normal; font-weight: 600; margin: 0 0 5px 0; }

/* copy */
p { padding: 0; margin: 0 0 20px 0; }

strong { font-family: "proxima-nova",sans-serif; font-style: normal; font-weight: 600; }

a { color: #71901f; font-family: "proxima-nova",sans-serif; font-style: normal; font-weight: 600; text-decoration: none; cursor: pointer; }
a:hover { text-decoration: underline; color: #5a7319; }
a.caution { color: #f37960; }

.big, big { font-size: 20px; line-height: inherit; }

p.big { line-height: 30px; }

.small, small { font-size: 12.8px; line-height: inherit; }

p.small { line-height: 19.2px; }

/* lists */
ul { padding: 0 0 0 20px; margin: 0 0 20px 0; }
ul li { padding: 3.33333px 0; }
ul.nobullets { list-style: none; padding: 0; }
ul.nobullets label { display: block; }
ul.lined { border-top: 1px solid #e7e7da; list-style: none; padding: 0; }
ul.lined li { padding: 5px; border-bottom: 1px solid #e7e7da; }
ul.tags { padding: 0; list-style: none; }
ul.tags li { float: left; margin: 0 10px 6.66667px 0; }
ul.tags li span { display: inline-block; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; background: #f2f2f0; padding: 6.66667px 10px; border: 2px solid #f2f2f0; }
ul.tags li a { display: inline-block; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; background: #f2f2f0; border: 2px solid #f2f2f0; padding: 6.66667px 10px; }
ul.tags li a:hover { color: #5a7319; }

/* nested ULs */
ul.lined ul.tags li { margin: 0; border: none; }

/* if we want to use tags inline */
.tag { display: inline-block; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; background: #f2f2f0; padding: 6.66667px 10px; }

/*
FORMS!
*/
form { padding: 0; margin: 0; }

/* we're classing these out rather than using the tags directly so they can be applied to more things more uniformly */
.input, .button { display: inline-block; margin: 0; padding: 10px 13.33333px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; font-family: "proxima-nova",sans-serif; font-style: normal; font-weight: 400; font-size: 16px; outline: none; border: none; }

.input { background: white; border: 1px solid #e7e7da; }
.input:focus { -webkit-box-shadow: inset 0px 0px 7px 0px rgba(0, 0, 0, 0.15); -moz-box-shadow: inset 0px 0px 7px 0px rgba(0, 0, 0, 0.15); box-shadow: inset 0px 0px 7px 0px rgba(0, 0, 0, 0.15); }
.input.small { font-size: 12.8px; line-height: 1.5; }
.input.tight { padding: 6.66667px 10px; }
.input.hollow { background: none; border: 1px solid rgba(231, 231, 218, 0.5); }
.input.hollow:focus { background: white; border: 1px solid #e7e7da; }

textarea.input { line-height: 24px; }

.placeholder { color: rgba(100, 106, 114, 0.6); }

/* button colour mixin */
.button { background: #71901f; color: white; text-decoration: none; cursor: pointer; }
.button:hover { background: #67831c; color: white; text-decoration: none; -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); }
.button.small { font-size: 12.8px; padding: 2.5px 10px; }
.button.disabled { cursor: not-allowed; opacity: 0.4; }
.button.dark { background: #323539; color: white; text-decoration: none; }
.button.dark:hover { background: #2b2d31; color: white; text-decoration: none; -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); }
.button.destructive { background: #f37960; color: white; text-decoration: none; }
.button.destructive:hover { background: #f26d52; color: white; text-decoration: none; -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); }
.button.secondary { background: #646a72; color: white; text-decoration: none; }
.button.secondary:hover { background: #5d626a; color: white; text-decoration: none; -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); }
.button.header { background: white; color: #f37960; text-decoration: none; }
.button.header:hover { background: #f7f7f7; color: #f37960; text-decoration: none; -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); }

label { padding: 0; margin: 0; font-size: 11.2px; opacity: 0.5; text-transform: uppercase; }

/* replace radio butts and checkboxes */
.icheckbox_flat, .iradio_flat { margin: 5px 5px 0 0; vertical-align: text-bottom; }

/* fixes for stupid Firefox */
button::-moz-focus-inner, input[type="reset"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, input[type="file"] > input[type="button"]::-moz-focus-inner { border: 0; padding: 0; margin: 0; }

.container { max-width: 980px; margin: 0 auto; }
.container:after { content: ""; display: table; clear: both; }

.module { display: inline-block; float: left; padding-left: 10px; padding-right: 10px; }

.full { width: 100%; }

.half { width: 50%; }

.third { width: 33.3333%; }

.two-thirds { width: 66.6666%; }

.quarter { width: 25%; }

.three-quarters { width: 75%; }

.fifth { width: 20%; }

.two-fifths { width: 40%; }

.three-fifths { width: 60%; }

.four-fifths { width: 80%; }

.sixth { width: 16.6667%; }

.five-sixths { width: 83.3335%; }

.eighth { width: 12.5%; }

.tenth { width: 10%; }

.twelfth { width: 8.3333%; }

.five-twelfths { width: 41.6665%; }

/* flexible columns for three-column pages */
.left-pane, .middle-pane, .right-pane, .large-pane { float: left; height: 100% !important; padding: 70px 30px 20px 30px; overtest-x: hidden; overtest-y: auto; }

.left-pane, .right-pane { width: 33%; }

.middle-pane { width: 34%; }

.large-pane { width: 67%; }

/* components */
/* header-specific styles */
#header { position: fixed; top: 0; left: 0; background: rgba(243, 121, 96, 0.95); color: #872717; border-bottom: 2px solid #f05d3f; width: 100%; height: 50px; z-index: 999999; padding: 0 20px; font-family: "proxima-nova",sans-serif; font-style: normal; font-weight: 600; }
#header a { color: #872717; text-decoration: none; }
#header a:hover { border-bottom: 2px solid rgba(135, 39, 23, 0.2); }
#header #header-logo { float: left; padding: 15px 0 0 0; margin: 0 20px 0 0; }
#header #header-logo a { border: none; }
#header #header-logo img { height: 20px; width: auto; }
#header #header-nav { float: left; font-size: 12.8px; }
#header #header-nav ul { padding: 0; margin: 0; list-style: none; }
#header #header-nav ul li { float: left; padding: 13.33333px 13.33333px 0 0; }
#header #header-account { float: right; cursor: pointer; }
#header #header-account #header-account-avatar { height: 28px; width: 28px; margin: 10px 0 0 10px; -moz-border-radius: 20px; -webkit-border-radius: 20px; border-radius: 20px; overflow: hidden; float: left; }
#header #header-account #header-account-avatar img { width: 28px; height: auto; }
#header #header-account #header-account-dropdown { float: left; padding: 11.11111px 0 0 6.66667px; }

/* active test header */
/* header-specific styles */
#header-run { position: fixed; top: 0; left: 0; width: 100%; height: 50px; z-index: 999999; padding: 0; }
#header-run .left-pane { background: rgba(243, 121, 96, 0.95); color: #872717; height: 50px; padding: 0 20px !important; }
#header-run .left-pane #header-logo { float: left; padding: 15px 0 0 0; margin: 0 20px 0 0; }
#header-run .left-pane #header-logo a { border: none; }
#header-run .left-pane #header-logo img { height: 20px; width: auto; }
#header-run .large-pane { padding: 0 20px; background: rgba(242, 242, 240, 0.9); border-bottom: 1px solid #e1e1dd; height: 50px; overflow: hidden; }
#header-run .large-pane #header-buttons { float: right; padding: 10px 20px 0 0; margin: 0; }
#header-run .large-pane #header-buttons .button { display: none; }
#header-run .large-pane #header-account { float: right; cursor: pointer; }
#header-run .large-pane #header-account #header-account-avatar { height: 28px; width: 28px; margin: 10px 0 0 10px; -moz-border-radius: 20px; -webkit-border-radius: 20px; border-radius: 20px; overflow: hidden; float: left; }
#header-run .large-pane #header-account #header-account-avatar img { width: 28px; height: auto; opacity: 0.2; }
#header-run .large-pane #header-account #header-account-dropdown { float: left; padding: 11.11111px 0 0 6.66667px; color: #000; opacity: 0.2; }

/* the dropdown */
#header-account-drawer { width: 120px; padding: 0 6.66667px; position: absolute; top: 48px; right: 20px; background: #f37960; z-index: 9999; -webkit-border-bottom-right-radius: 8px; -webkit-border-bottom-left-radius: 8px; -moz-border-radius-bottomright: 8px; -moz-border-radius-bottomleft: 8px; border-bottom-right-radius: 8px; border-bottom-left-radius: 8px; }
#header-account-drawer .button { width: 100%; font-family: "proxima-nova",sans-serif; font-style: normal; font-weight: 600; }
#header-account-drawer ul { width: 100%; padding: 0; margin: 0; list-style: none; }
#header-account-drawer ul li { font-size: 12.8px; padding: 6.66667px 10px; text-align: center; margin: 0; border-top: 1px solid rgba(255, 255, 255, 0.15); }

/* adjust button visibility based on where we are in the app */
#view-testing #header-run #header-buttons .button-testing { display: inline-block; }

#view-summarizing #header .button-summarizing, #view-summarizingtags #header .button-summarizing { display: inline-block; }

/* errythang for the timeline/chat */
#timeline { overtest: auto; padding: 50px 0 170px 0; height: 100%; overflow: auto; margin: 0; background: url("../assets/timeline-line.gif") repeat-y 24px top; /* first-run message on timeline */ }
#timeline ul { list-style: none; padding: 0; margin: 0; }
#timeline ul li { padding: 0; margin: 0; }
#timeline ul .message { padding: 8px 0 0 16px; font-size: 14.4px; line-height: 19.2px; margin: 0 0 10px 0; }
#timeline ul .message .message-details { float: left; }
#timeline ul .message .message-details .message-details-avatar { width: 20px; text-align: center; overtest: hidden; margin: 0 10px 0 0; padding: 0; background: white; font-size: 9.6px; font-family: "proxima-nova",sans-serif; font-style: normal; font-weight: 600; }
#timeline ul .message .message-body { float: left; width: 80%; color: #323539; }
#timeline ul .message .message-body p { margin-bottom: 0; }
#timeline ul .message .message-body p .tag { padding: 0 3.33333px; }
#timeline ul .message .message-body small { font-size: 9.6px; line-height: 14.4px; opacity: 0.5; padding: 0; margin: 0; text-transform: uppercase; letter-spacing: 1px; }
#timeline #firstrun .message-body, #timeline #firstrun .message-details { padding-top: 20px; padding-bottom: 20px; }
#timeline #firstrun .message-body { color: #646a72; font-size: 16px; line-height: 24px; }
#timeline #firstrun .message-body .tag { padding: 0 5px; }

/* timeline user and device treatment // i.e., who are we testing with, and on what device? only relevant when doing testing on device */
#timeline-user #timeline-user-only { position: absolute; top: 30%; left: 0; width: 100%; text-align: center; padding: 15px 0; font-family: "proxima-nova",sans-serif; font-style: normal; font-weight: 300; }
#timeline-user #timeline-user-only .timeline-user-avatar { display: block; padding: 0; margin: 0 auto 20px auto; width: 150px; height: 150px; -moz-border-radius: 100px; -webkit-border-radius: 100px; border-radius: 100px; background: white; }
#timeline-user #timeline-user-only .timeline-user-avatar img { width: 90%; height: auto; opacity: 0.4; }
#timeline-user #timeline-user-only small { font-family: "proxima-nova",sans-serif; font-style: normal; font-weight: 400; }
#timeline-user .timeline-user-avatar { display: inline-block; vertical-align: middle; overtest: hidden; }

#timeline-device { padding: 10px; width: 100%; height: auto; border: 2px solid #e7e7da; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; margin: 40% auto 0 auto; }
#timeline-device img { width: 100%; height: auto; border: 2px solid #e7e7da; }

/* questions/list of things style */
#tasklist { height: 100%; padding-top: 50px; background: #42474c; color: white; }
#tasklist ul { padding: 0; margin: 0; list-style: none; }
#tasklist ul li { padding: 13.33333px 20px; margin: 0; color: #cccccc; }
#tasklist ul li h3 { margin: 0 0 2px 0; padding: 0; font-family: "proxima-nova",sans-serif; font-style: normal; font-weight: 300; }
#tasklist ul li p { margin: 0; padding: 0; font-size: 12.8px; line-height: 19.2px; }
#tasklist ul li small { text-transform: uppercase; margin: 0; padding: 0; opacity: 0.5; }
#tasklist ul li:hover { box-shadow: inset 0px 0px 0px 2px rgba(255, 255, 255, 0.2); cursor: pointer; }
#tasklist ul li.active { background: #323539; position: relative; color: white; }
#tasklist ul li.active:hover { cursor: auto; box-shadow: none; }
#tasklist ul li.title:hover { cursor: auto; box-shadow: none; }

/* task control sidebar for summarizing and reports */
#sidebar ul { padding: 0; margin: 0; list-style: none; width: 90%; }
#sidebar ul li { padding: 13.33333px 20px; margin: 0; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; border: 2px solid white; }
#sidebar ul li h3 { margin: 0 0 2px 0; padding: 0; font-family: "proxima-nova",sans-serif; font-style: normal; font-weight: 300; }
#sidebar ul li p { margin: 0; padding: 0; font-size: 12.8px; line-height: 19.2px; }
#sidebar ul li small { text-transform: uppercase; margin: 0; padding: 0; opacity: 0.5; }
#sidebar ul li:hover { border: 2px solid rgba(66, 71, 76, 0.2); cursor: pointer; }
#sidebar ul li.active { background: #42474c; position: relative; color: white; }
#sidebar ul li.active:hover { cursor: auto; border: 2px solid white; }
#sidebar ul li.empty { border: none; padding: 20px 20px 5px 20px; }
#sidebar ul li.empty:hover { cursor: auto; border: none; }

/* style up task scores when we're look at reports */
#view-report #sidebar h3 { display: inline-block; margin: 0; width: 90%; }
#view-report #sidebar .task-score { width: 12px; height: 12px; }

/* specific views */
/* styles for things */
#view-observer-login { background: #2e2723; background-size: cover; color: white; }
#view-observer-login input, #view-observer-login button { width: 100%; }
#view-observer-login #logo { margin: 0 0 20px 0; }
#view-observer-login #logo img { width: auto; height: 30px; }
#view-observer-login form { padding-top: 20px; }
#view-observer-login #form-observer-login { margin: 40px 0 0 0; padding: 20px 20px 0 20px; background: rgba(46, 39, 35, 0.7); -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }
#view-observer-login p { font-size: 12.8px; margin: 0; padding: 0; }
#view-observer-login h2 { padding: 0; margin: 0; }

/* how we style notes within summaries and reports */
.message-group { margin: 0; padding: 10px 0 0 0; }
.message-group.report-messages { border-top: 1px solid #e7e7da; padding: 20px 0 0 0; }
.message-group.report-messages .message { padding: 10px 0; }
.message-group.report-messages .message .message-body p { margin-bottom: -4px; }
.message-group.report-messages .message:hover { background: none; }

.message { padding: 6.66667px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; /* when it's the user header */ }
.message:hover { background: #f2f2f0; }
.message:hover .message-body .tag { background: #e4e4e0; }
.message .message-details { float: left; margin: 2px 0 0 0; width: 25px; height: 16px; }
.message .message-details .message-details-avatar img { width: 16px; height: auto; }
.message .message-body { float: left; width: 90%; color: #323539; }
.message .message-body p { margin-bottom: 0; }
.message .message-body p .tag { padding: 0 3.33333px; }
.message .message-body small { margin: 0; padding: 0; opacity: 0.5; }
.message .message-fave { float: right; font-size: 24px; }
.message .message-fave a { text-decoration: none; }
.message.message-user .message-body { font-size: 12.8px; text-transform: uppercase; opacity: 0.6; }
.message.message-user .message-details { opacity: 0.4; }
.message.message-user:hover { background: none; }

/* task rating input */
.task-rating { width: 100%; background: #f2f2f0; padding: 10px; margin: 0; font-size: 12.8px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }
.task-rating .float-left { padding-top: 3.33333px; }
.task-rating .button.hollow { opacity: 0.3; }

/* task rating output */
.task-score { -moz-border-radius: 20px; -webkit-border-radius: 20px; border-radius: 20px; float: right; margin: 5px 0 0 0; }
.task-score.green { background: #71901f; }
.task-score.red { background: #f37960; }

/* login & registration forms etc. */
#view-login { background: #f37960; color: white; height: 100%; padding: 15% 0 0 0; }
#view-login input, #view-login button { width: 100%; margin-bottom: 4px; }
#view-login a { color: white; }
#view-login #logo img { width: 70px; height: auto; }

/* overview screen */
#view-overview { margin: 0; padding: 50px 0 0 0; }
#view-overview #overview-tests { padding: 40px 0; }
#view-overview #overview-tests .overview-test .overview-test-container { width: 100%; margin-bottom: 20px; }
#view-overview #overview-tests .overview-test .test-controls { background: #627136; padding: 20px 10px 10px 10px; text-align: center; -webkit-border-top-left-radius: 4px; -webkit-border-top-right-radius: 4px; -moz-border-radius-topleft: 4px; -moz-border-radius-topright: 4px; border-top-left-radius: 4px; border-top-right-radius: 4px; }
#view-overview #overview-tests .overview-test .test-controls .button { width: 85%; background: none; border: 1px solid rgba(255, 255, 255, 0.2); font-family: "proxima-nova",sans-serif; font-style: normal; font-weight: 300; color: white; text-decoration: none; margin: 0 0 10px 0; }
#view-overview #overview-tests .overview-test .test-controls .button:hover { background: white; color: #627136; text-decoration: none; }
#view-overview #overview-tests .overview-test .test-info { padding: 13.33333px 10px; text-align: center; -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); -webkit-border-bottom-right-radius: 4px; -webkit-border-bottom-left-radius: 4px; -moz-border-radius-bottomright: 4px; -moz-border-radius-bottomleft: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px; font-size: 12.8px; position: relative; }
#view-overview #overview-tests .overview-test .test-info:hover .removeTest { display: block; }
#view-overview #overview-tests .overview-test .test-info .removeTest { font-size: 32px; position: absolute; bottom: 2px; right: 4px; text-decoration: none; display: none; }
#view-overview #overview-tests .overview-test .test-info .removeTest:hover { color: #b5213c; }
#view-overview #overview-tests .overview-test .test-info a { text-decoration: underline; }
#view-overview #overview-tests .overview-test .test-info h4 { color: #323539; margin: 0; }

/* sub-bar styles */
#sub-bar { width: 100%; background: #f2f2f0; margin: 0; padding: 30px; border-bottom: 1px solid #e4e4e0; }
#sub-bar h1 { float: left; padding: 0; margin: 0; }
#sub-bar h1 span { opacity: 0.4; }
#sub-bar .sub-bar-controls { float: right; }
#sub-bar .container { padding: 0 10px; }
#sub-bar.tabbed { padding-bottom: 0; text-align: center; }

/* tab-style navigation for sub-bar */
.tabbed-nav { list-style: none; padding: 0; margin: 0 auto; }
.tabbed-nav li { display: inline-block; padding: 0 0 20px 0; margin: 0 20px; }
.tabbed-nav li a { padding: 0; margin: 0; color: rgba(100, 106, 114, 0.3); text-decoration: none; }
.tabbed-nav li a:hover { color: #646a72; }
.tabbed-nav li.active { border-bottom: 3px solid #646a72; }
.tabbed-nav li.active a { color: #646a72; }

/* editing a test */
#view-editing { margin: 0; padding: 50px 0 0 0; }
#view-editing #editing-container { padding: 40px 0; /* steps list */ }
#view-editing #editing-container .third .input { width: 90%; margin: 0 0 10px 0; }
#view-editing #editing-container .third textarea { height: 120px; }
#view-editing #editing-container #steps { padding: 0; margin: 0; list-style: none; }
#view-editing #editing-container #steps li .step-hamburger { font-size: 28px; cursor: move; line-height: 18.04511px; float: left; width: 5%; }
#view-editing #editing-container #steps li .step-contents { float: left; width: 90%; }
#view-editing #editing-container #steps li .step-contents .input { width: 100%; margin: 0 0 2px 0; }
#view-editing #editing-container #steps li .step-controls { float: right; width: 5%; display: none; text-align: right; }
#view-editing #editing-container #steps li:hover .step-controls { display: block; }

/* SESSION IN PROGRESS */
#view-testing { margin: 0; padding: 0; height: 100%; width: 100%; /* the device */ /* the chat */ }
#view-testing .left-pane { padding: 0; }
#view-testing .right-pane { float: right; position: relative; }
#view-testing .middle-pane { padding: 0; margin: 0; position: relative; overtest: hidden; border-right: 1px solid #e7e7da; }
#view-testing .middle-pane #session-input { position: absolute; bottom: 0; left: 0; width: 100%; padding: 10px; height: 150px; overtest: hidden; background: white; z-index: 9999; }
#view-testing .middle-pane #session-input textarea { width: 100%; height: 100%; margin: 0; }

/* WHO ARE WE TESTING */
#view-testing-userentry { position: absolute; top: 0; left: 0; width: 100%; height: 100%; overflow: hidden; background: rgba(66, 71, 76, 0.94); z-index: 999999999; color: white; margin: 0; padding: 0; text-align: center; }
#view-testing-userentry .input, #view-testing-userentry .button { width: 100%; }
#view-testing-userentry img { height: 40px; width: auto; }
#view-testing-userentry #user-entry { width: 28%; display: block; padding: 15% 0 0 0; margin: 0 auto; }

/* THE SUMMARY */
#view-summarizing { margin: 0; padding: 50px 0 0 0; }
#view-summarizing #summarizing-container { padding: 40px 0; }
#view-summarizing #timeline { margin-top: 50px; overtest: auto; }
#view-summarizing #timeline .message .message-body { width: 75%; }
#view-summarizing #timeline .message .message-fave { float: left; margin: 0 0 0 10px; font-size: 24px; }
#view-summarizing #summary-test .input { width: 100%; height: 100px; }
#view-summarizing #summary-tags { padding: 0; margin: 40px 0 0 0; }
#view-summarizing #summary-tags .tags li { cursor: pointer; }
#view-summarizing #summary-tags .summary-tag { padding: 20px 0 20px 0; margin: 0; }
#view-summarizing #summary-tags .summary-tag .input { width: 100%; }
#view-summarizing #summary-task .input { width: 100%; height: 100px; }
#view-summarizing .summary-task-notes { margin: 40px 0 0 0; }
#view-summarizing .summary-task-notes h4 { margin-bottom: 10px; }

/* The report */
#view-report { margin: 0; padding: 50px 0 0 0; /* report content */ }
#view-report #report-container { padding: 40px 0; }
#view-report .two-thirds .task-score { font-size: 12.8px; font-family: "proxima-nova",sans-serif; font-style: normal; font-weight: 600; text-transform: uppercase; letter-spacing: 0; color: white; padding: 5px 10px; }
#view-report .two-thirds h2 { padding-bottom: 20px; border-bottom: 1px solid #e7e7da; }

/* everything account related */
#view-account { margin: 0; padding: 50px 0 0 0; /* connected app styles */ /* end connected app styles */ /* team members */ }
#view-account .account-container { padding: 40px 0; }
#view-account .pm-app { border: 1px solid #e7e7da; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; padding: 13.33333px 20px 13.33333px 60px; margin: 0 0 13.33333px 0; }
#view-account .pm-app.github { background: url("/layout/assets/app-github.png") no-repeat 10px 10px; background-size: 30px 30px; }
#view-account .pm-app.github.connected { color: #2f2f2f; border: 1px solid #2f2f2f; }
#view-account .pm-app.jira { background: url("/layout/assets/app-jira.png") no-repeat 10px 10px; background-size: 30px 30px; }
#view-account .pm-app.jira.connected { color: #003366; border: 1px solid #003366; }
#view-account .pm-app.trello { background: url("/layout/assets/app-trello.png") no-repeat 10px 10px; background-size: 30px 30px; }
#view-account .pm-app.trello.connected { color: #247096; border: 1px solid #247096; }
#view-account .pm-app.connected { cursor: default; }
#view-account .pm-app.connected a { text-decoration: underline; }
#view-account .pm-app form { padding: 0; margin: 10px 0 20px 0; }
#view-account .pm-app form .input { width: 100%; margin: 0 0 5px 0; }
#view-account .team-members { padding: 0; margin: 0; list-style: none; border-top: 1px solid #e7e7da; }
#view-account .team-members li { padding: 13.33333px 10px 10px 10px; margin: 0; border-bottom: 1px solid #e7e7da; }
#view-account .team-members li .team-member-avatar { float: left; width: 30px; height: 30px; overflow: hidden; -moz-border-radius: 30px; -webkit-border-radius: 30px; border-radius: 30px; padding: 0; margin: 0 20px 0 0; }
#view-account .team-members li .team-member-avatar img { width: 30px; height: auto; }
#view-account .team-members li input { width: 80%; }
#view-account .team-members li .team-member-info { float: left; }
#view-account .team-members li .team-member-info p { color: #323539; margin: 0; padding: 5px 0 0 0; font-size: 19.2px; line-height: 12.8px; }
#view-account .team-members li .team-member-info .tag { padding: 0 6.66667px; }
#view-account .team-members li .team-member-remove { display: none; }
#view-account .team-members li.self:hover .team-member-remove { display: none; }
#view-account .team-members li:hover .team-member-remove { display: block; float: right; }

/* code that is NOT specific to a component or module */
*, *:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

html { margin: 0; padding: 0; }

body { background: white; color: #646a72; margin: 0; padding: 0; }

/* form styling */
