/*
Field Guide
Master Sass
========================
*/
/* components */
/*
variables
put all your core measurements, values etc. in here
========================
*/
/* sizing vars */
/* type vars */
/* padding/margins vars */
/*
palette
*/
/*
specific colours
*/
/* generic */
/* FG colours */
/*
interpreted colours
*/
/*
custom fonts
========================
*/
/* p n a */
/*
mixins
========================
*/
/*
helpers
========================
*/
/* line 119, ../sass/_helpers.scss */
.clear { padding: 0; margin: 0; height: 0; weight: 0; float: none; clear: both; }

/* line 128, ../sass/_helpers.scss */
.set-block { display: block; }

/* line 132, ../sass/_helpers.scss */
.pad-all { padding: 20px; }

/* line 136, ../sass/_helpers.scss */
.pad-top { padding-top: 20px; }

/* line 140, ../sass/_helpers.scss */
.pad-bottom { padding-bottom: 20px; }

/* line 144, ../sass/_helpers.scss */
.pad-none { padding: 0; }

/* line 148, ../sass/_helpers.scss */
.margin-none { margin: 0; }

/* text helpers */
/* line 155, ../sass/_helpers.scss */
.text-center { text-align: center; }

/* line 159, ../sass/_helpers.scss */
.text-left { text-align: left; }

/* line 163, ../sass/_helpers.scss */
.text-right { text-align: right; }

/* line 167, ../sass/_helpers.scss */
.pointer { cursor: pointer; }

/* floating helpers */
/* line 173, ../sass/_helpers.scss */
.float-left { float: left; }

/* line 177, ../sass/_helpers.scss */
.float-right { float: right; }

/*
typography
========================
*/
/* line 7, ../sass/_typography.scss */
html, body { width: 100%; height: 100%; }

/* line 12, ../sass/_typography.scss */
body { font-size: 15px; line-height: 24px; font-family: "proxima-nova",sans-serif; font-style: normal; font-weight: 400; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; text-rendering: optimizeLegibility; font-feature-settings: "kern"; -webkit-font-feature-settings: "kern"; -moz-font-feature-settings: "kern"; -moz-font-feature-settings: "kern=1"; }

/* headers */
/* line 28, ../sass/_typography.scss */
h1, h2, h3, h4, h5, h6 { line-height: 1; padding: 0; }
/* line 32, ../sass/_typography.scss */
h1.underline, h2.underline, h3.underline, h4.underline, h5.underline, h6.underline { margin: 0 0 20px 0; }
/* line 35, ../sass/_typography.scss */
h1.underline span, h2.underline span, h3.underline span, h4.underline span, h5.underline span, h6.underline span { border-bottom: 3px solid #dddddd; }

/* line 41, ../sass/_typography.scss */
h1 { font-size: 30px; font-family: "proxima-nova",sans-serif; font-style: normal; font-weight: 300; letter-spacing: -1px; margin: 0 0 20px 0; }

/* line 48, ../sass/_typography.scss */
h2 { font-size: 30px; font-family: "proxima-nova",sans-serif; font-style: normal; font-weight: 300; letter-spacing: -1px; margin: 0 0 20px 0; }

/* line 55, ../sass/_typography.scss */
h3 { font-size: 18.75px; font-family: "proxima-nova",sans-serif; font-style: normal; font-weight: 600; margin: 0 0 10px 0; }
/* line 60, ../sass/_typography.scss */
h3.h3-light { font-family: "proxima-nova",sans-serif; font-style: normal; font-weight: 400; opacity: 0.6; font-size: 21px; }

/* line 67, ../sass/_typography.scss */
h4 { font-size: 15px; font-family: "proxima-nova",sans-serif; font-style: normal; font-weight: 600; margin: 0 0 5px 0; }

/* copy */
/* line 77, ../sass/_typography.scss */
p { padding: 0; margin: 0 0 20px 0; }

/* line 82, ../sass/_typography.scss */
strong { font-family: "proxima-nova",sans-serif; font-style: normal; font-weight: 600; }

/* line 86, ../sass/_typography.scss */
.dark { color: #42474c; }

/* line 90, ../sass/_typography.scss */
a { color: #85ac0f; font-family: "proxima-nova",sans-serif; font-style: normal; font-weight: 600; text-decoration: none; cursor: pointer; }
/* line 96, ../sass/_typography.scss */
a:hover { text-decoration: underline; color: #6c8b0c; }
/* line 101, ../sass/_typography.scss */
a.caution { color: #f37960; }
/* line 105, ../sass/_typography.scss */
a.alt { color: #0abcd7; }
/* line 107, ../sass/_typography.scss */
a.alt:hover { text-decoration: underline; color: #089eb5; }

/* line 114, ../sass/_typography.scss */
.big, big { font-size: 18.75px; line-height: inherit; }

/* line 118, ../sass/_typography.scss */
p.big { line-height: 30px; }

/* line 122, ../sass/_typography.scss */
.small, small { font-size: 12px; line-height: inherit; }

/* line 126, ../sass/_typography.scss */
p.small { line-height: 19.2px; }

/* lists */
/* line 134, ../sass/_typography.scss */
ul { padding: 0 0 0 20px; margin: 0 0 20px 0; }
/* line 138, ../sass/_typography.scss */
ul li { padding: 3.33333px 0; }
/* line 142, ../sass/_typography.scss */
ul.nobullets { list-style: none; padding: 0; }
/* line 146, ../sass/_typography.scss */
ul.nobullets label { display: block; }
/* line 151, ../sass/_typography.scss */
ul.lined { border-top: 1px solid #dddddd; list-style: none; padding: 0; }
/* line 156, ../sass/_typography.scss */
ul.lined li { padding: 5px; border-bottom: 1px solid #dddddd; }
/* line 162, ../sass/_typography.scss */
ul.tags { padding: 0; list-style: none; }
/* line 166, ../sass/_typography.scss */
ul.tags li { float: left; margin: 0 10px 6.66667px 0; }
/* line 170, ../sass/_typography.scss */
ul.tags li span { display: inline-block; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; background: #f2f2f0; padding: 6.66667px 10px; border: 2px solid #f2f2f0; }
/* line 178, ../sass/_typography.scss */
ul.tags li a { display: inline-block; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; background: #f2f2f0; border: 2px solid #f2f2f0; padding: 6.66667px 10px; }
/* line 185, ../sass/_typography.scss */
ul.tags li a:hover { color: #6c8b0c; }

/* nested ULs */
/* line 199, ../sass/_typography.scss */
ul.lined ul.tags li { margin: 0; border: none; }

/* if we want to use tags inline */
/* line 208, ../sass/_typography.scss */
.tag { color: #0abcd7; }

/*
FORMS!
*/
/* line 5, ../sass/_forms.scss */
form { padding: 0; margin: 0; }

/* we're classing these out rather than using the tags directly so they can be applied to more things more uniformly */
/* line 12, ../sass/_forms.scss */
.input, .button { display: inline-block; margin: 0; padding: 10px 13.33333px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; font-family: "proxima-nova",sans-serif; font-style: normal; font-weight: 400; font-size: 13.5px; outline: none; border: none; }

/* line 26, ../sass/_forms.scss */
.expand-button { position: relative; }
/* line 29, ../sass/_forms.scss */
.expand-button .expand-button-body { background: white; color: #999999; margin: 0; padding: 9px; -moz-border-radius: 40px; -webkit-border-radius: 40px; border-radius: 40px; height: 40px; width: 40px; cursor: pointer; text-align: center; font-size: 27px; -webkit-transition-duration: 0.2s; -webkit-transition-timing: ease-out; -o-transition-duration: 0.2s; -o-transition-timing: ease-out; -moz-transition-duration: 0.2s; -moz-transition-timing: ease-out; -ms-transition-duration: 0.2s; -ms-transition-timing: ease-out; transition-duration: 0.2s; transition-timing: ease-out; -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); }
/* line 43, ../sass/_forms.scss */
.expand-button .expand-button-body.small { height: 24px; width: 24px; padding: 0px; top: -10px; font-size: 15px; border: 1px solid #dddddd; -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0); -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0); box-shadow: 0 0 0 rgba(0, 0, 0, 0); }
/* line 55, ../sass/_forms.scss */
.expand-button:hover .expand-button-helper { display: block; }
/* line 59, ../sass/_forms.scss */
.expand-button:hover .expand-button-body { background: #42474c; color: white; -webkit-transition-duration: 0.2s; -webkit-transition-timing: ease-out; -o-transition-duration: 0.2s; -o-transition-timing: ease-out; -moz-transition-duration: 0.2s; -moz-transition-timing: ease-out; -ms-transition-duration: 0.2s; -ms-transition-timing: ease-out; transition-duration: 0.2s; transition-timing: ease-out; }
/* line 66, ../sass/_forms.scss */
.expand-button .expand-button-helper { width: 120px; text-align: right; display: none; position: absolute; top: 11px; font-size: 15px; right: 48px; color: #7c7d80; }
/* line 76, ../sass/_forms.scss */
.expand-button .expand-button-helper.small { top: 0px; font-size: 12px; right: 25px; }

/* line 87, ../sass/_forms.scss */
.input { background: white; border: 1px solid #dddddd; }
/* line 95, ../sass/_forms.scss */
.input.small { font-size: 12px; line-height: 1.5; }
/* line 100, ../sass/_forms.scss */
.input.tight { padding: 6.66667px 10px; }
/* line 104, ../sass/_forms.scss */
.input.hollow { background: none; border: 1px solid rgba(221, 221, 221, 0.5); }
/* line 108, ../sass/_forms.scss */
.input.hollow:focus { background: white; border: 1px solid #dddddd; }

/* line 116, ../sass/_forms.scss */
textarea.input { line-height: 22.5px; }

/* line 120, ../sass/_forms.scss */
.placeholder { color: rgba(124, 125, 128, 0.6); }

/* button colour mixin */
/* line 127, ../sass/_forms.scss */
.button { background: #85ac0f; color: white; text-decoration: none; cursor: pointer; }
/* line 91, ../sass/_helpers.scss */
.button:hover { background: #7a9e0e; color: white; text-decoration: none; }
/* line 131, ../sass/_forms.scss */
.button.small { font-size: 12px; padding: 2.5px 10px; }
/* line 137, ../sass/_forms.scss */
.button.disabled { cursor: not-allowed; opacity: 0.4; }
/* line 142, ../sass/_forms.scss */
.button.dark { background: #323539; color: white; text-decoration: none; }
/* line 91, ../sass/_helpers.scss */
.button.dark:hover { background: #2b2d31; color: white; text-decoration: none; }
/* line 146, ../sass/_forms.scss */
.button.destructive { background: #f37960; color: white; text-decoration: none; }
/* line 91, ../sass/_helpers.scss */
.button.destructive:hover { background: #f26d52; color: white; text-decoration: none; }
/* line 150, ../sass/_forms.scss */
.button.secondary { background: #7c7d80; color: white; text-decoration: none; }
/* line 91, ../sass/_helpers.scss */
.button.secondary:hover { background: #747578; color: white; text-decoration: none; }
/* line 154, ../sass/_forms.scss */
.button.header { background: white; color: #f37960; text-decoration: none; }
/* line 91, ../sass/_helpers.scss */
.button.header:hover { background: #f7f7f7; color: #f37960; text-decoration: none; }
/* line 158, ../sass/_forms.scss */
.button.hollow { background: white; color: #7c7d80; text-decoration: none; border: 1px solid #b0b0b2; }
/* line 91, ../sass/_helpers.scss */
.button.hollow:hover { background: #f7f7f7; color: #7c7d80; text-decoration: none; }
/* line 163, ../sass/_forms.scss */
.button.fake { color: #aaaaaa; background: none; border: 1px solid #c3c3c3; cursor: default !important; }
/* line 169, ../sass/_forms.scss */
.button.fake:hover { background: none; -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0); -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0); box-shadow: 0 1px 3px rgba(0, 0, 0, 0); }

/* Do some stuff to deal with the reprehensible state of 'select' elements */
/* line 179, ../sass/_forms.scss */
.input-select { border: 1px solid #dddddd; width: 100%; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; overflow: hidden; background: white url("/layout/assets/select-arrow.svg") no-repeat calc(100% - 10px) 50%; background-size: auto 18%; }
/* line 187, ../sass/_forms.scss */
.input-select select { padding: 10px 13.33333px; width: 100%; border: none; box-shadow: none; background: transparent; background-image: none; -webkit-appearance: none; -moz-appearance: none; font-family: "proxima-nova",sans-serif; font-style: normal; font-weight: 400; font-size: 15px; outline: none; border: none; }
/* line 201, ../sass/_forms.scss */
.input-select select:focus { outline: none; }

/* line 213, ../sass/_forms.scss */
label { padding: 0; margin: 0; font-size: 10.5px; opacity: 0.8; text-transform: uppercase; }

/* replace radio butts and checkboxes */
/* line 225, ../sass/_forms.scss */
.icheckbox_flat, .iradio_flat { margin: 5px 5px 0 0; vertical-align: text-bottom; }

/* fixes for stupid Firefox */
/* line 238, ../sass/_forms.scss */
button::-moz-focus-inner, input[type="reset"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, input[type="file"] > input[type="button"]::-moz-focus-inner { border: 0; padding: 0; margin: 0; }

/* line 10, ../sass/_grid.scss */
.container { width: 75%; max-width: 1020px; margin: 0 auto; }
/* line 16, ../sass/_grid.scss */
.container:after { content: ""; display: table; clear: both; }

/* line 23, ../sass/_grid.scss */
.module { display: inline-block; float: left; padding-left: 10px; padding-right: 10px; }
/* line 29, ../sass/_grid.scss */
.module.right { float: right; }

/* line 35, ../sass/_grid.scss */
.full { width: 100%; }

/* line 36, ../sass/_grid.scss */
.half { width: 50%; }

/* line 37, ../sass/_grid.scss */
.third { width: 33.3333%; }

/* line 38, ../sass/_grid.scss */
.two-thirds { width: 66.6666%; }

/* line 39, ../sass/_grid.scss */
.quarter { width: 25%; }

/* line 40, ../sass/_grid.scss */
.three-quarters { width: 75%; }

/* line 41, ../sass/_grid.scss */
.fifth { width: 20%; }

/* line 42, ../sass/_grid.scss */
.two-fifths { width: 40%; }

/* line 43, ../sass/_grid.scss */
.three-fifths { width: 60%; }

/* line 44, ../sass/_grid.scss */
.four-fifths { width: 80%; }

/* line 45, ../sass/_grid.scss */
.sixth { width: 16.6667%; }

/* line 46, ../sass/_grid.scss */
.five-sixths { width: 83.3335%; }

/* line 47, ../sass/_grid.scss */
.eighth { width: 12.5%; }

/* line 48, ../sass/_grid.scss */
.tenth { width: 10%; }

/* line 49, ../sass/_grid.scss */
.twelfth { width: 8.3333%; }

/* line 50, ../sass/_grid.scss */
.five-twelfths { width: 41.6665%; }

/* flexible columns for three-column pages */
/* line 59, ../sass/_grid.scss */
.left-pane, .middle-pane, .right-pane, .large-pane { float: left; height: 100% !important; padding: 70px 30px 20px 30px; overtest-x: hidden; overtest-y: auto; }

/* line 67, ../sass/_grid.scss */
.left-pane, .right-pane { width: 33%; }

/* line 71, ../sass/_grid.scss */
.middle-pane { width: 34%; }

/* line 75, ../sass/_grid.scss */
.large-pane { width: 67%; }

/* components */
/* floating header for new design style */
/* line 3, ../sass/_header.scss */
#header-min { padding: 12px 10px 30px 10px; margin: 0; }
/* line 8, ../sass/_header.scss */
#header-min .expand-button .expand-button-body { color: white; background: #323539; }

/* header-specific styles */
/* errythang for the timeline/chat */
/* line 4, ../sass/_timeline.scss */
#timeline { padding: 0 0 150px 0; width: 100%; height: 100%; background: red; overflow: auto; margin: 0; background: url("../assets/timeline-line.gif") repeat-y 24px top; /* first-run message on timeline */ }
/* line 13, ../sass/_timeline.scss */
#timeline ul { list-style: none; padding: 0; margin: 0; }
/* line 18, ../sass/_timeline.scss */
#timeline ul li { padding: 0; margin: 0; }
/* line 23, ../sass/_timeline.scss */
#timeline ul .message { padding: 8px 0 0 12.5px; line-height: 19.2px; margin: 0 0 10px 0; }
/* line 28, ../sass/_timeline.scss */
#timeline ul .message .message-details { float: left; }
/* line 31, ../sass/_timeline.scss */
#timeline ul .message .message-details .message-details-avatar { width: 20px; text-align: center; overtest: hidden; margin: 0 10px 0 0; padding: 0 0 2px 0; font-size: 22.5px; line-height: 10px; font-family: "proxima-nova",sans-serif; font-style: normal; font-weight: 600; background: white; }
/* line 42, ../sass/_timeline.scss */
#timeline ul .message .message-details .message-details-avatar.avatar-header { color: #bfed34; }
/* line 45, ../sass/_timeline.scss */
#timeline ul .message .message-details .message-details-avatar.avatar-message { color: #7c7d80; }
/* line 52, ../sass/_timeline.scss */
#timeline ul .message .message-body { float: left; width: 80%; color: #323539; }
/* line 57, ../sass/_timeline.scss */
#timeline ul .message .message-body p { margin-bottom: 0; }
/* line 61, ../sass/_timeline.scss */
#timeline ul .message .message-body small { font-size: 9px; line-height: 14.4px; opacity: 0.5; padding: 0; margin: 0; text-transform: uppercase; letter-spacing: 1px; }
/* line 79, ../sass/_timeline.scss */
#timeline #firstrun .message-body, #timeline #firstrun .message-details { padding-top: 20px; padding-bottom: 20px; }
/* line 84, ../sass/_timeline.scss */
#timeline #firstrun .message-body { color: #7c7d80; font-size: 15px; line-height: 24px; }
/* line 89, ../sass/_timeline.scss */
#timeline #firstrun .message-body .tag { padding: 0 5px; }

/* timeline user and device treatment // i.e., who are we testing with, and on what device? only relevant when doing testing on device */
/* line 102, ../sass/_timeline.scss */
#timeline-user { position: relative; height: 100%; }
/* line 106, ../sass/_timeline.scss */
#timeline-user #timeline-user-only { position: absolute; top: 30%; left: 0; width: 100%; text-align: center; padding: 15px 0; font-family: "proxima-nova",sans-serif; font-style: normal; font-weight: 300; }
/* line 115, ../sass/_timeline.scss */
#timeline-user #timeline-user-only .timeline-user-avatar { display: block; padding: 0; margin: 0 auto 20px auto; width: 150px; height: 150px; -moz-border-radius: 100px; -webkit-border-radius: 100px; border-radius: 100px; background: white; }
/* line 124, ../sass/_timeline.scss */
#timeline-user #timeline-user-only .timeline-user-avatar img { width: 90%; height: auto; opacity: 0.4; }
/* line 131, ../sass/_timeline.scss */
#timeline-user #timeline-user-only small { font-family: "proxima-nova",sans-serif; font-style: normal; font-weight: 400; }
/* line 137, ../sass/_timeline.scss */
#timeline-user .timeline-user-avatar { display: inline-block; vertical-align: middle; overtest: hidden; }

/* line 146, ../sass/_timeline.scss */
#timeline-device { padding: 10px; width: 100%; height: auto; border: 2px solid #dddddd; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; margin: 40% auto 0 auto; }
/* line 155, ../sass/_timeline.scss */
#timeline-device img { width: 100%; height: auto; border: 2px solid #dddddd; }

/* questions/list of things style */
/* line 3, ../sass/_tasklist.scss */
#tasklist { height: 100%; }
/* line 6, ../sass/_tasklist.scss */
#tasklist ul { padding: 0; margin: 0; list-style: none; width: 100%; }
/* line 12, ../sass/_tasklist.scss */
#tasklist ul li { padding: 13.33333px 20px; margin: 0; width: 100%; }
/* line 18, ../sass/_tasklist.scss */
#tasklist ul li.title:hover { background: #f6f6f6; cursor: default; }
/* line 24, ../sass/_tasklist.scss */
#tasklist ul li h3 { margin: 0 0 2px 0; padding: 0; font-family: "proxima-nova",sans-serif; font-style: normal; font-weight: 300; }
/* line 30, ../sass/_tasklist.scss */
#tasklist ul li p { margin: 0; padding: 0; font-size: 12px; line-height: 19.2px; }
/* line 37, ../sass/_tasklist.scss */
#tasklist ul li small { text-transform: uppercase; margin: 0; padding: 0; opacity: 0.5; }
/* line 45, ../sass/_tasklist.scss */
#tasklist ul li:hover { background: #ececec; cursor: pointer; }
/* line 51, ../sass/_tasklist.scss */
#tasklist ul li.active { position: relative; color: #42474c; background: #ececec; }
/* line 56, ../sass/_tasklist.scss */
#tasklist ul li.active h3 { font-family: "proxima-nova",sans-serif; font-style: normal; font-weight: 600; }
/* line 60, ../sass/_tasklist.scss */
#tasklist ul li.active:hover { cursor: auto; box-shadow: none; }
/* line 67, ../sass/_tasklist.scss */
#tasklist ul li.title:hover { cursor: auto; box-shadow: none; }

/* task control sidebar for summarizing and reports */
/* line 6, ../sass/_sidebar.scss */
#sidebar .test-id { padding: 20px 10px 40px 10px; }
/* line 11, ../sass/_sidebar.scss */
#sidebar.summarizing .step-ordering { position: absolute; left: 10px; top: 10px; }
/* line 17, ../sass/_sidebar.scss */
#sidebar.summarizing li { padding-left: 30px; }
/* line 22, ../sass/_sidebar.scss */
#sidebar ul { padding: 0; margin: 0; list-style: none; color: #969799; }
/* line 29, ../sass/_sidebar.scss */
#sidebar ul li { padding: 10px; margin: 0; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; position: relative; }
/* line 37, ../sass/_sidebar.scss */
#sidebar ul li .task-boop { position: absolute; top: 18px; right: 20px; width: 6.66667px !important; height: 6.66667px !important; overflow: hidden; display: inline-block; -moz-border-radius: 40px; -webkit-border-radius: 40px; border-radius: 40px; }
/* line 47, ../sass/_sidebar.scss */
#sidebar ul li .task-boop.red { background: #f37960; }
/* line 51, ../sass/_sidebar.scss */
#sidebar ul li .task-boop.green { background: #85ac0f; }
/* line 57, ../sass/_sidebar.scss */
#sidebar ul li:hover { background: #ececec; cursor: pointer; }
/* line 62, ../sass/_sidebar.scss */
#sidebar ul li.active { position: relative; color: #42474c; font-family: "proxima-nova",sans-serif; font-style: normal; font-weight: 600; }
/* line 67, ../sass/_sidebar.scss */
#sidebar ul li.active:hover { cursor: auto; }
/* line 73, ../sass/_sidebar.scss */
#sidebar ul li .sidebar-visibility { float: right; display: block; padding: 2px 0 0 0; }
/* line 78, ../sass/_sidebar.scss */
#sidebar ul li .sidebar-visibility img { width: auto; height: 10px; margin: 5px 0 0 0; }

/* modal styles */
/* line 3, ../sass/_modal.scss */
.modal { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba(66, 71, 76, 0.8); z-index: 99999999; }
/* line 12, ../sass/_modal.scss */
.modal .modal-interior { background: white; padding: 30px 40px 0 40px; margin: 10% 0 0 0; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; -moz-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1); -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1); box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1); }
/* line 19, ../sass/_modal.scss */
.modal .modal-interior .input { width: 100%; }
/* line 23, ../sass/_modal.scss */
.modal .modal-interior li { padding: 10px 0; }
/* line 26, ../sass/_modal.scss */
.modal .modal-interior li:last-child { border: none; }
/* line 32, ../sass/_modal.scss */
.modal .modal-interior .modal-interior-title { text-align: center; margin: 0; padding: 0 0 10px 0; }
/* line 37, ../sass/_modal.scss */
.modal .modal-interior .modal-interior-title h3 { font-family: "proxima-nova",sans-serif; font-style: normal; font-weight: 300; }
/* line 41, ../sass/_modal.scss */
.modal .modal-interior .modal-interior-title img { width: 30px; height: auto; margin: 0 0 5px 0; }

/* specific views */
/* styles for bits */
/* task rating output */
/* line 9, ../sass/_elements.scss */
.task-score { -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; margin: 5px 0 0 0; font-size: 9px; font-family: "proxima-nova",sans-serif; font-style: normal; font-weight: 600; text-transform: uppercase; letter-spacing: 0; color: white; margin: 0; padding: 0 5px; }
/* line 20, ../sass/_elements.scss */
.task-score.green { background: #85ac0f; }
/* line 23, ../sass/_elements.scss */
.task-score.green.inverted { border: 2px solid #86aa25; color: #86aa25 !important; background: white; }
/* line 30, ../sass/_elements.scss */
.task-score.red { background: #f37960; }
/* line 33, ../sass/_elements.scss */
.task-score.red.inverted { border: 2px solid #f37960; color: #f37960 !important; background: white; }

/* line 41, ../sass/_elements.scss */
.task-rating { float: right; padding: 0; margin: 0; }
/* line 46, ../sass/_elements.scss */
.task-rating small { text-transform: uppercase; display: block; float: left; }
/* line 52, ../sass/_elements.scss */
.task-rating .task-rating-doot { cursor: pointer; width: 20px; height: 20px; padding: 0; margin: 0 0 0 5px; -moz-border-radius: 20px; -webkit-border-radius: 20px; border-radius: 20px; overflow: hidden; display: block; float: left; }
/* line 63, ../sass/_elements.scss */
.task-rating .task-rating-doot.task-rating-plus { background: #85ac0f; border: 2px solid #85ac0f; }
/* line 69, ../sass/_elements.scss */
.task-rating .task-rating-doot.task-rating-minus { background: #f37960; border: 2px solid #f37960; }
/* line 74, ../sass/_elements.scss */
.task-rating .task-rating-doot.hollow { background: white; }

/* error messaging */
/* line 85, ../sass/_elements.scss */
.messaging { width: 100%; padding: 10px; margin: 0 0 10px 0; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; text-align: center; }
/* line 92, ../sass/_elements.scss */
.messaging.messaging-problem { background: #f37960; color: white; }
/* line 98, ../sass/_elements.scss */
.messaging.messaging-success { background: #86aa25; color: white; }
/* line 103, ../sass/_elements.scss */
.messaging.messaging-neutral { background: #dddddd; color: #7c7d80; }

/* quickie style for boxes with a line on top */
/* line 113, ../sass/_elements.scss */
.line-top { border-top: 1px solid #dddddd; padding: 20px 0; margin: 20px 0 0 0; }

/* elevator buttons for sorting */
/* line 122, ../sass/_elements.scss */
.elevator { display: block; opacity: 0.5; padding: 0; font-size: 12px; cursor: pointer; line-height: 1.1; }
/* line 130, ../sass/_elements.scss */
.elevator:hover { opacity: 1.0; }

/* line 135, ../sass/_elements.scss */
.step-ordering { opacity: 0.3; }
/* line 138, ../sass/_elements.scss */
.step-ordering:hover { opacity: 1.0; }

/* sheet stylins' */
/* line 146, ../sass/_elements.scss */
.sheet-holder { padding: 20px 0; min-height: 100%; }

/* line 151, ../sass/_elements.scss */
.sheet { padding: 0 0 20px 0; margin: 0; min-height: 100%; background: white; -moz-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1); -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1); box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1); -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }

/* horizontal rule */
/* line 163, ../sass/_elements.scss */
hr { width: 70%; padding: 0 0 20px 0; margin: 0 auto; display: block; border: none; border-top: 1px solid #dddddd; }

/* minimal nav */
/* line 175, ../sass/_elements.scss */
#nav-logo { position: fixed; left: 30px; top: 30px; background: #f37960; color: #872717; -moz-border-radius: 80px; -webkit-border-radius: 80px; border-radius: 80px; padding: 0; margin: 0; z-index: 999999; overflow: hidden; -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); }
/* line 188, ../sass/_elements.scss */
#nav-logo a { display: block; width: 50px; height: 50px; text-align: center; line-height: 54px; }
/* line 196, ../sass/_elements.scss */
#nav-logo img { height: 13px; width: auto; }

/* line 203, ../sass/_elements.scss */
#nav-account { position: fixed; left: 50px; bottom: 34px; background: #ececec url("/layout/assets/avatar-sq-grey.svg") no-repeat center center; color: #323539; -moz-border-radius: 80px; -webkit-border-radius: 80px; border-radius: 80px; padding: 0; margin: 0; z-index: 999999; overflow: hidden; }
/* line 215, ../sass/_elements.scss */
#nav-account a { display: block; width: 30px; height: 30px; text-align: center; line-height: 54px; }

/* line 225, ../sass/_elements.scss */
#nav-logout { position: fixed; left: 40px; bottom: 10px; opacity: 0.6; width: 50px; text-align: center; }
/* line 233, ../sass/_elements.scss */
#nav-logout a { color: #7c7d80; font-size: 10.5px; }

/* login & registration forms etc. */
/* line 3, ../sass/_login.scss */
#view-login { background: #f37960; color: white; height: 100%; padding: 15% 0 0 0; }
/* line 9, ../sass/_login.scss */
#view-login input, #view-login button { width: 100%; margin-bottom: 4px; }
/* line 15, ../sass/_login.scss */
#view-login a { color: white; }
/* line 20, ../sass/_login.scss */
#view-login #logo img { width: 70px; height: auto; }
/* line 26, ../sass/_login.scss */
#view-login .messaging { border: 1px solid rgba(255, 255, 255, 0.25); }

/* overview screen */
/* line 4, ../sass/_overview.scss */
#view-overview { margin: 0; padding: 0; position: relative; }
/* line 9, ../sass/_overview.scss */
#view-overview .container { padding: 20px 0 0 0; }
/* line 12, ../sass/_overview.scss */
#view-overview .container #header-min { padding: 20px 0 40px; }
/* line 15, ../sass/_overview.scss */
#view-overview .container #header-min h3 { margin: 10px 0; }
/* line 21, ../sass/_overview.scss */
#view-overview .overview-controls { float: right; }

/* overview test block */
/* line 30, ../sass/_overview.scss */
.overview-test { margin-bottom: 20px; /* empty test-container */ }
/* line 33, ../sass/_overview.scss */
.overview-test .test-info { padding: 64px 10px 40px 10px; text-align: center; position: relative; -webkit-border-top-left-radius: 3px; -webkit-border-top-right-radius: 3px; -moz-border-radius-topleft: 3px; -moz-border-radius-topright: 3px; border-top-left-radius: 3px; border-top-right-radius: 3px; background: white; min-height: 160px; overflow: hidden; -moz-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1); -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1); box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1); }
/* line 43, ../sass/_overview.scss */
.overview-test .test-info small { text-transform: uppercase; opacity: 0.6; }
/* line 49, ../sass/_overview.scss */
.overview-test .test-info:hover .editTest { display: block; }
/* line 54, ../sass/_overview.scss */
.overview-test .test-info .editTest { font-size: 12px; position: absolute; text-align: right; width: 100%; top: 5px; left: 0px; text-decoration: none; display: none; padding: 5px 13.33333px; }
/* line 65, ../sass/_overview.scss */
.overview-test .test-info .editTest img { height: 16px; width: auto; }
/* line 71, ../sass/_overview.scss */
.overview-test .test-info .editTest .dangerous:hover { color: #f37960; }
/* line 77, ../sass/_overview.scss */
.overview-test .test-info a { text-decoration: underline; }
/* line 81, ../sass/_overview.scss */
.overview-test .test-info h3 { color: #42474c; margin: 0; }
/* line 87, ../sass/_overview.scss */
.overview-test .test-controls { background: #85ac0f; padding: 0; margin: 0; border-radius: 0 0 2px 2px; -moz-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1); -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1); box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1); }
/* line 94, ../sass/_overview.scss */
.overview-test .test-controls a { font-size: 13.5px; padding: 16px 0; float: left; width: 50%; margin: 0; text-align: center; text-decoration: none; color: white; }
/* line 104, ../sass/_overview.scss */
.overview-test .test-controls a:hover { background-color: #7a9e0e; }
/* line 107, ../sass/_overview.scss */
.overview-test .test-controls a:hover.left { border-radius: 0 0 0 2px; }
/* line 111, ../sass/_overview.scss */
.overview-test .test-controls a:hover.right { border-radius: 0 0 2px 0; }
/* line 121, ../sass/_overview.scss */
.overview-test.overview-test-empty { cursor: pointer; opacity: 0.7; -webkit-transition-duration: 0.2s; -webkit-transition-timing: ease-out; -o-transition-duration: 0.2s; -o-transition-timing: ease-out; -moz-transition-duration: 0.2s; -moz-transition-timing: ease-out; -ms-transition-duration: 0.2s; -ms-transition-timing: ease-out; transition-duration: 0.2s; transition-timing: ease-out; }
/* line 126, ../sass/_overview.scss */
.overview-test.overview-test-empty:hover { opacity: 1.0; -webkit-transition-duration: 0.2s; -webkit-transition-timing: ease-out; -o-transition-duration: 0.2s; -o-transition-timing: ease-out; -moz-transition-duration: 0.2s; -moz-transition-timing: ease-out; -ms-transition-duration: 0.2s; -ms-transition-timing: ease-out; transition-duration: 0.2s; transition-timing: ease-out; }
/* line 131, ../sass/_overview.scss */
.overview-test.overview-test-empty .overview-test-container { border: 2px dashed #dddddd; -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; height: 216px; }
/* line 136, ../sass/_overview.scss */
.overview-test.overview-test-empty .overview-test-container .test-info { background: none; -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0); -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0); box-shadow: 0 0 0 rgba(0, 0, 0, 0); }
/* line 140, ../sass/_overview.scss */
.overview-test.overview-test-empty .overview-test-container .test-info h3 { color: #7c7d80; font-size: 15px; }
/* line 145, ../sass/_overview.scss */
.overview-test.overview-test-empty .overview-test-container .test-info .overview-test-add { color: #7c7d80; border: 1px solid #7c7d80; font-family: "proxima-nova",sans-serif; font-style: normal; font-weight: 300; font-size: 30px; line-height: 40px; display: inline-block; padding: 0; height: 40px; width: 40px; margin: 0 0 10px 0; -moz-border-radius: 60px; -webkit-border-radius: 60px; border-radius: 60px; }

/* sub-bar styles */
/*
#sub-bar {
	width: 100%;
	background: $fg-tan;
	margin: 0;
	padding: $pad*1.5 0;
	height:100px;
	
	h1 {
		float: left;
		padding: 4px 0 0 0;
		margin: 0;
		text-align: left;
		font-size: 28px;
		
		span {
			opacity: 0.5;
		}
	}
	
	.sub-bar-controls {
		float: right;
	}	
	
	.container {
		padding: 0 $pad/2;
	}
	
	&.tabbed {
		padding-bottom: 0;
		text-align: center;
	}
}

*/
/* tab-style navigation for sub-bar */
/* line 42, ../sass/_subbar.scss */
.tabbed-nav { list-style: none; padding: 0; margin: 0 auto; text-align: center; }
/* line 48, ../sass/_subbar.scss */
.tabbed-nav li { display: inline-block; padding: 0 0 10px 0; margin: 0 20px; }
/* line 53, ../sass/_subbar.scss */
.tabbed-nav li a { padding: 0; margin: 0; color: rgba(124, 125, 128, 0.3); text-decoration: none; }
/* line 59, ../sass/_subbar.scss */
.tabbed-nav li a:hover { color: #7c7d80; }
/* line 64, ../sass/_subbar.scss */
.tabbed-nav li.active { border-bottom: 3px solid #7c7d80; }
/* line 67, ../sass/_subbar.scss */
.tabbed-nav li.active a { color: #7c7d80; }

/* stepped/progress bar nav for sub-bar */
/* line 80, ../sass/_subbar.scss */
.stepped-nav { display: inline-block; list-style: none; padding: 0; margin: 0 auto; }
/* line 86, ../sass/_subbar.scss */
.stepped-nav li { text-align: center; float: left; padding: 0; margin: 0; font-size: 12px; width: 33.33%; /* step configurations */ }
/* line 94, ../sass/_subbar.scss */
.stepped-nav li a { display: block; padding: 0 0 6.66667px 0; margin: 0; color: #7c7d80; text-decoration: none; opacity: 0.6; font-family: "proxima-nova",sans-serif; font-style: normal; font-weight: 400; line-height: 14.4px; }
/* line 105, ../sass/_subbar.scss */
.stepped-nav li a:hover { opacity: 1.0; }
/* line 111, ../sass/_subbar.scss */
.stepped-nav li.step-active a { font-family: "proxima-nova",sans-serif; font-style: normal; font-weight: 600; }
/* line 116, ../sass/_subbar.scss */
.stepped-nav li .step-state { display: block; height: 20px; padding: 0; margin: 0; }
/* line 125, ../sass/_subbar.scss */
.stepped-nav li.step-left.step-active a { opacity: 1.0; }
/* line 127, ../sass/_subbar.scss */
.stepped-nav li.step-left.step-active .step-state { background: url("/layout/assets/stepped/left-active.png") no-repeat center center; background-size: cover; }
/* line 133, ../sass/_subbar.scss */
.stepped-nav li.step-left.step-completed .step-state { background: url("/layout/assets/stepped/left-completed.png") no-repeat center center; background-size: cover; }
/* line 139, ../sass/_subbar.scss */
.stepped-nav li.step-left.step-inactive .step-state { background: url("/layout/assets/stepped/left-off.png") no-repeat center center; background-size: cover; }
/* line 148, ../sass/_subbar.scss */
.stepped-nav li.step-middle.step-active a { opacity: 1.0; }
/* line 150, ../sass/_subbar.scss */
.stepped-nav li.step-middle.step-active .step-state { background: url("/layout/assets/stepped/middle-active.png") no-repeat center center; background-size: cover; }
/* line 156, ../sass/_subbar.scss */
.stepped-nav li.step-middle.step-completed .step-state { background: url("/layout/assets/stepped/middle-completed.png") no-repeat center center; background-size: cover; }
/* line 162, ../sass/_subbar.scss */
.stepped-nav li.step-middle.step-inactive .step-state { background: url("/layout/assets/stepped/middle-off.png") no-repeat center center; background-size: cover; }
/* line 171, ../sass/_subbar.scss */
.stepped-nav li.step-right.step-active a { opacity: 1.0; }
/* line 173, ../sass/_subbar.scss */
.stepped-nav li.step-right.step-active .step-state { background: url("/layout/assets/stepped/right-active.png") no-repeat center center; background-size: cover; }
/* line 179, ../sass/_subbar.scss */
.stepped-nav li.step-right.step-completed .step-state { background: url("/layout/assets/stepped/right-completed.png") no-repeat center center; background-size: cover; }
/* line 185, ../sass/_subbar.scss */
.stepped-nav li.step-right.step-inactive .step-state { background: url("/layout/assets/stepped/right-off.png") no-repeat center center; background-size: cover; }

/* editing a test */
/* line 5, ../sass/_editing.scss */
#view-editing { margin: 0; padding: 0; /* step 1 */ /* step 2 */ /* step 3 */ /* step 5 */ }
/* line 9, ../sass/_editing.scss */
#view-editing .container { padding: 20px 0 0 0; }
/* line 13, ../sass/_editing.scss */
#view-editing #header-min { padding-left: 0; padding-right: 0; }
/* line 17, ../sass/_editing.scss */
#view-editing #header-min h3 { width: 33.3%; }
/* line 22, ../sass/_editing.scss */
#view-editing .stepped-nav { float: left; width: 33.3% !important; }
/* line 31, ../sass/_editing.scss */
#view-editing .test-type { padding: 20px; margin: 20px 0; text-align: center; position: relative; border: 1px solid #f6f6f6; }
/* line 38, ../sass/_editing.scss */
#view-editing .test-type .selected-arrow { display: none; }
/* line 42, ../sass/_editing.scss */
#view-editing .test-type.selected { -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; border: 1px solid #86aa25; color: #85ac0f; }
/* line 47, ../sass/_editing.scss */
#view-editing .test-type.selected .selected-arrow { position: absolute; display: block; width: 100%; text-align: center; height: 7px; bottom: -7px; left: 0; }
/* line 56, ../sass/_editing.scss */
#view-editing .test-type.selected .selected-arrow img { width: 14px; height: auto; }
/* line 63, ../sass/_editing.scss */
#view-editing .test-type strong { border-bottom: 1px dashed #dddddd; }
/* line 67, ../sass/_editing.scss */
#view-editing .test-type img { width: 100px; height: auto; padding: 0 0 10px 0; }
/* line 77, ../sass/_editing.scss */
#view-editing .test-details { float: none; padding: 0 60px 40px 60px; margin: 20px 0; }
/* line 82, ../sass/_editing.scss */
#view-editing .test-details .input { width: 100%; }
/* line 86, ../sass/_editing.scss */
#view-editing .test-details li { padding: 0 0 20px 0; }
/* line 90, ../sass/_editing.scss */
#view-editing .test-details .test-details-devicetype { cursor: pointer; float: left; text-align: center; padding: 10px 10px 0 10px; font-size: 12px; }
/* line 97, ../sass/_editing.scss */
#view-editing .test-details .test-details-devicetype img { height: 100px; width: auto; opacity: 0.4; }
/* line 103, ../sass/_editing.scss */
#view-editing .test-details .test-details-devicetype.phone, #view-editing .test-details .test-details-devicetype.tablet { width: 25%; }
/* line 106, ../sass/_editing.scss */
#view-editing .test-details .test-details-devicetype.desktop { width: 50%; }
/* line 110, ../sass/_editing.scss */
#view-editing .test-details .test-details-devicetype.unavailable { cursor: not-allowed; }
/* line 114, ../sass/_editing.scss */
#view-editing .test-details .test-details-devicetype.selected { font-family: "proxima-nova",sans-serif; font-style: normal; font-weight: 600; color: #85ac0f; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; border: 1px solid #86aa25; }
/* line 120, ../sass/_editing.scss */
#view-editing .test-details .test-details-devicetype.selected img { opacity: 1.0; }
/* line 132, ../sass/_editing.scss */
#view-editing .test-tasks { float: none; padding: 0 60px 40px 60px; margin: 20px 0; /* steps list */ }
/* line 139, ../sass/_editing.scss */
#view-editing .test-tasks #steps { padding: 0; margin: 0; width: 100%; list-style: none; }
/* line 145, ../sass/_editing.scss */
#view-editing .test-tasks #steps li { position: relative; }
/* line 148, ../sass/_editing.scss */
#view-editing .test-tasks #steps li .step-ordering { position: absolute; top: 10px; left: -25px; width: 20px; }
/* line 155, ../sass/_editing.scss */
#view-editing .test-tasks #steps li .step-ordering { position: absolute; top: 10px; left: -25px; width: 20px; opacity: 0.2; }
/* line 162, ../sass/_editing.scss */
#view-editing .test-tasks #steps li .step-ordering div { cursor: pointer; }
/* line 166, ../sass/_editing.scss */
#view-editing .test-tasks #steps li .step-ordering:hover { opacity: 1.0; }
/* line 172, ../sass/_editing.scss */
#view-editing .test-tasks #steps li .step-contents { float: left; width: 100%; }
/* line 176, ../sass/_editing.scss */
#view-editing .test-tasks #steps li .step-contents .input { width: 100%; margin: 0 0 2px 0; }
/* line 182, ../sass/_editing.scss */
#view-editing .test-tasks #steps li .step-controls { position: absolute; width: 20px; text-align: right; top: 10px; right: -25px; }
/* line 200, ../sass/_editing.scss */
#view-editing .test-done { float: none; padding: 40px 20px 20px 20px; text-align: center; border: 1px solid #dddddd; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; margin: 0; }

/* SESSION IN PROGRESS */
/* line 5, ../sass/_testing.scss */
#view-testing { margin: 0; padding: 0; height: 100%; width: 100%; position: relative; /* the chat */ /* buttons what do stuff */ }
/* line 12, ../sass/_testing.scss */
#view-testing #testing-guide { width: 30%; height: 100%; position: absolute; padding: 20px 0 0 0; left: 0; top: 0; overflow: auto; }
/* line 24, ../sass/_testing.scss */
#view-testing .sheet-holder { width: 70%; height: 100%; padding: 20px 20px 20px 0; margin: 0; position: absolute; top: 0; right: 0; }
/* line 33, ../sass/_testing.scss */
#view-testing .sheet-holder .sheet { width: 100%; height: 100%; padding: 0; margin: 0; }
/* line 44, ../sass/_testing.scss */
#view-testing #testing-input { float: left; width: 55%; height: 100%; padding: 0 5px 0 0; margin: 0; position: relative; border-right: 1px solid #dddddd; /* suppress message-hover during running tests */ }
/* line 53, ../sass/_testing.scss */
#view-testing #testing-input #session-input { position: absolute; bottom: 0; left: 0; width: 100%; padding: 5px; height: 120px; background: white; z-index: 9999; border-top: 1px solid #dddddd; }
/* line 64, ../sass/_testing.scss */
#view-testing #testing-input #session-input textarea { width: 100%; height: 100%; margin: 0; border: none; }
/* line 78, ../sass/_testing.scss */
#view-testing #testing-input .message:hover { background: white !important; border-left: 4px solid white !important; border-right: 4px solid white !important; }
/* line 87, ../sass/_testing.scss */
#view-testing #testing-client { width: 45%; height: 100%; float: right; padding: 0; margin: 0; }
/* line 98, ../sass/_testing.scss */
#view-testing #button-endtest { position: absolute; right: 30px; top: 30px; z-index: 999999; }
/* line 105, ../sass/_testing.scss */
#view-testing #button-endtest .expand-button .expand-button-body { color: white; background: #323539; }
/* line 113, ../sass/_testing.scss */
#view-testing #button-newtask { position: absolute; right: 70.5%; bottom: 10px; z-index: 999999; margin: 0; padding: 10px; background: rgba(246, 246, 246, 0.8); -moz-border-radius: 50px; -webkit-border-radius: 50px; border-radius: 50px; }
/* line 124, ../sass/_testing.scss */
#view-testing #button-newtask .expand-button .expand-button-body { color: white; background: #85ac0f; }
/* line 129, ../sass/_testing.scss */
#view-testing #button-newtask .expand-button .expand-button-helper { background: #f6f6f6; color: #42474c; }

/* WHO ARE WE TESTING */
/* line 142, ../sass/_testing.scss */
#view-testing-userentry { position: absolute; top: 0; left: 0; width: 100%; height: 100%; overflow: hidden; background: rgba(66, 71, 76, 0.8); z-index: 999999999; color: white; margin: 0; padding: 0; text-align: center; }
/* line 156, ../sass/_testing.scss */
#view-testing-userentry .input, #view-testing-userentry .button { width: 100%; }
/* line 160, ../sass/_testing.scss */
#view-testing-userentry img { height: 40px; width: auto; }
/* line 165, ../sass/_testing.scss */
#view-testing-userentry #user-entry { width: 28%; display: block; padding: 15% 0 0 0; margin: 0 auto; }

/* observer login */
/* line 180, ../sass/_testing.scss */
#view-observer-login { background: #2e2723; background-size: cover; color: white; }
/* line 185, ../sass/_testing.scss */
#view-observer-login input, #view-observer-login button { width: 100%; }
/* line 189, ../sass/_testing.scss */
#view-observer-login #logo { margin: 0 0 20px 0; }
/* line 191, ../sass/_testing.scss */
#view-observer-login #logo img { width: auto; height: 30px; }
/* line 197, ../sass/_testing.scss */
#view-observer-login form { padding-top: 20px; }
/* line 201, ../sass/_testing.scss */
#view-observer-login #form-observer-login { margin: 40px 0 0 0; padding: 20px 20px 0 20px; background: rgba(46, 39, 35, 0.7); -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }
/* line 208, ../sass/_testing.scss */
#view-observer-login p { font-size: 12px; margin: 0; padding: 0; }
/* line 214, ../sass/_testing.scss */
#view-observer-login h2 { padding: 0; margin: 0; }

/* everything account related */
/* line 3, ../sass/_account.scss */
#view-account { margin: 0; padding: 0; /* connected app styles */ /* end connected app styles */ /* team members */ }
/* line 7, ../sass/_account.scss */
#view-account .container { padding: 20px 0 0 0; }
/* line 14, ../sass/_account.scss */
#view-account .pm-app { border: 1px solid #dddddd; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; padding: 13.33333px 20px 13.33333px 60px; margin: 0 0 13.33333px 0; }
/* line 20, ../sass/_account.scss */
#view-account .pm-app.github { background: url("/layout/assets/app-github.png") no-repeat 10px 10px; background-size: 30px 30px; }
/* line 24, ../sass/_account.scss */
#view-account .pm-app.github.connected { color: #2f2f2f; border: 1px solid #2f2f2f; }
/* line 30, ../sass/_account.scss */
#view-account .pm-app.jira { background: url("/layout/assets/app-jira.png") no-repeat 10px 10px; background-size: 30px 30px; }
/* line 34, ../sass/_account.scss */
#view-account .pm-app.jira.connected { color: #003366; border: 1px solid #003366; }
/* line 40, ../sass/_account.scss */
#view-account .pm-app.trello { background: url("/layout/assets/app-trello.png") no-repeat 10px 10px; background-size: 30px 30px; }
/* line 44, ../sass/_account.scss */
#view-account .pm-app.trello.connected { color: #247096; border: 1px solid #247096; }
/* line 50, ../sass/_account.scss */
#view-account .pm-app.connected { cursor: default; }
/* line 53, ../sass/_account.scss */
#view-account .pm-app.connected a { text-decoration: underline; }
/* line 58, ../sass/_account.scss */
#view-account .pm-app form { padding: 0; margin: 10px 0 20px 0; }
/* line 62, ../sass/_account.scss */
#view-account .pm-app form .input { width: 100%; margin: 0 0 5px 0; }
/* line 75, ../sass/_account.scss */
#view-account .team-members { padding: 0; margin: 0; list-style: none; border-top: 1px solid #dddddd; }
/* line 81, ../sass/_account.scss */
#view-account .team-members li { padding: 13.33333px 10px; margin: 0; border-bottom: 1px solid #dddddd; }
/* line 86, ../sass/_account.scss */
#view-account .team-members li .team-member-avatar { float: left; width: 24px; height: 24px; overflow: hidden; -moz-border-radius: 24px; -webkit-border-radius: 24px; border-radius: 24px; padding: 0; margin: 0 20px 0 0; }
/* line 95, ../sass/_account.scss */
#view-account .team-members li .team-member-avatar img { width: 24px; height: auto; }
/* line 102, ../sass/_account.scss */
#view-account .team-members li input { width: 80%; }
/* line 107, ../sass/_account.scss */
#view-account .team-members li .team-member-info { float: left; }
/* line 110, ../sass/_account.scss */
#view-account .team-members li .team-member-info p { color: #323539; font-size: 18px; margin: 0; padding: 1px 0 0 0; }
/* line 117, ../sass/_account.scss */
#view-account .team-members li .team-member-info .tag { padding: 0 6.66667px; }
/* line 122, ../sass/_account.scss */
#view-account .team-members li .team-member-remove { display: none; }
/* line 128, ../sass/_account.scss */
#view-account .team-members li.self:hover .team-member-remove { display: none; }
/* line 135, ../sass/_account.scss */
#view-account .team-members li:hover .team-member-remove { display: block; float: right; }
/* line 139, ../sass/_account.scss */
#view-account .team-members li:hover .team-member-remove a { text-decoration: none; }
/* line 142, ../sass/_account.scss */
#view-account .team-members li:hover .team-member-remove a:hover { color: #b5213c; }

/* message list */
/* how we style notes within summaries and reports */
/* line 8, ../sass/_messages.scss */
.message-group { margin: 0; padding: 0; }

/* message user header */
/* line 16, ../sass/_messages.scss */
.message-user { padding: 20px 40px 0 20px; color: #42474c; font-size: 12px; font-family: "proxima-nova",sans-serif; font-style: normal; font-weight: 600; }
/* line 22, ../sass/_messages.scss */
.message-user img { width: 13px; height: auto; opacity: 0.2; padding: 0; margin: 0 4px 0 0; vertical-align: text-bottom; }

/* add a new note when summarizing */
/* line 35, ../sass/_messages.scss */
.message-input { width: 100%; padding: 20px 40px; margin: 0; }
/* line 40, ../sass/_messages.scss */
.message-input .input { width: 100%; }

/* individual messages */
/* line 48, ../sass/_messages.scss */
.message { padding: 13.33333px 40px; border-left: 4px solid white; border-right: 4px solid white; position: relative; -webkit-transition-duration: 0.2s; -webkit-transition-timing: ease-out; -o-transition-duration: 0.2s; -o-transition-timing: ease-out; -moz-transition-duration: 0.2s; -moz-transition-timing: ease-out; -ms-transition-duration: 0.2s; -ms-transition-timing: ease-out; transition-duration: 0.2s; transition-timing: ease-out; }
/* line 55, ../sass/_messages.scss */
.message:hover, .message.selected { color: #42474c; background: #f3f7e7; border-left: 4px solid #9bbb3a; border-right: 4px solid #9bbb3a; -webkit-transition-duration: 0.2s; -webkit-transition-timing: ease-out; -o-transition-duration: 0.2s; -o-transition-timing: ease-out; -moz-transition-duration: 0.2s; -moz-transition-timing: ease-out; -ms-transition-duration: 0.2s; -ms-transition-timing: ease-out; transition-duration: 0.2s; transition-timing: ease-out; }
/* line 62, ../sass/_messages.scss */
.message:hover .message-details .message-edit, .message.selected .message-details .message-edit { display: block; }
/* line 66, ../sass/_messages.scss */
.message:hover .message-comment-count, .message.selected .message-comment-count { background: url("../assets/comment-active.svg") no-repeat right top; background-size: contain; color: white; }
/* line 71, ../sass/_messages.scss */
.message:hover .message-comment-count.empty, .message.selected .message-comment-count.empty { background: url("../assets/comment-active.svg") no-repeat right top; background-size: contain; color: white; }
/* line 79, ../sass/_messages.scss */
.message .message-comment-count { position: absolute; left: 102%; top: 0; padding: 6.66667px 10px 6.66667px 20px; font-size: 11px; line-height: 11px; font-family: "proxima-nova",sans-serif; font-style: normal; font-weight: 600; color: #bebebe; background: url("../assets/comment-inactive.svg") no-repeat right top; background-size: contain; cursor: pointer; }
/* line 92, ../sass/_messages.scss */
.message .message-comment-count.empty { background: url("../assets/comment-empty.svg") no-repeat right top; background-size: contain; color: #bebebe; font-family: "proxima-nova",sans-serif; font-style: normal; font-weight: 700; }
/* line 101, ../sass/_messages.scss */
.message .message-fave { float: right; }
/* line 104, ../sass/_messages.scss */
.message .message-fave img { width: auto; height: 10px; }
/* line 111, ../sass/_messages.scss */
.message .message-comments { display: none; position: absolute; left: 110%; top: 0; width: 200px; padding: 4px 0 0 0; }
/* line 119, ../sass/_messages.scss */
.message .message-comments .message-comment { font-size: 12.75px; line-height: 19.2px; }
/* line 125, ../sass/_messages.scss */
.message .message-comments small { opacity: 0.6; font-size: 10.5px; font-family: "proxima-nova",sans-serif; font-style: normal; font-weight: 300; }
/* line 132, ../sass/_messages.scss */
.message .message-comments .message-comment-submit .input { font-size: 12.75px; -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); width: 100%; height: 60px; }
/* line 142, ../sass/_messages.scss */
.message .message-details { float: left; margin: 2px 0 0 0; width: 25px; height: 16px; }
/* line 149, ../sass/_messages.scss */
.message .message-details .message-details-avatar img { width: 16px; height: 16px; }
/* line 155, ../sass/_messages.scss */
.message .message-details .message-edit { display: none; }
/* line 158, ../sass/_messages.scss */
.message .message-details .message-edit img { width: 12px; height: auto; opacity: 0.5; }
/* line 167, ../sass/_messages.scss */
.message .message-body { float: left; width: 90%; }
/* line 171, ../sass/_messages.scss */
.message .message-body p { margin-bottom: 0 !important; }
/* line 176, ../sass/_messages.scss */
.message .message-body small { display: block; margin: 0; padding: 0; opacity: 0.6; }
/* line 183, ../sass/_messages.scss */
.message .message-body textarea { width: 100%; }

/* new report & summarizing hawtness up in this piece */
/* line 4, ../sass/_findings.scss */
#view-findings { padding: 0; margin: 0; }
/* line 11, ../sass/_findings.scss */
#view-findings.show-comments .sheet-holder { left: 25%; -webkit-transition-duration: 0.2s; -webkit-transition-timing: ease-out; -o-transition-duration: 0.2s; -o-transition-timing: ease-out; -moz-transition-duration: 0.2s; -moz-transition-timing: ease-out; -ms-transition-duration: 0.2s; -ms-transition-timing: ease-out; transition-duration: 0.2s; transition-timing: ease-out; }
/* line 16, ../sass/_findings.scss */
#view-findings.show-comments #findings-nav { left: 5%; -webkit-transition-duration: 0.2s; -webkit-transition-timing: ease-out; -o-transition-duration: 0.2s; -o-transition-timing: ease-out; -moz-transition-duration: 0.2s; -moz-transition-timing: ease-out; -ms-transition-duration: 0.2s; -ms-transition-timing: ease-out; transition-duration: 0.2s; transition-timing: ease-out; }
/* line 21, ../sass/_findings.scss */
#view-findings.show-comments .message-comments { display: block; }
/* line 27, ../sass/_findings.scss */
#view-findings #findings-nav { padding: 20px 0 0 0; margin: 0; width: 20%; height: 100%; position: fixed; left: 15%; top: 0; -webkit-transition-duration: 0.2s; -webkit-transition-timing: ease-out; -o-transition-duration: 0.2s; -o-transition-timing: ease-out; -moz-transition-duration: 0.2s; -moz-transition-timing: ease-out; -ms-transition-duration: 0.2s; -ms-transition-timing: ease-out; transition-duration: 0.2s; transition-timing: ease-out; }
/* line 70, ../sass/_helpers.scss */
#view-findings #findings-nav ::-webkit-scrollbar { width: 6.66667px; }
/* line 74, ../sass/_helpers.scss */
#view-findings #findings-nav ::-webkit-scrollbar-track { background: #ececec; border-radius: 10px; }
/* line 79, ../sass/_helpers.scss */
#view-findings #findings-nav ::-webkit-scrollbar-thumb { background: #d7d7d7; border-radius: 10px; }
/* line 38, ../sass/_findings.scss */
#view-findings #findings-nav #findings-viewmode-controls { padding: 20px; width: 95%; position: absolute; left: 0; bottom: 0; }
/* line 46, ../sass/_findings.scss */
#view-findings #findings-nav #sidebar { width: 95%; height: 80%; overflow: auto; }
/* line 51, ../sass/_findings.scss */
#view-findings #findings-nav #sidebar li { width: 95%; }
/* line 57, ../sass/_findings.scss */
#view-findings .sheet-holder { position: absolute; top: 0; left: 35%; width: 50%; -webkit-transition-duration: 0.2s; -webkit-transition-timing: ease-out; -o-transition-duration: 0.2s; -o-transition-timing: ease-out; -moz-transition-duration: 0.2s; -moz-transition-timing: ease-out; -ms-transition-duration: 0.2s; -ms-transition-timing: ease-out; transition-duration: 0.2s; transition-timing: ease-out; }
/* line 66, ../sass/_findings.scss */
#view-findings .findings-header { padding: 40px; }
/* line 69, ../sass/_findings.scss */
#view-findings .findings-header h3 { padding: 0; margin: 0; }
/* line 75, ../sass/_findings.scss */
#view-findings .findings-description { padding: 0 40px 10px 40px; }
/* line 79, ../sass/_findings.scss */
#view-findings .findings-summary { width: 100%; height: 100px; padding: 20px 40px; -moz-border-radius: 0px; -webkit-border-radius: 0px; border-radius: 0px; border: none; border-top: 1px solid #dddddd; border-bottom: 1px solid #dddddd; margin: 0 0 20px 0; }

/* code that is NOT specific to a component or module */
/* line 39, ../sass/fieldguide.scss */
*, *:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

/* line 45, ../sass/fieldguide.scss */
html { margin: 0; padding: 0; }

/* line 50, ../sass/fieldguide.scss */
body { background: #f6f6f6; color: #7c7d80; margin: 0; padding: 0; }
