/*
Field Guide
Master Sass
========================
*/
/* components */
/*
variables
put all your core measurements, values etc. in here
========================
*/
/* sizing vars */
/* type vars */
/* padding/margins vars */
/*
palette
*/
/*
specific colours
*/
/* generic */
/* FG colours */
/*
interpreted colours
*/
/*
custom fonts
========================
*/
/* p n a */
/*
mixins
========================
*/
/*
helpers
========================
*/
/* line 88, ../sass/_helpers.scss */
.clear { padding: 0; margin: 0; height: 0; weight: 0; float: none; clear: both; }

/* line 97, ../sass/_helpers.scss */
.set-block { display: block; }

/* line 101, ../sass/_helpers.scss */
.pad-all { padding: 20px; }

/* line 105, ../sass/_helpers.scss */
.pad-top { padding-top: 20px; }

/* line 109, ../sass/_helpers.scss */
.pad-bottom { padding-bottom: 20px; }

/* line 113, ../sass/_helpers.scss */
.pad-none { padding: 0; }

/* line 117, ../sass/_helpers.scss */
.margin-none { margin: 0; }

/* text helpers */
/* line 124, ../sass/_helpers.scss */
.text-center { text-align: center; }

/* line 128, ../sass/_helpers.scss */
.text-left { text-align: left; }

/* line 132, ../sass/_helpers.scss */
.text-right { text-align: right; }

/* line 136, ../sass/_helpers.scss */
.pointer { cursor: pointer; }

/* floating helpers */
/* line 142, ../sass/_helpers.scss */
.float-left { float: left; }

/* line 146, ../sass/_helpers.scss */
.float-right { float: right; }

/*
typography
========================
*/
/* line 7, ../sass/_typography.scss */
html, body { width: 100%; height: 100%; }

/* line 12, ../sass/_typography.scss */
body { font-size: 16px; line-height: 24px; font-family: "proxima-nova",sans-serif; font-style: normal; font-weight: 400; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; text-rendering: optimizeLegibility; font-feature-settings: "kern"; -webkit-font-feature-settings: "kern"; -moz-font-feature-settings: "kern"; -moz-font-feature-settings: "kern=1"; }

/* headers */
/* line 28, ../sass/_typography.scss */
h1, h2, h3, h4, h5, h6 { line-height: 1; padding: 0; }
/* line 32, ../sass/_typography.scss */
h1.underline, h2.underline, h3.underline, h4.underline, h5.underline, h6.underline { margin: 0 0 20px 0; }
/* line 35, ../sass/_typography.scss */
h1.underline span, h2.underline span, h3.underline span, h4.underline span, h5.underline span, h6.underline span { border-bottom: 3px solid #e7e7da; }

/* line 41, ../sass/_typography.scss */
h1 { font-size: 32px; font-family: "proxima-nova",sans-serif; font-style: normal; font-weight: 300; letter-spacing: -1px; margin: 0 0 20px 0; }

/* line 48, ../sass/_typography.scss */
h2 { font-size: 32px; font-family: "proxima-nova",sans-serif; font-style: normal; font-weight: 300; letter-spacing: -1px; margin: 0 0 20px 0; }

/* line 55, ../sass/_typography.scss */
h3 { font-size: 20px; font-family: "proxima-nova",sans-serif; font-style: normal; font-weight: 600; margin: 0 0 10px 0; letter-spacing: -1px; }

/* line 62, ../sass/_typography.scss */
h4 { font-size: 16px; font-family: "proxima-nova",sans-serif; font-style: normal; font-weight: 600; margin: 0 0 5px 0; }

/* copy */
/* line 72, ../sass/_typography.scss */
p { padding: 0; margin: 0 0 20px 0; }

/* line 77, ../sass/_typography.scss */
strong { font-family: "proxima-nova",sans-serif; font-style: normal; font-weight: 600; }

/* line 81, ../sass/_typography.scss */
a { color: #85ac0f; font-family: "proxima-nova",sans-serif; font-style: normal; font-weight: 600; text-decoration: none; cursor: pointer; }
/* line 87, ../sass/_typography.scss */
a:hover { text-decoration: underline; color: #6c8b0c; }
/* line 92, ../sass/_typography.scss */
a.caution { color: #f37960; }
/* line 96, ../sass/_typography.scss */
a.alt { color: #0abcd7; }
/* line 98, ../sass/_typography.scss */
a.alt:hover { text-decoration: underline; color: #089eb5; }

/* line 105, ../sass/_typography.scss */
.big, big { font-size: 20px; line-height: inherit; }

/* line 109, ../sass/_typography.scss */
p.big { line-height: 30px; }

/* line 113, ../sass/_typography.scss */
.small, small { font-size: 12.8px; line-height: inherit; }

/* line 117, ../sass/_typography.scss */
p.small { line-height: 19.2px; }

/* lists */
/* line 125, ../sass/_typography.scss */
ul { padding: 0 0 0 20px; margin: 0 0 20px 0; }
/* line 129, ../sass/_typography.scss */
ul li { padding: 3.33333px 0; }
/* line 133, ../sass/_typography.scss */
ul.nobullets { list-style: none; padding: 0; }
/* line 137, ../sass/_typography.scss */
ul.nobullets label { display: block; }
/* line 142, ../sass/_typography.scss */
ul.lined { border-top: 1px solid #e7e7da; list-style: none; padding: 0; }
/* line 147, ../sass/_typography.scss */
ul.lined li { padding: 5px; border-bottom: 1px solid #e7e7da; }
/* line 153, ../sass/_typography.scss */
ul.tags { padding: 0; list-style: none; }
/* line 157, ../sass/_typography.scss */
ul.tags li { float: left; margin: 0 10px 6.66667px 0; }
/* line 161, ../sass/_typography.scss */
ul.tags li span { display: inline-block; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; background: #f2f2f0; padding: 6.66667px 10px; border: 2px solid #f2f2f0; }
/* line 169, ../sass/_typography.scss */
ul.tags li a { display: inline-block; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; background: #f2f2f0; border: 2px solid #f2f2f0; padding: 6.66667px 10px; }
/* line 176, ../sass/_typography.scss */
ul.tags li a:hover { color: #6c8b0c; }

/* nested ULs */
/* line 190, ../sass/_typography.scss */
ul.lined ul.tags li { margin: 0; border: none; }

/* if we want to use tags inline */
/* line 199, ../sass/_typography.scss */
.tag { display: inline-block; color: #0abcd7; padding: 6.66667px 10px; }

/*
FORMS!
*/
/* line 5, ../sass/_forms.scss */
form { padding: 0; margin: 0; }

/* we're classing these out rather than using the tags directly so they can be applied to more things more uniformly */
/* line 12, ../sass/_forms.scss */
.input, .button { display: inline-block; margin: 0; padding: 10px 13.33333px; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; font-family: "proxima-nova",sans-serif; font-style: normal; font-weight: 400; font-size: 12.8px; outline: none; border: none; }

/* line 26, ../sass/_forms.scss */
.input { background: white; border: 1px solid #e7e7da; }
/* line 30, ../sass/_forms.scss */
.input:focus { -webkit-box-shadow: inset 0px 0px 7px 0px rgba(0, 0, 0, 0.15); -moz-box-shadow: inset 0px 0px 7px 0px rgba(0, 0, 0, 0.15); box-shadow: inset 0px 0px 7px 0px rgba(0, 0, 0, 0.15); }
/* line 34, ../sass/_forms.scss */
.input.small { font-size: 12.8px; line-height: 1.5; }
/* line 39, ../sass/_forms.scss */
.input.tight { padding: 6.66667px 10px; }
/* line 43, ../sass/_forms.scss */
.input.hollow { background: none; border: 1px solid rgba(231, 231, 218, 0.5); }
/* line 47, ../sass/_forms.scss */
.input.hollow:focus { background: white; border: 1px solid #e7e7da; }

/* line 55, ../sass/_forms.scss */
textarea.input { line-height: 24px; }

/* line 59, ../sass/_forms.scss */
.placeholder { color: rgba(100, 106, 114, 0.6); }

/* button colour mixin */
/* line 66, ../sass/_forms.scss */
.button { background: #85ac0f; color: white; text-decoration: none; cursor: pointer; }
/* line 60, ../sass/_helpers.scss */
.button:hover { background: #7a9e0e; color: white; text-decoration: none; -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); }
/* line 70, ../sass/_forms.scss */
.button.small { font-size: 12.8px; padding: 2.5px 10px; }
/* line 76, ../sass/_forms.scss */
.button.disabled { cursor: not-allowed; opacity: 0.4; }
/* line 81, ../sass/_forms.scss */
.button.dark { background: #323539; color: white; text-decoration: none; }
/* line 60, ../sass/_helpers.scss */
.button.dark:hover { background: #2b2d31; color: white; text-decoration: none; -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); }
/* line 85, ../sass/_forms.scss */
.button.destructive { background: #f37960; color: white; text-decoration: none; }
/* line 60, ../sass/_helpers.scss */
.button.destructive:hover { background: #f26d52; color: white; text-decoration: none; -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); }
/* line 89, ../sass/_forms.scss */
.button.secondary { background: #646a72; color: white; text-decoration: none; }
/* line 60, ../sass/_helpers.scss */
.button.secondary:hover { background: #5d626a; color: white; text-decoration: none; -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); }
/* line 93, ../sass/_forms.scss */
.button.header { background: white; color: #f37960; text-decoration: none; }
/* line 60, ../sass/_helpers.scss */
.button.header:hover { background: #f7f7f7; color: #f37960; text-decoration: none; -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); }
/* line 97, ../sass/_forms.scss */
.button.hollow { background: white; color: #646a72; text-decoration: none; border: 1px solid #989da4; }
/* line 60, ../sass/_helpers.scss */
.button.hollow:hover { background: #f7f7f7; color: #646a72; text-decoration: none; -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); }
/* line 102, ../sass/_forms.scss */
.button.fake { color: #bebe9d; background: none; border: 1px solid #d2d2bc; cursor: default !important; }
/* line 108, ../sass/_forms.scss */
.button.fake:hover { background: none; -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0); -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0); box-shadow: 0 1px 3px rgba(0, 0, 0, 0); }

/* Do some stuff to deal with the reprehensible state of 'select' elements */
/* line 118, ../sass/_forms.scss */
.input-select { border: 1px solid #e7e7da; width: 100%; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; overflow: hidden; background: white url("/layout/assets/select-arrow.svg") no-repeat calc(100% - 10px) 50%; background-size: auto 18%; }
/* line 126, ../sass/_forms.scss */
.input-select select { padding: 10px 13.33333px; width: 100%; border: none; box-shadow: none; background: transparent; background-image: none; -webkit-appearance: none; -moz-appearance: none; font-family: "proxima-nova",sans-serif; font-style: normal; font-weight: 400; font-size: 16px; outline: none; border: none; }
/* line 140, ../sass/_forms.scss */
.input-select select:focus { outline: none; }

/* line 152, ../sass/_forms.scss */
label { padding: 0; margin: 0; font-size: 11.2px; opacity: 0.8; text-transform: uppercase; }

/* replace radio butts and checkboxes */
/* line 164, ../sass/_forms.scss */
.icheckbox_flat, .iradio_flat { margin: 5px 5px 0 0; vertical-align: text-bottom; }

/* fixes for stupid Firefox */
/* line 177, ../sass/_forms.scss */
button::-moz-focus-inner, input[type="reset"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, input[type="file"] > input[type="button"]::-moz-focus-inner { border: 0; padding: 0; margin: 0; }

/* line 10, ../sass/_grid.scss */
.container { max-width: 980px; margin: 0 auto; }
/* line 15, ../sass/_grid.scss */
.container:after { content: ""; display: table; clear: both; }

/* line 22, ../sass/_grid.scss */
.module { display: inline-block; float: left; padding-left: 10px; padding-right: 10px; }
/* line 28, ../sass/_grid.scss */
.module.right { float: right; }

/* line 34, ../sass/_grid.scss */
.full { width: 100%; }

/* line 35, ../sass/_grid.scss */
.half { width: 50%; }

/* line 36, ../sass/_grid.scss */
.third { width: 33.3333%; }

/* line 37, ../sass/_grid.scss */
.two-thirds { width: 66.6666%; }

/* line 38, ../sass/_grid.scss */
.quarter { width: 25%; }

/* line 39, ../sass/_grid.scss */
.three-quarters { width: 75%; }

/* line 40, ../sass/_grid.scss */
.fifth { width: 20%; }

/* line 41, ../sass/_grid.scss */
.two-fifths { width: 40%; }

/* line 42, ../sass/_grid.scss */
.three-fifths { width: 60%; }

/* line 43, ../sass/_grid.scss */
.four-fifths { width: 80%; }

/* line 44, ../sass/_grid.scss */
.sixth { width: 16.6667%; }

/* line 45, ../sass/_grid.scss */
.five-sixths { width: 83.3335%; }

/* line 46, ../sass/_grid.scss */
.eighth { width: 12.5%; }

/* line 47, ../sass/_grid.scss */
.tenth { width: 10%; }

/* line 48, ../sass/_grid.scss */
.twelfth { width: 8.3333%; }

/* line 49, ../sass/_grid.scss */
.five-twelfths { width: 41.6665%; }

/* flexible columns for three-column pages */
/* line 58, ../sass/_grid.scss */
.left-pane, .middle-pane, .right-pane, .large-pane { float: left; height: 100% !important; padding: 70px 30px 20px 30px; overtest-x: hidden; overtest-y: auto; }

/* line 66, ../sass/_grid.scss */
.left-pane, .right-pane { width: 33%; }

/* line 70, ../sass/_grid.scss */
.middle-pane { width: 34%; }

/* line 74, ../sass/_grid.scss */
.large-pane { width: 67%; }

/* components */
/* header-specific styles */
/* line 4, ../sass/_header.scss */
#header { position: fixed; top: 0; left: 0; background: rgba(243, 121, 96, 0.95); color: #872717; width: 100%; height: 60px; z-index: 999999; padding: 0 20px; font-family: "proxima-nova",sans-serif; font-style: normal; font-weight: 600; /* non-auth normal header */ }
/* line 17, ../sass/_header.scss */
#header a { color: #872717; text-decoration: none; }
/* line 21, ../sass/_header.scss */
#header a:hover { border-bottom: 2px solid rgba(135, 39, 23, 0.2); }
/* line 26, ../sass/_header.scss */
#header #header-logo { float: left; padding: 19px 0 0 0; margin: 0 20px 0 0; }
/* line 31, ../sass/_header.scss */
#header #header-logo a { border: none; }
/* line 35, ../sass/_header.scss */
#header #header-logo img { height: 20px; width: auto; }
/* line 42, ../sass/_header.scss */
#header #header-nav { float: left; font-size: 16px; }
/* line 46, ../sass/_header.scss */
#header #header-nav ul { padding: 0; margin: 0; list-style: none; }
/* line 51, ../sass/_header.scss */
#header #header-nav ul li { float: left; padding: 18.18182px 13.33333px 0 0; }
/* line 59, ../sass/_header.scss */
#header #header-account { float: right; }
/* line 62, ../sass/_header.scss */
#header #header-account #header-account-username { font-size: 12.8px; float: left; padding: 18.18182px 10px 0 0; display: block; }
/* line 69, ../sass/_header.scss */
#header #header-account #header-account-avatar { height: 28px; width: 28px; margin: 14.28571px 0 0 10px; -moz-border-radius: 20px; -webkit-border-radius: 20px; border-radius: 20px; overflow: hidden; float: left; cursor: pointer; }
/* line 78, ../sass/_header.scss */
#header #header-account #header-account-avatar img { width: 28px; height: auto; }
/* line 84, ../sass/_header.scss */
#header #header-account #header-account-dropdown { float: left; padding: 11.11111px 0 0 6.66667px; }
/* line 94, ../sass/_header.scss */
#header.header-nonauth { background: white; border-bottom: 1px solid #e7e7da; }

/* active test header */
/* header-specific styles */
/* line 108, ../sass/_header.scss */
#header-run { position: fixed; top: 0; left: 0; width: 100%; height: 50px; z-index: 999999; padding: 0; }
/* line 117, ../sass/_header.scss */
#header-run .left-pane { background: rgba(243, 121, 96, 0.95); color: #872717; height: 50px; padding: 0 20px !important; }
/* line 123, ../sass/_header.scss */
#header-run .left-pane #header-logo { float: left; padding: 15px 0 0 0; margin: 0 20px 0 0; }
/* line 128, ../sass/_header.scss */
#header-run .left-pane #header-logo a { border: none; }
/* line 132, ../sass/_header.scss */
#header-run .left-pane #header-logo img { height: 20px; width: auto; }
/* line 140, ../sass/_header.scss */
#header-run .large-pane { padding: 0 20px; background: rgba(242, 242, 240, 0.9); border-bottom: 1px solid #e1e1dd; height: 50px; overflow: hidden; }
/* line 147, ../sass/_header.scss */
#header-run .large-pane #header-buttons { float: right; padding: 10px 20px 0 0; margin: 0; }
/* line 152, ../sass/_header.scss */
#header-run .large-pane #header-buttons .button { display: none; }
/* line 158, ../sass/_header.scss */
#header-run .large-pane #header-account { float: right; cursor: pointer; }
/* line 162, ../sass/_header.scss */
#header-run .large-pane #header-account #header-account-avatar { height: 28px; width: 28px; margin: 10px 0 0 10px; -moz-border-radius: 20px; -webkit-border-radius: 20px; border-radius: 20px; overflow: hidden; float: left; }
/* line 170, ../sass/_header.scss */
#header-run .large-pane #header-account #header-account-avatar img { width: 28px; height: auto; opacity: 0.2; }
/* line 177, ../sass/_header.scss */
#header-run .large-pane #header-account #header-account-dropdown { float: left; padding: 11.11111px 0 0 6.66667px; color: #000; opacity: 0.2; }

/* the dropdown */
/* line 197, ../sass/_header.scss */
#header-account-drawer { width: 120px; padding: 0 6.66667px; position: absolute; top: 48px; right: 20px; background: #f37960; z-index: 9999999; -webkit-border-bottom-right-radius: 8px; -webkit-border-bottom-left-radius: 8px; -moz-border-radius-bottomright: 8px; -moz-border-radius-bottomleft: 8px; border-bottom-right-radius: 8px; border-bottom-left-radius: 8px; }
/* line 207, ../sass/_header.scss */
#header-account-drawer .button { width: 100%; font-family: "proxima-nova",sans-serif; font-style: normal; font-weight: 600; }
/* line 212, ../sass/_header.scss */
#header-account-drawer ul { width: 100%; padding: 0; margin: 0; list-style: none; }
/* line 218, ../sass/_header.scss */
#header-account-drawer ul li { font-size: 12.8px; padding: 6.66667px 10px; text-align: center; margin: 0; border-top: 1px solid rgba(255, 255, 255, 0.15); }

/* adjust button visibility based on where we are in the app */
/* line 236, ../sass/_header.scss */
#view-testing #header-run #header-buttons .button-testing { display: inline-block; }

/* line 245, ../sass/_header.scss */
#view-summarizing #header .button-summarizing, #view-summarizingtags #header .button-summarizing { display: inline-block; }

/* errythang for the timeline/chat */
/* line 4, ../sass/_timeline.scss */
#timeline { overtest: auto; padding: 50px 0 170px 0; height: 100%; overflow: auto; margin: 0; background: url("../assets/timeline-line.gif") repeat-y 24px top; /* first-run message on timeline */ }
/* line 12, ../sass/_timeline.scss */
#timeline ul { list-style: none; padding: 0; margin: 0; }
/* line 17, ../sass/_timeline.scss */
#timeline ul li { padding: 0; margin: 0; }
/* line 22, ../sass/_timeline.scss */
#timeline ul .message { padding: 8px 0 0 16px; line-height: 19.2px; margin: 0 0 10px 0; }
/* line 28, ../sass/_timeline.scss */
#timeline ul .message .message-details { float: left; }
/* line 31, ../sass/_timeline.scss */
#timeline ul .message .message-details .message-details-avatar { width: 20px; text-align: center; overtest: hidden; margin: 0 10px 0 0; padding: 0; background: white; font-size: 9.6px; font-family: "proxima-nova",sans-serif; font-style: normal; font-weight: 600; }
/* line 44, ../sass/_timeline.scss */
#timeline ul .message .message-body { float: left; width: 80%; color: #323539; }
/* line 49, ../sass/_timeline.scss */
#timeline ul .message .message-body p { margin-bottom: 0; }
/* line 53, ../sass/_timeline.scss */
#timeline ul .message .message-body small { font-size: 9.6px; line-height: 14.4px; opacity: 0.5; padding: 0; margin: 0; text-transform: uppercase; letter-spacing: 1px; }
/* line 71, ../sass/_timeline.scss */
#timeline #firstrun .message-body, #timeline #firstrun .message-details { padding-top: 20px; padding-bottom: 20px; }
/* line 76, ../sass/_timeline.scss */
#timeline #firstrun .message-body { color: #646a72; font-size: 16px; line-height: 24px; }
/* line 81, ../sass/_timeline.scss */
#timeline #firstrun .message-body .tag { padding: 0 5px; }

/* timeline user and device treatment // i.e., who are we testing with, and on what device? only relevant when doing testing on device */
/* line 97, ../sass/_timeline.scss */
#timeline-user #timeline-user-only { position: absolute; top: 30%; left: 0; width: 100%; text-align: center; padding: 15px 0; font-family: "proxima-nova",sans-serif; font-style: normal; font-weight: 300; }
/* line 106, ../sass/_timeline.scss */
#timeline-user #timeline-user-only .timeline-user-avatar { display: block; padding: 0; margin: 0 auto 20px auto; width: 150px; height: 150px; -moz-border-radius: 100px; -webkit-border-radius: 100px; border-radius: 100px; background: white; }
/* line 115, ../sass/_timeline.scss */
#timeline-user #timeline-user-only .timeline-user-avatar img { width: 90%; height: auto; opacity: 0.4; }
/* line 122, ../sass/_timeline.scss */
#timeline-user #timeline-user-only small { font-family: "proxima-nova",sans-serif; font-style: normal; font-weight: 400; }
/* line 128, ../sass/_timeline.scss */
#timeline-user .timeline-user-avatar { display: inline-block; vertical-align: middle; overtest: hidden; }

/* line 137, ../sass/_timeline.scss */
#timeline-device { padding: 10px; width: 100%; height: auto; border: 2px solid #e7e7da; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; margin: 40% auto 0 auto; }
/* line 146, ../sass/_timeline.scss */
#timeline-device img { width: 100%; height: auto; border: 2px solid #e7e7da; }

/* questions/list of things style */
/* line 3, ../sass/_tasklist.scss */
#tasklist { height: 100%; padding-top: 50px; background: #42474c; color: white; overflow: auto; }
/* line 11, ../sass/_tasklist.scss */
#tasklist ul { padding: 0; margin: 0; list-style: none; }
/* line 16, ../sass/_tasklist.scss */
#tasklist ul li { padding: 13.33333px 20px; margin: 0; color: #cccccc; }
/* line 21, ../sass/_tasklist.scss */
#tasklist ul li h3 { margin: 0 0 2px 0; padding: 0; font-family: "proxima-nova",sans-serif; font-style: normal; font-weight: 300; }
/* line 27, ../sass/_tasklist.scss */
#tasklist ul li p { margin: 0; padding: 0; font-size: 12.8px; line-height: 19.2px; }
/* line 34, ../sass/_tasklist.scss */
#tasklist ul li small { text-transform: uppercase; margin: 0; padding: 0; opacity: 0.5; }
/* line 41, ../sass/_tasklist.scss */
#tasklist ul li:hover { box-shadow: inset 0px 0px 0px 2px rgba(255, 255, 255, 0.2); cursor: pointer; }
/* line 46, ../sass/_tasklist.scss */
#tasklist ul li.active { background: #323539; position: relative; color: white; }
/* line 51, ../sass/_tasklist.scss */
#tasklist ul li.active:hover { cursor: auto; box-shadow: none; }
/* line 58, ../sass/_tasklist.scss */
#tasklist ul li.title:hover { cursor: auto; box-shadow: none; }

/* task control sidebar for summarizing and reports */
/* line 9, ../sass/_sidebar.scss */
#sidebar ul { padding: 0; margin: 0; list-style: none; color: #939598; }
/* line 16, ../sass/_sidebar.scss */
#sidebar ul li { padding: 13.33333px 80px 13.33333px 0; margin: 0; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; border: 2px solid white; font-family: "proxima-nova",sans-serif; font-style: normal; font-weight: 400; }
/* line 23, ../sass/_sidebar.scss */
#sidebar ul li h3 { margin: 0 0 2px 0; padding: 0; font-family: "proxima-nova",sans-serif; font-style: normal; font-weight: 400; }
/* line 29, ../sass/_sidebar.scss */
#sidebar ul li p { margin-top: 0; padding: 0; font-size: 12.8px; line-height: 19.2px; }
/* line 36, ../sass/_sidebar.scss */
#sidebar ul li small { text-transform: uppercase; margin: 0; padding: 0; opacity: 0.5; }
/* line 43, ../sass/_sidebar.scss */
#sidebar ul li:hover { color: #45494f; cursor: pointer; }
/* line 49, ../sass/_sidebar.scss */
#sidebar ul li.active { position: relative; color: #42474c; font-family: "proxima-nova",sans-serif; font-style: normal; font-weight: 600; }
/* line 55, ../sass/_sidebar.scss */
#sidebar ul li.active:hover { cursor: auto; border: 2px solid white; }
/* line 61, ../sass/_sidebar.scss */
#sidebar ul li.empty { border: none; padding: 20px 20px 5px 20px; }
/* line 65, ../sass/_sidebar.scss */
#sidebar ul li.empty:hover { cursor: auto; border: none; }
/* line 71, ../sass/_sidebar.scss */
#sidebar ul li .sidebar-visibility { float: right; display: block; padding: 2px 0 0 0; }
/* line 76, ../sass/_sidebar.scss */
#sidebar ul li .sidebar-visibility img { width: auto; height: 10px; margin: 5px 0 0 0; }

/* style up task scores when we're look at reports */
/* line 94, ../sass/_sidebar.scss */
#view-report #sidebar h3 { display: inline-block; margin: 0; width: 90%; }
/* line 100, ../sass/_sidebar.scss */
#view-report #sidebar .task-score { width: 12px; height: 12px; float: right; display: block; }

/* style up the sidebar for summarizing */
/* some stuff for summarizing */
/* line 115, ../sass/_sidebar.scss */
#view-summarizing #sidebar .step-ordering { display: none; }

/* modal styles */
/* line 3, ../sass/_modal.scss */
.modal { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba(66, 71, 76, 0.8); z-index: 99999999; }
/* line 12, ../sass/_modal.scss */
.modal .modal-interior { background: white; padding: 30px 40px 0 40px; margin: 10% 0 0 0; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; -moz-box-shadow: 0 3px 20px rgba(0, 0, 0, 0.3); -webkit-box-shadow: 0 3px 20px rgba(0, 0, 0, 0.3); box-shadow: 0 3px 20px rgba(0, 0, 0, 0.3); }
/* line 19, ../sass/_modal.scss */
.modal .modal-interior .input { width: 100%; }
/* line 23, ../sass/_modal.scss */
.modal .modal-interior li { padding: 10px 0; }
/* line 26, ../sass/_modal.scss */
.modal .modal-interior li:last-child { border: none; }
/* line 32, ../sass/_modal.scss */
.modal .modal-interior .modal-interior-title { text-align: center; margin: 0; padding: 0 0 10px 0; }
/* line 37, ../sass/_modal.scss */
.modal .modal-interior .modal-interior-title h3 { font-family: "proxima-nova",sans-serif; font-style: normal; font-weight: 300; }
/* line 41, ../sass/_modal.scss */
.modal .modal-interior .modal-interior-title img { width: 30px; height: auto; margin: 0 0 5px 0; }

/* specific views */
/* styles for bits */
/* how we style notes within summaries and reports */
/* line 7, ../sass/_elements.scss */
.message-group { margin: 0; padding: 10px 0 0 0; }
/* line 11, ../sass/_elements.scss */
.message-group.report-messages { padding: 20px 0 0 0; }
/* line 15, ../sass/_elements.scss */
.message-group.report-messages .message { padding: 10px 0; }
/* line 18, ../sass/_elements.scss */
.message-group.report-messages .message .message-body p { margin-bottom: -4px; }
/* line 22, ../sass/_elements.scss */
.message-group.report-messages .message:hover { background: none; }

/* line 33, ../sass/_elements.scss */
.message { padding: 10px 6.66667px; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; color: #939598; /* when it's the user header */ }
/* line 38, ../sass/_elements.scss */
.message:hover { color: #323539; }
/* line 41, ../sass/_elements.scss */
.message:hover .message-details .message-edit { display: block; }
/* line 50, ../sass/_elements.scss */
.message .message-details { float: left; margin: 2px 0 0 0; width: 25px; height: 16px; }
/* line 57, ../sass/_elements.scss */
.message .message-details .message-details-avatar img { width: 16px; height: 16px; }
/* line 63, ../sass/_elements.scss */
.message .message-details .message-edit { display: none; }
/* line 66, ../sass/_elements.scss */
.message .message-details .message-edit img { width: 12px; height: auto; opacity: 0.5; }
/* line 75, ../sass/_elements.scss */
.message .message-body { float: left; width: 90%; }
/* line 79, ../sass/_elements.scss */
.message .message-body p { margin-bottom: 0; }
/* line 82, ../sass/_elements.scss */
.message .message-body p .tag { padding: 0 3.33333px; }
/* line 88, ../sass/_elements.scss */
.message .message-body small { margin: 0; padding: 0; color: #939598; }
/* line 94, ../sass/_elements.scss */
.message .message-body textarea { width: 100%; }
/* line 102, ../sass/_elements.scss */
.message.message-user .message-body { width: 50%; font-size: 12.8px; text-transform: uppercase; opacity: 0.6; }
/* line 109, ../sass/_elements.scss */
.message.message-user .message-fave { font-size: 12.8px; opacity: 0.6; }
/* line 114, ../sass/_elements.scss */
.message.message-user .message-details { opacity: 0.4; }
/* line 118, ../sass/_elements.scss */
.message.message-user:hover { background: none; }

/* task rating input */
/* line 129, ../sass/_elements.scss */
.task-rating { width: 100%; background: #f2f2f0; padding: 10px; margin: 0; font-size: 12.8px; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; }
/* line 137, ../sass/_elements.scss */
.task-rating .float-left { padding-top: 3.33333px; }
/* line 142, ../sass/_elements.scss */
.task-rating .button.hollow { opacity: 0.3; }

/* task rating output */
/* line 151, ../sass/_elements.scss */
.task-score { -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; margin: 5px 0 0 0; font-size: 9.6px; font-family: "proxima-nova",sans-serif; font-style: normal; font-weight: 600; text-transform: uppercase; letter-spacing: 0; color: white; margin: 0; padding: 0 5px; }
/* line 162, ../sass/_elements.scss */
.task-score.green { background: #85ac0f; }
/* line 165, ../sass/_elements.scss */
.task-score.green.inverted { border: 2px solid #86aa25; color: #86aa25 !important; background: white; }
/* line 172, ../sass/_elements.scss */
.task-score.red { background: #f37960; }
/* line 175, ../sass/_elements.scss */
.task-score.red.inverted { border: 2px solid #f37960; color: #f37960 !important; background: white; }

/* error messaging */
/* line 187, ../sass/_elements.scss */
.messaging { width: 100%; padding: 10px; margin: 0 0 10px 0; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; text-align: center; }
/* line 194, ../sass/_elements.scss */
.messaging.messaging-problem { background: #f37960; color: white; }
/* line 200, ../sass/_elements.scss */
.messaging.messaging-success { background: #86aa25; color: white; }
/* line 205, ../sass/_elements.scss */
.messaging.messaging-neutral { background: #e7e7da; color: #646a72; }

/* quickie style for boxes with a line on top */
/* line 215, ../sass/_elements.scss */
.line-top { border-top: 1px solid #e7e7da; padding: 20px 0; margin: 20px 0 0 0; }

/* elevator buttons for sorting */
/* line 224, ../sass/_elements.scss */
.elevator { display: block; opacity: 0.5; padding: 0; font-size: 12.8px; cursor: pointer; line-height: 1.1; }
/* line 232, ../sass/_elements.scss */
.elevator:hover { opacity: 1.0; }

/* Edit mode button on the bottom of Reports*/
/* line 238, ../sass/_elements.scss */
.edit-controls { position: fixed; bottom: 40px; left: 44%; background-color: #f2f2f2; border-radius: 4px; }
/* line 245, ../sass/_elements.scss */
.edit-controls a { display: block; float: left; min-width: 100px; text-align: center; padding: 11.76471px; text-decoration: none; }
/* line 255, ../sass/_elements.scss */
.edit-controls .enabled { color: #fff; background-color: #85ac0f; }
/* line 259, ../sass/_elements.scss */
.edit-controls .enabled:hover { background-color: #7a9e0e; }
/* line 265, ../sass/_elements.scss */
.edit-controls .enabled.left { border-radius: 4px 0px 0px 4px; }
/* line 270, ../sass/_elements.scss */
.edit-controls .enabled.right { border-radius: 0px 4px 4px 0px; }
/* line 276, ../sass/_elements.scss */
.edit-controls .disabled { color: #a5a5a5; }
/* line 279, ../sass/_elements.scss */
.edit-controls .disabled:hover { border-radius: 0px 4px 4px 0px; background-color: #eaeaea; }

/* login & registration forms etc. */
/* line 3, ../sass/_login.scss */
#view-login { background: #f37960; color: white; height: 100%; padding: 15% 0 0 0; }
/* line 9, ../sass/_login.scss */
#view-login input, #view-login button { width: 100%; margin-bottom: 4px; }
/* line 15, ../sass/_login.scss */
#view-login a { color: white; }
/* line 20, ../sass/_login.scss */
#view-login #logo img { width: 70px; height: auto; }
/* line 26, ../sass/_login.scss */
#view-login .messaging { border: 1px solid rgba(255, 255, 255, 0.25); }

/* overview screen */
/* line 4, ../sass/_overview.scss */
#view-overview { margin: 0; padding: 60px 0 0 0; }
/* line 8, ../sass/_overview.scss */
#view-overview #overview-tests { padding: 40px 0; }
/* line 11, ../sass/_overview.scss */
#view-overview #overview-tests .overview-test { margin-bottom: 20px; }
/* line 14, ../sass/_overview.scss */
#view-overview #overview-tests .overview-test .overview-test-container { width: 100%; }
/* line 18, ../sass/_overview.scss */
#view-overview #overview-tests .overview-test .test-info { padding: 50px 30px 20px 30px; text-align: center; position: relative; -webkit-border-top-left-radius: 4px; -webkit-border-top-right-radius: 4px; -moz-border-radius-topleft: 4px; -moz-border-radius-topright: 4px; border-top-left-radius: 4px; border-top-right-radius: 4px; background: #f2f2f0; height: 140px; }
/* line 26, ../sass/_overview.scss */
#view-overview #overview-tests .overview-test .test-info small { text-transform: uppercase; opacity: 0.6; }
/* line 32, ../sass/_overview.scss */
#view-overview #overview-tests .overview-test .test-info:hover .editTest { display: block; }
/* line 37, ../sass/_overview.scss */
#view-overview #overview-tests .overview-test .test-info .editTest { font-size: 12.8px; position: absolute; text-align: right; height: 10px; width: 100%; top: 5px; left: 0px; text-decoration: none; display: none; padding: 5px 13.33333px; }
/* line 50, ../sass/_overview.scss */
#view-overview #overview-tests .overview-test .test-info .editTest .dangerous:hover { color: #f37960; }
/* line 56, ../sass/_overview.scss */
#view-overview #overview-tests .overview-test .test-info a { text-decoration: underline; }
/* line 60, ../sass/_overview.scss */
#view-overview #overview-tests .overview-test .test-info h3 { color: #323539; margin: 0; font-family: "proxima-nova",sans-serif; font-style: normal; font-weight: 300; font-size: 19.2px; }
/* line 68, ../sass/_overview.scss */
#view-overview #overview-tests .overview-test .test-controls { background: #85ac0f; padding: 0; height: 64px; border-radius: 0 0 2px 2px; }
/* line 74, ../sass/_overview.scss */
#view-overview #overview-tests .overview-test .test-controls a { font-size: 14.4px; padding: 22px 0; float: left; width: 50%; margin: 0; height: 64px; text-align: center; text-decoration: none; color: white; }
/* line 85, ../sass/_overview.scss */
#view-overview #overview-tests .overview-test .test-controls a:hover { background-color: #7a9e0e; }
/* line 89, ../sass/_overview.scss */
#view-overview #overview-tests .overview-test .test-controls a:hover.left { border-radius: 0 0 0 2px; }
/* line 95, ../sass/_overview.scss */
#view-overview #overview-tests .overview-test .test-controls a:hover.right { border-radius: 0 0 2px 0; }

/* sub-bar styles */
/* line 4, ../sass/_subbar.scss */
#sub-bar { width: 100%; background: #f2f2f0; margin: 0; padding: 30px 0; height: 100px; }
/* line 11, ../sass/_subbar.scss */
#sub-bar h1 { float: left; padding: 4px 0 0 0; margin: 0; text-align: left; font-size: 28px; }
/* line 18, ../sass/_subbar.scss */
#sub-bar h1 span { opacity: 0.5; }
/* line 23, ../sass/_subbar.scss */
#sub-bar .sub-bar-controls { float: right; }
/* line 27, ../sass/_subbar.scss */
#sub-bar .container { padding: 0 10px; }
/* line 31, ../sass/_subbar.scss */
#sub-bar.tabbed { padding-bottom: 0; text-align: center; }

/* tab-style navigation for sub-bar */
/* line 41, ../sass/_subbar.scss */
.tabbed-nav { list-style: none; padding: 0; margin: 0 auto; }
/* line 46, ../sass/_subbar.scss */
.tabbed-nav li { display: inline-block; padding: 0 0 20px 0; margin: 0 20px; }
/* line 51, ../sass/_subbar.scss */
.tabbed-nav li a { padding: 0; margin: 0; color: rgba(100, 106, 114, 0.3); text-decoration: none; }
/* line 57, ../sass/_subbar.scss */
.tabbed-nav li a:hover { color: #646a72; }
/* line 62, ../sass/_subbar.scss */
.tabbed-nav li.active { border-bottom: 3px solid #646a72; }
/* line 65, ../sass/_subbar.scss */
.tabbed-nav li.active a { color: #646a72; }

/* stepped/progress bar nav for sub-bar */
/* line 78, ../sass/_subbar.scss */
.stepped-nav { display: inline-block; list-style: none; padding: 0; margin: -6.66667px auto 0 auto; }
/* line 84, ../sass/_subbar.scss */
.stepped-nav li { text-align: center; float: left; padding: 0; margin: 0; font-size: 12.8px; width: 100px; /* step configurations */ }
/* line 92, ../sass/_subbar.scss */
.stepped-nav li a { display: block; min-height: 35px; padding: 0; margin: 0; color: #646a72; text-decoration: none; opacity: 0.6; font-family: "proxima-nova",sans-serif; font-style: normal; font-weight: 400; line-height: 14.4px; }
/* line 103, ../sass/_subbar.scss */
.stepped-nav li a:hover { opacity: 1.0; }
/* line 109, ../sass/_subbar.scss */
.stepped-nav li.step-active a { font-family: "proxima-nova",sans-serif; font-style: normal; font-weight: 600; }
/* line 114, ../sass/_subbar.scss */
.stepped-nav li .step-state { display: block; height: 20px; padding: 0; margin: 0; }
/* line 123, ../sass/_subbar.scss */
.stepped-nav li.step-left.step-active a { opacity: 1.0; }
/* line 125, ../sass/_subbar.scss */
.stepped-nav li.step-left.step-active .step-state { background: url("/layout/assets/stepped/left-active.png") no-repeat center center; background-size: cover; }
/* line 131, ../sass/_subbar.scss */
.stepped-nav li.step-left.step-completed .step-state { background: url("/layout/assets/stepped/left-completed.png") no-repeat center center; background-size: cover; }
/* line 137, ../sass/_subbar.scss */
.stepped-nav li.step-left.step-inactive .step-state { background: url("/layout/assets/stepped/left-off.png") no-repeat center center; background-size: cover; }
/* line 146, ../sass/_subbar.scss */
.stepped-nav li.step-middle.step-active a { opacity: 1.0; }
/* line 148, ../sass/_subbar.scss */
.stepped-nav li.step-middle.step-active .step-state { background: url("/layout/assets/stepped/middle-active.png") no-repeat center center; background-size: cover; }
/* line 154, ../sass/_subbar.scss */
.stepped-nav li.step-middle.step-completed .step-state { background: url("/layout/assets/stepped/middle-completed.png") no-repeat center center; background-size: cover; }
/* line 160, ../sass/_subbar.scss */
.stepped-nav li.step-middle.step-inactive .step-state { background: url("/layout/assets/stepped/middle-off.png") no-repeat center center; background-size: cover; }
/* line 169, ../sass/_subbar.scss */
.stepped-nav li.step-right.step-active a { opacity: 1.0; }
/* line 171, ../sass/_subbar.scss */
.stepped-nav li.step-right.step-active .step-state { background: url("/layout/assets/stepped/right-active.png") no-repeat center center; background-size: cover; }
/* line 177, ../sass/_subbar.scss */
.stepped-nav li.step-right.step-completed .step-state { background: url("/layout/assets/stepped/right-completed.png") no-repeat center center; background-size: cover; }
/* line 183, ../sass/_subbar.scss */
.stepped-nav li.step-right.step-inactive .step-state { background: url("/layout/assets/stepped/right-off.png") no-repeat center center; background-size: cover; }

/* editing a test */
/* line 5, ../sass/_editing.scss */
#view-editing { margin: 0; padding: 140px 0 0 0; /* sidebar tips */ /* step 1 */ /* step 2 */ /* step 3 */ /* step 5 */ }
/* line 10, ../sass/_editing.scss */
#view-editing .editing-container { padding: 60px 0; }
/* line 15, ../sass/_editing.scss */
#view-editing #sub-bar { position: fixed; top: 60px; left: 0; z-index: 9999; text-align: center; padding-bottom: 10px; background: rgba(242, 242, 240, 0.95); }
/* line 24, ../sass/_editing.scss */
#view-editing #sub-bar .container { position: relative; }
/* line 27, ../sass/_editing.scss */
#view-editing #sub-bar .container h1 { position: absolute; top: 5px; left: 0; margin: 0; padding: 0; }
/* line 41, ../sass/_editing.scss */
#view-editing .explanation { width: 90%; font-size: 14.4px; line-height: 21.6px; }
/* line 46, ../sass/_editing.scss */
#view-editing .explanation small { color: #c88649; text-transform: uppercase; }
/* line 51, ../sass/_editing.scss */
#view-editing .explanation p { margin: 0; padding: 10px 0 0 0; }
/* line 55, ../sass/_editing.scss */
#view-editing .explanation p strong { font-family: "proxima-nova",sans-serif; font-style: normal; font-weight: 700; }
/* line 60, ../sass/_editing.scss */
#view-editing .explanation img { display: block; width: 80%; height: auto; padding: 0; margin: 0 auto; }
/* line 68, ../sass/_editing.scss */
#view-editing .explanation .explanation-main { color: #624429; background: #fff2cd; padding: 16px 20px; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; }
/* line 75, ../sass/_editing.scss */
#view-editing .explanation .explanation-tips { color: #624429; background: #fff8e7; margin-top: 1px; padding: 16px 20px; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; }
/* line 88, ../sass/_editing.scss */
#view-editing .test-type { padding: 10px; text-align: center; position: relative; border: 1px solid white; }
/* line 94, ../sass/_editing.scss */
#view-editing .test-type .selected-arrow { display: none; }
/* line 98, ../sass/_editing.scss */
#view-editing .test-type.selected { -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; border: 1px solid #86aa25; color: #85ac0f; }
/* line 103, ../sass/_editing.scss */
#view-editing .test-type.selected .selected-arrow { position: absolute; display: block; width: 100%; text-align: center; height: 7px; bottom: -7px; left: 0; }
/* line 112, ../sass/_editing.scss */
#view-editing .test-type.selected .selected-arrow img { width: 14px; height: auto; }
/* line 119, ../sass/_editing.scss */
#view-editing .test-type strong { border-bottom: 1px dashed #e7e7da; }
/* line 123, ../sass/_editing.scss */
#view-editing .test-type img { width: 100px; height: auto; padding: 0 0 10px 0; }
/* line 133, ../sass/_editing.scss */
#view-editing .test-details { float: none; padding: 0 60px 40px 60px; margin: 20px 0; }
/* line 138, ../sass/_editing.scss */
#view-editing .test-details .input { width: 100%; }
/* line 142, ../sass/_editing.scss */
#view-editing .test-details li { padding: 0 0 20px 0; }
/* line 146, ../sass/_editing.scss */
#view-editing .test-details .test-details-devicetype { cursor: pointer; float: left; text-align: center; padding: 10px 10px 0 10px; font-size: 12.8px; }
/* line 153, ../sass/_editing.scss */
#view-editing .test-details .test-details-devicetype img { height: 100px; width: auto; opacity: 0.4; }
/* line 159, ../sass/_editing.scss */
#view-editing .test-details .test-details-devicetype.phone, #view-editing .test-details .test-details-devicetype.tablet { width: 25%; }
/* line 162, ../sass/_editing.scss */
#view-editing .test-details .test-details-devicetype.desktop { width: 50%; }
/* line 166, ../sass/_editing.scss */
#view-editing .test-details .test-details-devicetype.unavailable { cursor: not-allowed; }
/* line 170, ../sass/_editing.scss */
#view-editing .test-details .test-details-devicetype.selected { font-family: "proxima-nova",sans-serif; font-style: normal; font-weight: 600; color: #85ac0f; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; border: 1px solid #86aa25; }
/* line 176, ../sass/_editing.scss */
#view-editing .test-details .test-details-devicetype.selected img { opacity: 1.0; }
/* line 188, ../sass/_editing.scss */
#view-editing .test-tasks { float: none; padding: 0 60px 40px 60px; margin: 20px 0; /* steps list */ }
/* line 195, ../sass/_editing.scss */
#view-editing .test-tasks #steps { padding: 0; margin: 0; width: 100%; list-style: none; }
/* line 201, ../sass/_editing.scss */
#view-editing .test-tasks #steps li { position: relative; }
/* line 204, ../sass/_editing.scss */
#view-editing .test-tasks #steps li .step-ordering { position: absolute; top: 10px; left: -25px; width: 20px; }
/* line 211, ../sass/_editing.scss */
#view-editing .test-tasks #steps li .step-ordering { position: absolute; top: 10px; left: -25px; width: 20px; opacity: 0.2; }
/* line 218, ../sass/_editing.scss */
#view-editing .test-tasks #steps li .step-ordering div { cursor: pointer; }
/* line 222, ../sass/_editing.scss */
#view-editing .test-tasks #steps li .step-ordering:hover { opacity: 1.0; }
/* line 228, ../sass/_editing.scss */
#view-editing .test-tasks #steps li .step-contents { float: left; width: 100%; }
/* line 232, ../sass/_editing.scss */
#view-editing .test-tasks #steps li .step-contents .input { width: 100%; margin: 0 0 2px 0; }
/* line 238, ../sass/_editing.scss */
#view-editing .test-tasks #steps li .step-controls { position: absolute; width: 20px; text-align: right; top: 10px; right: -25px; }
/* line 256, ../sass/_editing.scss */
#view-editing .test-done { float: none; padding: 0 0 40px 0; margin: 0; }

/* SESSION IN PROGRESS */
/* line 5, ../sass/_testing.scss */
#view-testing { margin: 0; padding: 0; height: 100%; width: 100%; /* the device */ /* the chat */ }
/* line 11, ../sass/_testing.scss */
#view-testing .left-pane { padding: 0; }
/* line 17, ../sass/_testing.scss */
#view-testing .right-pane { float: right; position: relative; }
/* line 24, ../sass/_testing.scss */
#view-testing .middle-pane { padding: 0; margin: 0; position: relative; overtest: hidden; border-right: 1px solid #e7e7da; }
/* line 31, ../sass/_testing.scss */
#view-testing .middle-pane #session-input { position: absolute; bottom: 0; left: 0; width: 100%; padding: 10px; height: 150px; overtest: hidden; background: white; z-index: 9999; }
/* line 42, ../sass/_testing.scss */
#view-testing .middle-pane #session-input textarea { width: 100%; height: 100%; margin: 0; }

/* WHO ARE WE TESTING */
/* line 57, ../sass/_testing.scss */
#view-testing-userentry { position: absolute; top: 0; left: 0; width: 100%; height: 100%; overflow: hidden; background: rgba(66, 71, 76, 0.8); z-index: 999999999; color: white; margin: 0; padding: 0; text-align: center; }
/* line 71, ../sass/_testing.scss */
#view-testing-userentry .input, #view-testing-userentry .button { width: 100%; }
/* line 75, ../sass/_testing.scss */
#view-testing-userentry img { height: 40px; width: auto; }
/* line 80, ../sass/_testing.scss */
#view-testing-userentry #user-entry { width: 28%; display: block; padding: 15% 0 0 0; margin: 0 auto; }

/* observer login */
/* line 93, ../sass/_testing.scss */
#view-observer-login { background: #2e2723; background-size: cover; color: white; }
/* line 98, ../sass/_testing.scss */
#view-observer-login input, #view-observer-login button { width: 100%; }
/* line 102, ../sass/_testing.scss */
#view-observer-login #logo { margin: 0 0 20px 0; }
/* line 104, ../sass/_testing.scss */
#view-observer-login #logo img { width: auto; height: 30px; }
/* line 110, ../sass/_testing.scss */
#view-observer-login form { padding-top: 20px; }
/* line 114, ../sass/_testing.scss */
#view-observer-login #form-observer-login { margin: 40px 0 0 0; padding: 20px 20px 0 20px; background: rgba(46, 39, 35, 0.7); -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; }
/* line 121, ../sass/_testing.scss */
#view-observer-login p { font-size: 12.8px; margin: 0; padding: 0; }
/* line 127, ../sass/_testing.scss */
#view-observer-login h2 { padding: 0; margin: 0; }

/* THE SUMMARY */
/* line 4, ../sass/_summarizing.scss */
.summarizing-sub-bar { padding: 0 86px; }

/* line 9, ../sass/_summarizing.scss */
#view-summarizing { margin: 0; padding: 60px 0 80px 0; }
/* line 13, ../sass/_summarizing.scss */
#view-summarizing #summarizing-container { padding: 40px 86px; }
/* line 17, ../sass/_summarizing.scss */
#view-summarizing .message-group { margin-top: 25px; overtest: auto; }
/* line 21, ../sass/_summarizing.scss */
#view-summarizing .message-group .message { cursor: text; }
/* line 24, ../sass/_summarizing.scss */
#view-summarizing .message-group .message .message-body { width: 75%; }
/* line 29, ../sass/_summarizing.scss */
#view-summarizing .message-group .message .message-fave { float: right; margin: 3px 0 0 0; }
/* line 33, ../sass/_summarizing.scss */
#view-summarizing .message-group .message .message-fave a { text-decoration: none; display: block; width: 16px; height: 16px; }
/* line 40, ../sass/_summarizing.scss */
#view-summarizing .message-group .message .message-fave img { width: 16px; height: 16px; }
/* line 49, ../sass/_summarizing.scss */
#view-summarizing #summary-test .input { margin-top: 20px; width: 100%; height: 150px; }
/* line 56, ../sass/_summarizing.scss */
#view-summarizing #summary-tags { padding: 0; margin: 40px 0 0 0; }
/* line 62, ../sass/_summarizing.scss */
#view-summarizing #summary-task .input { margin-top: 20px; width: 100%; height: 150px; }
/* line 69, ../sass/_summarizing.scss */
#view-summarizing .summary-task-notes { margin: 40px 0 0 0; }
/* line 72, ../sass/_summarizing.scss */
#view-summarizing .summary-task-notes h4 { margin-bottom: 10px; }

/* The report */
/* line 5, ../sass/_report.scss */
#view-report { margin: 0; padding: 60px 0 80px 0; /* report content */ }
/* line 9, ../sass/_report.scss */
#view-report #report-container { padding: 40px 86px; }
/* line 14, ../sass/_report.scss */
#view-report .sub-bar-controls .input { width: 360px; height: 40px; padding: 5px 10px; padding-right: 0; }
/* line 23, ../sass/_report.scss */
#view-report .message { color: #323539; }
/* line 30, ../sass/_report.scss */
#view-report .two-thirds .task-score { float: left; }
/* line 34, ../sass/_report.scss */
#view-report .two-thirds h2 { padding-bottom: 20px; }

/* everything account related */
/* line 3, ../sass/_account.scss */
#view-account { margin: 0; padding: 50px 0 0 0; /* connected app styles */ /* end connected app styles */ /* team members */ }
/* line 7, ../sass/_account.scss */
#view-account .account-container { padding: 40px 0; }
/* line 13, ../sass/_account.scss */
#view-account .pm-app { border: 1px solid #e7e7da; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; padding: 13.33333px 20px 13.33333px 60px; margin: 0 0 13.33333px 0; }
/* line 19, ../sass/_account.scss */
#view-account .pm-app.github { background: url("/layout/assets/app-github.png") no-repeat 10px 10px; background-size: 30px 30px; }
/* line 23, ../sass/_account.scss */
#view-account .pm-app.github.connected { color: #2f2f2f; border: 1px solid #2f2f2f; }
/* line 29, ../sass/_account.scss */
#view-account .pm-app.jira { background: url("/layout/assets/app-jira.png") no-repeat 10px 10px; background-size: 30px 30px; }
/* line 33, ../sass/_account.scss */
#view-account .pm-app.jira.connected { color: #003366; border: 1px solid #003366; }
/* line 39, ../sass/_account.scss */
#view-account .pm-app.trello { background: url("/layout/assets/app-trello.png") no-repeat 10px 10px; background-size: 30px 30px; }
/* line 43, ../sass/_account.scss */
#view-account .pm-app.trello.connected { color: #247096; border: 1px solid #247096; }
/* line 49, ../sass/_account.scss */
#view-account .pm-app.connected { cursor: default; }
/* line 52, ../sass/_account.scss */
#view-account .pm-app.connected a { text-decoration: underline; }
/* line 57, ../sass/_account.scss */
#view-account .pm-app form { padding: 0; margin: 10px 0 20px 0; }
/* line 61, ../sass/_account.scss */
#view-account .pm-app form .input { width: 100%; margin: 0 0 5px 0; }
/* line 74, ../sass/_account.scss */
#view-account .team-members { padding: 0; margin: 0; list-style: none; border-top: 1px solid #e7e7da; }
/* line 80, ../sass/_account.scss */
#view-account .team-members li { padding: 13.33333px 10px; margin: 0; border-bottom: 1px solid #e7e7da; }
/* line 85, ../sass/_account.scss */
#view-account .team-members li .team-member-avatar { float: left; width: 24px; height: 24px; overflow: hidden; -moz-border-radius: 24px; -webkit-border-radius: 24px; border-radius: 24px; padding: 0; margin: 0 20px 0 0; }
/* line 94, ../sass/_account.scss */
#view-account .team-members li .team-member-avatar img { width: 24px; height: auto; }
/* line 101, ../sass/_account.scss */
#view-account .team-members li input { width: 80%; }
/* line 106, ../sass/_account.scss */
#view-account .team-members li .team-member-info { float: left; }
/* line 109, ../sass/_account.scss */
#view-account .team-members li .team-member-info p { color: #323539; font-size: 19.2px; margin: 0; padding: 1px 0 0 0; }
/* line 116, ../sass/_account.scss */
#view-account .team-members li .team-member-info .tag { padding: 0 6.66667px; }
/* line 121, ../sass/_account.scss */
#view-account .team-members li .team-member-remove { display: none; }
/* line 127, ../sass/_account.scss */
#view-account .team-members li.self:hover .team-member-remove { display: none; }
/* line 134, ../sass/_account.scss */
#view-account .team-members li:hover .team-member-remove { display: block; float: right; }
/* line 138, ../sass/_account.scss */
#view-account .team-members li:hover .team-member-remove a { text-decoration: none; }
/* line 141, ../sass/_account.scss */
#view-account .team-members li:hover .team-member-remove a:hover { color: #b5213c; }

/* code that is NOT specific to a component or module */
/* line 37, ../sass/fieldguide.scss */
*, *:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

/* line 43, ../sass/fieldguide.scss */
html { margin: 0; padding: 0; }

/* line 48, ../sass/fieldguide.scss */
body { background: white; color: #646a72; margin: 0; padding: 0; }

/* form styling */
/*
@import url("../assets/flat/flat.css");
*/
