<!-- Onboarding Step 4 -->

<div ng-show="user.onboard === 4">

	<div id="view-onboarding" class="height" ng-controller="onboard">

			<div class="onboarding-content">

				<a href="#" class="x" ng-click="$parent.onboardToggle()">&times;</a>
				<img src="layout/assets/onboarding/ranger.svg" class="ranger" alt="Field Guide ranger">

				<h2 class="less-margin">How did we get to that fancy report?<br>
				Well, let’s take a look at the note taking interface.</h2>

				<button class="button large" ng-click="$parent.changeOnboard(5)">Next</button>
			</div>
		
	</div>

</div>