<!-- Onboarding Step 3 -->

<div ng-show="user.onboard === 3">

	<div id="view-onboarding" ng-controller="onboardSteps" ng-model="onboardSteps">

			<div class="onboarding-content-footer">

				<a href="#" class="x" ng-click="$parent.onboardToggle()">&times;</a>
				<img src="layout/assets/onboarding/report.png" alt="Field Guide report">

				<footer>
					<div class="footer-content">
						<img class="ranger small" src="layout/assets/onboarding/ranger.svg" alt="">
						<p>It's a really simple way to get your high level findings out easily</p>
						<button class="button large" ng-click="$parent.changeOnboard(4)">Next</button>
					</div>
				</footer>
			</div>
			
	</div>

</div>