<!-- Onboarding Step 5 -->

<div id="view-onboarding" ng-controller="onboarding" ng-model="onboarding">

		<div class="onboarding-content-footer">

			<a href="#" class="x" ng-click="$parent.newTestModalToggle()">&times;</a>
			<img src="layout/assets/onboarding/run-test.png" alt="Field Guide report">

			<footer>
				<div class="footer-content">
					<img class="ranger small" src="layout/assets/onboarding/ranger.svg" alt="">
					<p>We'll sort your notes for you with topics and #tags</p>
					<button class="button large">Next</button>
				</div>
			</footer>
		</div>
	
</div>