<!-- Onboarding Step 6 -->

<div ng-show="user.onboard === 6">

	<div id="view-onboarding" ng-controller="onboard">

			<div class="onboarding-content-footer">

				<a href="#" class="x" ng-click="$parent.onboardToggle()">&times;</a>
				<img src="layout/assets/onboarding/summarize-test.png" alt="Field Guide report">

				<footer>
					<div class="footer-content">
						<img class="ranger small" src="layout/assets/onboarding/ranger.svg" alt="">
						<p class="two-lines">Then at the end of your test we'll give you an opportunity to summarize your test which will make it easier to create your findings</p>
						<button class="button large" ng-click="$parent.changeOnboard(7)">Next</button>
					</div>
				</footer>
			</div>
		
	</div>

</div>