<!-- Onboarding Step 2 -->

<div id="view-onboarding" class="height" ng-controller="onboarding" ng-model="onboarding">

		<div class="onboarding-content-footer">

			<a href="#" class="x" ng-click="$parent.newTestModalToggle()">&times;</a>
			<img src="layout/assets/onboarding/report.png" alt="Field Guide report">

			<footer>
				<div class="footer-content">
					<img class="ranger small" src="layout/assets/onboarding/ranger.svg" alt="">
					<p>Take a look at the report that you will eventually send to your team</p>
					<button class="button large">Next</button>
				</div>
			</footer>
		</div>
	
</div>