<!-- Onboarding Step 2 -->

<div ng-show="user.onboard === 2">

	<div id="view-onboarding" class="height" ng-controller="onboardSteps" ng-model="onboardSteps">

			<div class="onboarding-content-footer">

				<a href="#" class="x" ng-click="$parent.onboardToggle()">&times;</a>
				<img src="layout/assets/onboarding/report.png" alt="Field Guide report">

				<footer>
					<div class="footer-content">
						<img class="ranger small" src="layout/assets/onboarding/ranger.svg" alt="">
						<p>Take a look at the report that you will eventually send to your team</p>
						<button class="button large" ng-click="$parent.changeOnboard(3)">Next</button>
					</div>
				</footer>
			</div>
		
	</div>
	
</div>