<div id="view-login">

    <div class="container">
    
        <div class="module one-third">&nbsp;</div>
        
        
        <div class="module two-fifths">
            
            <p id="logo" class="text-center">
                <img src="/layout/assets/fg-binocs-header.png" />
            </p>
            
            <!-- login form -->
            <div id="form-login">
            
                <form ng-model="user" name="resetForm">
                   
                    <ul class="nobullets withlabels">
                        <li>
                        <li ng-if="successMsg" ng-bind-html="successMsg"class="text-center">
                        </li>

                        <input class="input" type="email" name="email" value="" placeholder="Your e-mail address" ng-model="email" required  ng-hide="hideMe === 'hide'"/>
                        
                        <li class="text-center" ng-hide="hideMe === 'hide'">
                            <button class="button dark" type="submit" ng-click="sendToken(email)" ng-hide="resetForm.email.$pristine || resetForm.email.$error.email || resetForm.email.$error.required">Reset password</button> 

                            <button class="button secondary" type="submit" ng-show="resetForm.email.$pristine || resetForm.email.$error.email || resetForm.email.$error.required">Reset password</button>
                        </li>
                        
                    </ul>
                </form>
                
                <p class="text-center">
                    <small>Remembered that password? <a href="/login">Return to login</a>.</small>
                    
                </p>
            
            </div>
            <!-- / login form -->
        
                
    
    </div>
</div>