<div id="view-login">
	<div class="grid pad-bottom">
	
		<div class="module third">
			
			&nbsp;
			
		</div>
		
		<div class="module third">
			
			<p id="logo" class="text-center">
				<img src="../assets/scout-rev.png" />
			</p>
			
			<form ng-model="credentials">
				<ul class="nobullets withlabels">
				
					<li>
						<input class="input" type="text" name="username" value="" placeholder="Your username" ng-model="credentials.username"/>
					</li>
					
					<li>
						<input class="input" type="password" id="field-password" name="" value="" placeholder="Your password"  ng-model="credentials.password"/>
					</li>
								
					<li>
						<button class="button" type="submit" ng-click="login(credentials)">Login</button> 
						<button class="button" type="submit" ng-click="register()">Register?</button> 
					</li>
					
				</ul>
			</form>
			
		</div>
		
		
		
	
	</div>
</div>