<div id="view-login">

	<div class="container">

			<div class="module full">
				
				<div class="module-container">

					<p id="logo" class="text-center">
						<img src="/layout/assets/fg-binocs-header.png" />
					</p>
					
					<!-- login form -->
					<div id="form-login">
					
						<form name="form-login" ng-model="user" ng-submit="login(user)" class="clearfix">
							<ul class="nobullets withlabels">
								<li ng-show="flashmessage" class="messaging messaging-problem">{{flashmessage}}
								</li>
								<li>
									<input class="input" type="text" name="username" value="" placeholder="Email" ng-model="user.email" required/>
								</li>
								
								<li>
									<input class="input" type="password" id="field-password" name="" value="" placeholder="Password"  ng-model="user.password" required/>
								</li>
								
								<li class="text-center">
									<button class="submit button green" type="submit" ng-click="login(user)">Sign in</button> 
								</li>
							</ul>
						</form>
						
						<div class="alt-info text-center">
							<p>Don&rsquo;t have an account? <a href="/register">Register now</a>.</p>
							<p>Forgot your password? <a href="/forgot">Click here to reset</a>.</p>
						</div>
					
					</div>
					<!-- / login form -->
				
				</div>
		
			</div>

	</div>
</div>