<div id="view-login" ng-controller="register">

	<div class="container">

			<div class="module full">
				
				<div class="module-container">
					
					<div class="module-content">
						<p id="logo" class="text-center">
							<img src="/layout/assets/fg-binocs-grey.svg" />
						</p>
						
						<h1>Register for Field Guide</h1>
						<!-- signup form form -->
						<div id="form-signup">
						
							<form name="regForm" ng-model="user">
								<ul class="nobullets withlabels">
									<li ng-bind-html="flashmessage" ng-show="flashmessage" class="messaging messaging-problem">
									</li>

									<li>
										<input class="input" type="text" name="realname" value="" placeholder="Name" ng-model="user.name"/>
									</li>
									
									<li>
										<input class="input" type="email" name="usermail" value="" placeholder="Email" ng-class="{'error-outline': regForm.usermailConfirm.$error.match && !regForm.usermailConfirm.$pristine}" ng-model="user.email" required /> 

										<div class="error-msg" ng-show="regForm.usermail.$error.email && !regForm.usermail.$pristine">
											<span>Please enter a valid email.</span>
										</div>
									</li>

									<li>
										<input class="input" type="email" name="usermailConfirm" value="" placeholder="Confirm email" ng-model="user.emailConfirm" ng-class="{'error-outline': regForm.usermailConfirm.$error.match && !regForm.usermailConfirm.$pristine}" ng-match="user.email" required/> 

										<div class="error-msg" ng-show="regForm.usermailConfirm.$error.match && !regForm.usermailConfirm.$pristine">
											<span>Email address does not match.</span>
										</div>

									</li>
									
									<li>
										<input class="input" type="password" name="password" id="field-password" value="" placeholder="Password" ng-model="user.password" ng-class="{'error': regForm.confirm.$error.match && !regForm.confirm.$pristine}" required/>
			                        </li>
									
									<li>
										<input class="input" type="password" name="confirm" id="confirm-password" value="" placeholder="Confirm password" ng-model="user.passwordConfirm" ng-class="{'error': regForm.confirm.$error.match && !regForm.confirm.$pristine}" ng-match="user.password" required/>
										<span class="small" ng-show="regForm.confirm.$error.match && !regForm.confirm.$pristine" >&times; Passwords do not match.</span>
									</li>
									
									<li>
										<button class="submit button green" type="submit" ng-click="register(user)" ng-if="!((regForm.confirm.$error.match && !regForm.confirm.$pristine) || (regForm.usermailConfirm.$error.match && !regForm.usermailConfirm.$pristine))"
										>Create account</button>
										<button class="submit button dark" ng-if="(regForm.confirm.$error.match && !regForm.confirm.$pristine) || (regForm.usermailConfirm.$error.match && !regForm.usermailConfirm.$pristine)">Create account</button> 
									</li>
									
								</ul>
							</form>
						
						</div>
						<!-- / signup form -->

					</div>

					<div class="module-content footer">
						<div class="alt-info text-center">
							<p>Already have an account? <a href="/login">Sign in</a>.</p>
						</div>
						
					</div>
				</div>
		
			</div>

	</div>
</div>