
<div id="view-createsession">

<!-- / header block -->



<!-- header nav -->

<div id="header">

	<div id="header-logo">
		<img src="../assets/scout-rev.png" />
	</div>

	<div id="header-title">Creating a session</div>

	<div id="header-account">
		<div id="header-account-avatar">
			<img src="https://s3.amazonaws.com/uifaces/faces/twitter/jackiesaik/128.jpg">
		</div>
		<div id="header-account-dropdown">&#9662;</div>
	</div>




</div>

<!-- / header nav -->



<!-- create a session -->

<div id="left-pane">
	&nbsp;
</div>


<div id="middle-pane">
	<h3> Create a session</h3>
	<p>A session is a container for your flows.</p>


	<ul class="lined">
		<li>
			<label for="field-flowname">Session name</label><br>
			<input class="input" type="text" id="field-flowname" placeholder="e.g. 'Checkout processes'" />
			<p>Give meaningful names to your sessions to help you organize them later: think about 
			what&rsquo;s being tested. e.g. "New account signups", etc.</p>
		</li>

		<li>
			<button class="button">&check; Create session</button>
		</li>



	</ul>


</div>



<div id="right-pane">
	&nbsp;
</div>
<!-- / create a flow -->

</div>