<!-- header -->

<div id="header">
	
	<div id="header-logo">
		<a href="/"><img src="/assets/fg-binocs-header.png" /></a> 
	</div>
	
	<div id="header-nav">
		<ul>
			<li><a href="/">Nav</a></li>
			<li><a href="/">Other Nav</a></li>
		</ul>
	</div>
	
	
	
	<div id="header-account">
		<div id="header-account-avatar">
			<img src="https://s3.amazonaws.com/uifaces/faces/twitter/jackiesaik/128.jpg">
		</div>
		<div id="header-account-dropdown">&#9662;</div>
	</div>			


	<div id="header-buttons">
		<!-- creating a flow -->
		<a href="/"><button class="button small header button-createflow" ng-click="updateFlow()">&check; Done creating flow</button></a>
		
		<!-- running a test -->
		<a href="/"><button class="button small header button-testing">Stop Testing</button></a>
		
		<!-- summarizing -->
		<button class="button small header button-summarizing" ng-click="summary_tags(flow)">Add summaries for tags &raquo;</button>
		<button class="button small header button-summarizing" ng-click="completeSummary(flow)">&check; Done Summarizing</button>
	</div>


	<div class="clear"></div>

</div>

<!-- /header -->