<div id="view-overview-neu" ng-controller="overview">
	
	<ng-include src="'partials/header.html'"></ng-include>
	


	
	<div id="left-pane" ng-model="sessions">
		
		<div id="questions">
			
			<div class="questions-group active">
				<ul>
					<li class="test-newtest">
						<div class="test-newtest-create">
							<button class="button" ng-click="addSession()">+ Add a new test</button>		
						</div>
					</li>
					
					<li class="question" ng-repeat="session in sessions track by $index" ng-click="select(session)" ng-class="{ 'active': session._id == selected._id}">
						<div class="test-controls">
							<button class="button small secondary" ng-click="runTest(session)" ng-show="session.tests.length > 0 && session.tests[0].steps.length > 0">Run Test</button>
							
							<button class="button small" ng-click="loadReport(session._id)" ng-show="session.runcount > 0">Report</button>
							
							<button class="button small destructive" ng-click="removeSession(session)">&times;</button> 
						</div>
						
						<div class="session-name">
							<h4 ng-hide="session.editing">
								<img src="/assets/pencil-rev.svg" ng-click="editTitle(session)">&nbsp;&nbsp;{{session.name}} {{session.runcount}}
							</h4>
							<form ng-show="session.editing">
								<input class="edit input" ng-trim="true" ng-model="session.name" ng-focus="editTitle(session)" ng-blur="blurTitle(session)">
							</form>
						</div>
						<small ng-show='test.updated > test.created'>Last run {{test.updated | date: 'MMM dd, yyyy'}} / 
							<ng-pluralize count="ssincount"
		                		when="{'0': 'Never run.',
		                       'one': 'One participants',
		                       'other': '{} participants'}">
  							</ng-pluralize>
  					</small>	
					</li>
				</ul>
			</div>
			
	
		</div>
			
	</div>
	
	
	<div id="large-pane">
	
	<!-- show the tests associated with this test -->
		<div ng-model="selected" ng-show="selected">
			<h3><span>{{selected.name}}</span></h3>
			
				
			<div class="session-test" ng-repeat="test in selected.tests | orderBy:'created'">
				<div class="test-hamburger">
					&equiv;
				</div>
			
				<div class="session-test-controls">
					<button class="button small" ng-click="summarizetest(test._id)" ng-show="!test.summary" >Summarize</button>

					<button class="button small" ng-click="summarizetest(test._id)" ng-show="test.summary" >Summary</button>
					
					&nbsp;&nbsp;
					
					<!-- TODO: we want to view a report just for this test -->
					<button class="button small" ng-click="viewtestReport(test._id)" ng-show="test.summary" >View Report</button> 
					
					&nbsp;&nbsp;

					<button class="button small secondary" ng-click="edittest(test)" ng-hide="test.count > 0" >Edit</button>
					
					<button class="button small destructive" ng-click="removetest(test)">&times;</button>
				</div>	
				
				<small>test 
					<ng-pluralize count="test.count"
                		when="{'0': 'never run.',
                       'one': 'run once.',
                       '2': 'run twice.',
                       'other': 'run {} times.'}">
					</ng-pluralize>
  				</small>
				<h3>{{test.name}}</h3>
				<p>{{test.summary}}</p>
				<div class="clear"></div>
				
			</div>	
				
				
			<div class="session-test empty">
				<button class="button" ng-click="postTest(selected)">+ Add a new test</button>		
			</div>	</div>
			
	</div>
</div>