<!-- overview.html -->
<div id="view-overview" ng-controller="overview">
<!-- / header block -->



<!-- header nav -->

<div id="header">
			
	
	<div id="header-logo">
		<img src="/assets/scout-rev.png" /> 
	</div>
	
	<div id="header-title">Sessions</div>
	
	<div id="header-account">
		<div id="header-account-avatar">
			<img src="https://s3.amazonaws.com/uifaces/faces/twitter/jackiesaik/128.jpg">
		</div>
		<div id="header-account-dropdown">&#9662;</div>
	</div>
	
	
	<div id="header-nav">
		<a href="#"><button class="button small" ng-click="addTest(test)">+ New Test</button></a>
	</div>

</div>

<!-- / header nav -->



<!-- view sessions -->

<!-- session block -->
<div ng-model="sessions" >
 <div >
	<div class="grid pad-bottom session" ng-repeat="session in sessions | unique:'testKey'">	
	
		<div class="module full session-meta">
			
			<div class="session-name" ng-click="editTitle(session)" ng-hide="session.editing"><h4>{{session.name}} {{session.testKey}} </h4></div>
			<form ng-show="session.editing">
				<input class="edit" ng-trim="true" ng-model="session.name" ng-focus="editTitle(session)" ng-blur="blurTitle(session)">
			</form>
			
			<div class="session-controls">
				<button class="button small" ng-click="addAndLaunchNewSession(session)">Run</button>
				<button class="button small">Report</button>
				<button class="button small destructive" ng-click="removeTest(session)">&times;</button>
			</div>
			<div class="clear"></div>
		</div>	
	
							
		<div class="module quarter"  ng-repeat="flow in session.flows track by $index">
			<div class="session-flow">
				<small>Flow</small>
				<h3>{{flow.title}}</h3>
				<ul class="nobullets">
					<li><a href="#"><img src="../assets/platform-icons/tablet.svg"/> Prototype</a></li>
					<li>{{flow.steps.length }} steps</li>
					<li ng-show='flow.updated'>Last run {{flow.updated | date: 'MMM dd, yyyy'}}</li>
				</ul>
				
				<div class="session-flow-controls">
					<button class="button small" ng-click="summarizeFlow(session.testKey, flow.name)">Summary</button>
					<button class="button small secondary" ng-click="editFlow(flow)"><a href="/edit/{{session._id}}/flow/{{flow._id}}">Edit</a></button>
					<button class="button small destructive" ng-click="removeFlow($parent.$index, $index)">&times;</button>
				</div>
				
			</div>
		</div>
		
		<div class="module quarter" >
			<div class="session-flow empty">
				<button class="button" ng-click="addAFlow($index, session)">+ Add A Flow</button>
			</div>
		</div>

	</div>
</div>
</div>
<!-- / session block -->

<!-- / view sessions -->




<!-- footer block -->
</div>