<!-- register_user.html -->

<!-- participant definition overlay -->
<div id="view-testing-userentry" ng-hide="test.user_id">
    
    <div class="module third">&nbsp;</div>
        
    <div class="module third">
    
        <img src="/layout/assets/avatar-rev.svg" />
        
        <p>Who are you testing with?</p>
        
        <ul class="nobullets">
            <li>
                <input class="input" type="text" name="participantname" value="" placeholder="Participant&rsquo;s name" ng-model="user" />
            </li>
            <li><button class="button" type="submit">Start testing!</button></li>   
        </ul>
        
    </div>
    
    <div class="clear"></div>
</div>