<div id="view-report" ng-controller='report'>
<div ng-model="session">
	
		<div id="header">
			
			<div id="header-logo">
				&nbsp;
			</div>
			
			<div id="header-title">Report</div>
		
		</div>
		
		<!-- / header nav -->
		
		<div id="left-pane">
			
			<div id="questions">
		
			<div class="questions-group active">
				<ul ng-repeat="flow in session.summaries">
						<!-- flow title --><small>Flow</small> {{flow._id}}
						<li class="question" ng-repeat="step in flow.steps" ng-click="select(flow)">
								{{step.name}}<div class="question-rating red"></div>
						</li>
					</li>
					</ul>
				</div>
			</div>	
				
		</div>
		
		
		
		
		
		<div id="large-pane">
			
			<!-- flow general info -->
			<h1>{{selected._id}}</h1>
			<p class="report-detail">Report generated July 12 2014</p>		
			<p>{{selected.summary}}</p>
			<p class="report-participants">
				 <ng-pluralize count="session.users.length"
	                when="{'0': 'This flow has not been run.',
	                       'one': 'This flow has been tested once.',
	                       'other': 'This flow has been tested {} times.'}">
	  			</ng-pluralize>
			</p>
				
			<ul class="report-participants">
				<li ng-repeat="user in selected.users"><div class="report-part-img"><img src="http://rdjpg.com/40/40" /></div>{{user}}</li>
			</ul>
		
			
			<!-- flow theme summary -->
			<div class="report-block">
				<h2><span>Theme:</span> Language</h2>
				<p class="report-detail">Mentioned 8 times</p>	
				<p>Meatball boudin salami jerky bresaola tri-tip ribeye sausage chicken flank tenderloin leberkas rump. Brisket pork chop flank meatloaf boudin rump sausage meatball pastrami. Landjaeger ribeye tongue chuck, short loin short ribs ball tip. Rump venison beef flank. Rump boudin venison tri-tip sirloin meatball.
				</p>
				
				<div class="theme-messages">
			
					<div class="message">
						<div class="message-details">
							<div class="message-details-avatar">
								<img src="http://rdjpg.com/30/30" />
							</div>
						</div>
						<div class="message-body">
							<p><span class="tag">#language</span> <span class="tag">#note</span> Hashtags can also go at the front</p>
							<small>Testing with Jennifer</small>
						</div>
						<div class="clear"></div>
					</div>
					
					<div class="message">
						<div class="message-details">
							<div class="message-details-avatar">
								<img src="http://rdjpg.com/31/31" />
							</div>
						</div>
						<div class="message-body">
							<p>He seemed to be having a lot of trouble understanding that word<span class="tag">#language</span></p>
							<small>Testing with Ben</small>
						</div>
						<div class="clear"></div>
					</div>
					
			
				</div>
				
			</div>
			
			
			<!-- flow theme summary -->
			<div class="report-block">
				<h2><span>Theme:</span> Pies</h2>
				<p class="report-detail">Mentioned 8 times</p>	
				<p>Meatball boudin salami jerky bresaola tri-tip ribeye sausage chicken flank tenderloin leberkas rump. Brisket pork chop flank meatloaf boudin rump sausage meatball pastrami. Landjaeger ribeye tongue chuck, short loin short ribs ball tip. Rump venison beef flank. Rump boudin venison tri-tip sirloin meatball.
				</p>
				
				<div class="theme-messages">
			
					<div class="message">
						<div class="message-details">
							<div class="message-details-avatar">
								<img src="http://rdjpg.com/30/30" />
							</div>
						</div>
						<div class="message-body">
							<p><span class="tag">#language</span> <span class="tag">#note</span> Hashtags can also go at the front</p>
							<small>Testing with Jennifer</small>
						</div>
						<div class="clear"></div>
					</div>
					
					<div class="message">
						<div class="message-details">
							<div class="message-details-avatar">
								<img src="http://rdjpg.com/31/31" />
							</div>
						</div>
						<div class="message-body">
							<p>He seemed to be having a lot of trouble understanding that word <span class="tag">#language</span></p>
							<small>Testing with Ben</small>
						</div>
						<div class="clear"></div>
					</div>
					
			
				</div>
				
			</div>
			
			
			
				
		</div>
</div>
</div>