<!-- report_steps -->

		<div class="report-title">
	
			<h2 class="float-left">{{selected.name}}
				<div class="question-rating green" ng-show="selected.pass_fail == true"></div>
				<div class="question-rating red" ng-show="selected.pass_fail == false"></div>
			</h2>
			
			<!-- play media -->
			<div class="float-right">
				<button class="button">&#9654; Watch User Interactions</button>
			</div>
			
			<div class="clear"></div>
			
			<!-- captured media here -->
			<object width="100%" height="400"><param name="movie" value="//www.youtube.com/v/gZuDMKXWU_E?hl=en_US&amp;version=3&amp;rel=0"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="//www.youtube.com/v/gZuDMKXWU_E?hl=en_US&amp;version=3&amp;rel=0" type="application/x-shockwave-flash" width="100%" height="400" allowscriptaccess="always" allowfullscreen="true"></embed></object>			
			
		</div>
		
	
		<p><strong>These are the questions for this step, short loin short ribs ball tip. Rump tri-tip ribeye sausage chicken flank tenderloin leberkas rump venison beef flank. Rump boudin venison tri-tip sirloin meatball.</strong>
		</p>
		
		<h3><span>Summary</span></h3>
	
		<p>{{selected.summary}}
			<br/>
		</p>
			
		<h3><span>Quotes</span></h3>
			
		<div class="theme-messages">
		
				<div class="message" >
					<div class="message-details">
						<div class="message-details-avatar">
							<img src="http://rdjpg.com/30/30" />
						</div>
					</div>
					<div class="message-body">
						<p><span class="tag">#pizza</span> <span class="tag">#fanboat</span> Hashtags can also go at the front</p>
						<small>Testing with Jennifer</small>
					</div>
					<div class="clear"></div>
				</div>
				
				<div class="message">
					<div class="message-details">
						<div class="message-details-avatar">
							<img src="http://rdjpg.com/31/31" />
						</div>
					</div>
					<div class="message-body">
						<p>The abort button also destroys all the satellites, which seems weird <span class="tag">#cobra</span></p>
						<small>Testing with Ben</small>
					</div>
					<div class="clear"></div>
				</div>
				
				<div class="message">
					<div class="message-details">
						<div class="message-details-avatar">
							<img src="http://rdjpg.com/32/31" />
						</div>
					</div>
					<div class="message-body">
						<p>It's strange that Snake Eyes walks around in his full armour like all the time <span class="tag">#gijoe</span></p>
						<small>Testing with Jennifer</small>
					</div>
					<div class="clear"></div>
				</div>

			</div>
