<div id="view-report" ng-controller='report'>
<div ng-model="session">
	
		<ng-include src="'partials/header.html'"></ng-include>
		
		<!-- / header nav -->
		
		<div id="left-pane">
			
			<div id="questions">
		
			<div class="questions-group active">
				<ul ng-repeat="flow in session.summaries">
						<li ui-sref=".flow" ng-click="select(flow)" ng-class="{ 'active': flow.title == selected.title}">
							<!-- flow title --><small>Flow</small> {{flow.title}}
						</li>
						<li ui-sref=".step" ng-click="select(step)" class="question" ng-class="{ 'active': step.name == selected.name}" ng-repeat="step in flow.steps" >
								{{step.name}}
								<div class="question-rating green" ng-show="step.pass_fail == true" ></div>
								<div class="question-rating red" ng-show="step.pass_fail == false"></div>
						</li>
					</ul>
				</div>
			</div>	
				
		</div>		
		
		<div id="large-pane" ui-view >
			<!-- looking for your views? they're in partials>> report_flow report_step -->
		</div>
</div>