<div id="view-testing" ng-controller="runSession">
	
	<div id="header">
		
		<div id="header-logo">
			<img src="../assets/scout-rev.png" />
		</div>
		
		<div id="header-title">Testing &ldquo;{{session.name}}&rdquo;</div>
		
		<div id="header-account">
			<div id="header-account-avatar">
				<img src="https://s3.amazonaws.com/uifaces/faces/twitter/jackiesaik/128.jpg">
			</div>
			<div id="header-account-dropdown">&#9662;</div>
		</div>
		
		
		<div id="header-nav">
			<button class="button secondary small">Mute Mic</button>
			<button class="button small">Stop Testing</button>
		</div>
				
				
	
	</div>
	
	<!-- / header nav -->
	
	
	
	<!-- create a flow -->
	
	<div id="left-pane">
		
		<div id="questions">
	
			<div class="questions-group" ng-repeat="flow in flows">
				<small>Flow</small>
				<h3>{{flow.title}}</h3>
				<ul>
					<li ng-repeat="step in flow.steps" 
						ng-class="{ 'active': $index == selectedIndex }"
             			ng-click="activate($index)">
						<h3>{{step.title}}</h3>
						<p>{{step.desc}}</p>
					</li>
				</ul>
			</div>
			
		</div>
			
	</div>
	
	<div id="middle-pane">
		
		<div id="session-input">
			<textarea class="input" name="field-input" placeholder="Your notes" /></textarea>
		</div>
		
		<div id="timeline">
			<ul>
						
				<li class="message status">
					<div class="message-details">
						<div class="message-details-avatar">
							&nbsp;
						</div>
					</div>
					<strong>Starting Session</strong>
				</li>
				
				<li class="message title">
					<div class="message-details">
						<div class="message-details-avatar">
							&nbsp;
						</div>
					</div>
					<small>Starting flow</small><br><strong>&ldquo;User Account Change&rdquo;</strong>
				</li>
				
				<li class="message title">
					<div class="message-details">
						<div class="message-details-avatar">
							&nbsp;
						</div>
					</div>
					<small>Testing step</small><br><strong>&ldquo;Log into your account&rdquo;</strong>
				</li>
				
				<li class="message">
					<div class="message-details">
						<div class="message-details-avatar">
							<img src="https://s3.amazonaws.com/uifaces/faces/twitter/jackiesaik/128.jpg" />
						</div>
					</div>
					<div class="message-body">
						<p>This is the body of this message but a longer one this time hello how are you <span class="tag">#quote</span></p>
						<small>Jennifer &mdash; 05:32</small>
					</div>
					<div class="clear"></div>
				</li>
				
				<li class="message">
					<div class="message-details">
						<div class="message-details-avatar">
							<img src="http://rdjpg.com/30/30" />
						</div>
					</div>
					<div class="message-body">
						<p>This is the body of this message, somebody typed this <span class="tag">#hashtag</span></p>
						<small>Jimmy &mdash; 05:32</small>
					</div>
					<div class="clear"></div>
				</li>
				
				<li class="message title">
					<div class="message-details">
						<div class="message-details-avatar">
							&nbsp;
						</div>
					</div>
					<small>Testing step</small><br><strong>&ldquo;Check your account&rdquo;</strong>
				</li>
				
				<li class="message">
					<div class="message-details">
						<div class="message-details-avatar">
							<img src="https://s3.amazonaws.com/uifaces/faces/twitter/jackiesaik/128.jpg" />
						</div>
					</div>
					<div class="message-body">
						<p>This is the body of this message but a longer one this time hello how are you <span class="tag">#quote</span></p>
						<small>Jennifer &mdash; 05:32</small>
					</div>
					<div class="clear"></div>
				</li>
				
				<li class="message">
					<div class="message-details">
						<div class="message-details-avatar">
							<img src="http://rdjpg.com/30/30" />
						</div>
					</div>
					<div class="message-body">
						<p>This is the body of this message, somebody typed this <span class="tag">#hashtag</span></p>
						<small>Jimmy &mdash; 05:32</small>
					</div>
					<div class="clear"></div>
				</li>
				
				<li class="message">
					<div class="message-details">
						<div class="message-details-avatar">
							<img src="http://rdjpg.com/30/30" />
						</div>
					</div>
					<div class="message-body">
						<p><span class="tag">#success</span> <span class="tag">#note</span> Hashtags can also go at the front</p>
						<small>Jimmy &mdash; 05:32</small>
					</div>
					<div class="clear"></div>
				</li>
			
			</ul>
		</div>
		
	</div>
	
	
	
	
	<div id="right-pane">
		
		<div id="stream-user">
			<div class="stream-user-avatar">
				<img src="http://rdjpg.com/30/30">
			</div>
			
			Robertolomew Downeyjunior
			
		</div>
		
		<div id="stream-device">
			<div class="stream-device-device">
				<img src="../assets/device-stream.jpg" />
			</div>
		</div>
		
		<div id="stream-timer">
			<h3>05:37</h3>
		</div>
			
	</div>
</div>