<div id="view-testing" ng-controller="run">
	
	<div id="header">
		
		<div id="header-logo">
			&nbsp;
		</div>
		
		<div id="header-title">Testing &ldquo;{{session.name}}&rdquo;</div>
		
		<div id="header-account">
			<div id="header-account-avatar">
				<img src="https://s3.amazonaws.com/uifaces/faces/twitter/jackiesaik/128.jpg">
			</div>
			<div id="header-account-dropdown">&#9662;</div>
		</div>
		
		
		<div id="header-nav">
			<!--<button class="button secondary small">Mute Mic</button>-->
			<button class="button small"><a href="/">Stop Testing</a></button>
		</div>
	</div>
	
	<!-- / header nav -->
	
	
	
	<!-- create a flow -->
	
	<div id="left-pane">
		
		<div id="questions">
	
			<div class="questions-group" ng-repeat="flow in flows" ng-class="{ 'active': $index == parentIndex }">
				
				<ul>
					<li class="title"><small>Flow</small><h3>{{flow.title}}</h3></li>
				
					<li ng-repeat="step in flow.steps" 
						ng-class="{ 'active': $index == selectedIndex && $parent.$index == parentIndex }"
             			ng-click="activate($index, $parent.$index, step)">
             			
             			<span>{{step.title}}</span>
             			
						<h3>{{step.title}}</h3>
						<p>{{step.desc}}</p>
					</li>
				</ul>
			</div>
			
		</div>
			
	</div>
	
	<div id="middle-pane" >
		<div id="session-input" ng-model="user" >
			<textarea class="input" ng-model='user.name' name="field-input" placeholder="please enter the username to begin" ui-keypress="{13:'addUser(user.name)'}" ng-show="!user.toggle"/>
			</textarea>
			<textarea class="input" ng-model='message' name="field-input" placeholder="Your notes" ui-keypress="{13:'putMessage(message)'}" ng-show="user.toggle"/>
			</textarea>
		</div>

		<div id="timeline" >
			<ul ng-model='timeline'>
						
				<li class="message" ng-repeat="message in timeline track by $index">
					<div class="message-user"> <!-- misleading, is JUST user images -->
							<div class="message-details-avatar">
							</div>
					</div>

					<div class="message-body">
						<small>{{message.title}}</small><br>
						{{message.body}}<br>
						<small>MODERATOR OR OBSERVER NAME {{message.created | date : 'hh:mm'}}</small>

					</div>
					
					<div class="message-details">
						<small><!-- {{message.user}} &mdash; {{message.created | date : HH:mm}}--></small>
					</div>

					<div class="clear"></div>
				</li>
				
			
			</ul>
		</div>
		
	</div>
	
	
	<div id="right-pane" ng-model='user'>
		<div id="timeline-user-input">
		
		</div>
		<div id="timeline-user">
			{{user.name}}
			<div class="timeline-user-avatar">
				<img src="http://rdjpg.com/30/30">
			</div>
		</div>
		
		<div id="timeline-device">
			<div class="timeline-device-device">
				<img src="../assets/device-timeline.jpg" />
			</div>
		</div>
		
		<div id="timeline-timer">
			<h3>05:37</h3>
		</div>
			
	</div>
</div>