<div id="view-testing" ng-controller="run">
	
	<div id="header">
		
		<div id="header-logo">
			&nbsp;
		</div>
		
		<div id="header-title">Testing &ldquo;{{session.name}}&rdquo;</div>
		
		<div id="header-account">
			<div id="header-account-avatar">
				<img src="https://s3.amazonaws.com/uifaces/faces/twitter/jackiesaik/128.jpg">
			</div>
			<div id="header-account-dropdown">&#9662;</div>
		</div>
		
		
		<div id="header-nav">
			<!--<button class="button secondary small">Mute Mic</button>-->
			<button class="button small"><a href="/">Stop Testing</a></button>
		</div>
	</div>
	
	<!-- / header nav -->

	<!-- participant definition overlay -->
	<div id="view-testing-userentry" ng-model="user" ng-hide="user.toggle">
	    
	    <div class="module third">&nbsp;</div>
	        
	    <div class="module third">
	    
	        <img src="../assets/avatar-rev.svg" />
	        
	        <p>Who are you testing with?</p>
	        
	        <ul class="nobullets">
	            <li>
	            	<input class="input" type="text" name="participantname" value="" 
	            		placeholder="Participant&rsquo;s name" ng-model="user.name"
	            		ui-keypress="{13:'addUser(user.name)'}" />
					</input>
	                
	            </li>
	            <li><button class="button" type="submit" ng-click="addUser(user.name)">Start testing!</button></li>   
	        </ul>
	        
	    </div>
	    
	    <div class="clear"></div>
	</div>
	
	
	<!-- create a flow -->
	
	<div id="left-pane">
		
		<div id="questions">
	
			<div class="questions-group" ng-repeat="flow in flows" ng-class="{ 'active': $index == parentIndex }">
				
				<ul>
					<li class="title"><small>Flow</small><h3>{{flow.title}}</h3></li>
				
					<li ng-repeat="step in flow.steps" 
						ng-class="{ 'active': $index == selectedIndex && $parent.$index == parentIndex }"
             			ng-click="activate($index, $parent.$index, step)">
             			
             			<span>{{step.title}}</span>
             			
						<h3>{{step.title}}</h3>
						<p ng-bind-html="step.desc | linebreaker"></p>
					</li>
				</ul>
			</div>
			
		</div>
			
	</div>
	
	
	
	<div id="middle-pane" >
		
		<!-- input notes -->
		<div id="session-input">
			<textarea class="input" ng-model='message' name="field-input" placeholder="Your notes" ui-keypress="{13:'putMessage(message)'}" />
			</textarea>
		</div>
		
		<!-- timeline -->
		<div id="timeline" >
			<ul ng-model='timeline'>
						
				<li class="message" ng-repeat="message in timeline track by $index">
					
					<div class="message-details"><!-- show the user's avatar -->
						<div class="message-details-avatar" ng-if="message.title">&bull;</div>
						<div class="message-details-avatar" ng-if="!message.title">TC <!-- tester/observer initials --></div>
					</div>

					<div class="message-body">
						<small ng-if="message.title">{{message.title}}</small>
						<p ng-bind-html="message.body | hashtag"></p>
						<small>{{message.created | date : 'hh:mm'}}</small>

					</div>
					
					<!--
					<div class="message-details">
						<small>{{message.user}} &mdash; {{message.created | date : HH:mm}}</small>
					</div>
					-->

					<div class="clear"></div>
				</li>
				
			
			</ul>
		</div>
		
	</div>
	
	
	
	<div id="right-pane" ng-model='user'>
		
		<div id="timeline-user-input"> </div>
		
		<div id="timeline-user">
			<div id="timeline-user-only">
			
				<div class="timeline-user-avatar">
					<img src="/assets/avatar.svg">
				</div>
				
				<small>Testing with</small>
				<h2>{{user.name}}</h2>
				
				<button class="button">New participant</button>
				
			</div>	
		</div>
		
	
		<div id="timeline-timer">
			<h3>05:37</h3>
		</div>
			
	</div>
	
	
	
	
	
	
</div>





