<div ng-controller="summarizeFlow" ng-model='flow'>
	
	<!-- header nav -->
	
	<div id="header">
		
			
		<div id="header-logo">
			&nbsp;
		</div>
		
		<div id="header-title">Summarizing &ldquo;{{flow.title}}&rdquo; Tags</div>
		
		<div id="header-account">
			<div id="header-account-avatar">
				<img src="https://s3.amazonaws.com/uifaces/faces/twitter/jackiesaik/128.jpg">
			</div>
			<div id="header-account-dropdown">&#9662;</div>
		</div>
		
		
		<div id="header-nav">
			<button class="button small">&laquo; Add summaries for steps</button>
			<button class="button small">&check; Done Summarizing</button>
		</div>		
	
	</div>
	
	<!-- / header nav -->
	
	<!-- create a flow -->
	
	<div id="left-pane">
		
		<h3>Tags from &ldquo;{{flow.title}}&rdquo;</h3>
		<p>You can add summaries or insights to tags from this session.</p>
		
		<ul class="tags">
			<li ng-repeat="tag in flow.tags" ng-click="selectTag(tag)" ng-class="{ 'deactivated': !selectedTag}"><span>{{tag.body}}</span></li>
		</ul>
		
	</div>
	
	
	
	
	<div id="middle-pane">
		
		<h3>Summary for #{{selectedTag.body}}</h3>
		<p>Add a summary for this tag to capture any notable themes or usage patterns.</p>
		
		<ul class="lined">
			<li>
				<textarea class="input" id="field-textarea" placeholder="Your summary" ng-model="selectedTag.summary"></textarea><br>
				<button class="button destructive small" ng-click="clearSummary(summary)">Remove summary</button>
			</li>		
		</ul>
			
	</div>
</div>