<!-- Summarize Flow -->
<div id="view-summarizing" ng-controller="summarizeFlow">
<!-- header nav -->
<div ng-model='steps'>
<div id="header">
	
	<div id="header-logo">
		&nbsp;
	</div>
	
	<div id="header-title">Summarizing &ldquo;{{steps.title}}&rdquo;</div>
	
	<div id="header-account">
		<div id="header-account-avatar">
			<img src="https://s3.amazonaws.com/uifaces/faces/twitter/jackiesaik/128.jpg">
		</div>
		<div id="header-account-dropdown">&#9662;</div>
	</div>
	
	
	<div id="header-nav">
		<button class="button small">Add summaries for tags &raquo;</button>
		<button class="button small" ng-click="completeSummary()">&check; Done Summarizing</button>
	</div>
			
			

</div>

<!-- / header nav -->



<!-- create a flow -->

<div id="left-pane">
	
	<div id="questions">
		
		<div class="questions-group active">
			<ul>
				<li><!-- flow title --><small>Flow</small><h3>{{steps.title}}</h3></li>
				<li class="question" ng-repeat="step in steps.steps" ng-class="{ 'active': $index == selectedIndex && $parent.$index == parentIndex }"
             			ng-click="activate($index, $parent.$index, step)">
					<span>{{step.name}}</span>
					
					<div class="step-rating">
						<img src="/assets/rate-positive.svg" /> <img src="/assets/rate-negative.svg">
					</div>
					
					<h3>{{step.name}}</h3>
					<p class="question-body" ng-show="$index == selectedIndex && $parent.$index == parentIndex">
						{{step.desc}}
					</p>
				</li>
			</ul>
		</div>
	</div>		
</div>

<div id="middle-pane" ng-model='step'>
	
	<h3>&ldquo;{{step.title}}&rdquo; summary</h3>
	<p>Add a summary for this step to capture any notable outcomes, directions, or action items.</p>
	
	<ul class="lined">
		<li>
			<textarea class="input" id="field-textarea" placeholder="Your summary"  ng-model="step.summary"></textarea>
		</li>
		<li>
			<p>
			<label for="field-addtags">Add additional tags to this step</label><br>
			<input class="input" type="text" id="field-addtags" placeholder="Enter a tag" ng-model="step.tag"/>
			</p>
			
			<ul class="tags" >
				<li ng-repeat="tag in step.tags"><span>{{tag.name}}&nbsp; &times;</span></li>
			</ul>
			<div class="clear"></div>
		
		</li>
		
		<li id="tags-showhide">
			<label>You can show or hide tags used in &ldquo;Check your account&rdquo; comments. Hidden tags will not be shown in the summary.</label>
			
			<ul class="tags">
				<li><span>comment tag &nbsp; &times;</span></li>
				<li class="deactivated"><span>hashtag &nbsp; +</span></li>
				<li><span>success &nbsp; &times;</span></li>
				<li class="deactivated"><span>quote &nbsp; +</span></li>
			</ul>
			
			<div class="clear"></div>
		</li>
		
	</ul>
		
</div>




<div id="right-pane" ng-model='timeline'>
	
	<div id="timeline">
		<ul>
		
			<li class="message status">
				<div class="message-details">
					<div class="message-details-avatar">
						&nbsp;
					</div>
				</div>
				<strong>All comments for &ldquo;Check Your Account&rdquo;</strong>
			</li>
		
			
			<li class="message username">
				<div class="message-details">
					<div class="message-details-avatar">
						<img src="http://rdjpg.com/51/51" />
					</div>
				</div>
				<small>Comments on participant</small><br><strong>Robertolomew Downeyjunior</strong>
			</li>
			
		
			<li class="message">
				<div class="message-details">
					<div class="message-details-avatar">
						<img src="https://s3.amazonaws.com/uifaces/faces/twitter/jackiesaik/128.jpg" />
					</div>
				</div>
				<div class="message-body">
					<p>This is the body of this message but a longer one this time hello how are you <span class="tag">#quote</span></p>
					<small>Jennifer &mdash; 05:32</small>
				</div>
				<div class="message-fave">
					<a href="#">&#9734;</a>
				</div>
				<div class="clear"></div>
			</li>
			
			<li class="message">
				<div class="message-details">
					<div class="message-details-avatar">
						<img src="https://s3.amazonaws.com/uifaces/faces/twitter/jackiesaik/128.jpg" />
					</div>
				</div>
				<div class="message-body">
					<p>This is the body of this message but a longer one this time hello how are you <span class="tag">#quote</span></p>
					<small>Jennifer &mdash; 05:32</small>
				</div>
				<div class="message-fave">
					<a href="#">&#9733;</a>
				</div>
				<div class="clear"></div>
			</li>
			
			<li class="message">
				<div class="message-details">
					<div class="message-details-avatar">
						<img src="https://s3.amazonaws.com/uifaces/faces/twitter/jackiesaik/128.jpg" />
					</div>
				</div>
				<div class="message-body">
					<p>This is the body of this message, it is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.  <span class="tag">#success</span></p>
					<small>Jennifer &mdash; 05:32</small>
				</div>
				<div class="message-fave">
					<a href="#">&#9734;</a>
				</div>
				<div class="clear"></div>
			</li>
			
			<li class="message">
				<div class="message-details">
					<div class="message-details-avatar">
						<img src="http://rdjpg.com/30/30" />
					</div>
				</div>
				<div class="message-body">
					<p>This is the body of this message, somebody typed this <span class="tag">#hashtag</span></p>
					<small>Jimmy &mdash; 05:32</small>
				</div>
				<div class="message-fave">
					<a href="#">&#9734;</a>
				</div>
				<div class="clear"></div>
			</li>
			
			<li class="message username">
				<div class="message-details">
					<div class="message-details-avatar">
						<img src="http://rdjpg.com/50/50" />
					</div>
				</div>
				<small>Comments on participant</small><br><strong>Anthony Stark</strong>
			</li>
			
			<li class="message">
				<div class="message-details">
					<div class="message-details-avatar">
						<img src="https://s3.amazonaws.com/uifaces/faces/twitter/jackiesaik/128.jpg" />
					</div>
				</div>
				<div class="message-body">
					<p>This is the body of this message but a longer one this time hello how are you <span class="tag">#quote</span></p>
					<small>Jennifer &mdash; 05:32</small>
				</div>
				<div class="message-fave">
					<a href="#">&#9733;</a>
				</div>
				<div class="clear"></div>
			</li>
			
			<li class="message">
				<div class="message-details">
					<div class="message-details-avatar">
						<img src="http://rdjpg.com/30/30" />
					</div>
				</div>
				<div class="message-body">
					<p>This is the body of this message, somebody typed this <span class="tag">#hashtag</span></p>
					<small>Jimmy &mdash; 05:32</small>
				</div>
				<div class="message-fave">
					<a href="#">&#9734;</a>
				</div>
				<div class="clear"></div>
			</li>
		
		
		</ul>
	</div>
	
		
</div>
<!-- / create a flow -->
</div>