<!-- summary_step -->
<div id="middle-pane" ui-view >
	<div ng-model='flow' ng-show="flow.name">
			<h3>&ldquo;{{flow.name}}&rdquo; summary</h3>
			<p>Add a summary for this flow to capture any notable outcomes, directions, or action items.</p>
			
			<ul class="lined">
				
				<li>
					<textarea class="input" id="field-textarea" placeholder="Your summary"  ng-model="flow.summary"></textarea>
				</li>
								
			</ul>
	</div>
</div>


<div id="right-pane" ng-model='flow'>
	<!-- looking for your users or messages? they're in summary_flow and summary_step -->
	<div id="timeline" ng-show="flow.name">
		<h3>Tags from &ldquo;{{flow.name}}&rdquo;</h3>
			<p>You can add summaries or insights to tags from this session.</p>
			
			<ul class="tags">
				<li ng-repeat="tag in flow.tags" ng-click="selectTag(tag)" ng-class="{ 'active': selectedTag.body == tag.body}">
					<span ng-if="tag.summary">{{tag.body}} &#x2713;</span>
					<span ng-if="!tag.summary">{{tag.body}}</span>
				</li>
			</ul>
		
		<div class='clear'></div>
		<br />
		<div ng-show="selectedTag.body" ng-model="selectedTag">
			<h3>Summary for #{{selectedTag.body}}</h3>
			<p>Add a summary for this tag to capture any notable themes or usage patterns.</p>
			
			<ul class="lined">
				<li>
					<textarea class="input" id="field-textarea" placeholder="Your summary" ng-model="tagSummary"></textarea><br>
					<button class="button small" ng-click="saveTagSummary(tagSummary)" >Done</button>
					<button class="button destructive small" ng-click="tagSummary=''; clearTagSummary()">Remove summary</button>
				</li>		
			</ul>
		</div>
	</div>
	
		
</div>