<div ng-controller="summary_tags" ng-model='flow' id="view-summarizingtags">
	
	<ng-include src="'partials/header.html'"></ng-include>
	
	<!-- / header nav -->
	
	<!-- create a flow -->
	
	<div id="left-pane">
		
		<h3>Tags from &ldquo;{{flow.title}}&rdquo;</h3>
		<p>You can add summaries or insights to tags from this session.</p>
		
		<ul class="tags">
			<li ng-repeat="tag in flow.tags" ng-click="selectTag(tag)" ng-class="{ 'active': selectedTag.body == tag.body}">
				<span ng-if="tag.summary">{{tag.body}} &#x2713;</span>
				<span ng-if="!tag.summary">{{tag.body}}</span>
			</li>
		</ul>
		
	</div>
	
	
	
	
	<div id="middle-pane" ng-show="selectedTag">
		
		<h3>Summary for #{{selectedTag.body}}</h3>
		<p>Add a summary for this tag to capture any notable themes or usage patterns.</p>
		
		<ul class="lined" ng-model="summary">
			<li>
				<textarea class="input" id="field-textarea" placeholder="Your summary" ng-model="summary.text"></textarea><br>
				<button class="button small" ng-click="saveTagSummary(summary)" >Done</button>
				<button class="button destructive small" ng-click="clearTagSummary(summary)">Remove summary</button>
			</li>		
		</ul>
			
	</div>
</div>