<!-- summary_step -->
<div id="middle-pane" ui-view >
	<div ng-model='flow' ng-show="flow.name">
			<h3>&ldquo;{{flow.name}}&rdquo; summary</h3>
			<p>Add a summary for this flow to capture any notable outcomes, directions, or action items.</p>
			
			<ul class="lined">
				
				<li>
					<textarea class="input" id="field-textarea" placeholder="Your summary"  ng-model="flow.summary"></textarea>
				</li>
				
								
			</ul>
	</div>
</div>


<div id="right-pane" ng-model='messages'>
	<!-- looking for your users or messages? they're in summary_flow and summary_step -->
	<div id="timeline" ng-show="flow.name">
		<ul>
		
			<li class="message status">
				<div class="message-details">
					<div class="message-details-avatar">
						&nbsp;
					</div>
				</div>
				<strong>All users for &ldquo;{{flow.name}}&rdquo;</strong>
			</li>
		
			<!-- <li ng-repeat="user in step.session_by_user"  class="message">
				<div class="message-details">
					<div class="message-details-avatar">
						<img src="http://rdjpg.com/51/51" />
					</div>
					</div>
					<small>Comments on participant</small><br><strong>{{user.user}}</strong>
				 -->
				<ul>
					<li ng-repeat="user in flow.users | orderBy: 'user' " class="message">
						<div class="message-body">
							{{user.created | date:'yyyy-MM-dd'}}
							{{user.name}}
						</div>

<!-- 						<div class="message-fave">
							<a ng-click="saveFav(message)" ng-if="message.fav">
								&#9733;
							</a>
							<a ng-click="saveFav(message)" ng-if="!message.fav">
								&#9734;
							</a>
						</div> -->
						<div class="clear"></div>
					</li>
				</ul>
			
			<!-- 
				</div>
				<div class="message-fave">
					<a href="#">&#9734;</a>
				</div>
				<div class="clear"></div>
			</li> -->
			
		
		</ul>
	</div>
	
		
</div>