<!-- Summarize Flow -->
<div id="view-summarizing" ng-controller="summarizeFlow" id="#view-summarizingtags">
<!-- header nav -->
<div ng-model='flow'>
<div id="header">
	
	<div id="header-logo">
		&nbsp;
	</div>
	
	<div id="header-title">Summarizing &ldquo;{{flow.title}}&rdquo;</div>
	
	<div id="header-account">
		<div id="header-account-avatar">
			<img src="https://s3.amazonaws.com/uifaces/faces/twitter/jackiesaik/128.jpg">
		</div>
		<div id="header-account-dropdown">&#9662;</div>
	</div>
	
	
	<div id="header-nav">
		<button class="button small" ng-click="summarizeTags(flow)">Add summaries for tags &raquo;</button>
		<button class="button small" ng-click="completeSummary(flow)">&check; Done Summarizing</button>
	</div>
			
			

</div>

<!-- / header nav -->


<!-- create a flow -->

<div id="left-pane" >
	
	<div id="questions">
		
		<div class="questions-group active">
			<ul>
				<li ng-model='flow'><!-- flow title --><small>Flow</small><br/>
					{{flow.title}}</li>
				<li class="question" ng-repeat="step in flow.steps" ng-class="{ 'active': $index == selectedIndex && $parent.$index == parentIndex }"
             			ng-click="activate($index, $parent.$index, step)">
					<span>{{step.name}}</span>
					
					<div class="step-rating" ng-click="passFail(step)">
						<img src="/assets/rate-positive.svg" ng-show="step.pass_fail == true"/>
						<img src="/assets/rate-negative.svg" ng-show="step.pass_fail == false">
					</div>
					
					<h3>{{step.name}}</h3>
					<p class="question-body" ng-show="$index == selectedIndex && $parent.$index == parentIndex">
						{{step.desc}}
					</p>
				</li>
			</ul>
		</div>
	</div>		
</div>

<div id="middle-pane" ng-model='step'>
	<div ng-show="step.name">
			<h3>&ldquo;{{step.name}}&rdquo; summary</h3>
			<p>Add a summary for this step to capture any notable outcomes, directions, or action items.</p>
			
			<ul class="lined">
				
				<li>
					<textarea class="input" id="field-textarea" placeholder="Your summary"  ng-model="step.summary"></textarea>
				</li>
				
				<li id="tags-showhide">
					<label>You can show or hide tags used in &ldquo;Check your account&rdquo; comments. Hidden tags will not be shown in the summary.</label>
					
					<ul class="tags">
						<li ng-repeat="tag in step.tags_single track by $index" ng-click="showHideTag(tag)" ng-class="{ 'deactivated': !tag.visible }" ><span>{{tag.body}} &nbsp; &times;</span></li>
					</ul>
					
					<div class="clear"></div>
				</li>
				
			</ul>
	</div>
		
</div>


<div id="right-pane" ng-model='step'>
	
	<div id="timeline" ng-show="step.name">
		<ul>
		
			<li class="message status">
				<div class="message-details">
					<div class="message-details-avatar">
						&nbsp;
					</div>
				</div>
				<strong>All users for &ldquo;{{step.name}}&rdquo;</strong>
			</li>
		
			<li ng-repeat="users in step.session_by_user track by $index"  class="message">
				<div class="message-details">
					<div class="message-details-avatar">
						<img src="http://rdjpg.com/51/51" />
					</div>
					</div>
					<small>Comments on participant</small><br><strong>{{users.user}}</strong>
				
				<ul>
					<li ng-repeat="message in users.messages"class="message">
						<div class="message-body">
							<p ng-bind-html="message.body | htmlize"></p>
							<small>Message.createdBy &mdash; {{message.created | date : 'HH:mm' }}</small>
						</div>

						<div class="message-fave">
							<a ng-click="saveFav(message)" ng-if="message.fav">
								&#9733;
							</a>
							<a ng-click="saveFav(message)" ng-if="!message.fav">
								&#9734;
							</a>
						</div>
						<div class="clear"></div>
					</li>
				</ul>
					
				</div>
				<div class="message-fave">
					<a href="#">&#9734;</a>
				</div>
				<div class="clear"></div>
			</li>
			
		
		</ul>
	</div>
	
		
</div>
<!-- / create a flow -->
</div>