<!-- summary.html -->

<div id="view-summarizing" ng-controller="summary" id="#view-summarizingtags">


<div ng-model='test'>


<ng-include src="'partials/header.html'"></ng-include>


<!-- create a test -->

<div id="left-pane" >
	
	<div id="questions">
		
		<div class="questions-group active">
			<ul>
				<li ng-model='test' ui-sref=".test" ng-class="{ 'active': $index == selectedIndex }" ng-click="activate(test, $index)"><!-- test.name --><small>test</small><br/>
					{{test.name}}</li>
				<li class="question" ng-repeat="task in tasks" ng-class="{ 'active': $index == selectedIndex }" ng-click="activate(step, $index)">
					<span>{{task.name}}</span>
					
					<div class="step-rating" ng-click="passFail(step)">
						<img src="/assets/rate-positive.svg" ng-show="step.pass_fail == true"/>
						<img src="/assets/rate-negative.svg" ng-show="step.pass_fail == false">
					</div>
					
					<h3>{{task.name}}</h3>
					<p class="question-body" ng-show="$index == selectedIndex && $parent.$index == parentIndex">
						{{task.desc}}
					</p>
				</li>
			</ul>
		</div>
	</div>		
</div>

<div ui-view >
	<!-- this pane is set in summary_test and summary_step -->
</div>
<!-- / create a test -->
</div>