<!-- summary.html -->

<div id="view-summarizing" ng-controller="summary" id="#view-summarizingtags">
<!-- header nav -->
<div ng-model='flow'>
<div id="header">
	
	<div id="header-logo">
		&nbsp;
	</div>
	
	<div id="header-title">Summarizing &ldquo;{{flow.name}}&rdquo;</div>
	
	<div id="header-account">
		<div id="header-account-avatar">
			<img src="https://s3.amazonaws.com/uifaces/faces/twitter/jackiesaik/128.jpg">
		</div>
		<div id="header-account-dropdown">&#9662;</div>
	</div>
	
	
	<div id="header-nav">
		<button class="button small" ng-click="completeSummary(flow)">&check; Done Summarizing</button>
	</div>
			
			

</div>

<!-- / header nav -->


<!-- create a flow -->

<div id="left-pane" >
	
	<div id="questions">
		
		<div class="questions-group active">
			<ul>
				<li ng-model='flow' ui-sref=".flow" ng-class="{ 'active': $index == selectedIndex }" ng-click="activate(flow, $index)"><!-- flow.name --><small>Flow</small><br/>
					{{flow.name}}</li>
				<li class="question" ng-repeat="step in flow.steps" ng-class="{ 'active': $index == selectedIndex }" ng-click="activate(step, $index)"
				ui-sref=".step">
					<span>{{step.name}}</span>
					
					<div class="step-rating" ng-click="passFail(step)">
						<img src="/assets/rate-positive.svg" ng-show="step.pass_fail == true"/>
						<img src="/assets/rate-negative.svg" ng-show="step.pass_fail == false">
					</div>
					
					<h3>{{step.name}}</h3>
					<p class="question-body" ng-show="$index == selectedIndex && $parent.$index == parentIndex">
						{{step.desc}}
					</p>
				</li>
			</ul>
		</div>
	</div>		
</div>

<div ui-view >
	<!-- this pane is set in summary_flow and summary_step -->
</div>
<!-- / create a flow -->
</div>