<style type="text/css">
  @media only screen and (max-device-width: 480px) { 
    /* mobile-specific CSS styles go here */
    table[class=contenttable] { 
      width: 300px !important;
    }
  }
  
  /* regular CSS styles go here */
  table.contenttable {
    width: 540px;
  }
</style>

<div style="margin: 0px; background-color: #ffffff; font-family: Helvetica, Arial, sans-serif; font-size: 16px;" text="#444444" bgcolor="#ffffff" link="#00aeef" alink="#00aeef" vlink="#00aeef" marginheight="0" topmargin="0" marginwidth="0" leftmargin="0">
  <table border="0" width="100%" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
    <tbody>
      <tr>
        <td style="padding: 0;"><center>
          <table class="contenttable" style="border: solid 1px #FFFFFF; color: #444;" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
            <tbody>
              <tr>
                <td style="padding: 40px 0 30px 0;">
                  
                  <img src="cid:source@app.fieldguide.com"/>

                  
                </td>
              </tr>
              <tr>
                <td style="margin-top: 0px; color: #444; line-height: 1.6; font-size: 15px; font-family: Helvetica, Arial, sans-serif; border-top: solid 1px #d9d9d9;" colspan="2">
                  <div style="padding: 30px 0 40px 0;">
                    <h2>Something something</h2>
                    <p><%= created_by %> has invited you to Field Guide. You can join their team and set up your account here:</p>
                    <p><a href="<%= invite_link %>">Join us here!</a></p> 
                  </div>
                </td>
              </tr>
              <tr style="font-size: 11px; color: #999999;">
                <td style="border-top: solid 1px #d9d9d9;" colspan="2">
                  <div style="padding-top: 15px; padding-bottom: 1px;">
                    This message was sent by <a style="color: #999999;" href="http://fieldguideapp.com">Field Guide</a>. If you think this message was sent in error, you can safely ignore it.
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          </center></td>
      </tr>
    </tbody>
  </table>
</div>