/* everything account related */

#view-account {
	margin: 0;
	padding: 0;

	.container {
		padding: $pad 0 0 0;
	}
	
	
	.plan-picker {
		h3 {
			padding: $pad/1.5 0 0 0;
		}
		
		.button {
			@include type-bold;
		}
	}
	
	
	/* connected app styles */
	
	.pm-app {
		border: 1px solid $line;
		@include radius;
		padding: $pad/1.5 $pad $pad/1.5 $pad*3;
		margin: 0 0 $pad/1.5 0;
		
		&.github {
			background: url('/layout/assets/app-github.png') no-repeat 10px 10px;
			background-size: 30px 30px;
			
			&.connected {
				color: #2f2f2f;
				border: 1px solid #2f2f2f;
			}
		}
		
		&.jira {
			background: url('/layout/assets/app-jira.png') no-repeat 10px 10px;
			background-size: 30px 30px;
			
			&.connected {
				color: #003366;
				border: 1px solid #003366;
			}
		}
		
		&.trello {
			background: url('/layout/assets/app-trello.png') no-repeat 10px 10px;
			background-size: 30px 30px;
			
			&.connected {
				color: #247096;
				border: 1px solid #247096;
			}
		}
		
		&.connected {
			cursor: default;
			
			a {
				text-decoration: underline;
			}
		}

		form {
			padding: 0;
			margin: $pad/2 0 $pad 0;
			
			.input {
				width: 100%;
				margin: 0 0 $pad/4 0;
			}
		}
		
	}
	
	/* end connected app styles */
	
	
	/* team members */
	
	.team-members {
		padding: 0;
		margin: 0;
		list-style: none;
		border-top: 1px solid $line;
		
		li {
			padding: $pad/1.5 $pad/2;
			margin: 0;
			border-bottom: 1px solid $line;
			
			.team-member-avatar {
				float: left;
				width: 24px;
				height: 24px;
				overflow: hidden;
				@include radius(24px);
				padding: 0;
				margin: 0 $pad 0 0;
				
				img {
					width: 24px;
					height: auto;
				}
			}
			
			
			input {
				width: 80%;
			}
			
			
			.team-member-info {
				float: left;
				
				p {
					color: $fg-black;
					font-size: $type-size-base*1.2;
					margin: 0;
					padding: 1px 0 0 0;
				}
				
				.tag {
					padding: 0 $pad/3;
				}
			}
			
			.team-member-remove {
				display: none;
			}
			
			&.self {
				&:hover {
					.team-member-remove {
						display: none;
					}
				}
			}
			
			&:hover {
				.team-member-remove {
					display: block;
					float: right;
					
					a {
						text-decoration: none;
						
						&:hover {
							color: $fg-red;
						}
					}
				}
			}
			
		}
	}
	
}












