/* block screens */


.block-screen {
	position: relative;
	height: 100%;
	
	.block-screen-content {
		position: absolute;
		width: 100%;
		left: 0;
		top: 25%;
	}
	
	h3 {
		margin-bottom: $pad/4;
	}
	
	h1 {
		font-size: $type-size-base*3;
	}
	
	.block-screen-img {
		text-align: right;
		padding-right: $pad*2;
		
		img {
			width: 70%;
			height: auto;
		}
	}
}


#view-404 {
	margin: 0;
	padding: 0;
	position: relative;
	
	.container {
		padding: $pad 0 0 0;
	}
	
}
