/*
palette
*/

/* generic */

$white: #fff;
$black: #000;

/* FG colours */

$fg-cream: #fbfbf9;
$fg-bg: #f6f6f6;

$fg-brown: #2e2723;
$fg-brown-light: #483e38;
$fg-brown-dark: #231e1b;

$fg-grey-dark: #777777;
$fg-grey: #949799;
$fg-grey-light: #D8DADB;
$fg-grey-trans: transparentize($fg-grey, 0.5);
$fg-grey-light-trans: transparentize($fg-grey-light, 0.5);
$fg-grey-placeholder: #C5C6C7;

$fg-blue: #00B5E3;
$fg-blue-dark: #2a687d;
$fg-slate: #2B404D;

$fg-green: #85AC0F;
$fg-green-light: #C6D39E;
$fg-green-dark: #70910D;
$fg-green-light-trans: transparentize($fg-green-light, 0.3);
$fg-green-highlight: #f3f7e7;

$fg-butter: lighten(#fee49b, 10%);
$fg-butter-brown: #c88649;
$fg-butter-text: #624429;

$fg-black: #323539;

$fg-red: #b5213c;
$fg-red-light: #d62747;
$fg-red-dark: #8a192e;

$fg-header-red: #f37960;
$fg-header-red-dark: #872717;

$fg-tan: #f2f2f0;
$fg-tan-dark: darken($fg-tan, 6%);

/*
interpreted colours
*/

$text: #7c7d80;
$text-light: transparentize($text, 0.7);


$background: $fg-bg;
$background-overlay: darken($background, 4%);
$background-dark: darken($background, 12%);

$modal-bg: transparentize($fg-slate, 0.1);
$light-grey-bg: transparentize($fg-grey, 0.8);
$light-green-bg: transparentize($fg-green, 0.86);

$link: $fg-blue;
$link-hover: $fg-blue;

$link-grey: $fg-grey;
$link-hover: darken($link-grey, 7%);

$link-alt: $fg-blue;
$link-alt-hover: darken($link-alt, 7%);

$field: darken($background, 5%);

$line: darken($background, 10%);
$line-for-dark: lighten($fg-brown-light, 7%);





