/*
palette
*/

/*
specific colours
*/

/* generic */

$white: #fff;

/* FG colours */

$fg-cream: #fbfbf9;


$fg-brown: #2e2723;
$fg-brown-light: #483e38;
$fg-brown-dark: #231e1b;

$fg-green: #71901f;
$fg-green-light: #86aa25;
$fg-green-dark: #627136;

$fg-black: #323539;

$fg-red: #b5213c;
$fg-red-light: #d62747;
$fg-red-dark: #8a192e;

$fg-header-red: #f37960;
$fg-header-red-dark: #872717;

$fg-tan: #f2f2f0;
$fg-tan-dark: darken($fg-tan, 6%);

/*
interpreted colours
*/

$text: #646a72;
$text-light: transparentize($text, 0.7);


$background: $fg-cream;
$background-dark: darken($background, 5%);


$link: $fg-green;
$link-hover: darken($link, 7%);

$field: darken($background, 5%);

$line: darken($background, 10%);
$line-for-dark: lighten($fg-brown-light, 7%);





