/* new project */
#view-new-project {

    ul {
        clear: both;
    }
    
    .test-objectives {
        height: 150px;
    }

    .project-tooltip {
        @include type-regular;
    }
    
    button.test-type {
        width: 48.5%;
        outline: 0;
        text-align: center;
        position: relative;
        cursor: pointer;
        border: 0;
        padding: 20px;
        background: transparentize($fg-grey-light, 0.8);
        color: $fg-grey;
        margin-bottom: 20px;
        @include radius;

        &.interview {
            position: relative;
            margin-right: 1.5%;

            span.info {
                position: absolute;
                top: 5px;
                right: 8px;
                background: $fg-grey;

                & span {
                    top: 0px;
                    right: 4px;
                }
            }

            p {
                margin: 0 0 10px 0;
            }
        }

        &.prototype {
            position: relative;
            margin-left: 1.5%;

            span.info {
                position: absolute;
                top: 5px;
                right: 8px;
                background: $fg-grey;

                & span {
                    top: 0px;
                    right: 4px;
                }
            }

            p {
                margin: 0 0 10px 0;
            }
        }

        &:hover {
            background: $fg-green;
            color: $white;

            & a {
                color: $white;
            }

            span.info {
                background: $fg-green-dark;
            }

            & a {
                color: $white;
            }
        }

        &.select-active {
            background: $fg-green;
            color: $white;

            span.info {
                background: $fg-green-dark;
            }

            & a {
                color: $white;
            }
        }

        &.select-inactive {
            background: transparentize($fg-grey-light, 0.8);
            color: $fg-grey;

            & a {
                color: $fg-blue;
            }

            span.info {
                position: absolute;
                top: 5px;
                right: 8px;
                background: $fg-grey;

                & span {
                    top: 0px;
                    right: 4px;
                }
            }
        }

        .selected-arrow {
            display: none;
        }

        .no-link {
            font-size: 9px;
        }

        h3 {
            font-size: 18px;
            @include type-light;
        }

        p {
            @include type-light;
            font-size: 14px;
            line-height: 18px;
            margin: 0;
        }

        &.selected {
            @include radius;
            border: 1px solid $fg-green-light;
            color: $fg-green;
            .selected-arrow {
                position: absolute;
                display: block;
                width: 100%;
                text-align: center;
                height: 7px;
                bottom: -7px;
                left: 0;
                img {
                    width: 14px;
                    height: auto;
                }
            }
        }
        strong {
            border-bottom: 1px dashed $line;
        }
        img {
            width: 100px;
            height: auto;
            padding: 0 0 ($pad / 2) 0;
        }
    }


}

/* editing tests/tasks */

#view-editing {
    margin: 0;
    padding: 0;
    background: $white;
    min-height: 100%;

    .sheet {
        box-shadow: none;
    }

    p {
        font-size: 12px;
        line-height: 16px;
    }
    
    h3 {
        @include type-regular;
        color: $fg-slate;
        font-size: 20px;
        margin: 20px 0;
    }

    h4 {
        @include type-light;
        color: $fg-black;
        font-size: 14px;
        margin: 10px 0;
    }

    .project-name {
        @include type-light;
        color: $fg-grey-dark;
        font-size: 28px;
        margin: 0 0 20px 0;

        &:hover, &:focus {
            color: $black;
        }
    }

    .task-title {
        @include type-light;
        font-size: 22px;
        color: $fg-grey;

        &:hover, &:focus {
            color: $black;
        }
    }

    textarea.test-descriptions, textarea.task-descriptions {
        font-size: 18px;
        line-height: 24px;
        @include type-light;
        color: $fg-grey;
        margin: 0;
        resize: none;

        &:hover, &:focus {
            color: $black;
        }
    }

    .add-task {
        margin: 20px 0;

        h4 {
            color: $fg-slate;
            font-size: 18px;
        }

        form {
            border: 1px solid transparentize($fg-grey-light, 0.5);
            padding: 15px;
            margin: 0;
        }

        input {
            width: 100%;
            margin: 0 0 30px 0;
            padding: 0;
            border: 0;
            outline: 0;
            @include type-light;
            font-size: 18px;
            line-height: 24px;
             color: $fg-grey;
        }
        
        textarea {
            @extend input;
            height: 65px;
            overflow-y: auto;
            resize: none;
            margin: 0;
             color: $fg-grey;
        }

        .box {
            padding: 12px;
            margin: 0;
            border: 1px solid transparentize($fg-grey-light, 0.5);
            border-top: 0;
        }
    }

    .tags {
        margin: 0 0 40px 0;
        @include input-placeholders;

        .tag-pool {
            width: 100%;
            height: 30px;
            background: transparentize($fg-grey-light, 0.5);
            border: 1px solid transparentize($fg-grey-light, 0.5);
            
            ul {
                padding: 0;
                li {
                    padding: 2px 0 0 15px;
                    font-size: 14px;
                    color: $fg-blue;
                    display: inline-block;

                    &:before {
                        content: "#"
                    }

                    &:first-child {
                        padding: 0 0 0 10px;
                    }
                }
            }
        }

        input.custom-tags {
            @extend .tag-pool;
            background: $white;
            border-top: 0;
            resize: none;
            padding: 8px;
            outline: 0;
            @include type-light;
            font-size: 14px;
            line-height: 20px;
            color: $fg-grey;
        }
    }

    .done-button {
        position: fixed;
        right: 30px;
    }

    .container {
        padding: $pad 0 0 0;
    }
    .sheet-holder {
        padding: 0 0 ($pad * 2) 0;
    }

    .test-setup {
        padding: $pad 0 0 0;

        .sheet {
            padding: $pad;
        }

        .nobullets {
            width: 100%;
            .input {
                width: 100%;
            }
        }

        @include input-placeholders;

        .select-active {
            @include button-colour($fg-green, $white);
            border: 1px solid $fg-green-light;
            cursor: pointer;
            &:after {
                content: 'ed';
            }
        }
        .select-inactive {
            background: $white;
            color: $fg-grey;
            border: 1px solid $fg-grey-light;
            cursor: pointer;
            &:after {
                content: '';
            }
        }
    }
}