/* editing a test */



#view-editing {
	margin: 0;
	padding: 0;
	
	.container {
		padding: $pad 0 0 0;
	}
	
	#header-min {
		padding-left: 0;
		padding-right: 0;
		
		h3 {
			width: 33.3%;
		}
	}	
	
	.stepped-nav {
		float: left;
		width: 33.3% !important;
	}
	

	/* step 1 */
	

	.test-type {
		padding: $pad;
		margin: $pad 0;
		text-align: center;
		position: relative;
		border: 1px solid $background;
		
		.selected-arrow {
			display: none;
		}
		
		&.selected {
			@include radius;
			border: 1px solid $fg-green-light;
			color: $fg-green;
			
			.selected-arrow {
				position: absolute;
				display: block;
				width: 100%;
				text-align: center;
				height: 7px;
				bottom: -7px;
				left: 0;
				
				img {
					width: 14px;
					height: auto;
				}
			}
		}
		
		strong {
			border-bottom: 1px dashed $line;
		}
		
		img {
			width: 100px;
			height: auto;
			padding: 0 0 $pad/2 0;
		}
	}


	/* step 2 */

	.test-details {
		float: none;
		padding: 0 $pad*3 $pad*2 $pad*3;
		margin: $pad 0;
		
		.input {
			width: 100%;
		}
		
		li {
			padding: 0 0 $pad 0;
		}
		
		.test-details-devicetype {
			cursor: pointer;
			float: left;
			text-align: center;
			padding: $pad/2 $pad/2 0 $pad/2;
			font-size: $type-size-base*0.8;
			
			img {
				height: 100px;
				width: auto;
				opacity: 0.4;
			}
			
			&.phone, &.tablet {
				width: 25%;
			}
			&.desktop {
				width: 50%;
			}
			
			&.unavailable {
				cursor: not-allowed;
			}
			
			&.selected {
				@include type-bold;
				color: $fg-green;
				@include radius;
				border: 1px solid $fg-green-light;
				
				img {
					opacity: 1.0;
				}	
			}
		}
		

	}
	
	
	/* step 3 */
	
	.test-tasks {
		// padding: 0 $pad*3 $pad*2 $pad*3;
		padding-top: $pad*2;

		.sheet{
			padding: 0;
		}

		.fifth{
			padding: $pad 0 0 0;
		}

		.tutorial{
			padding-right: $pad;

			p{
				font-size:12px;
				padding-top: $pad/2;
			}
		}

		.add-task{
				padding: $pad*1.5;
				background-color: #fafafa;
				border-top: 1px $line solid;
				width: 100%;
				position: relative;
				display: block;

									.input {
						width: 100%;
						margin: 0 0 2px 0;
					}
			}

		.next-button{
			padding-left: $pad;

			.button{
				min-width: 100px;
				text-align: center;
			}
		}
		
		/* steps list */
		#steps {
			padding: $pad*1.5;
			margin: 0;
			width:100%;
			list-style: none;

			input, textarea{
				border:none;
			}

			input{
				font-size: 17px;
			}

			textarea{
				color: $fg-grey;
			}
			
			li {
				position: relative;
				
				.step-ordering {
					position: absolute;
					top: 10px;
					left: -15px;
					width: 20px;
				}
				
				.step-ordering {
					position: absolute;
					top: 10px;
					left: -15px;
					width: 20px;
					opacity: 0.2;
					
					div {
						cursor: pointer;
					}
					
					&:hover {
						opacity: 1.0;
					}
				}
				
				
				.step-contents {
					float: left;
					width: 100%;
					
					.input {
						width: 100%;
						margin: 0 0 2px 0;
					}
				}
				
				.step-controls {
					position: absolute;
					width: 20px;
					text-align: right;
					top: 10px;
					right: 0px;
					opacity: 0;

					&:hover {
						opacity: 1.0;
					}
				}
				
				
			}

		}
		
		
	}
	
	
	/* step 5 */
	
	.test-done {
		float: none;
		padding: $pad*2 $pad $pad $pad;
		text-align: center;
		border: 1px solid $line;
		@include radius;
		margin: 0;
	}
	
}












