/* new project */

#view-new-project {
    ul {
        clear: both;
    }

    .cta {
        float: right;

        .button.cancel {
        padding: 10px;
        }
    }
    
    textarea.input {
        line-height: $type-size-base*1.25;
        height: 130px;
        resize: none;
    }

    .test-type {
        padding: 5px 5px 10px 5px;
        text-align: center;
        position: relative;
        cursor: pointer;
        border-bottom: 4px solid $white;
        margin: 0 0 20px 0;

        &:hover {
            border-bottom: 4px solid $fg-green;
        }

        &.select-active {
            border-bottom: 4px solid $fg-green;
        }

        &.select-inactive {
            border-bottom: 0;
        }

        .selected-arrow {
            display: none;
        }

        p {
            font-size: 12px;
            line-height: 17px;
            margin: 0 0 10px 0;
        }

        a {
            color: $fg-blue;
            font-size: 11px;
            text-decoration: underline;
        }

        h3 {
            font-size: 17.5px;
        }
        &.selected {
            @include radius;
            border: 1px solid $fg-green-light;
            color: $fg-green;
            .selected-arrow {
                position: absolute;
                display: block;
                width: 100%;
                text-align: center;
                height: 7px;
                bottom: -7px;
                left: 0;
                img {
                    width: 14px;
                    height: auto;
                }
            }
        }
        strong {
            border-bottom: 1px dashed $line;
        }
        img {
            width: 100px;
            height: auto;
            padding: 0 0 ($pad / 2) 0;
        }
    }


}

/* editing tests/tasks */

#view-editing {
    margin: 0;
    padding: 0;
    background: $white;

    .sheet {
        box-shadow: none;
    }
    
    h2 {
        @include type-light;
        color: $fg-black;
        font-size: 24px;
        margin: 0 0 40px 0;
    }

    h3 {
        @include type-light;
        color: $fg-black;
        font-size: 16px;
        margin: 20px 0;
    }

    h4 {
        @include type-light;
        color: $fg-black;
        font-size: 14px;
        margin: 10px 0;
    }

    .task-title {
        @include type-regular;
        font-size: 12px;
        text-transform: lowercase;
    }

    pre.test-descriptions, pre.task-descriptions {
        font-size: 12px;
        @include type-light;
        color: $fg-grey;
        margin: 0 0 40px 0;
    }

    .add-task {

        form {
            @include light-grey-border;
            padding: 15px;
            margin: 0;
        }

        input {
            width: 100%;
            margin: 0 0 30px 0;
            padding: 0;
            border: 0;
            outline: 0;
        }
        
        textarea {
            @extend input;
            height: 65px;
            overflow-y: auto;
            resize: none;
            margin: 0;
        }

        .box {
            padding: 15px;
            margin: 0;
            @include light-grey-border;
            border-top: 0;
        }
    }

    .tags {
        margin: 0 0 40px 0;
        p {
            font-size: 10px;
            margin: 0 0 10px 0;
        }
        .tag-pool {
            width: 490px;
            height: 30px;
            background: rgba(205,206,207,0.2);
            @include light-grey-border;
            
            ul {
                padding: 0;
                li {
                    padding: 0 0 0 15px;
                    font-size: 10px;
                    color: $fg-blue;
                    display: inline-block;

                    &:first-child {
                        padding: 0 0 0 10px;
                    }
                }
            }
        }
        textarea.custom-tags {
            @extend .tag-pool;
            background: $white;
            border-top: 0;
            resize: none;
            padding: 8px;
            outline: 0;
        }
    }

    .done-button {
        position: absolute;
        right: 30px;
    }

    .container {
        padding: $pad 0 0 0;
    }
    .sheet-holder {
        padding: 0 0 ($pad * 2) 0;
    }

    .test-setup {
        padding: $pad 0 0 0;

        .sheet {
            padding: $pad;
        }

        .nobullets {
            width: 100%;
            .input {
                width: 100%;
            }
        }

        @include input-placeholders;

        .select-active {
            @include button-colour($fg-green, $white);
            border: 1px solid $fg-green-light;
            cursor: pointer;
            &:after {
                content: 'ed';
            }
        }
        .select-inactive {
            background: $white;
            color: $fg-grey;
            border: 1px solid $fg-grey-light;
            cursor: pointer;
            &:after {
                content: '';
            }
        }
    }
}