/* styles for bits */

/* tooltips */

// tooltip icon that comes after text
span.tooltip-icon {
    background: $fg-grey-light;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    margin: 0 0 0 5px;
    vertical-align: bottom;
    text-transform: none;

    & span {
        position: absolute;
        top: 0.5px;
        right: 3px;
        color: $white;
        font-size: 8px;
        text-transform: none;
    }
}


// small tooltip

[data-tooltip],
[data-tooltip-large],
[data-tooltip-large-report],
.tooltip {
  position: relative;
  cursor: pointer;
}

[data-tooltip]:before,
[data-tooltip]:after,
[data-tooltip-large]:before,
[data-tooltip-large]:after,
[data-tooltip-large-report]:before,
[data-tooltip-large-report]:after,
.tooltip:before,
.tooltip:after {
  position: absolute;
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: 
      opacity 0.2s ease-in-out,
        visibility 0.2s ease-in-out,
        -webkit-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
    -moz-transition:    
        opacity 0.2s ease-in-out,
        visibility 0.2s ease-in-out,
        -moz-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
    transition:         
        opacity 0.2s ease-in-out,
        visibility 0.2s ease-in-out,
        transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform:    translate3d(0, 0, 0);
  transform:         translate3d(0, 0, 0);
  pointer-events: none;
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
[data-tooltip]:focus:before,
[data-tooltip]:focus:after,
[data-tooltip-large]:hover:before,
[data-tooltip-large]:hover:after,
[data-tooltip-large]:focus:before,
[data-tooltip-large]:focus:after,
[data-tooltip-large-report]:hover:before,
[data-tooltip-large-report]:hover:after,
[data-tooltip-large-report]:focus:before,
[data-tooltip-large-report]:focus:after,
.tooltip:hover:before,
.tooltip:hover:after,
.tooltip:focus:before,
.tooltip:focus:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

// triangle under bubble
.tooltip:before,
[data-tooltip]:before,
[data-tooltip-large]:before,
[data-tooltip-large-report]:before {
  z-index: 1001;
  border: 6px solid transparent;
  background: transparent;
  content: "";
}

// reg tooltip
.tooltip:after,
[data-tooltip]:after {
  z-index: 1000;
  padding: 8px;
  width: 80px;
  background-color: $fg-blue-dark;
  background-color: hsla(195, 50%, 33%, 0.85);
  border-radius: 2px;
  color: #fff;
  content: attr(data-tooltip);
  font-size: 12px;
  line-height: 15px;
  @include type-regular;
  text-align: center;
}

// large tooltip
.tooltip:after,
[data-tooltip-large]:after {
  z-index: 1000;
  padding: 8px;
  width: 215px;
  background-color: $fg-blue-dark;
  background-color: hsla(195, 50%, 33%, 0.85);
  border-radius: 2px;
  color: #fff;
  content: attr(data-tooltip-large);
  font-size: 12px;
  line-height: 15px;
  @include type-regular;
  text-align: center;
}

// large-report tooltip
.tooltip:after,
[data-tooltip-large-report]:after {
  z-index: 1000;
  padding: 8px;
  width: 155px;
  background-color: $fg-blue-dark;
  background-color: hsla(195, 50%, 33%, 0.85);
  border-radius: 2px;
  color: #fff;
  content: attr(data-tooltip-large-report);
  font-size: 12px;
  line-height: 15px;
  @include type-regular;
  text-align: left;
  text-transform: none;
}

[data-tooltip]:before,
[data-tooltip]:after,
[data-tooltip-large]:before,
[data-tooltip-large]:after,
[data-tooltip-large-report]:before,
[data-tooltip-large-report]:after,
.tooltip:before,
.tooltip:after,
.tooltip-top:before,
.tooltip-top:after {
  bottom: 100%;
  left: 0;
}

// triangle under bubble
[data-tooltip]:before,
[data-tooltip-large]:before,
[data-tooltip-large-report]:before,
.tooltip:before,
.tooltip-top:before {
  margin-left: -1px;
  margin-bottom: -12px;
  border-top-color: $fg-blue-dark;
  border-top-color: hsla(195, 50%, 33%, 0.85);
}

// horizontally align top/bottom tooltips
[data-tooltip]:after,
.tooltip:after,
.tooltip-top:after {
  margin-left: -35px;
}

// large tooltip
[data-tooltip-large]:after,
.tooltip:after,
.tooltip-top:after {
  margin-left: -103px;
}

// large-report tooltip
[data-tooltip-large-report]:after,
.tooltip:after,
.tooltip-top:after {
  margin-left: -20px;
}


[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
[data-tooltip]:focus:before,
[data-tooltip]:focus:after,
[data-tooltip-large]:hover:before,
[data-tooltip-large]:hover:after,
[data-tooltip-large]:focus:before,
[data-tooltip-large]:focus:after,
[data-tooltip-large-report]:hover:before,
[data-tooltip-large-report]:hover:after,
[data-tooltip-large-report]:focus:before,
[data-tooltip-large-report]:focus:after,

.tooltip:hover:before,
.tooltip:hover:after,
.tooltip:focus:before,
.tooltip:focus:after,
.tooltip-top:hover:before,
.tooltip-top:hover:after,
.tooltip-top:focus:before,
.tooltip-top:focus:after {
  -webkit-transform: translateY(-12px);
  -moz-transform:    translateY(-12px);
  transform:         translateY(-12px); 
}

/* help bubble */

#help-bubble {
	position: fixed;
	right: $pad*1.5;
	bottom: $pad*1.5;
	z-index: 99998;
	
	.help-bubble-open {
		background: $line;
		color: $fg-slate;
		@include type-bold;
		display: block;
		width: $pad*2.5;
		height: $pad*2.5;
		text-align: center;
		line-height: $pad*2.6;
		@include radius($pad*3);
		opacity: 0.6;
		
		&:hover {
			text-decoration: none;
			opacity: 1.0;
		}
	}
}

#help-bubble-content {
	position: fixed;
	right: $pad;
	bottom: $pad;
	z-index: 99999;
	background: $white;
	@include dropshadowULTRA;
	@include radius;
	width: 320px;
	margin: 0;
	padding: $pad;

	a {
		margin: 0 20px 0 0;
	}

	img {
		width: 15px;
		margin: 0 5px 0 0;
	}

	p {
		font-size: $type-size-base*0.9;
		line-height: 1.4;
		margin-bottom: $pad/2;
	}
	
	.button {
		margin-top: $pad/4;
		background-color: transparent;
		border: 1px solid $line;
		color: $fg-black;
	}
}


/* task rating output */

.task-score {
	@include radius(4px);
	margin: 5px 0 0 0;
	font-size: $type-size-base*0.6;
	@include type-bold;
	text-transform: uppercase;
	letter-spacing: 0;
	color: $white;
	margin: 0;
	padding: 0 $pad/4;
		
	&.green {
		background: $fg-green;
		
		&.inverted {
			border: 2px solid $fg-green-light;
			color: $fg-green-light !important;
			background: $white;
		}
	}
	
	&.red {
		background: $fg-header-red;
		
		&.inverted {
			border: 2px solid $fg-header-red;
			color: $fg-header-red !important;
			background: $white;
		}
	}
}




.task-rating {
	float: right;
	padding: 0;
	margin: 0;
	
	small {
		text-transform: uppercase;
		display: block;
		float: left;
	}
	
	.task-rating-doot {
		cursor: pointer;
		width: $pad;
		height: $pad;
		padding: 0;
		margin: 0 0 0 $pad/4;
		@include radius($pad);
		overflow: hidden;
		display: block;
		float: left;
		
		&.task-rating-plus {
			background: $fg-green;
			border: 2px solid $fg-green;
			
		}
		
		&.task-rating-minus {
			background: $fg-header-red;
			border: 2px solid $fg-header-red;
		}
		
		&.hollow {
			background: $white;
		}
		
	}
}
	

	
/* error messaging */

.messaging {
	width: 100%;
	padding: $pad/2;
	margin: 0 0 $pad/2 0;
	@include radius;
	text-align: center;
	
	&.messaging-problem {
		background: $fg-red-bg;
		color: $white;

	}
	
	&.messaging-success {
		background: $fg-green-light;
		color: $white;
	}
	
	&.messaging-neutral {
		background: $line;
		color: $text
	}
}






/* quickie style for boxes with a line on top */

.line-top {
	border-top: 1px solid $line;
	padding: $pad 0;
	margin: $pad 0 0 0;
}


/* elevator buttons for sorting */

.elevator {
	display: block;
	opacity: 0.5;
	padding: 0;
	font-size: $type-size-base*0.8;
	cursor: pointer;
	line-height: 1;
	
	&:hover {
		opacity: 1.0;
	}
}

.step-ordering {
	opacity: 0.3;
	
	&:hover {
		opacity: 1.0;
	}
}



/* sheet stylins' */
.sheet-holder {
	padding: $pad 0;
	min-height: 100%;
}

.sheet {
	padding: 0 0 $pad 0;
	margin: 0;
	min-height: 100%;
	background: $white;
	@include dropshadowULTRA;
	@include radius;
}


/* horizontal rule */

hr {
	width: 70%;
	padding: 0 0 $pad 0;
	margin: 0 auto;
	display: block;
	border: 0;
	height: 0;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}


/* minimal nav */

#nav-logo {
	position: fixed;
	left: $pad*1.5;
	top: $pad*1.5;
	background: $fg-header-red;
	color: $fg-header-red-dark;
	padding: 0;
	margin: 0;
	z-index: 999999;
	overflow: hidden;
	background: url('../assets/fg-logo.svg') center no-repeat;
	background-size: contain;

	a {
		display: block;
		width: 75px;
		height: 75px;

		&:hover {
			background: url('../assets/fg-logo-hover.svg') center no-repeat;
		}
	}
}

#nav-acct-status {
	width: $pad*2.5;
	text-align: center;
	position: fixed;
	left: $pad*1.5;
	top: $pad*5;
	font-size: $type-size-base*0.8;
	line-height: 1.2;
	
	span {
		@include type-bold;
		color: $fg-header-red-dark;
	}
}

#nav-mgmt {
	position: fixed;
	left: $pad*1.5;
	bottom: $pad;
	z-index: 999999;
	text-align: center;
	display: block;

	a {
		color: $text;
		font-size: $type-size-base*0.7;
	}
	
}

#nav-account {
	width: 35px;
	height: 34px;
	background: $fg-bg url('/layout/assets/fg-avatar.svg') no-repeat center center;
	padding: 0;
	margin: 0 0 10px 0;
	display: block;
	position: relative;

	.account-settings {
		background: $white;
		position: absolute;
		right: -85px;
		top: -7px;
		@include dropshadow;
		
		ul {
			padding: 0;
			margin: 0;

			li {
				padding: 0 9px;
				list-style-type: none;

				&:hover {
					background: $fg-blue;
					color: $white;
				}

				img {
					width: 9px;
					display: inline-block;
				}
				span {
				font-size: 12px;
				padding: 0 5px 0 0;
				margin: 0;
				display: inline-block;
				}
			}
		}
	}
	
}








