/* styles for bits */


/* how we style notes within summaries and reports */


.message-group {
	margin: 0;
	padding: $pad/2 0 0 0;
	
	&.report-messages {
		//border-top: 1px solid $line;
		padding: $pad 0 0 0;
		
		.message {
			padding: $pad/2 0;
			
			.message-body p {
				margin-bottom: -4px;
			}
			
			&:hover {
				background: none;
			}
		}
		
	}
				
}



.message {
	padding: $pad/2 $pad/3;
	@include radius;
	color: $fg-grey;
		
		&:hover {
			color: $fg-black;
		
		.message-details .message-edit {
			display: block;
		}
		
		// .message-body .tag {
		// 	background: darken($fg-tan, 6%);
		// }
	}
	
	.message-details {
		float: left;
		margin: 2px 0 0 0;
		width: $pad*1.25;
		height: 16px;
		
		.message-details-avatar {
			img {
				width: 16px;
				height: 16px;
			}
		}
		
		.message-edit {
			display: none;
			
			img {
				width: 12px;
				height: auto;
				opacity: 0.5;
			}
		}
		
	}
	
	.message-body {
		float: left;
		width: 90%;	

		p {
			margin-bottom: 0;
			
			.tag {
				padding: 0 $pad/6;
			}
		}
		
		
		small {
			margin: 0;
			padding: 0;
			color: $fg-grey;
		}
		
		textarea {
			width: 100%;
		}
		
	}
	
	/* when it's the user header */
	&.message-user {
		.message-body {
			width: 50%;
			font-size: $type-size-base*0.8;
			text-transform: uppercase;
			opacity: 0.6;
		}
		
		.message-fave {
			font-size: $type-size-base*0.8;
			opacity: 0.6;
		}
		
		.message-details {
			opacity: 0.4;
		}
		
		&:hover {
			background: none;
		}	
	}
		
}



/* task rating input */

.task-rating {
	width: 100%;
	background: $fg-tan;
	padding: $pad/2;
	margin: 0;
	font-size: $type-size-base*0.8;
	@include radius;
	
	.float-left {
		padding-top: $pad/6;
	}
	
	.button {
		&.hollow {
			opacity: 0.3;
		}
	}
}


/* task rating output */

.task-score {
	@include radius(4px);
	margin: 5px 0 0 0;
	font-size: $type-size-base*0.6;
	@include type-bold;
	text-transform: uppercase;
	letter-spacing: 0;
	color: $white;
	margin: 0;
	padding: 0 $pad/4;
		
	&.green {
		background: $fg-green;
		
		&.inverted {
			border: 2px solid $fg-green-light;
			color: $fg-green-light !important;
			background: $white;
		}
	}
	
	&.red {
		background: $fg-header-red;
		
		&.inverted {
			border: 2px solid $fg-header-red;
			color: $fg-header-red !important;
			background: $white;
		}
	}
}
	

	
/* error messaging */

.messaging {
	width: 100%;
	padding: $pad/2;
	margin: 0 0 $pad/2 0;
	@include radius;
	text-align: center;
	
	&.messaging-problem {
		background: $fg-header-red;
		color: $white;

	}
	
	&.messaging-success {
		background: $fg-green-light;
		color: $white;
	}
	
	&.messaging-neutral {
		background: $line;
		color: $text
	}
}



/* quickie style for boxes with a line on top */

.line-top {
	border-top: 1px solid $line;
	padding: $pad 0;
	margin: $pad 0 0 0;
}


/* elevator buttons for sorting */

.elevator {
	display: block;
	opacity: 0.5;
	padding: 0;
	font-size: $type-size-base*0.8;
	cursor: pointer;
	line-height: 1.1;
	
	&:hover {
		opacity: 1.0;
	}
}

/* Edit mode button on the bottom of Reports*/
.edit-controls{
	position: fixed;
	bottom:40px;
	left:44%;
	background-color: #f2f2f2;
	border-radius: 4px;

	a{
		display: block;
		float: left;
		min-width: 100px;
		text-align: center;
		padding: $pad/1.7;
		text-decoration: none;

	}

	.enabled{
		color: #fff;
		background-color: $fg-green;

		&:hover{

			background-color: darken($fg-green, 3%);

		}

		&.left {
			border-radius: 4px 0px 0px 4px;

		}

		&.right {
			border-radius: 0px 4px 4px 0px;
		}

	}

	.disabled {
		color: darken(#f2f2f2, 30%);

		&:hover{
			border-radius: 0px 4px 4px 0px;
			background-color: darken(#f2f2f2, 3%);
		}
	}

}










