/* styles for bits */



/* task rating input */

.task-rating {
	width: 100%;
	background: $fg-tan;
	padding: $pad/2;
	margin: 0;
	font-size: $type-size-base*0.8;
	@include radius;
	
	.float-left {
		padding-top: $pad/6;
	}
	
	.button {
		&.hollow {
			opacity: 0.3;
		}
	}
}


/* task rating output */

.task-score {
	@include radius(4px);
	margin: 5px 0 0 0;
	font-size: $type-size-base*0.6;
	@include type-bold;
	text-transform: uppercase;
	letter-spacing: 0;
	color: $white;
	margin: 0;
	padding: 0 $pad/4;
		
	&.green {
		background: $fg-green;
		
		&.inverted {
			border: 2px solid $fg-green-light;
			color: $fg-green-light !important;
			background: $white;
		}
	}
	
	&.red {
		background: $fg-header-red;
		
		&.inverted {
			border: 2px solid $fg-header-red;
			color: $fg-header-red !important;
			background: $white;
		}
	}
}
	

	
/* error messaging */

.messaging {
	width: 100%;
	padding: $pad/2;
	margin: 0 0 $pad/2 0;
	@include radius;
	text-align: center;
	
	&.messaging-problem {
		background: $fg-header-red;
		color: $white;

	}
	
	&.messaging-success {
		background: $fg-green-light;
		color: $white;
	}
	
	&.messaging-neutral {
		background: $line;
		color: $text
	}
}



/* quickie style for boxes with a line on top */

.line-top {
	border-top: 1px solid $line;
	padding: $pad 0;
	margin: $pad 0 0 0;
}


/* elevator buttons for sorting */

.elevator {
	display: block;
	opacity: 0.5;
	padding: 0;
	font-size: $type-size-base*0.8;
	cursor: pointer;
	line-height: 1.1;
	
	&:hover {
		opacity: 1.0;
	}
}



/* sheet stylins' */
.sheet-holder {
	padding: $pad 0;
	min-height: 100%;
}

.sheet {
	padding: 0;
	margin: 0;
	min-height: 100%;
	background: $white;
	@include dropshadowULTRA;
}


/* horizontal rule */

hr {
	width: 70%;
	padding: 0;
	margin: 0 auto;
	display: block;
	border: none;
	border-top: 1px solid $line;
}


/* minimal nav */

#nav-logo {
	position: fixed;
	left: $pad;
	top: $pad;
	background: $fg-header-red;
	color: $fg-header-red-dark;
	@include radius($pad*4);
	padding: 0;
	margin: 0;
	z-index: 999999;
	overflow: hidden;
	
	a {
		display: block;
		width: $pad*2.5;
		height: $pad*2.5;
		text-align: center;
		line-height: $pad*2.7;
	}
	
	img {
		height: 13px;
		width: auto;
	}
}









