/* new report & summarizing hawtness up in this piece */


#view-findings {
		
	padding: 0;
	margin: 0;
	
	&.show-comments {
		
		.sheet-holder {
			left: 25%;
			@include animated;
		}
		
		#findings-nav {
			left: 5%;
			@include animated;
		}
	
		.message-comments {
			display: block;
		}
	}

	
	#findings-nav {
		padding: $pad 0 0 0;
		margin: 0;
		width: 20%;
		height: 100%;
		position: fixed;
		left: 15%;
		top: 0;
		@include animated;		
		@include scrollbar;
		
				
		#findings-viewmode-controls {
			padding: $pad;
			width: 95%;
			position: absolute;
			left: 0;
			bottom: 0;
		}
		
		#findings-share-link {
			width: 100%;
			padding: 0;
			margin: 0 0 $pad/2 0;
			
			small {
				line-height: $type-size-base;
				display: block;
			}
	
			.input {
				width: 80%;
				margin: 0;
			}
		}
		
		#sidebar {
			width: 95%;
			height: 80%;
			overflow: auto;
			
			li {
				width: 95%;
			}
		}
	}
	
	
	
	.sheet-holder {
		position: absolute;
		top: 0;
		left: 35%;
		width: 50%;
		@include animated;
	}
	
	
	.findings-header {
		padding: $pad*2;
		
		h3 {
			padding: 0;
			margin: 0;
		}
	}
	
	.findings-description {
		padding: 0 $pad*2;
		
		p {
			padding: 0 0 $pad/2 0;
			color: $fg-slate;
		}
	}
	
	.findings-summary {
		width: 100%;
		max-width: 100%;
		height: 100px;
		padding: $pad $pad*2;
		@include radius(0px);
		border: none;
		border-top: 1px solid $line;
		border-bottom: 1px solid $line;
		margin: 0 0 $pad 0;
	}
	
	
}



/* let's embed a video */

#video-embed {
	padding: $pad/2 $pad*2;
	
	.input {
		width: 100%;
	}
	
	p {
		color: $fg-slate;
		padding: 0;
		margin: 0 0 -5px 0;
	}
}


/* let's watch our embedded video */

#video-containers {
	object, embed, iframe {
		width: 100%;
		height: 350px;
		background: black;
	}
}



