/* summary */

#view-findings {
	cursor: default;
	padding: 0;
	margin: 0;

	/* are we onboard? */
	
	&.is-onboard {
		#findings-viewmode-controls {
			bottom: 0;
		}
	}
	
	&.show-comments {
		
		.sheet-holder {
			left: 25%;
			@include animated;
		}
		
		#findings-nav {
			left: 5%;
			@include animated;
		}

		.message-comments {
			display: block;
		}
	}

	#findings-share-report {
		.modal-interior-title{
			padding: 0;

			h2 {
				margin: 0 0 10px 0;
			}
		}
		.input {
			width: 92%;
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;

			&:hover {
				border: 1px solid $fg-grey-light-trans;
			}

			&:focus {
				box-shadow: none;
				border: 1px solid $fg-grey-light-trans;
			}
		}
		
		span {
			position: relative;
		
			a {
				position: absolute;
				padding: 8px 10px;
				background: none;
				border: 1px solid $fg-grey-light-trans;
				border-left: 0;
				outline: 0;
				cursor: pointer;
			}

			.external-link {
				width: 20px;
				height: 20px;
				display: inline-block;
				vertical-align: middle;
				background: url('/layout/assets/external-link.svg') center no-repeat;
			}
		}
	}

	#findings-nav {
		padding: 20px 0 0 0;
		margin: 0;
		width: 20%;
		height: 100%;
		position: fixed;
		left: 10%;
		top: 0;
		@include animated;
		@include scrollbar;
		
		#sidebar {
			width: 95%;
			height: 98%;
			overflow: auto;
			position: relative;
			
			&.sidebar {
				font-size: 16px;
				@include type-light;

				.tag-hash:before {
					content: '#';
				}

				span.report {
					display: block;

					span.info {
					    background: $fg-grey-light;
					    width: 10px;
					    height: 10px;
					    border-radius: 50%;
					    display: inline-block;
					    position: relative;
					    margin: 0 0 0 5px;

					    & span {
					    	position: absolute;
					    	top: 0;
					    	right: 2px;
					        color: $white;
					        font-size: 10px;
					    }
					}
					
					&:hover {
						color: $fg-slate;
					}
				}

				h4.group-cat.hollow {
					padding: 40px;
				}

				h4.group-cat {
					padding: 10px;
					margin: 5px 0 0 0;
					font-size: 10px;
					color: $fg-grey-light;
					text-transform: uppercase;
					position: relative;

					span.info {
					    background: $fg-grey-light;
					    width: 10px;
					    height: 10px;
					    border-radius: 50%;
					    display: inline-block;
					    position: relative;
					    top: 2px;
					    margin: 0 0 0 3px;

					    & span {
					    	position: absolute;
					    	top: 0;
					    	right: 2.5px;
					        color: $white;
					        font-size: 10px;
					    }
					}

					&:first-child {
						margin: 20px 0 0 0;
					}
				}

				li {
					padding: 10px;
					margin: 5px 0 0 0;

					&:hover {
						color: $fg-slate;
					}

					&:active {
						color: $fg-slate;
						@include type-bold;
					}
				}
			}

			#findings-viewmode-controls {
				position: absolute;
				left: 80%;
				top: 110px;
			}
			
			#findings-share-link {
				width: 100%;
				padding: 0;
				margin: 0 0 $pad/2 0;
				
				small {
					line-height: $type-size-base;
					display: block;
				}
			
				.input {
					width: 80%;
					margin: 0;
				}
			}

		}
	}

	.sheet-holder {
		width: 70%;
		height: 100%;
		padding: 0;
		margin: 0;
		position: absolute;
		top: 0;
		left: 30%;

		&.full {
			width: 103%;
			left: -3%;
			position: relative;
		}
	}
	
	.findings-content {
		width: 60%;
		margin: 0 auto;
		@include type-light;

		&.report {
			width: 35%;
		}

		h1 {
			margin: 0;
			font-size: 28px;
		}

		h2 {
			font-size: 20px;
			@include type-regular;
			color: $fg-slate;
			margin: 0 0 15px 0;
		}

		p {
			font-size: 18px;
			line-height: 24px;
			color: $fg-grey;
			margin: 0 0 50px 0;
		}
		
		pre {
			margin: 0 0 10px 0;
		}

		.findings-header {
			padding: 40px 0;
			
			.findings-description {
				color: $fg-grey;
				font-size: 12px;
				margin: 10px 0;

				span {
					padding: 0 20px 0 0;
				}
			}
			
		}
		
		.findings-information {
			textarea {
				font-size: 18px;
				line-height: 24px;
				height: 400px;

				&:hover, &:focus {
				    color: $black;
				}
			}
		}
		
		.learnings {
			width: 100%;
			max-width: 100%;
			height: 400px;
			padding: 10px 15px;
			margin: 0 0 70px 0;
			font-size: 18px;
			line-height: 24px;
		}

		.all-summaries {
			margin: 40px 0 0 0;

			.line-hr {
			    display: block;
			    text-align: center;
			    overflow: hidden;
			    white-space: nowrap;
			    margin: 0 0 40px 0;
			}

			.line-hr > span {
			    position: relative;
			    display: inline-block;
			    @include type-light;
			    color: $fg-grey;
			    font-size: 12px;
			}
			
			.line-hr > span:before,
			.line-hr > span:after {
			    content: "";
			    position: absolute;
			    top: 50%;
			    width: 9999px;
			    height: 1px;
			    background: $fg-grey-light;
			}

			.line-hr > span:before {
			    right: 100%;
			    margin-right: 15px;
			}

			.line-hr > span:after {
			    left: 100%;
			    margin-left: 15px;
			}
			
			h2 {
				margin: 0 0 10px 0;
			}

			p {
				font-size: 12px;
				line-height: 18px;
				color: $fg-grey;
			}
		}
	}
}

#view-summary-modal {
	

}

/* let's embed a video */

#video-embed {
	padding: 0 $pad*2 $pad $pad*2;
	
	.input {
		width: 100%;
	}
	
	p {
		color: $fg-slate;
		padding: 0;
		margin: 0 0 -5px 0;
	}
	
	small {
		padding: 0;
		margin: $pad/4 0;
		display: block;
		line-height: $type-size-base;
	}
}


/* let's watch our embedded video */

#video-containers {
	object, embed, iframe {
		width: 100%;
		height: 350px;
		background: black;
	}
}

#test-end-summarize {

	.modal-interior-title {
		padding: 0;

		h2 {
			margin: 0 0 10px 0;
		}

		p {
			margin: 0 0 10px 0;
			line-height: 18px;
		}
	}

	.summary-form {
		textarea {
			height: 200px;
			line-height: 18px;
		}
	}
}

