/*
custom fonts
========================
*/

@mixin type-extralight {
	@include gibson-extralight;
}

@mixin type-light {
	@include gibson-light;
}

@mixin type-regular {
	@include gibson-regular;
}

@mixin type-bold {
	@include gibson-bold;
}

@mixin type-extrabold {
	@include gibson-extrabold;
}



/* p n a */

@mixin gibson-extralight {
	font-family: "canada-type-gibson",sans-serif;
	font-style: normal;
	font-weight: 100;
	
}


@mixin gibson-light {
	font-family: "canada-type-gibson",sans-serif;
	font-style: normal;
	font-weight: 300;
	
}

@mixin gibson-regular {
	font-family: "canada-type-gibson",sans-serif;
	font-style: normal;
	font-weight: 400;
	
}

@mixin gibson-bold {
	font-family: "canada-type-gibson",sans-serif;
	font-style: normal;
	font-weight: 400;
	
}

@mixin gibson-extrabold {
	font-family: "canada-type-gibson",sans-serif;
	font-style: normal;
	font-weight: 600;
	
}

