/*
FORMS!
*/

form {
	padding: 0;
	margin: 0;
}

/* we're classing these out rather than using the tags directly so they can be applied to more things more uniformly */

.input, .button {
	display: inline-block;
	margin: 0;
	padding: $pad/2 $pad/1.5;
	@include radius;
	@include type-regular;
	font-size: $type-size-base*0.9;
	outline: none;
	border: none;
}




.expand-button {
	position: relative;

	.expand-button-body {
		background: $white;
		color: #999999;
		margin: 0;
		padding: 0;
		@include radius($pad*2);
		height: $pad*1.2;
		width: $pad*1.2;
		cursor: pointer;
		text-align: center;
		font-size: $type-size-base*1.6;
		@include animated;
	}
	
	&:hover {
		.expand-button-helper {
			display: block;
		}
		
		.expand-button-body {
			background: $fg-slate;
			color: $white;
			@include animated;
		}
	}

	.expand-button-helper {
		width: 120px;
		text-align: right;
		display: none;
		position: absolute;
		top: 1px;
		font-size: $type-size-base*0.8;
		right: 30px;
		color: $text;
		
	}
}



.input {
	background: $white;
	border: 1px solid $line; 

	&:focus {
		//@include insetshadow;
	}
	
	&.small {
		font-size: $type-size-base*0.8;
		line-height: 1.5;
	}
	
	&.tight {
		padding: $pad/3 $pad/2;
	}
	
	&.hollow {
		background: none;
		border: 1px solid transparentize($line, 0.5);
		
		&:focus {
			background: $white;
			border: 1px solid $line; 
		} 
	}
	
}

textarea.input {
	line-height: $type-size-base*1.5;
}

.placeholder {
	color: transparentize($text, 0.4);
}


/* button colour mixin */

.button {
	@include button-colour($fg-green, $white);
	cursor: pointer;
	
	&.small {
		font-size: $type-size-base*0.8;
		padding: $pad/8 $pad/2;
	}
	
	
	&.disabled {
		cursor: not-allowed;
		opacity: 0.4;
	}
	
	&.dark {
		@include button-colour($fg-black, $white);
	}
	
	&.destructive {
		@include button-colour($fg-header-red, $white);
	}
	
	&.secondary {
		@include button-colour($text, $white);
	}
	
	&.header {
		@include button-colour($white, $fg-header-red);
	}
	
	&.hollow {
		@include button-colour($white, $text);
		border: 1px solid lighten($text, 20%);
	}
	
	&.fake {
		color: darken($line, 20%);
		background: none;
		border: 1px solid darken($line, 10%);
		cursor: default !important;
		
		&:hover {
			background: none;
			@include dropshadow(0 1px 3px, rgba(0,0,0,0));
		} 
	}

}


/* Do some stuff to deal with the reprehensible state of 'select' elements */
.input-select {
    border: 1px solid $line;
    width: 100%;
    @include radius;
    overflow: hidden;
    background: $white url("/layout/assets/select-arrow.svg") no-repeat calc(100% - 10px) 50%;
    background-size: auto 18%;
    
	select {
        padding: $pad/2 $pad/1.5;
		width: 100%;
        border: none;
        box-shadow: none;
        background: transparent;
        background-image: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        @include type-regular;
        font-size: $type-size-base;
        outline: none;
        border: none;
        
		&:focus {
            outline: none;
        }
    }
    
}






label {
	padding: 0;
	margin: 0;
	font-size: $type-size-base*0.7;
	opacity: 0.8;
	text-transform: uppercase;
}



/* replace radio butts and checkboxes */

.icheckbox_flat, .iradio_flat {
	margin: $pad/4 $pad/4 0 0;
	vertical-align: text-bottom;
}



/* fixes for stupid Firefox */

button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {border:0;padding:0;margin:0;}


