/*
FORMS!
*/

form {
	padding: 0;
	margin: 0;
}

/* we're classing these out rather than using the tags directly so they can be applied to more things more uniformly */

.input, .button {
	display: inline-block;
	margin: 0;
	padding: $pad/2 $pad/1.5;
	@include radius;
	@include type-regular;
	font-size: $type-size-base;
	outline: none;
	border: none;
}


.input {
	background: $white;
	border: 1px solid $line; 

	&:focus {
		@include insetshadow;
	}
	
	&.small {
		font-size: $type-size-base*0.8;
		line-height: 1.5;
	}
	
	&.tight {
		padding: $pad/3 $pad/2;
	}
	
	&.hollow {
		background: none;
		border: 1px solid transparentize($line, 0.5);
		
		&:focus {
			background: $white;
			border: 1px solid $line; 
		} 
	}
	
}

textarea.input {
	line-height: $type-size-base*1.5;
}

.placeholder {
	color: transparentize($text, 0.4);
}


/* button colour mixin */

.button {
	@include button-colour($fg-green, $white);
	cursor: pointer;
	
	&.small {
		font-size: $type-size-base*0.8;
		padding: $pad/8 $pad/2;
	}
	
	
	&.disabled {
		cursor: not-allowed;
		opacity: 0.4;
	}
	
	&.dark {
		@include button-colour($fg-black, $white);
	}
	
	&.destructive {
		@include button-colour($fg-header-red, $white);
	}
	
	&.secondary {
		@include button-colour($text, $white);
	}
	
	&.header {
		@include button-colour($white, $fg-header-red);
	}
}



label {
	padding: 0;
	margin: 0;
	font-size: $type-size-base*0.7;
	opacity: 0.5;
	text-transform: uppercase;
}



/* replace radio butts and checkboxes */

.icheckbox_flat, .iradio_flat {
	margin: $pad/4 $pad/4 0 0;
	vertical-align: text-bottom;
}



/* fixes for stupid Firefox */

button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {border:0;padding:0;margin:0;}


