/* floating header for new design style */

#header-min {
	padding: $pad*0.6 $pad/2 $pad*1.5 $pad/2;
	margin: 0;
	
	.expand-button {
		.expand-button-body {
			color: $white;
			background: $fg-black;
		}
	}
	
}


/* header-specific styles */

/*

#header {
	position: fixed;
	top: 0;
	left: 0;
	background: transparentize($fg-header-red, 0.05);
	color: $fg-header-red-dark;
	width: 100%;
	height: $pad*3;
	z-index: 999999;
	padding: 0 $pad;
	@include type-bold;
	
	
	a {
		color: $fg-header-red-dark;
		text-decoration: none;
				
		&:hover {
			border-bottom: 2px solid transparentize($fg-header-red-dark, 0.8);
		}
	}
	
	#header-logo {
		float: left;
		padding: 19px 0 0 0;
		margin: 0 $pad 0 0;
		
		a {
			border: none;
		}
		
		img {
			height: 20px;
			width: auto;
		}
	}

	
	#header-nav {
		float: left;
		font-size: $type-size-base*1;
		
		ul {
			padding: 0;
			margin: 0;
			list-style: none;
			
			li {
				float: left;
				padding: $pad/1.1 $pad/1.5 0 0;
			}
		}		
	}
		
	
	#header-account {
		float: right;
		
		#header-account-username {
			font-size: $type-size-base*0.8;
			float: left;
			padding: $pad/1.1 $pad/2 0 0;
			display: block;
		}
		
		#header-account-avatar {
			height: 28px;
			width: 28px;
			margin: $pad/1.4 0 0 $pad/2;
			@include radius(20px);
			overflow: hidden;
			float: left;
			cursor: pointer;
			
			img {
				width: 28px;
				height: auto;
			}
		}
		
		#header-account-dropdown {
			float: left;
			padding: $pad/1.8 0 0 $pad/3;
			
		}
				
	}
	
	
	// non-auth normal header
	&.header-nonauth {
		background: $white;
		border-bottom: 1px solid $line;
	}
	
	
}



// active test header
// header-specific styles


#header-run {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: $pad*2.5;
	z-index: 999999;
	padding: 0;
	
	.left-pane {
		background: transparentize($fg-header-red, 0.05);
		color: $fg-header-red-dark;
		height: $pad*2.5;
		padding: 0 $pad !important;
		
		#header-logo {
			float: left;
			padding: 15px 0 0 0;
			margin: 0 $pad 0 0;
			
			a {
				border: none;
			}
			
			img {
				height: 20px;
				width: auto;
			}
		}
	}
	
	
	.large-pane {
		padding: 0 $pad;
		background: transparentize($fg-tan, 0.1);
		border-bottom: 1px solid darken($fg-tan, 7%);
		height: $pad*2.5;
		overflow: hidden;
		
		#header-buttons {
			float: right;
			padding: $pad/2 $pad 0 0;
			margin: 0;
			
			.button {
				display: none;
			}
		}
			
		
		#header-account {
			float: right;
			cursor: pointer;
			
			#header-account-avatar {
				height: 28px;
				width: 28px;
				margin: $pad/2 0 0 $pad/2;
				@include radius(20px);
				overflow: hidden;
				float: left;
				
				img {
					width: 28px;
					height: auto;
					opacity: 0.2;
				}
			}
			
			#header-account-dropdown {
				float: left;
				padding: $pad/1.8 0 0 $pad/3;
				color: #000;
				opacity: 0.2;
				
			}
					
		}
		
		
	}
	
	
	
}



// the dropdown

#header-account-drawer {
	width: 120px;
	padding: 0 $pad/3;
	position: absolute;
	top: 48px;
	right: $pad;
	background: $fg-header-red;
	z-index: 9999999;
	@include radius-bottom(8px);
	
	.button {
		width: 100%;
		@include type-bold;
	}
	
	ul {
		width: 100%;
		padding: 0;
		margin: 0;
		list-style: none;
		
		li {
			font-size: $type-size-base*0.8;
			padding: $pad/3 $pad/2;
			text-align: center;
			margin: 0;
			border-top: 1px solid transparentize($white,0.85);
		}
	}
}




// adjust button visibility based on where we are in the app

#view-testing {
	#header-run {
		#header-buttons {
			.button-testing {
				display: inline-block;
			}
		}
	}
}

#view-summarizing, #view-summarizingtags {
	#header {
		.button-summarizing {
			display: inline-block;
		}
	}
}

*/





