/* message list */



/* how we style notes within summaries and reports */


.message-group {
	margin: 0;
	padding: 0 0 20px 0;

	.add-note-button {
		margin: 0 40px;

		.add-note-button-body {
			background: $white;
			color: #999999;
			margin: 0;
			padding: 6px;
			@include radius($pad*2);
			height: $pad*2;
			width: $pad*2;
			cursor: pointer;
			text-align: center;
			font-size: $type-size-base*1.9;
			line-height: 1;
			@include animated;
			@include dropshadow;
			float: left;

			&.small {
			 	height: $pad*1.2;
				width: $pad*1.2;
				padding: 0px;
				font-size: $type-size-base;
				line-height: $type-size-base*1.5;
				border: 1px solid $line;
			}
		}
		
		&:hover {
			.add-note-button-helper {
				display: block;
			}
			
			.add-note-button-body {
				background: $fg-slate;
				color: $white;
				@include animated;
			}
		}

		.add-note-button-helper {
			// width: 120px;
			float: left;
			display: none;
			// position: absolute;
			// top: 11px;
			font-size: $type-size-base*1;
			// right: 48px;
			color: $text;
			margin: 0 0 0 10px;

			&.small {
				top: 2px;
			 	font-size: $type-size-base*0.8;
				right: 30px;
			}
			
		}
	}
}

/* this styles the line on the summary page where all the notes live */

.overlay-border {
	width: 90%;
	border-right: 1px solid $border-grey;
}

.summary-border {
	position: absolute;
	right: -47px;
}

.sheet {
	padding: 0;
}


/* message user header */

.message-user {
	padding: $pad $pad*2 0 $pad;
	color: $fg-slate;
	font-size: $type-size-base*0.8;
	@include type-bold;
	
	img {
		width: 13px;
		height: auto;
		opacity: 0.2;
		padding: 0;
		margin: 0 $pad/5 0 0;
		vertical-align: text-bottom;
	}
	
	.expand-button {

		.expand-button-body {
			border: none;
			@include dropshadow(0 0 0, rgba(0,0,0,0));
		}

	}
	
}


/* add a new note when summarizing */

.message-input {
	width: 100%;
	padding: $pad $pad*2;
	margin: 0;
	
	
	.input {
		width: 100%;
	}
}


/* individual messages */

.message {
	padding: $pad/1.5 0 $pad/1.5 $pad*2;
	border-left: 4px solid $white;
	border-right: 4px solid $white;
	position: relative;
	@include animated;
			
	&:hover, &.selected {
		color: $fg-slate;
		background: #f3f7e7;
		border-left: 4px solid $fg-green-grassy;
		border-right: 4px solid $fg-green-grassy;
		@include animated;
					
		.message-details .message-edit {
			display: block;
		}
		
		.message-comment-count {
			background: url('../assets/comment-active.svg') no-repeat right top;
			background-size: contain;
			color: $white;
			
			&.empty {
				background: url('../assets/comment-active.svg') no-repeat right top;
				background-size: contain;
				color: $white;
			}
		}
	}
	
	.message-comment-count {
		position: absolute;
		left: 102%;
		top: 0;
		padding: $pad/3 $pad/2 $pad/3 $pad;
		font-size: 11px;
		line-height: 0.9;
		@include type-bold;
		color: darken($background-dark, 10%);
		background: url('../assets/comment-inactive.svg') no-repeat right top;
		background-size: contain;
		cursor: pointer;
		
		&.empty {
			background: url('../assets/comment-empty.svg') no-repeat right top;
			background-size: contain;
			color: darken($background-dark, 10%);
			@include type-extrabold;
		}
	}
	
	
	.message-fave {
		float: right;
		
		img {
			width: auto;
			height: 10px;
		}
	}
	
	
	.message-comments {
		display: none;
		position: absolute;
		left: 110%;
		top: 0;
		width: 200px;
		padding: $pad/5 0 0 0;
		
		.message-comment {
			font-size: $type-size-base*0.85;
			line-height: $type-line-base*0.8;
					
		}
		
		small {
			opacity: 0.6;
			font-size: $type-size-base*0.7;
			@include type-light;
		}
		
		.message-comment-submit {
			padding: 0 0 $pad 0;
			
			.input {
				font-size: $type-size-base*0.85;
				@include dropshadow;
				width: 100%;
				height: $pad*3;
			}
			
			small {
				display: block;
				padding: 0;
				margin: 0;
				line-height: $type-size-base*0.8;
				@include type-bold;
				
				a {
					text-decoration: underline;
				}	
			}
			
		}
		
	}
	
	
	.message-details {
		float: left;
		margin: 2px 0 0 0;
		width: $pad*1.25;
		height: 16px;
		
		.message-details-avatar {
			img {
				width: 16px;
				height: 16px;
			}
		}
		
		.message-edit {
			display: none;
			
			img {
				width: 12px;
				height: auto;
				opacity: 0.5;
			}
		}
		
	}
	
	.message-body {
		float: left;
		width: 90%;	

		p {
			margin-bottom: 0 !important;
			color: $fg-grey;
		}
		
		
		small {
			display: block;
			margin: 0;
			padding: 0;
			opacity: 0.6;
		}
		
		textarea {
			width: 100%;
		}
		
	}
	
			
}




