/* Mixins */

@mixin input-placeholders {
	::-webkit-input-placeholder {
		color: $fg-grey-light;
		font-size: 12.5px;
		font-style: italic;
	}
	:-moz-placeholder { /* Firefox 18- */
		color: $fg-grey-light;
		font-size: 12.5px;
		font-style: italic;
	}
	::-moz-placeholder {  /* Firefox 19+ */
		color: $fg-grey-light;
		font-size: 12.5px;
		font-style: italic;
	}
	:-ms-input-placeholder {
		color: $fg-grey-light;
		font-size: 12.5px;
		font-style: italic;
	}
}