/* gimme some sweet, sweet onboard */

.onboard-content {
	width: 100%;
	height: 15%;
	color: $white;
	background: $modal-bg;
	z-index: 999999999;
	padding: $pad*1.5 0;
	margin: 0;
	position: fixed;
	bottom: 0;
	left: 0;
	
	.container {
		padding-top: 0;
	}
	
	h3, p {
		line-height: $type-line-base*0.9;
	}
	

	.button {
		padding: $pad/3 $pad;
		@include dropshadow;
	}
	
	a.secondary {
		color: $white;
		text-decoration: underline;
		opacity: 0.6;
	}
	
	.onboard-avatar {
		float: left;
		display: block;
		padding: 0;
		margin: 0 $pad*0.75 0 0;
		
		img {
			width: 45px;
			height: 45px;
			@include radius(55px);
		}
	}
	
	.onboard-bubble {
		font-size: $type-size-base*0.8;
		float: left;
		margin: 0 0 1px 0;
		
		.onboard-bubble-msg {
			font-size: $type-size-base*0.9;
			background: $white;
			color: $fg-slate;
			padding: $pad/2.5 $pad;
			@include type-bold;
			@include radius(40px);
			position: relative;
			
			.bubble-msg-spike {
				position: absolute;
				left: -8px;
				top: 17px;
				
				img {
				 width: 20px;
				 height: auto;
				}
			}
		}
	}
	
	
}


/* onboard - steps */

/* overview */

.onboard-overview-step1 {
	
}

.onboard-overview-step2 {
	height: 100% !important;
	top: 0;
	padding-top: $pad*5;
	
	hr {
		border: 0;
		height: 0;
		border-top: 1px solid rgba(0, 0, 0, 0.1);
		border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	}
	
	.appstore-link {
		img {
			height: 40px;
			width: auto;
		}
	}
	
	.app-demo {
		text-align: center;
		
		img {
			height: auto;
			width: 60%;
		}
	}
	
	
}

/* run test */

.onboard-run-step1 {
	
}

.onboard-run-step2 {
	
}

.onboard-run-step3 {

	.two-thirds {
		margin-top: -$pad/2;
	}
	
	.onboard-avatar {
		margin-top: 21px !important;
	}

}

.onboard-run-step4 {

	.two-thirds {
		margin-top: -$pad/2;
	}
	
	.onboard-avatar {
		margin-top: 21px !important;
	}
	
	.tag {
		color: lighten($fg-blue, 20%);
	}

}

/* report */

.onboard-report-step1 {
	
}

.onboard-report-step2 {
	
}


#onboard-overview-box {

	font-size: $type-size-base*0.9;
	line-height: $type-line-base*0.9;
	color: $white;
	position: absolute;
	right: $pad;
	top: $pad*8;
	width: 200px;
	margin: 0;
	padding: $pad;
	background: $modal-bg;
	@include radius;
	z-index: 99999;
	
	.button {
		text-align: center;
		display: block;
		width: 100%;
		margin-top: $pad/4;
		
		&.slack {
			background-color: transparentize($white,0.9);
			color: $white;
		}
	}
	
	.hollow {
		border-color: $white;
		background: none;
		color: $white;
	}
}








