/* onboarding styles */

#view-onboarding {
    text-align: center;
    width: 100%;
    position: relative;

    .hide {
        display: none;
    }

    .show {
        display: block;
    }

    .onboarding-content {

        h1 {
            width: 60%;
            margin: 0 auto 20px auto;
            @include type-h1($white);
        }

        h2 {
            width: 60%;
            margin: 0 auto 20px auto;
            @include type-h2($white);

            &.less-margin {
                margin: 0 auto 20px auto;
            }
        }

        p {
            @include type-h3($white);
            color: transparentize($white,0.6);
            width: 29%;
            margin: 0 auto;
        }

        img {
            margin: 45px 0 20px 0;
            max-width: 900px;
            max-height: 70vh;
        }
        img.ranger {
            width: 180px;
            margin: 10% 0 20px 0;
            &.small {
                width: 60px;
                margin: 0 20px 0 0;
                display: inline-block;
                vertical-align: middle;
            }
        }
        .button {
            margin: 40px 0 0 0;
            text-transform: uppercase;
            float: none;
        }
        .cta {
            margin: 40px 0 0 0;

            span {
                color: $white;
                font-size: 14px;
                padding: 0 5px;

                a {
                    color: $white;
                }
                
                a:hover {
                    text-decoration: underline;
                }
            }

            img.slack {
                width: 28px;
                padding: 0 0 0 10px;
                margin: 0;
                display: inline-block;
            }
        }
    }

    footer {
        width: 100%;
        position: fixed;
        bottom: 25px;

        .footer-content {
            text-align: center;
            p {
                @include type-h3($white);
                margin: 0;
                text-align: left;
                width: 65%;
                display: inline-block;
                vertical-align: middle;

                &.two-lines {
                    margin: 0 0 0 20px;
                    line-height: 29px;
                }
            }
            .button {
                text-transform: uppercase;
                margin: 0 0 0 20px;
                display: inline-block;
            }
        }
    }
}
