/* gimme some sweet, sweet onboarding */

#onboarding-content {
	width: 100%;
	color: $white;
	background: $modal-bg;
	z-index: 999999999;
	padding: $pad*1.5;
	margin: 0;
	position: fixed;
	bottom: 0;
	left: 0;
	
	.container {
		padding-top: 0;
	}
	
	h3, p {
		line-height: $type-line-base;
	}
	
	p {
		font-size: $type-size-base*1.1;
	}
	
	.button {
		padding: $pad/3 $pad;
		@include dropshadow;
	}
	
	a.secondary {
		color: $white;
		text-decoration: underline;
		opacity: 0.6;
	}
	
	.onboarding-avatar {
		float: left;
		display: block;
		padding: 0;
		margin: 0 $pad 0 0;
		
		img {
			width: 40px;
			height: 40px;
			@include radius(55px);
		}
	}
	
}


/* onboarding - steps */

.onboarding-overview-step1 {
	display: none;
}

.onboarding-overview-step2 {
	height: 100%;
	display: none;
}

.onboarding-run-step1 {
	display: none;
}

.onboarding-run-step2 {
	display: none;
}




