/* gimme some sweet, sweet onboarding */

#onboarding-content {
	width: 100%;
	height: 15% !important;
	color: $white;
	background: $modal-bg;
	z-index: 999999999;
	padding: $pad*1.5 0;
	margin: 0;
	position: fixed;
	bottom: 0;
	left: 0;
	
	.container {
		padding-top: 0;
	}
	
	h3, p {
		line-height: $type-line-base*0.9;
	}
	

	.button {
		padding: $pad/3 $pad;
		@include dropshadow;
	}
	
	a.secondary {
		color: $white;
		text-decoration: underline;
		opacity: 0.6;
	}
	
	.onboarding-avatar {
		float: left;
		display: block;
		padding: 0;
		margin: 0 $pad*0.75 0 0;
		
		img {
			width: 45px;
			height: 45px;
			@include radius(55px);
		}
	}
	
	.onboarding-bubble {
		font-size: $type-size-base*0.8;
		float: left;
		margin: 0 0 1px 0;
		
		.onboarding-bubble-msg {
			font-size: $type-size-base*0.9;
			background: $white;
			color: $fg-slate;
			padding: $pad/2.5 $pad;
			@include type-bold;
			@include radius(40px);
			position: relative;
			
			.bubble-msg-spike {
				position: absolute;
				left: -8px;
				top: 17px;
				
				img {
				 width: 20px;
				 height: auto;
				}
			}
		}
	}
	
	
}


/* onboarding - steps */

/* overview */

.onboarding-overview-step1 {
	display: none;
}

.onboarding-overview-step2 {
	height: 100%;
	display: none;
}

/* run test */

.onboarding-run-step1 {
	display: none;
}

.onboarding-run-step2 {
	display: none;
}

.onboarding-run-step3 {
	display: none;
	
	.two-thirds {
		margin-top: -$pad/2;
	}
	
	.onboarding-avatar {
		margin-top: 21px !important;
	}

}

.onboarding-run-step4 {
	display: none;
	
	.two-thirds {
		margin-top: -$pad/2;
	}
	
	.onboarding-avatar {
		margin-top: 21px !important;
	}
	
	.tag {
		color: lighten($fg-blue, 20%);
	}

}

/* report */

.onboarding-report-step1 {
	display: none;
}

.onboarding-report-step2 {
	display: none;
}


#onboarding-overview-box {
	display: none;
	font-size: $type-size-base*0.9;
	line-height: $type-line-base*0.9;
	color: $white;
	position: absolute;
	right: $pad;
	top: $pad*8;
	width: 200px;
	margin: 0;
	padding: $pad;
	background: $modal-bg;
	@include radius;
	z-index: 99999;
	
	.button {
		text-align: center;
		display: block;
		width: 100%;
		margin-top: $pad/4;
	}
	
	.hollow {
		border-color: $white;
		background: none;
		color: $white;
	}
}








