/* overview screen */


#view-overview {
	margin: 0;
	padding: $pad*2.5 0 0 0;
	
	#overview-tests {
		padding: $pad*2 0;
	
		.overview-test {
			margin-bottom: $pad;
			
			.overview-test-container {
				width: 100%;
			}
			
			.test-info {
				padding: $pad*3 $pad*1.5;
				text-align: center;
				position: relative;
				@include radius-top;
				background: $fg-tan;

				&:hover {
					.removeTest {
						display: block;
					}
				}
				
				.removeTest {
					font-size: $type-size-base*0.8;
					position: absolute;
					text-align: center;
					width: 99%;
					top: 2px;
					left: 2px;
					text-decoration: none;
					display: none;
					padding: 0;
					
					.dangerous {
						&:hover {
							color: $fg-header-red;
						}
					}
				}
				
				a {
					text-decoration: underline;
				}	
				
				h3 {
					color: $fg-black;
					margin: 0;
				}	
			}
			
			.test-controls {
				background: $fg-green;
				padding: $pad*1.2 $pad/3 $pad*1.2 $pad/3;
				text-align: center;
				@include radius-bottom;
				@include dropshadow;
				
				.test-control {
					float: left;
					width:45%;

					text-align: center;
					font-size: $type-size-base*0.8;
					line-height: $type-line-base*0.65;
					
					a {
						color: $white;
					}
					
					img {
						opacity: 0.5;
						display: inline-block;
						padding: 0 0 $pad/4 0;
						margin: 0;
						width: 20px;
						height: auto;
					}
				}
			}
			

			
		}
	
	}
	
}

