/* overview screen */


#view-overview {
	margin: 0;
	padding: 0;
	position: relative;
	
	.container {
		padding: $pad 0 0 0;
	}
	
	.overview-controls {
		float: right;
	}
	
}


/* overview test block */

.overview-test {
	margin-bottom: $pad;
	
	.test-info {
		padding: $pad*2.5 $pad*0.5 $pad*2 $pad*0.5;
		text-align: center;
		position: relative;
		@include radius-top;
		background: $white;
		max-height: 130px;
		overflow: hidden;
		@include dropshadowULTRA;
		
		small {
			text-transform: uppercase;
			opacity: 0.6;
		}

		&:hover {
			.editTest {
				display: block;
			}
		}
		
		.editTest {
			font-size: $type-size-base*0.8;
			position: absolute;
			text-align: right;
			width: 100%;
			top: 5px;
			left: 0px;
			text-decoration: none;
			display: none;
			padding: $pad/4 $pad/1.5;

			img{
				height: 16px;
				width:auto;
			}

			.dangerous {
				&:hover {
					color: $fg-header-red;
				}
			}
		}
		
		a {
			text-decoration: underline;
		}	
		
		h3 {
			color: $fg-slate;
			margin: 0;
		}	
	}
	
	.test-controls {
		background: $fg-green;
		padding: 0;
		margin: 0;
		border-radius: 0 0 2px 2px;
		@include dropshadowULTRA;
		
		a {
			font-size: $type-size-base*0.9;
			padding: $pad*0.8 0;
			float: left;
			width: 50%;
			margin: 0;
			text-align: center;
			text-decoration: none;
			color: $white;

			&:hover {
				background-color: darken($fg-green, 3%);

				&.left {
					border-radius: 0 0 0 2px;
				}

				&.right {
					border-radius: 0 0 2px 0;
				}

			}
			
		}
	}
	
	// empty test-container 
	&.overview-test-empty {
		cursor: pointer;
		opacity: 0.7;
		@include animated;
		
		&:hover {
			opacity: 1.0;
			@include animated;
		}
			
		.overview-test-container {
			border: 2px dashed $line;
			@include radius(6px);
			height: 185px;
						
			.test-info {
				background: none;
				@include dropshadowULTRA(0 0 0, rgba(0,0,0,0));
				
				h3 {
					color: $text;
					font-size: $type-size-base;
				}
				
				.overview-test-add {
					color: $text;
					border: 1px solid $text;
					@include type-light;
					font-size: $type-size-base*2;
					line-height: $pad*2;
					display: inline-block;
					padding: 0;
					height: $pad*2;
					width: $pad*2;
					margin: 0 0 $pad/2 0;
					@include radius($pad*3);
				}
			}	
			
		}
	}
	

	
}
