/* overview screen */


#view-overview {
	margin: 0;
	padding: 0;
	position: relative;
	height: 100%;
	
	.container {
		padding: 20px 0 50px 0;

		#header-min{
			padding: $pad 0 $pad*2;

			h3 {
				margin:$pad/2 0;
			}

			.overview-controls {
				position: fixed;
				top: 30px;
				right: 30px;
				transition: all .1s ease-in-out;
				
				&:hover {
					transform: scale(1.04);
					filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12,OffY=12, Color='#444')";
					-webkit-filter: drop-shadow(0 2px 3px rgba(0, 0, 0, 0.2));
					filter: drop-shadow(0 2px 3px rgba(0, 0, 0, 0.2));
				}
			}
		}
	}
}


/* overview test block */

.overview-test {
	margin-bottom: $pad;
	
	.overview-test-container {
		cursor: pointer;
		background: $white;
		width: 237px;
		height: 296px;
		@include dropshadowULTRA($shadow: 0 3px 10px, $intensity: rgba(0,0,0,0.1));
		position: relative;
		transition: all .1s ease-in-out;
		
		&:hover {
			transform: scale(1.04);
			@include dropshadowULTRA($shadow: 0 3px 10px, $intensity: rgba(0,0,0,0.2));
			z-index: 5;
		}
	}

	.overview-test-container-hover {
		&:hover {
			border: 1px solid $fg-green;
		}
	}
	
		
	.test-info {
		height: 40px;

		.test-kind {
			position: absolute;
			left: 15px;
			top: 10px;

			img {
				margin: 0 3px 0 0;
			}
		}

		small {
			opacity: 0.6;
			text-transform: capitalize;
			font-size: 14px;
		}

		a {
			text-decoration: underline;
		}
		
		.dropdown {
			background: red;
		}

		.editTest-tooltips {
			background: $white;
			position: absolute;
			right: -63px;
			top: -41px;
			@include dropshadow;
			
			ul {
				padding: 0;
				margin: 0;

				li {
					padding: 0 10px;
					list-style-type: none;

					&:hover {
						background: $fg-blue;
						color: $white;
					}

					img {
						width: 9px;
						display: inline-block;
					}
					span {
					font-size: 12px;
					padding: 5px 0;
					margin: 0;
					display: inline-block;
					}
				}
			}
		}
		
		
		.editTest {
			font-size: 14px;
			position: absolute;
			text-align: right;
			width: 100%;
			top: 5px;
			left: 0px;
			display: block;
			padding: $pad/4 $pad/1.5;

			span {
				text-decoration: none;
				@include type-extrabold;
				color: $fg-grey-placeholder;
				
			}

			.dangerous {
				&:hover {
					color: $fg-header-red;
				}
			}
		}
		
	}

	.test-edit {
		padding: 45px 15px 0 15px;
		height: 200px;

		h2 {
			@include type-h2($fg-grey-dark);
			letter-spacing: -0.5px;
			font-weight: 400;
		}
	}
	
	
	.test-controls-empty {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 96.5%;
		text-align: center;
		border: 1px solid $fg-red;
		padding: 12px 0;
		margin: 4px;

		a {
			font-size: 14px;
			color: $fg-red;
		}
	}
	
	.test-controls {
		background: $white;
		padding: 0;
		margin: 4px;
		width: 96.5%;
		position: absolute;
		bottom: 0;
		left: 0;
		
		a {
			font-size: 14px;
			padding: 12px 0;
			float: left;
			width: 50%;
			margin: 0;
			text-align: center;
			text-decoration: none;
			color: $fg-green;
			@include type-regular;
			
			&:hover {
				background: $fg-green;
				color: $white;
			}

			&.in-active {
				color: $fg-grey-placeholder;

				&:hover {
					background: none;
				}
			}
			
		}
	}
}
