/* report public */

#report-summary {
	padding: 0;
	margin: 0;
	min-height: 100%;
	background: $white;
	position: relative;
	
	#generated-with-fg {
		img {
			position: absolute;
			top: 40px;
			right: 40px;
		}
	}

	.sheet-holder {
		width: 70%;
		height: 100%;
		padding: 0;
		margin: 0;
		position: absolute;
		top: 0;
		left: 30%;

		&.full {
			width: 103%;
			left: -3%;
			position: relative;
		}
	}
	
	.findings-header {
		padding: 40px 0;

		h1 {
			@include type-h1($fg-grey-dark);
			@include type-regular;
			letter-spacing: 0.5px;
			margin: 0;
		}

		.findings-description {
			@include type-p($fg-grey-text);
			margin: 10px 0;

			span {
				padding: 0 20px 0 0;
			}
		}
		
	}

	.findings-content {
		width: 45%;
		margin: 0 auto;
		@include type-light;

		&.report {
			width: 35%;
		}

		h3 {
			@include type-h3($fg-grey-dark);
			margin: 0 0 15px 0;
		}

		pre {
			@include type-light;
			@include type-p($fg-grey-dark);
			color: $fg-grey;
			margin: 0 0 50px 0;
		}
	}
}



