/* task control sidebar for summarizing and reports */


#sidebar {

	&.summarizing {
		.step-ordering {
			position: absolute;
			left: $pad/2;
			top: $pad/2;
		}
		
		li {
			padding-left: $pad*1.5;
		}
	}
		
	ul {
		padding: 0;
		margin: 0;
		list-style: none;
		color: lighten($text, 10%);
		
				
		li {
			padding: $pad/2;
			margin: 0;
			@include radius;
			position: relative;
			
			
			
			.task-boop {
				position: absolute;
				top: 18px;
				right: $pad;
				width: $pad/3 !important;
				height: $pad/3 !important;
				overflow: hidden;
				display: inline-block;
				@include radius($pad*2);
				
				&.red {
					background: $fg-header-red;
				}
				
				&.green {
					background: $fg-green;
				}
			}
			
					
			&:hover {
				background: $background-overlay;
				cursor: pointer;
			}
									
			&.active {
				position: relative;
				color: $fg-slate;
				@include type-bold;
				
				&:hover {
					cursor: auto;
				}		
			}

			
			.sidebar-visibility {
				float: right;
				display: block;
				padding: 2px 0 0 0;
				
				img {
					width: auto;
					height: 10px;
					margin: 5px 0 0 0;
				}
			}
			
		}
			
	}
		
}





