/* sub-bar styles */


#sub-bar {
	width: 100%;
	background: $fg-tan;
	margin: 0;
	padding: $pad*1.5;
	border-bottom: 1px solid $fg-tan-dark;
	
	h1 {
		float: left;
		padding: 0;
		margin: 0;
		
		span {
			opacity: 0.4;
		}
	}
	
	.sub-bar-controls {
		float: right;
	}	
	
	.container {
		padding: 0 $pad/2;
	}
	
	&.tabbed {
		padding-bottom: 0;
		text-align: center;
	}
}



/* tab-style navigation for sub-bar */

.tabbed-nav {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	
	li {
		display: inline-block;
		padding: 0 0 $pad 0;
		margin: 0 $pad;
		
		a {
			padding: 0;
			margin: 0;
			color: $text-light;
			text-decoration: none;
			
			&:hover {
				color: $text;
			}
		}
		
		&.active {
			border-bottom: 3px solid $text;
		
			a {
				color: $text;
			}
		}
	}
}













