/* sub-bar styles */

/*
#sub-bar {
	width: 100%;
	background: $fg-tan;
	margin: 0;
	padding: $pad*1.5 0;
	height:100px;
	
	h1 {
		float: left;
		padding: 4px 0 0 0;
		margin: 0;
		text-align: left;
		font-size: 28px;
		
		span {
			opacity: 0.5;
		}
	}
	
	.sub-bar-controls {
		float: right;
	}	
	
	.container {
		padding: 0 $pad/2;
	}
	
	&.tabbed {
		padding-bottom: 0;
		text-align: center;
	}
}

*/


/* tab-style navigation for sub-bar */

.tabbed-nav {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	text-align: center;
	
	li {
		display: inline-block;
		padding: 0 0 $pad/2 0;
		margin: 0 $pad;
		
		a {
			padding: 0;
			margin: 0;
			color: $text-light;
			text-decoration: none;
			
			&:hover {
				color: $text;
			}
		}
		
		&.active {
			border-bottom: 3px solid $text;
		
			a {
				color: $text;
			}
		}
	}
}




/* stepped/progress bar nav for sub-bar */


.stepped-nav {
	display: inline-block;
	list-style: none;
	padding: 0;
	margin: 0 auto;
	
	li {
		text-align: center;
		float: left;
		padding: 0;
		margin: 0;
		font-size: $type-size-base*0.8;
		width: 33.33%;
		
		a {
			display: block;
			//min-height: 35px;
			padding: 0 0 $pad/3 0;
			margin: 0;
			color: $text;
			text-decoration: none;
			opacity: 0.6;
			@include type-regular;
			line-height: $type-line-base*0.6;
			
			&:hover {
				opacity: 1.0;
			}
		}
		
		&.step-active {
			a { @include type-bold; }
		}
		
		/* step configurations */
		
		.step-state {
			display: block;
			height: 20px;
			padding: 0;
			margin: 0;
		}
		
		&.step-left {	
			&.step-active {
				a { opacity: 1.0; }
			
				.step-state {
					background: url('/layout/assets/stepped/left-active.png') no-repeat center center;
					background-size: cover;
				}
			}	
			&.step-inactive {
				.step-state {
					background: url('/layout/assets/stepped/left-off.png') no-repeat center center;
					background-size: cover;
				}	
			}
			&.step-completed {
				.step-state {
					background: url('/layout/assets/stepped/left-completed.png') no-repeat center center;
					background-size: cover;
				}
			}
		}
		
		&.step-middle {	
			&.step-active {
				a { opacity: 1.0; }
				
				.step-state {
					background: url('/layout/assets/stepped/middle-active.png') no-repeat center center;
					background-size: cover;
				}
			}
			&.step-inactive {
				.step-state {
					background: url('/layout/assets/stepped/middle-off.png') no-repeat center center;
					background-size: cover;
				}	
			}
			&.step-completed {
				.step-state {
					background: url('/layout/assets/stepped/middle-completed.png') no-repeat center center;
					background-size: cover;
				}
			}
		}	
		
		&.step-right {	
			&.step-active {
				a { opacity: 1.0; }
				
				.step-state {
					background: url('/layout/assets/stepped/right-active.png') no-repeat center center;
					background-size: cover;
				}
			}
			&.step-inactive {
				.step-state {
					background: url('/layout/assets/stepped/right-off.png') no-repeat center center;
					background-size: cover;
				}	
			}
			&.step-completed {
				.step-state {
					background: url('/layout/assets/stepped/right-completed.png') no-repeat center center;
					background-size: cover;
				}
			}
		}	
		
		
	}
}









