/* sub-bar styles */


#sub-bar {
	width: 100%;
	background: $fg-tan;
	margin: 0;
	padding: $pad*1.5 0;
	border-bottom: 1px solid $fg-tan-dark;
	
	h1 {
		float: left;
		padding: 0;
		margin: 0;
	}
	
	.sub-bar-controls {
		float: right;
	}	
}

