

/* THE SUMMARY */

#view-summarizing {
	margin: 0;
	padding: $pad*2.5 0 0 0;
	
	#summarizing-container {
		padding: $pad*2 0;
	}
	
	#timeline {
		margin-top: 50px;
		overtest: auto;
		
		.message {
			.message-body {
				width: 75%;
			}
			
			.message-fave {
				float: right;
				margin: 0 0 0 $pad/2;
				
			}
		}
	}
	
	#summary-test {
		.input {
			width: 100%;
			height: 100px;
		}
	}
	
	#summary-tags {
		padding: 0;
		margin: $pad*2 0 0 0;
		
		.tags li {
			cursor: pointer;
		}
		
		.summary-tag {
			padding: $pad 0 $pad 0;
			margin: 0;
			
			.input {
				width: 100%;
			}
		}
	}
	
	#summary-task {
		.input {
			width: 100%;
			height: 100px;
		}
	}
	
	.summary-task-notes {
		margin: $pad*2 0 0 0;
		
		h4 {
			margin-bottom: $pad/2;
		}
	}
	
}











