/* deprecated, check 'findings' */


/* THE SUMMARY */

/*
.summarizing-sub-bar {
	padding: 0 $pad*4.3;
}


#view-summarizing {
	margin: 0;
	padding: $pad*3 0 $pad*4 0;

	#summarizing-container {
		padding: $pad*2 $pad*4.3;
	}
	
	.message-group {
		margin-top: 25px;
		overtest: auto;
		
		.message {
			cursor: text;

			.message-body {
				width: 75%;

			}

			.message-fave {
				float: right;
				margin: 3px 0 0 0;

				a {
					text-decoration: none;
					display: block;
					width: 16px;
					height: 16px;
				}
				
				img {
					width: 16px;
					height: 16px;
				}
			}
		}
	}
	
	#summary-test {
		.input {
			margin-top:$pad;
			width: 100%;
			height: 150px;
		}
	}
	
	#summary-tags {
		padding: 0;
		margin: $pad*2 0 0 0;
	}
	
	#summary-task {
		.input {
			margin-top:$pad;
			width: 100%;
			height: 150px;
		}
	}
	
	.summary-task-notes {
		margin: $pad*2 0 0 0;
		
		h4 {
			margin-bottom: $pad/2;
		}
	}
	
}



*/






