/* questions/list of things style */

#tasklist {
	height: 100%;
			
	ul {
		padding: 0;
		margin: 0;
		list-style: none;
		width: 100%;

		.participant-avatar {
			width: 40px;
			height: 40px;
			@include radius(20px);
			background: $fg-header-red;
			float: left;
			margin: 0 14px 0 0;

			span {
				color: $white;
				text-transform: uppercase;
				text-align: center;
				display: block;
				margin: 11px auto;
				font-size: 14px;
				@include type-bold;
			}
		}
		
		li {
			padding: $pad/1.5 $pad;
			margin: 0;
			width: 100%;
			
			&.title {
				margin: 0 0 20px 0;

				&:hover {
					background: $background;
					cursor: default;
				}
			}

			&.no-highlite {
				&:hover {
					background: none;
					cursor: default;
				}
			}
				
			h3 {
				@include type-h3-no-colour;
				padding: 0;
				margin: 0;

				&.participant-name {
					margin: 8px 0 2px 0; 
					font-size: 14px;
				}

				&.tag-name {
					margin: 10px 0 20px 0;
				}
			}
			
			h5 {
			    margin: 0;
			    text-transform: uppercase;
			    @include type-regular;
			    font-size: 10px;
			}

			p {
				margin: 0; 
				padding: 0;
				font-size: 14px;
				line-height: 18px;
				@include type-light;
			}

			pre.objectives {
				font-size: 14px;
				line-height: 18px;
				margin: 20px 0 0 0;
				@include type-light;
			}
			
			small {
				text-transform: uppercase;
				margin: 0;
				padding: 0;
				opacity: 0.5;
			}
			
			
			&:hover {
				background: $fg-grey-bg;
				cursor: pointer;
				
			}
									
			&.active {
				position: relative;
				background: $fg-green;
				color: $white;
				
				&:hover {
					cursor: auto;
					box-shadow: none;
				}
			}
			
			&.title {
				&:hover {
					cursor: auto;
					box-shadow: none;
				}
			}
			
			
		}
			
	}
		
}



