/* questions/list of things style */

#tasklist {
	height: 100%;
			
	ul {
		padding: 0;
		margin: 0;
		list-style: none;
		width: 100%;

		.participant-avatar {
			width: 50px;
			height: 50px;
			@include radius(25px);
			background: $fg-header-red;
			float: left;
			margin: 0 14px 0 0;

			span {
				color: $white;
				text-transform: uppercase;
				text-align: center;
				display: block;
				margin: 13px auto;
				font-size: 23px;
				font-weight: 600;
			}
		}
		
		li {
			padding: $pad/1.5 $pad;
			margin: 0;
			width: 100%;
			
			&.title {
				margin: 10px 0 20px 0;

				&:hover {
					background: $background;
					cursor: default;
				}
			}
				
			h3 {
				margin: 0 0 2px 0; 
				padding: 0;
				@include type-regular;
			}
			
			p {
				margin: 0; 
				padding: 0;
				font-size: $type-size-base*0.8;
				line-height: $type-line-base*0.8;
			}

			pre.objectives {
				font-size: 12px;
				@include type-regular;
				line-height: 19.2px;
				margin: 20px 0 0 0;
			}
			
			small {
				text-transform: uppercase;
				margin: 0;
				padding: 0;
				opacity: 0.5;
			}
			
			
			&:hover {
				background: $background-overlay;
				cursor: pointer;
				
			}
									
			&.active {
				position: relative;
				color: $white;
				background: $fg-green-light;
				
				h3 {
					@include type-bold;
				}
				
				&:hover {
					cursor: auto;
					box-shadow: none;
				}		
			}
			
			&.title {
				&:hover {
					cursor: auto;
					box-shadow: none;
				}
			}
			
			
		}
			
	}
		
}



