/* questions/list of things style */

#tasklist {
	height: 100%;
			
	ul {
		padding: 0;
		margin: 0;
		list-style: none;
		width: 100%;
		
		li {
			padding: $pad/1.5 $pad;
			margin: 0;
			width: 100%;
			
			&.title {
				&:hover {
					background: $background;
					cursor: default;
				}
			}
				
			h3 {
				margin: 0 0 2px 0; 
				padding: 0;
				@include type-light;
			}
			
			p {
				margin: 0; 
				padding: 0;
				font-size: $type-size-base*0.8;
				line-height: $type-line-base*0.8;
			}
			
			small {
				text-transform: uppercase;
				margin: 0;
				padding: 0;
				opacity: 0.5;
			}
			
			
			&:hover {
				background: $background-overlay;
				cursor: pointer;
				
			}
									
			&.active {
				position: relative;
				color: $fg-slate;
				background: $background-overlay;
				
				h3 {
					@include type-bold;
				}
				
				&:hover {
					cursor: auto;
					box-shadow: none;
				}		
			}
			
			&.title {
				&:hover {
					cursor: auto;
					box-shadow: none;
				}
			}
			
			
		}
			
	}
		
}



