/* errythang for the timeline/chat */


#timeline {
	padding: 0 0 150px 0;
	width: 100%;
	height: 100%;
	background: red;
	overflow: auto;
	margin: 0;
	background: url('../assets/timeline-line.gif') repeat-y 24px top;
	//@include scrollbar;
		
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		
		li {
			padding: 0;
			margin: 0;
		}
		
		.message {
			padding: $pad/2.5 0 0 $pad/1.25;
			//font-size: $type-size-base*0.9;
			line-height: $type-line-base*0.8;
			margin: 0 0 $pad/2 0;
						
			.message-details {
				float: left;
				
				.message-details-avatar {
					width: 20px;
					text-align: center;
					overtest: hidden;
					margin: 0 $pad/2 0 0;
					padding: 0;
					background: $white;
					font-size: $type-size-base*0.6;
					@include type-bold;
				}
				
			}
			
			.message-body {
				float: left;
				width: 80%;
				color: $fg-black;
								
				p {
					margin-bottom: 0;
				}
				
				small {
					font-size: $type-size-base*0.6;
					line-height: $type-line-base*0.6;
					opacity: 0.5;
					padding: 0;
					margin: 0;
					text-transform: uppercase;
					letter-spacing: 1px;
				}
			}
				
		}
		
	}
	
	/* first-run message on timeline */
	
	#firstrun {
		.message-body, .message-details {
			padding-top: $pad;
			padding-bottom: $pad;
		}
		
		.message-body {
			color: $text;
			font-size: $type-size-base;
			line-height: $type-line-base;
			
			.tag {
				padding: 0 $pad/4;
			}
		}
	}
	
}


/* timeline user and device treatment //
   i.e., who are we testing with, and on what device?
   only relevant when doing testing on device */

#timeline-user {
	position: relative;
	height: 100%;
	
	#timeline-user-only {
		position: absolute;
		top: 30%;
		left: 0;
		width: 100%;
		text-align: center;
		padding: $pad*0.75 0;
		@include type-light;
		
		.timeline-user-avatar {
			display: block;
			padding: 0;
			margin: 0 auto $pad auto;
			width: 150px;
			height: 150px;
			@include radius(100px);
			background: $white;
			
			img {
				width: 90%;
				height: auto;
				opacity: 0.4;
			}
		}
		
		small {
			@include type-regular;
		}
		
	}
	
	.timeline-user-avatar {
		display: inline-block;
		vertical-align: middle;
		overtest: hidden;
	}
	
}


#timeline-device {
	padding: $pad/2;
	width: 100%;
	height: auto;
	border: 2px solid $line;
	@include radius(10px);
	margin: 40% auto 0 auto;
	
	
	img {
		width: 100%;
		height: auto;
		border: 2px solid $line;
	}
}




