/* tooltips */

// tooltip icon that comes after text
span.tooltip-icon {
    background: $fg-grey-light;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    margin: 0 0 0 3px;
    text-transform: none;

    & span {
        position: absolute;
        top: -7.5px;
        right: 3px;
        color: $white;
        font-size: 8px;
        text-transform: none;
    }
}


// small, large, large-report, overview

[data-tooltip],
[data-tooltip-large],
[data-tooltip-large-report],
[data-tooltip-overview],
.tooltip {
  position: relative;
  cursor: pointer;
}

[data-tooltip]:before,
[data-tooltip]:after,
[data-tooltip-large]:before,
[data-tooltip-large]:after,
[data-tooltip-report]:before,
[data-tooltip-report]:after,
[data-tooltip-overview]:before,
[data-tooltip-overview]:after,
.tooltip:before,
.tooltip:after {
  position: absolute;
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: 
      opacity 0.2s ease-in-out,
        visibility 0.2s ease-in-out,
        -webkit-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
    -moz-transition:    
        opacity 0.2s ease-in-out,
        visibility 0.2s ease-in-out,
        -moz-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
    transition:         
        opacity 0.2s ease-in-out,
        visibility 0.2s ease-in-out,
        transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform:    translate3d(0, 0, 0);
  transform:         translate3d(0, 0, 0);
  pointer-events: none;
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
[data-tooltip]:focus:before,
[data-tooltip]:focus:after,
[data-tooltip-large]:hover:before,
[data-tooltip-large]:hover:after,
[data-tooltip-large]:focus:before,
[data-tooltip-large]:focus:after,
[data-tooltip-report]:hover:before,
[data-tooltip-report]:hover:after,
[data-tooltip-report]:focus:before,
[data-tooltip-report]:focus:after,
[data-tooltip-overview]:hover:before,
[data-tooltip-overview]:hover:after,
[data-tooltip-overview]:focus:before,
[data-tooltip-overview]:focus:after,
.tooltip:hover:before,
.tooltip:hover:after,
.tooltip:focus:before,
.tooltip:focus:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

// triangle under bubble
.tooltip:before,
[data-tooltip]:before,
[data-tooltip-large]:before,
[data-tooltip-report]:before,
[data-tooltip-overview]:before {
  z-index: 1001;
  border: 6px solid transparent;
  background: transparent;
  content: "";
}

// reg tooltip
.tooltip:after,
[data-tooltip]:after {
  z-index: 1000;
  padding: 7px;
  width: 80px;
  background-color: $fg-slate;
  border-radius: 2px;
  color: #fff;
  content: attr(data-tooltip);
  @include type-xsm($white);
  @include type-light;
  text-align: center;
  text-transform: none;
}

// large tooltip
.tooltip:after,
[data-tooltip-large]:after {
  z-index: 1000;
  padding: 7px;
  width: 130px;
  background-color: $fg-slate;
  border-radius: 2px;
  color: #fff;
  content: attr(data-tooltip-large);
  @include type-xsm($white);
  @include type-light;
  text-align: center;
  text-transform: none;
}

// large-report tooltip
.tooltip:after,
[data-tooltip-report]:after {
  z-index: 1000;
  padding: 7px;
  width: 90px;
  background-color: $fg-slate;
  border-radius: 2px;
  color: #fff;
  content: attr(data-tooltip-report);
  @include type-xsm($white);
  @include type-light;
  text-align: left;
  text-transform: none;
}

// overview tooltip
.tooltip:after,
[data-tooltip-overview]:after {
  z-index: 1000;
  padding: 7px;
  width: 93px;
  background-color: $fg-slate;
  border-radius: 2px;
  color: #fff;
  content: attr(data-tooltip-overview);
  @include type-xsm($white);
  @include type-light;
  text-align: center;
  text-transform: none;
}

[data-tooltip]:before,
[data-tooltip]:after,
[data-tooltip-large]:before,
[data-tooltip-large]:after,
[data-tooltip-report]:before,
[data-tooltip-report]:after,
.tooltip:before,
.tooltip:after,
.tooltip-top:before,
.tooltip-top:after {
  bottom: 100%;
  left: 0;
}

[data-tooltip-overview]:before,
[data-tooltip-overview]:after,
.tooltip:before,
.tooltip:after,
.tooltip-top:before,
.tooltip-top:after {
  bottom: 75%;
  left: 52px;
}

// triangle under bubble
[data-tooltip]:before,
[data-tooltip-large]:before,
[data-tooltip-report]:before,
[data-tooltip-overview]:before,
.tooltip:before,
.tooltip-top:before {
  margin-left: -1px;
  margin-bottom: -12px;
  border-top-color: $fg-slate;
}

// horizontally align top/bottom tooltips
[data-tooltip]:after,
.tooltip:after,
.tooltip-top:after {
  margin-left: -35px;
}

// large tooltip
[data-tooltip-large]:after,
.tooltip:after,
.tooltip-top:after {
  margin-left: -60px;
}

// large-report tooltip
[data-tooltip-report]:after,
.tooltip:after,
.tooltip-top:after {
    margin-left: -25px;
}

// overview tooltip
[data-tooltip-overview]:after,
.tooltip:after,
.tooltip-top:after {
    margin-left: -40px;
}


[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
[data-tooltip]:focus:before,
[data-tooltip]:focus:after,
[data-tooltip-large]:hover:before,
[data-tooltip-large]:hover:after,
[data-tooltip-large]:focus:before,
[data-tooltip-large]:focus:after,
[data-tooltip-report]:hover:before,
[data-tooltip-report]:hover:after,
[data-tooltip-report]:focus:before,
[data-tooltip-report]:focus:after,
[data-tooltip-overview]:hover:before,
[data-tooltip-overview]:hover:after,
[data-tooltip-overview]:focus:before,
[data-tooltip-overview]:focus:after,
.tooltip:hover:before,
.tooltip:hover:after,
.tooltip:focus:before,
.tooltip:focus:after,
.tooltip-top:hover:before,
.tooltip-top:hover:after,
.tooltip-top:focus:before,
.tooltip-top:focus:after {
  -webkit-transform: translateY(-12px);
  -moz-transform:    translateY(-12px);
  transform:         translateY(-12px); 
}