/*
typography
========================
*/ 


html, body {
	width: 100%;
	height: 100%;
}

body {
	font-size: $type-size-base;
	line-height: $type-line-base;
	color: $fg-grey-text;
	@include type-light;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	font-feature-settings: "kern";
	-webkit-font-feature-settings: "kern";
	-moz-font-feature-settings: "kern";
	-moz-font-feature-settings: "kern=1";
}

br {
	line-height: 180%;
}

pre {
	white-space: pre-wrap;                 /* CSS3 browsers  */
	white-space: -moz-pre-wrap !important; /* 1999+ Mozilla  */
	white-space: -pre-wrap;                /* Opera 4 thru 6 */
	white-space: -o-pre-wrap;              /* Opera 7 and up */
	word-wrap: break-word;                 /* IE 5.5+ and up */
	/* overflow-x: auto; */                /* Firefox 2 only */
	/* width: 99%; */		       /* only if needed */
}

/* headers */

h1, h2, h3, h4, h5, h6 {
	line-height: 1;
	padding: 0;
	
	&.underline {
		margin: 0 0 $pad 0; 
		
		span {
			border-bottom: 3px solid $line;
		}
	} 
}

h1 {
	@include type-h1($fg-grey-text);
	@include type-light;
	letter-spacing: -1px;
	margin: 0 0 $pad 0;
}

h2 {
	@include type-h2($fg-grey-text);
	@include type-light;
	margin: 0 0 10px 0;
}

h3 {
	@include type-h3-no-colour;
	@include type-light;
	margin: 0 0 $pad/2 0;
}

h4 {
	@include type-h4($fg-grey-text);
	@include type-light;
	margin: 0 0 $pad/4 0;
}

h5 {
	@include type-xsm($fg-grey-text);
	@include type-regular;
}

/* copy */

p, pre {
	padding: 0;
	margin: 0 0 10px 0;
	@include type-p-no-colour;
	@include type-light;
}

strong {
	@include type-regular;
}

.dark {
	color: $fg-slate;
}

.all-caps {
	text-transform: uppercase;
	opacity: 0.6;
}

a {
	color: $link;
	@include type-light;
	text-decoration: none;
	cursor: pointer;
	
	&:hover {
		text-decoration: underline;
	}
	
	
	&.alt {
		color: $link-alt;
		&:hover {
			text-decoration: underline;
			color: $link-alt-hover;
		}
	}
}

.big, big {
	font-size: $type-size-base*1.25;
	line-height: inherit;	
}
p.big {
	line-height: $type-line-base*1.25;
}

.caution {
	color: $fg-header-red;
}

.small, small {
	font-size: $type-size-base*0.8;
	line-height: inherit;
}
p.small {
	line-height: $type-line-base*0.8;
}



/* lists */

ul {
	padding: 0 0 0 $pad;
	margin: 0 0 $pad 0;
	
	li {
		// padding: $pad/6 0;
	}
	
	&.nobullets {
		list-style: none;
		padding: 0;
		
		label {
			display: inline-block;
		}
	}
	
	&.lined {
		border-top: 1px solid $line;
		list-style: none;
		padding: 0;
		
		li {
			padding: $pad/4;
			border-bottom: 1px solid $line;
		}
	}
	
	&.tags {
		padding: 0;
		list-style: none;
		
		li {
			float: left;
			margin: 0 $pad/2 $pad/3 0;
			
			span {
				display: inline-block;
				@include radius;
				background: $fg-tan;
				padding: $pad/3 $pad/2;
				border: 2px solid $fg-tan;
			}
			
			a {
				display: inline-block;
				@include radius;
				background: $fg-tan;
				border: 2px solid $fg-tan;
				padding: $pad/3 $pad/2;
				
				&:hover {
					color: $link-hover;
				}
			}
		}
		
		
	}
}

/* nested ULs */

ul.lined {
	ul.tags {
		li {
			margin: 0;
			border: none;
		}	
	}
}


/* if we want to use tags inline */
.tag {
	color: $fg-blue;
}








