/*
variables
put all your core measurements, values etc. in here
========================
*/

/* sizing vars */

$max-width: 1020px;
$min-width: 280px;

/* type vars */

$type-size-base: 14px;
$type-line-base: 24px;

/* padding/margins vars */

$pad: 20px;