/* styles for things */


#view-observer-login {
	background: $fg-brown;
	background-size: cover;
	color: $white;

	input, button {
		width: 100%;
	}
	
	#logo {
		margin: 0 0 $pad 0;
		img {
			width: auto;
			height: 30px;
		}
	}
	
	form {
		padding-top: $pad;
	}
	
	#form-observer-login {
		margin: $pad*2 0 0 0;
		padding: $pad $pad 0 $pad;
		background: transparentize($fg-brown, 0.3);
		@include radius;
	}
	
	p {
		font-size: $type-size-base*0.8;
		margin: 0;
		padding: 0;
	}
	
	h2 {
		padding: 0;
		margin: 0;
	}
}





/* how we style notes within summaries and reports */


.message-group {
	margin: 0;
	padding: $pad/2 0 0 0;
	
	&.report-messages {
		border-top: 1px solid $line;
		padding: $pad 0 0 0;
		
		.message {
			padding: $pad/2 0;
			
			.message-body p {
				margin-bottom: -4px;
			}
			
			&:hover {
				background: none;
			}
		}
		
	}
				
}



.message {
	padding: $pad/3;
	@include radius;
	
	&:hover {
		background: $fg-tan;
		
		.message-body .tag {
			background: darken($fg-tan, 6%);
		}
	}
	
	.message-details {
		float: left;
		margin: 2px 0 0 0;
		width: $pad*1.25;
		height: 16px;
		
		.message-details-avatar {
			img {
				width: 16px;
				height: auto;
			}
		}
		
	}
	
	.message-body {
		float: left;
		width: 90%;
		color: $fg-black;
						
		p {
			margin-bottom: 0;
			
			.tag {
				padding: 0 $pad/6;
			}
		}
		
		small {
			margin: 0;
			padding: 0;
			opacity: 0.5;
		}
		
	}
	
	.message-fave {
		float: right;
		font-size: $type-size-base*1.5;
		
		a {
			text-decoration: none;
		}
	}
	
	/* when it's the user header */
	&.message-user {
		.message-body {
			font-size: $type-size-base*0.8;
			text-transform: uppercase;
			opacity: 0.6;
		}
		
		.message-details {
			opacity: 0.4;
		}
		
		&:hover {
			background: none;
		}	
	}
		
}



/* task rating input */

.task-rating {
	width: 100%;
	background: $fg-tan;
	padding: $pad/2;
	margin: 0;
	font-size: $type-size-base*0.8;
	@include radius;
	
	.float-left {
		padding-top: $pad/6;
	}
	
	.button {
		&.hollow {
			opacity: 0.3;
		}
	}
}


/* task rating output */

.task-score {
	@include radius(20px);
	float: right;
	margin: 5px 0 0 0;
	
	&.green {
		background: $fg-green;
	}
	
	&.red {
		background: $fg-header-red;
	}
}
	

	
















