/*
Field Guide
Master Sass
========================
*/

/* components */

@import "variables";
@import "colours";
@import "fonts";
@import "helpers";
@import "typography";
@import "forms";
@import "grid";

/* components */ 
@import "header";
@import "timeline";
@import "tasklist";
@import "tasklist-sidebar";

/* specific views */
@import "views";
@import "login";
@import "overview";
@import "subbar";
@import "editing";
@import "testing";
@import "summarizing";
@import "report";
@import "account";

/* code that is NOT specific to a component or module */

*, *:before, *:after {
	-webkit-box-sizing: border-box; 
 	-moz-box-sizing: border-box; 
	box-sizing: border-box;
}

html {
	margin: 0;
	padding: 0;
}

body {
	background: $white;
	color: $text;
	margin: 0;
	padding: 0;
}


/* form styling */

@import url("../assets/flat/flat.css");