/*
Field Guide
Master Sass
========================
*/

/* skeleton */
@import "variables";
@import "colours";
@import "fonts";
@import "fg-font";
@import "mixins";
@import "typography";
@import "forms";
@import "grid";
@import "buttons";
@import "animate";


/* components */ 
@import "elements";
@import "tooltips";
@import "header";
@import "timeline";
@import "tasklist";
@import "sidebar";
@import "modal";
@import "pricing";
@import "subbar";

/* specific views */
@import "login";
@import "overview";
@import "editing";
@import "testing";
@import "account";
@import "messages";
@import "findings";
@import "onboard";
@import "block-screens";
@import "report";
@import "mq";

/* code that is NOT specific to a component or module */

*, *:before, *:after {
	-webkit-box-sizing: border-box; 
 	-moz-box-sizing: border-box; 
	box-sizing: border-box;
}

html {
	margin: 0;
	padding: 0;
}

body {
	background: $background;
	margin: 0;
	padding: 0;
}



